Repository jupyterlab/jupyterlab, pull requests merged in 2018-05, with the labels that each got.

#4506 Add a note about enabling type annotations to the docs.
  docs/source/user/notebook.rst
Labels: pkg:completer, tag:Documentation

#4510 Render commandpalette checks
  packages/application-extension/src/index.tsx
  packages/apputils-extension/package.json
  packages/apputils-extension/src/index.ts
  packages/apputils-extension/src/palette.ts
  packages/apputils/style/commandpalette.css
  packages/console-extension/src/index.ts
  packages/docmanager-extension/src/index.ts
Labels: pkg:apputils

#4516 url encoding fix for terminal websockets
  packages/services/src/terminal/default.ts
Labels: pkg:terminal, type:Bug

#4054 Work on easy-configuring of the console execute shortcut.
  packages/console-extension/src/index.ts
Labels: pkg:console, pkg:shortcuts, tag:Settings, type:Enhancement

#4560 Added Save As shortcut
  packages/shortcuts-extension/schema/plugin.json
Labels: pkg:docmanager, pkg:shortcuts, type:Enhancement

#4545 Token docs
  docs/source/developer/extension_dev.rst
  docs/source/user/documents_kernels.rst
Labels: tag:Documentation

#4582 Add a 'Copy Path' to filebrowser context menu.
  docs/source/user/files.rst
  packages/filebrowser-extension/src/index.ts
Labels: pkg:filebrowser, type:Enhancement

#4595 Make sure commented JSON output has commas separating each JSON blob.
  packages/coreutils/src/settingregistry.ts
Labels: pkg:settingeditor, type:Bug

#4596 Remove cancel button for initial kernel selection.
  packages/apputils/src/clientsession.tsx
Labels: pkg:apputils

#4613 Work on also checking for IDrives in rendermime.
  packages/rendermime-interfaces/src/index.ts
  packages/rendermime/src/registry.ts
  packages/rendermime/src/renderers.ts
  tests/test-rendermime/src/registry.spec.ts
Labels: pkg:rendermime, type:Bug

#4618 Allow additional tags in sanitizer
  packages/apputils/src/sanitizer.ts
Labels: pkg:apputils

#4607 A couple of notes to help beginning developers get started
  CONTRIBUTING.md
Labels: tag:Documentation, type:Enhancement

#4642 Pin pywinpty, as the most recent release is causing problems.
  appveyor.yml
Labels: tag:Build System

#4615 Add Reload from Disk command and menu item.
  packages/docmanager-extension/src/index.ts
  packages/mainmenu-extension/src/index.ts
Labels: pkg:docmanager, type:Enhancement

#4606 Initially set the currentTheme variable correctly.
  packages/apputils-extension/src/index.ts
Labels: pkg:themes, tag:Design and UX

#4602 Fix broken image upon save.
  packages/imageviewer/src/widget.ts
Labels: pkg:imageviewer, type:Bug

#4665 Remove empty Untitled.ipynb from examples/app
  examples/app/Untitled.ipynb
Labels: tag:Examples

#4632 Upgrade yarn to 1.7.0
  appveyor.yml
  jupyterlab/staging/yarn.js
Labels: todo:Backport to 0.32.x
