Repository jupyterlab/jupyterlab, pull requests merged in 2018-10, with the labels that each got.

#5422 remove false Python2 support claim from README
  README.md
Labels: tag:Documentation

#5423 Remove '*' prompt from cells that don't execute after an exception
  packages/notebook/src/actions.tsx
Labels: pkg:notebook, tag:Feature Parity, type:Bug

#5409 Migrate filebrowser contextmenu to application-wide contextmenu
  packages/filebrowser-extension/package.json
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/listing.ts
  packages/filebrowser/style/index.css
Labels: pkg:filebrowser, type:Enhancement

#5408 Initial draft of corporate engagement guide.
  jupyterlab/CORPORATE.md
Labels: status:Needs Discussion, tag:Documentation

#5427 Add documentation for workspaces CLI.
  docs/source/user/urls.rst
  jupyterlab/labapp.py
  packages/filebrowser-extension/package.json
  packages/filebrowser-extension/tsconfig.json
  tests/test-cells/src/widget.spec.ts
Labels: tag:Documentation

#5433 Travis should check the integrity of the yarn lock file.
  scripts/travis_script.sh
  yarn.lock
Labels: tag:DevOps, type:Enhancement

#5445 Clean up browser DOM for when it is narrow.
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/listing.ts
  packages/filebrowser/style/index.css
Labels: pkg:filebrowser, tag:Design and UX, type:Bug

#5466 Fix workspace imports
  jupyterlab/labapp.py
Labels: tag:Server Change, tag:Settings, type:Bug

#5461 Update release instructions
  RELEASE.md
Labels: tag:Documentation, type:Maintenance

#5476 Delete redundant option
  docs/source/developer/xkcd_extension_tutorial.rst
Labels: tag:Documentation

#5453 Change background when hovering over filebrowser breadcrumbs
  packages/filebrowser/style/index.css
Labels: pkg:filebrowser, tag:Design and UX, type:Enhancement

#5462 Expose override urls for static and theme
  jupyterlab/extension.py
  jupyterlab/labapp.py
Labels: tag:Server Change, type:Enhancement

#5447 add 'New Folder' item to filebrowser context menu
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/browser.ts
Labels: pkg:filebrowser, type:Enhancement

#5465 Add a dependency graph generator to buildutils.
  buildutils/package.json
  buildutils/src/dependency-graph.ts
  buildutils/src/update-dependency.ts
  buildutils/src/yarnlock.d.ts
  yarn.lock
Labels: tag:Build System

#5477 Remove unused function.
  packages/notebook/src/default-toolbar.ts
  packages/notebook/src/widgetfactory.ts
Labels: pkg:notebook

#5493 Fix #5435: Add auto-tagging label feature info in CONTRIBUTING.md
  .meeseeksdev.yml
  CONTRIBUTING.md
Labels: tag:Documentation

#5497 Replace populate defaults test.
  tests/test-notebook/src/default-toolbar.spec.ts
Labels: tag: Testing, type:Bug, type:Maintenance

#5503 Make override urls configurable
  jupyterlab/labapp.py
Labels: tag:Server Change, type:Bug

#5513 Make button parameterized in showError
  packages/apputils/src/dialog.ts
Labels: pkg:apputils

#5505 Theme refactor
  buildutils/package.json
  buildutils/src/build-themes.ts
  buildutils/src/build.ts
  buildutils/src/ensure-repo.ts
  dev_mode/package.json
  dev_mode/webpack.config.js
  dev_mode/webpack.prod.config.js
  docs/source/developer/extension_dev.rst
  examples/app/extract-data.js
  examples/app/package.json
  examples/app/webpack.config.js
  examples/cell/package.json
  examples/cell/src/index.ts
  examples/cell/webpack.config.js
  examples/console/package.json
  examples/console/src/index.ts
  examples/console/webpack.config.js
  examples/filebrowser/package.json
  examples/filebrowser/src/index.ts
  examples/filebrowser/webpack.config.js
  examples/notebook/package.json
  examples/notebook/src/index.ts
  examples/notebook/webpack.config.js
  examples/terminal/package.json
  examples/terminal/src/index.ts
  examples/terminal/webpack.config.js
  package.json
  packages/application/package.json
  packages/application/style/index.css
  packages/theme-dark-extension/package.json
  packages/theme-dark-extension/style/embed.css
  packages/theme-dark-extension/webpack.config.js
  packages/theme-light-extension/package.json
  packages/theme-light-extension/style/embed.css
  packages/theme-light-extension/webpack.config.js
  scripts/travis_script.sh
  yarn.lock
Labels: pkg:themes, type:Enhancement

#5517 Clean up Dev Mode Launch
  jupyterlab/commands.py
Labels: tag:Server Change

#5535 File browser extension now ignores case.
  packages/filebrowser/src/listing.ts
Labels: pkg:filebrowser, type:Enhancement

#5542 Set scroll padding in notebook to a minimum of 50 percent of the note…
  packages/theme-dark-extension/style/variables.css
  packages/theme-light-extension/style/variables.css
Labels: pkg:notebook

#5518 Fix override url
  dev_mode/index.js
  dev_mode/webpack.config.js
  jupyterlab/extension.py
Labels: tag:Server Change, type:Bug

#5547 Fix alignment of latex/mathjax output cells
  packages/mathjax2/style/index.css
  packages/rendermime/style/index.css
Labels: pkg:rendermime

#5550 Clear * prompt from console cells that are not going to be executed
  packages/console/src/widget.ts
Labels: pkg:console, type:Bug

#5523 Add "Go to Line" and "Find" capabilities to csvviewer
  packages/apputils/src/dialog.ts
  packages/codemirror-extension/src/index.ts
  packages/csvviewer-extension/package.json
  packages/csvviewer-extension/src/index.ts
  packages/csvviewer-extension/tsconfig.json
  packages/csvviewer/src/widget.ts
  tests/test-csvviewer/package.json
  tests/test-csvviewer/src/widget.spec.ts
Labels: pkg:csvviewer, type:Enhancement

#5551 fix _changeKernel bug when session dead
  packages/apputils/src/clientsession.tsx
Labels: pkg:apputils, type:Bug
