Repository jupyterlab/jupyterlab, pull requests merged in 2018-11, with the labels that each got.

#5567 Change file mod time hover to use local/locale time format
  packages/filebrowser/src/listing.ts
Labels: pkg:filebrowser, type:Enhancement

#5568 Better handling of ensure-buildutils
  scripts/ensure-buildutils.js
Labels: tag:DevOps

#5577 The statusbar strikes back
  docs/scripts/graph-dependencies.js
  docs/source/developer/dependency-graph.svg
  packages/codemirror-extension/src/index.ts
  packages/csvviewer-extension/package.json
  packages/docmanager-extension/src/index.ts
  packages/filebrowser-extension/package.json
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/package.json
  packages/filebrowser/src/index.ts
  packages/filebrowser/src/uploadstatus.tsx
  packages/filebrowser/tsconfig.json
  packages/fileeditor-extension/src/index.ts
  packages/notebook-extension/src/index.ts
  packages/statusbar-extension/src/index.ts
  packages/statusbar/src/components/group.tsx
  packages/statusbar/src/components/hover.tsx
  packages/statusbar/src/components/icon.tsx
  packages/statusbar/src/components/progressBar.tsx
  packages/statusbar/src/components/text.tsx
  packages/statusbar/src/defaults/lineCol.tsx
  packages/statusbar/src/statusbar.ts
  tests/test-statusbar/jest.config.js
  tests/test-statusbar/package.json
  tests/test-statusbar/run.py
  tests/test-statusbar/src/statusbar.spec.ts
  tests/test-statusbar/tsconfig.json
Labels: pkg:statusbar, type:Maintenance

#5584 Pressing Ctrl while dragging should copy files
  packages/filebrowser/src/listing.ts
Labels: pkg:filebrowser, type:Enhancement

#5587 Improve Appveyor Stability
  scripts/appveyor.cmd
Labels: tag:DevOps, type:Maintenance

#5596 Input styling
  packages/outputarea/style/index.css
Labels: tag:Design and UX

#5610 Skip processing svg anchor elements
  packages/rendermime/src/renderers.ts
Labels: pkg:rendermime, type:Bug

#5622 Retain crlf
  packages/docregistry/src/context.ts
  tests/test-docregistry/src/context.spec.ts
Labels: pkg:docregistry, type:Bug

#5581 Add 'scroll past end' notebook setting
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/widget.ts
  packages/notebook/src/widgetfactory.ts
  packages/notebook/style/index.css
  packages/theme-dark-extension/style/variables.css
  packages/theme-light-extension/style/variables.css
Labels: pkg:notebook, tag:Design and UX

#5621 CSS: Add alert, alert-info and alert-warning styles
  packages/rendermime/style/index.css
Labels: pkg:rendermime, type:Enhancement

#5628 removed the need of p for code markdown
  packages/rendermime/style/index.css
Labels: pkg:notebook

#5641 Allow "Run All Code"/ "Restart Kernel and Run All Code" when editting Text File
  packages/fileeditor-extension/src/index.ts
Labels: pkg:fileeditor

#5646 updated with details on terminalAvailable
  docs/source/user/extensions.rst
Labels: tag:Documentation

#5652 Add an option to toggle document scrolling behavior
  packages/codemirror-extension/schema/commands.json
  packages/codemirror-extension/src/index.ts
Labels: pkg:codemirror, tag:Settings

#5657 Extension manager docs
  docs/source/developer/extension_dev.rst
  docs/source/user/extensions.rst
  docs/source/user/images/extension_manager_default.png
  docs/source/user/images/extension_manager_discover.png
  docs/source/user/images/extension_manager_rebuild.png
  docs/source/user/images/extension_manager_search.png
Labels: pkg:extensionmanager, tag:Documentation

#5649 Don't sort extension search alphabetically
  packages/extensionmanager/src/model.ts
Labels: pkg:extensionmanager

#5529 codemirror: add config options to style selection
  packages/codemirror-extension/schema/commands.json
  packages/codemirror-extension/src/index.ts
  packages/codemirror/src/editor.ts
Labels: pkg:codemirror, type:Enhancement

#5677 Doc links
  docs/Makefile
  docs/environment.yml
  docs/source/conf.py
  docs/source/developer/adding_content.rst
  docs/source/developer/documents.rst
  docs/source/developer/extension_dev.rst
  docs/source/developer/notebook.rst
  docs/source/developer/virtualdom.rst
  docs/source/developer/xkcd_extension_tutorial.rst
  docs/source/getting_started/changelog.rst
  docs/source/getting_started/installation.rst
  docs/source/getting_started/overview.rst
  docs/source/getting_started/starting.rst
  docs/source/user/extensions.rst
  docs/source/user/interface.rst
  docs/source/user/notebook.rst
  scripts/travis_script.sh
Labels: tag:Documentation, type:Maintenance

#5667 DirListing: Correct undefined `name` variable
  packages/filebrowser/src/listing.ts
Labels: pkg:filebrowser, type:Bug

#5668 Remove `commands` in `FileBrowser` constructor
  examples/filebrowser/src/index.ts
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/package.json
  packages/filebrowser/src/browser.ts
  packages/filebrowser/src/factory.ts
Labels: pkg:filebrowser, type:Maintenance

#5634 Make sure `composite` is set to `true` when adding a sibling.
  buildutils/src/add-sibling.ts
Labels: tag:Build System, tag:Extensions

#5639 Minor change to CONTRIBUTE.md
  CONTRIBUTING.md
Labels: tag:Documentation, type:Maintenance

#5656 [HTML] external links should add rel="noopener"
  packages/docmanager-extension/src/index.ts
  packages/extensionmanager/src/widget.tsx
  packages/help-extension/src/index.tsx
  packages/notebook-extension/src/index.ts
  packages/rendermime/src/renderers.ts
Labels: pkg:docmanager, type:Bug

#5701 Readme changes
  README.md
Labels: tag:Documentation, type:Maintenance

#5686 Properly dispose of text model on disposal.
  packages/codeeditor/src/editor.ts
  packages/mainmenu-extension/src/index.ts
Labels: pkg:codeeditor, pkg:mainmenu, type:Bug

#5658 Exclude node-fetch and ws from webpack and use require instead of eval
  dev_mode/webpack.config.js
  packages/services/package.json
  packages/services/src/serverconnection.ts
  packages/services/tsconfig.json
  yarn.lock
Labels: pkg:services, type:Bug

#5693 [WIP] Fix test races
  tests/karma.conf.js
  tests/test-apputils/src/clientsession.spec.ts
  tests/test-cells/src/widget.spec.ts
  tests/test-console/src/foreign.spec.ts
  tests/test-docregistry/src/context.spec.ts
  tests/test-notebook/src/actions.spec.ts
  tests/test-notebook/src/widget.spec.ts
  tests/test-outputarea/src/widget.spec.ts
  tests/test-services/src/kernel/ikernel.spec.ts
Labels: tag: Testing, type:Maintenance

#5706 Don't display any output if Javascript output is empty
  packages/javascript-extension/src/index.ts
Labels: pkg:javascript, type:Bug

#5708 Document Running Jest Tests
  CONTRIBUTING.md
  yarn.lock
Labels: tag:Documentation
