Repository jupyterlab/jupyterlab, pull requests merged in 2018-02, with the labels that each got.

#3864 Fix handling of data URIs
  packages/coreutils/src/url.ts
  tests/test-coreutils/src/url.spec.ts
Labels: pkg:coreutils, type:Bug

#3867 Fix isLocal() to only return true if a local path is given.
  packages/coreutils/src/url.ts
  tests/test-coreutils/src/url.spec.ts
Labels: pkg:coreutils, type:Bug

#3834 Light editing of FAQ material
  docs/source/getting_started/overview.rst
  packages/faq-extension/faq.md
Labels: pkg:faq

#3861 Dispose of docmanager widget if the inital load fails.
  packages/docmanager/src/manager.ts
  packages/docregistry/src/context.ts
  packages/filebrowser-extension/src/index.ts
Labels: pkg:docmanager, pkg:docregistry, type:Bug

#3876 Better handling of code running in notebook
  packages/notebook/src/widget.ts
Labels: pkg:notebook, type:Bug

#3879 Remove padding specification for linked view
  packages/notebook/style/index.css
Labels: pkg:notebook, type:Maintenance

#3882 Fix handling of backspaces and carriage returns
  packages/outputarea/src/model.ts
Labels: pkg:outputarea, type:Bug

#3888 Defensively check for completion request metadata.
  packages/completer/src/handler.ts
Labels: pkg:completer

#3905 Bump CodeMirror version.
  dev_mode/package.json
  packages/codemirror-extension/package.json
  packages/codemirror/package.json
  yarn.lock
Labels: pkg:codemirror, type:Maintenance

#3959 Guarantee that the create/open ready promise is never null.
  packages/docmanager/src/manager.ts
Labels: pkg:docmanager, type:Bug

#3971 Add changelog
  CHANGELOG.md
  scripts/generate_changelog.py
Labels: tag:Documentation, type:Maintenance

#3962 Codemirror theming tweaks
  packages/codemirror/style/index.css
Labels: pkg:codemirror, tag:Design and UX, type:Bug

#3931 avoid periodic polls when document doesn't have focus
  packages/filebrowser/src/model.ts
  packages/services/src/kernel/manager.ts
  packages/services/src/session/manager.ts
  packages/services/src/terminal/manager.ts
Labels: pkg:filebrowser, pkg:services, tag:Performance

#3950 Fix cancellation of time-conflict-saving.
  packages/docmanager/src/savehandler.ts
  packages/docregistry/src/context.ts
Labels: pkg:docregistry, type:Bug

#3983 Don't throw error on user-canceled save.
  packages/docmanager-extension/src/index.ts
Labels: pkg:docmanager

#3687 Support state nullification with a URL parameter.
  packages/application-extension/src/index.ts
  packages/application/src/router.ts
  packages/apputils-extension/src/index.ts
  packages/coreutils/src/url.ts
  packages/help-extension/src/index.ts
  tests/test-application/src/router.spec.ts
Labels: pkg:application, pkg:apputils

#3883 Remove @phosphor/virtualdom dependency of codeeditor package.
  dev_mode/package.json
  jupyterlab/staging/package.json
  packages/apputils/package.json
  packages/cells/package.json
  packages/codeeditor/package.json
  packages/codeeditor/src/jsoneditor.tsx
  packages/codeeditor/tsconfig.json
  packages/json-extension/package.json
  packages/launcher/package.json
  packages/vdom-extension/package.json
  tests/package.json
  tests/test-apputils/package.json
  yarn.lock
Labels: pkg:codeeditor

#3889 Change single-document toggle shortcut to something more innocuous.
  packages/shortcuts-extension/schema/plugin.json
Labels: pkg:shortcuts

#3969 Check type in message hook handler.
  packages/notebook-extension/src/index.ts
Labels: pkg:notebook, type:Maintenance

#4027 Allow nodejs as a an alias to node
  jupyterlab/jlpmapp.py
Labels: tag:Extensions, type:Bug

#4045 Improve handling of progress bars
  packages/notebook/src/panel.ts
  packages/notebook/style/index.css
  packages/outputarea/src/model.ts
Labels: pkg:notebook, type:Bug

#4056 Fix notebook toolbar height
  packages/notebook/style/toolbar.css
Labels: pkg:notebook, type:Bug

#3895 Fix show/hide output actions
  packages/notebook/src/actions.ts
Labels: pkg:notebook, type:Bug
