Repository jupyterlab/jupyterlab, pull requests merged in 2018-06, with the labels that each got.

#4659 Launcher is now a MainAreaWidget.
  packages/filebrowser-extension/src/index.ts
Labels: pkg:launcher, type:Bug

#4686 Update Darian's affiliation.
  README.md
Labels: tag:Documentation

#4658 Tweaks to filebrowser item drag image.
  packages/filebrowser/style/index.css
Labels: pkg:filebrowser, tag:Design and UX

#4694 Fix markdown viewer CSS.
  packages/markdownviewer-extension/style/index.css
Labels: pkg:markdownviewer, type:Bug

#4708 Reconcile tree routing handler with workspaces.
  packages/application-extension/src/index.tsx
  packages/apputils-extension/src/index.ts
  packages/apputils/src/dialog.ts
  packages/coreutils/src/pageconfig.ts
  packages/filebrowser-extension/src/index.ts
Labels: pkg:application, pkg:apputils, pkg:coreutils, type:Enhancement

#4712 Fix bug for shutdown button in runsession
  packages/running/src/index.ts
Labels: pkg:running, type:Bug

#4699 Fix Jupyter codemirror theme cursor color.
  packages/codemirror/style/index.css
Labels: pkg:codemirror, pkg:themes, type:Bug

#4713 Fix JSON rendering
  dev_mode/package.json
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
  packages/application-extension/package.json
  packages/apputils/package.json
  packages/cells/package.json
  packages/codeeditor/package.json
  packages/help-extension/package.json
  packages/json-extension/package.json
  packages/json-extension/src/component.tsx
  packages/json-extension/src/index.tsx
  packages/launcher/package.json
  packages/notebook/package.json
  packages/settingeditor/package.json
  packages/vdom-extension/package.json
  tests/package.json
  tests/test-apputils/package.json
  yarn.lock
Labels: pkg:json, type:Bug

#4707 Send same-origin cookies with Vega loader requests
  packages/vega3-extension/src/index.ts
Labels: pkg:vega, type:Bug

#4721 Add copyright to component file, order imports.
  packages/json-extension/src/component.tsx
  packages/json-extension/src/index.tsx
Labels: pkg:json, tag:Documentation

#4410 Add labextension update entry point
  jupyterlab/commands.py
  jupyterlab/labextensions.py
  jupyterlab/tests/test_jupyterlab.py
Labels: tag:Build System, type:Enhancement

#4726 We should also trigger a model content change signal on cell move.
  packages/notebook/src/model.ts
  tests/test-notebook/src/model.spec.ts
Labels: pkg:notebook, type:Bug

#4742 Fix extension development guide link to contributing => setting up environment page.
  docs/source/developer/extension_dev.rst
Labels: tag:Documentation, type:Bug

#4744 Add a NotebookActions.executed signal.
  packages/notebook-extension/src/index.ts
  packages/notebook/src/actions.tsx
  tests/test-notebook/src/actions.spec.ts
Labels: pkg:notebook, type:Enhancement

#4759 Upgrade CodeMirror to release 5.39.0, start sTeX directly in math mode
  dev_mode/package.json
  packages/codemirror-extension/package.json
  packages/codemirror/package.json
  packages/codemirror/src/codemirror-ipythongfm.ts
  yarn.lock
Labels: pkg:codemirror

#4762 Mimerender tracker
  dev_mode/package.json
  packages/application/src/index.ts
  packages/application/src/mimerenderers.ts
  packages/apputils/src/instancetracker.ts
  packages/docmanager-extension/src/index.ts
  packages/docregistry/src/mimedocument.ts
  packages/markdownviewer-extension/package.json
  packages/markdownviewer-extension/src/index.ts
  tests/test-apputils/src/instancetracker.spec.ts
Labels: pkg:application, pkg:markdownviewer, pkg:rendermime, type:Enhancement

#4772 Fix setting editor's layout stretch defaults.
  packages/settingeditor/src/settingeditor.tsx
  packages/settingeditor/style/settingeditor.css
Labels: pkg:settingeditor, type:Bug

#4773 Make label capital case.
  packages/docmanager-extension/src/index.ts
Labels: pkg:docmanager

#4789 Fix HTML `disabled` attribute value.
  packages/apputils/src/sanitizer.ts
  tests/test-apputils/src/sanitizer.spec.ts
Labels: pkg:apputils, type:Bug

#4788 Fix the runningChanged test to fix a TODO.
  packages/services/test/src/session/manager.spec.ts
Labels: pkg:services

#4752 Bottom Panel Implementation
  packages/application/src/shell.ts
  packages/application/style/index.css
Labels: pkg:application, type:Enhancement

#4794 Update docs with new tokens and dependency graph.
  docs/source/developer/dependency-graph.svg
  docs/source/developer/extension_dev.rst
Labels: tag:Documentation

#4780 URL functionality user documentation.
  docs/source/getting_started/overview.rst
  docs/source/getting_started/starting.rst
  docs/source/index.rst
  docs/source/user/interface.rst
  docs/source/user/urls.rst
Labels: tag:Documentation

#4720 Allow native context menu to be shown for notebook cell in Chrome.
  packages/notebook/src/widget.ts
Labels: pkg:notebook, tag:Browser Compatibility, type:Bug

#4801 Increase tab width by 50%.
  packages/application/style/tabs.css
Labels: pkg:application, tag:Design and UX

#4806 Upgrade Vega+Vega-Lite
  buildutils/src/ensure-repo.ts
  dev_mode/package.json
  examples/vega/vega-extension.ipynb
  examples/vega/vega-extension.vg.json
  examples/vega/vega-extension.vl.json
  packages/metapackage/package.json
  packages/metapackage/src/index.ts
  packages/metapackage/src/typings.d.ts
  packages/rendermime-interfaces/README.md
  packages/vega4-extension/README.md
  packages/vega4-extension/package.json
  packages/vega4-extension/src/index.ts
  packages/vega4-extension/src/json.d.ts
  packages/vega4-extension/style/index.css
  packages/vega4-extension/tsconfig.json
  yarn.lock
Labels: pkg:vega, type:Maintenance

#4813 Remove icons in command palette for "Create New"
  packages/console-extension/src/index.ts
  packages/notebook-extension/src/index.ts
  packages/terminal-extension/src/index.ts
Labels: tag:Design and UX

#4682 Add extension manager
  dev_mode/package.json
  jupyterlab/commands.py
  jupyterlab/extension.py
  jupyterlab/extension_manager_handler.py
  packages/extensionmanager-extension/package.json
  packages/extensionmanager-extension/schema/plugin.json
  packages/extensionmanager-extension/src/index.ts
  packages/extensionmanager-extension/tsconfig.json
  packages/extensionmanager/package.json
  packages/extensionmanager/src/build-helper.tsx
  packages/extensionmanager/src/companions.tsx
  packages/extensionmanager/src/dialog.tsx
  packages/extensionmanager/src/index.ts
  packages/extensionmanager/src/model.ts
  packages/extensionmanager/src/query.ts
  packages/extensionmanager/src/widget.tsx
  packages/extensionmanager/style/index.css
  packages/extensionmanager/tsconfig.json
  packages/metapackage/package.json
  packages/metapackage/src/index.ts
  packages/services/src/index.ts
  yarn.lock
Labels: tag:Build System, tag:Extensions, type:Enhancement
