Repository jupyterlab/jupyterlab, pull requests merged in 2018-03, with the labels that each got.

#4070 Properly indent in console after linebreak
  packages/codeeditor/src/editor.ts
  packages/codemirror/src/editor.ts
  packages/console/src/widget.ts
Labels: pkg:codeeditor, pkg:codemirror, pkg:console

#4098 Clean up toolbar CSS so that it shows as active, remove superfluous jp-mod-pressed class.
  packages/apputils/src/toolbar.ts
  packages/apputils/style/toolbar.css
  packages/filebrowser/style/index.css
  tests/test-apputils/src/toolbar.spec.ts
Labels: pkg:apputils, tag:Design and UX

#3703 Fix restart cancellation
  packages/apputils/src/clientsession.ts
  packages/console-extension/src/index.ts
  packages/mainmenu/src/kernel.ts
  packages/mainmenu/src/run.ts
  packages/notebook-extension/src/index.ts
  tests/test-apputils/src/clientsession.spec.ts
Labels: pkg:apputils, pkg:console, pkg:notebook, type:Bug

#3851 Bust local cache
  packages/codemirror/src/mimetype.ts
  packages/rendermime/src/renderers.ts
Labels: pkg:console, pkg:markdownviewer, pkg:rendermime, status:Needs Discussion

#3903 Fix JupyterLab test directories
  jupyterlab/tests/utils.py
Labels: type:Bug

#3996 fix launch to lab and notebook
  jupyterlab/extension.py
Labels: type:Bug

#4114 Ensure restored promise always completes
  packages/application/src/layoutrestorer.ts
Labels: pkg:application

#4116 Handle bad format errors
  packages/docregistry/src/context.ts
  packages/docregistry/src/registry.ts
Labels: pkg:docregistry, type:Bug

#3608 Make extension install command find compatible version
  jupyterlab/commands.py
  jupyterlab/semver.py
  jupyterlab/tests/test_jupyterlab.py
Labels: tag:Extensions, type:Enhancement

#4158 Fix handling of file editor settings
  packages/fileeditor-extension/src/index.ts
Labels: pkg:fileeditor, type:Bug

#4087 Defer loading files until after layout restore
  packages/docmanager-extension/src/index.ts
  packages/docmanager/src/manager.ts
  packages/docregistry/src/context.ts
  tests/test-docmanager/src/manager.spec.ts
  tests/test-docmanager/src/savehandler.spec.ts
  tests/test-docmanager/src/widgetmanager.spec.ts
  tests/test-docregistry/src/context.spec.ts
  tests/test-docregistry/src/mimedocument.spec.ts
  tests/test-fileeditor/src/widget.spec.ts
  tests/test-imageviewer/src/widget.spec.ts
  tests/test-notebook/src/default-toolbar.spec.ts
  tests/test-notebook/src/panel.spec.ts
  tests/webpack.config.js
Labels: pkg:docmanager, pkg:docregistry

#3663 Show the latest kernel banner in console on restart.
  packages/console/src/widget.ts
  tests/test-console/src/widget.spec.ts
Labels: pkg:console

#4150 Make output view scrollable
  packages/notebook/style/index.css
Labels: pkg:outputarea, type:Bug

#4115 Make comms asynchronous
  packages/services/src/kernel/default.ts
  packages/services/src/kernel/kernel.ts
  packages/services/test/run-test.py
  packages/services/test/src/kernel/comm.spec.ts
  packages/services/test/src/kernel/ikernel.spec.ts
Labels: pkg:services, type:Bug

#4183 Select the correct cell after multi-cell-deletion.
  packages/notebook/src/actions.ts
Labels: pkg:notebook, type:Bug

#3893 Change Dialog to use React instead of Phosphor vdom
  packages/application-extension/package.json
  packages/application-extension/src/index.tsx
  packages/application-extension/tsconfig.json
  packages/apputils/src/clientsession.tsx
  packages/apputils/src/dialog.ts
  packages/apputils/src/vdom.ts
  packages/apputils/tsconfig.json
  packages/help-extension/package.json
  packages/help-extension/src/index.tsx
  packages/help-extension/tsconfig.json
  packages/notebook/package.json
  packages/notebook/src/actions.tsx
  packages/notebook/tsconfig.json
  tests/test-apputils/src/dialog.spec.tsx
  tests/test-apputils/tsconfig.json
Labels: pkg:apputils, pkg:help, pkg:notebook

#4192 Large CSV details
  docs/source/user/file_formats.rst
Labels: pkg:csvviewer, tag:Documentation, tag:Phosphor

#4248 Add word wrapping for tooltip
  packages/tooltip/style/index.css
Labels: pkg:tooltip, tag:Design and UX

#4196 Fix text color in Setting Editor introduction for themes.
  packages/settingeditor/style/settingeditor.css
Labels: pkg:settingeditor, tag:Design and UX

#4271 CI fix
  .gitignore
  .travis.yml
  jupyterlab/tests/test_jupyterlab.py
  packages/services/.travis.yml
Labels: tag:Build System, type:Bug, type:Maintenance

#4264 Always show paste in the filebrowser context menu.
  packages/filebrowser-extension/src/index.ts
Labels: pkg:filebrowser, type:Bug

#4274 Don't modify the sessions while we are iterating over them.
  packages/filebrowser/src/listing.ts
Labels: pkg:filebrowser, type:Bug
