Repository jupyterlab/jupyterlab, pull requests merged in 2018-12, with the labels that each got.

#5674 Remove duplicate code from MIME renderers.
  packages/rendermime/src/renderers.ts
Labels: pkg:rendermime, type:Maintenance

#5630 Improve handling of URI fragment identifiers
  packages/cells/src/widget.ts
  packages/docregistry/src/default.ts
  packages/docregistry/src/mimedocument.ts
  packages/docregistry/src/registry.ts
  packages/notebook/src/panel.ts
  packages/notebook/src/widget.ts
  packages/pdf-extension/src/index.ts
  packages/rendermime-extension/src/index.ts
  packages/rendermime-interfaces/src/index.ts
  packages/rendermime/src/widgets.ts
Labels: pkg:docregistry, pkg:notebook, pkg:rendermime

#5724 Reject InstanceTracker#add() if added widget is already disposed.
  packages/apputils/src/instancetracker.ts
  tests/test-apputils/src/instancetracker.spec.ts
  tests/test-mainmenu/src/edit.spec.ts
  tests/test-mainmenu/src/file.spec.ts
  tests/test-mainmenu/src/kernel.spec.ts
  tests/test-mainmenu/src/run.spec.ts
Labels: pkg:apputils, type:Bug

#5732 Fix regression: terminal should default to configured monospace font
  packages/terminal-extension/schema/plugin.json
Labels: pkg:terminal

#5709 Remove prefixes for loaders
  dev_mode/webpack.config.js
Labels: tag:Build System, tag:Extensions

#5700 Optimize editor refresh on notebook show
  packages/cells/src/inputarea.ts
  packages/cells/src/widget.ts
  packages/codeeditor/src/widget.ts
  packages/notebook/src/widget.ts
Labels: pkg:codemirror, type:Bug

#5711 Move console foreign handler to its own plugin
  packages/console-extension/package.json
  packages/console-extension/src/foreign.ts
  packages/console-extension/src/index.ts
  packages/console/src/foreign.ts
  packages/console/src/widget.ts
  tests/test-console/src/foreign.spec.ts
  tests/test-console/src/widget.spec.ts
Labels: pkg:console

#5698 Follow file path between file browser and editor
  packages/filebrowser-extension/schema/browser.json
  packages/filebrowser-extension/src/index.ts
Labels: pkg:filebrowser, tag:Design and UX, type:Enhancement

#5800 Honor body data upon first call to PageConfig.getOption()
  packages/coreutils/src/pageconfig.ts
Labels: pkg:coreutils

#5794 updating readme binder link
  README.md
Labels: tag:Documentation

#5479 Audit of React usage
  packages/apputils/src/dialog.ts
  packages/apputils/src/toolbar.tsx
  packages/apputils/src/vdom.ts
  packages/cells/src/collapser.tsx
  packages/cells/src/placeholder.tsx
  packages/codeeditor/package.json
  packages/codeeditor/src/jsoneditor.ts
  packages/json-extension/package.json
  packages/json-extension/src/index.tsx
  packages/notebook/src/default-toolbar.tsx
  packages/running/package.json
  packages/running/src/index.tsx
  packages/statusbar/src/defaults/lineCol.tsx
  packages/vdom-extension/package.json
  packages/vdom-extension/src/index.tsx
  tests/test-apputils/src/toolbar.spec.ts
Labels: pkg:apputils, status:Needs Review, type:Maintenance
