Repository jupyterlab/jupyterlab, pull requests merged in 2018-07, with the labels that each got.

#4805 Fix extra launcher flimflam
  packages/application/src/shell.ts
Labels: pkg:application, pkg:launcher, type:Bug

#4835 Make sure kernelChanged always emits args.
  packages/apputils/src/clientsession.tsx
Labels: pkg:apputils, type:Bug

#4677 Close tabs to the right/others. #4124
  packages/application/src/shell.ts
  packages/docmanager-extension/package.json
  packages/docmanager-extension/src/index.ts
Labels: pkg:application

#4870 Output annotated settings
  packages/coreutils/src/settingregistry.ts
Labels: pkg:coreutils, tag:Settings

#4848 Fix stdin order
  packages/outputarea/src/widget.ts
Labels: pkg:outputarea, type:Bug

#4692 Improve anchor tags
  packages/application/src/mimerenderers.ts
  packages/docregistry/src/default.ts
  packages/docregistry/src/registry.ts
  packages/fileeditor-extension/src/index.ts
  packages/markdownviewer-extension/src/index.ts
  packages/rendermime-extension/package.json
  packages/rendermime-extension/src/index.ts
  packages/rendermime-interfaces/src/index.ts
  packages/rendermime/src/renderers.ts
  tests/test-docregistry/src/default.spec.ts
  tests/test-docregistry/src/registry.spec.ts
Labels: pkg:docmanager, pkg:markdownviewer, pkg:notebook, pkg:rendermime, tag:Feature Parity, type:Enhancement

#4846 CSS change to give inline code in Markdown a different background color
  packages/rendermime/style/index.css
Labels: pkg:rendermime, tag:Design and UX

#4811 Add command to change fileeditor font size.
  packages/fileeditor-extension/src/index.ts
Labels: tag:Design and UX

#4883 Handle the case of a link with null href.
  packages/rendermime/src/renderers.ts
Labels: pkg:rendermime, type:Bug

#4886 Always focus a new console prompt cell.
  packages/console/src/widget.ts
Labels: pkg:console, type:Bug

#4890 Cleanup mainmenu api
  packages/mainmenu-extension/package.json
  packages/mainmenu-extension/src/index.ts
  packages/mainmenu/src/labmenu.ts
  tests/test-mainmenu/src/labmenu.spec.ts
Labels: pkg:mainmenu

#4895 Prevent cascading test failures due to failing to await a save.
  tests/test-docregistry/src/context.spec.ts
Labels: type:Bug

#4893 A lighter-touch fix for console focus.
  packages/console/src/widget.ts
Labels: pkg:console, type:Bug

#4908 Don't remove `Widget` CSS class in running side panel.
  packages/running/src/index.tsx
Labels: pkg:running, type:Bug

#4906 Update prerelease workflow
  RELEASE.md
  package.json
Labels: type:Maintenance

#4905 Linting Cleanup
  .lintstagedrc
  .travis.yml
  package.json
  scripts/travis_script.sh
  tslint.json
  yarn.lock
Labels: type:Maintenance

#4925 Extension disclaimers
  packages/extensionmanager-extension/package.json
  packages/extensionmanager-extension/schema/plugin.json
  packages/extensionmanager-extension/src/index.ts
  packages/extensionmanager/src/model.ts
  packages/extensionmanager/src/query.ts
  packages/extensionmanager/src/widget.tsx
  packages/extensionmanager/style/index.css
Labels: tag:Extensions

#4932 Fix selection update on editor focusin event
  packages/codemirror/src/editor.ts
Labels: pkg:codemirror, type:Bug

#4938 Update notebook dev example docs.
  docs/source/developer/notebook.rst
Labels: tag:Documentation

#4841 Update workspace services.
  .lintstagedrc
  jupyterlab/tests/test_app.py
  jupyterlab/tests/test_build_api.py
  jupyterlab/tests/test_settings_api.py
  jupyterlab/tests/utils.py
  package.json
  packages/apputils-extension/src/index.ts
  packages/apputils/src/dialog.ts
  packages/apputils/src/vdom.ts
  packages/services/src/manager.ts
  packages/services/src/setting/index.ts
  packages/services/src/workspace/index.ts
  packages/services/test/src/manager.spec.ts
  packages/services/test/src/workspace/manager.spec.ts
  packages/settingeditor/src/plugineditor.ts
  setup.py
  tests/karma.conf.js
  tests/test-application/package.json
  tests/test-apputils/package.json
  tests/test-apputils/src/clientsession.spec.ts
  tests/test-apputils/src/dialog.spec.tsx
  tests/test-apputils/src/metadata.spec.ts
  tests/test-cells/package.json
  tests/test-codeeditor/package.json
  tests/test-codemirror/package.json
  tests/test-completer/package.json
  tests/test-console/package.json
  tests/test-coreutils/package.json
  tests/test-csvviewer/package.json
  tests/test-docmanager/package.json
  tests/test-docmanager/src/savehandler.spec.ts
  tests/test-docmanager/src/widgetmanager.spec.ts
  tests/test-docregistry/package.json
  tests/test-docregistry/src/context.spec.ts
  tests/test-filebrowser/package.json
  tests/test-fileeditor/package.json
  tests/test-imageviewer/package.json
  tests/test-inspector/package.json
  tests/test-mainmenu/package.json
  tests/test-notebook/package.json
  tests/test-notebook/src/actions.spec.ts
  tests/test-notebook/src/celltools.spec.ts
  tests/test-notebook/src/default-toolbar.spec.ts
  tests/test-notebook/src/model.spec.ts
  tests/test-notebook/src/widget.spec.ts
  tests/test-observables/package.json
  tests/test-outputarea/package.json
  tests/test-rendermime/package.json
  tests/test-terminal/package.json
  tests/utils.ts
  tslint.json
Labels: pkg:services, type:Enhancement

#4957 Update XKCD tutorial tag links.
  docs/source/developer/xkcd_extension_tutorial.rst
Labels: tag:Documentation

#4962 Compatibility with Python 3.5
  jupyterlab/commands.py
Labels: tag:Extensions, type:Bug

#4968 Patch releases for 0.33
  RELEASE.md
  buildutils/src/patch-release.ts
  dev_mode/package.json
  examples/app/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/filebrowser/package.json
  examples/notebook/package.json
  examples/terminal/package.json
  jupyterlab/staging/package.json
  jupyterlab/staging/templates/partial.html
  jupyterlab/staging/yarn.lock
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/cells/package.json
  packages/codemirror-extension/package.json
  packages/codemirror/package.json
  packages/completer/package.json
  packages/console/package.json
  packages/docmanager-extension/package.json
  packages/docmanager/package.json
  packages/docregistry/package.json
  packages/extensionmanager/package.json
  packages/filebrowser-extension/package.json
  packages/filebrowser/package.json
  packages/help-extension/package.json
  packages/inspector/package.json
  packages/mainmenu/package.json
  packages/metapackage/package.json
  packages/notebook-extension/package.json
  packages/notebook/package.json
  packages/outputarea/package.json
  packages/rendermime/package.json
  packages/running/package.json
  packages/services/examples/browser/package.json
  packages/services/examples/node/package.json
  packages/services/examples/typescript-browser-with-output/package.json
  packages/services/package.json
  packages/terminal-extension/package.json
  packages/terminal/package.json
  packages/tooltip-extension/package.json
  packages/tooltip/package.json
  tests/package.json
  tests/test-apputils/package.json
  tests/test-codeeditor/package.json
  tests/test-codemirror/package.json
  tests/test-completer/package.json
  tests/test-console/package.json
  tests/test-csvviewer/package.json
  tests/test-docmanager/package.json
  tests/test-docregistry/package.json
  tests/test-filebrowser/package.json
  tests/test-fileeditor/package.json
  tests/test-imageviewer/package.json
  tests/test-notebook/package.json
  tests/test-outputarea/package.json
  tests/test-rendermime/package.json
  tests/test-terminal/package.json
Labels: type:Maintenance

#4970 Actually fix python 3.5 compatibility.
  jupyterlab/commands.py
Labels: type:Bug

#4991 0.33.1 patches
  dev_mode/package.json
  examples/app/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/notebook/package.json
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
  packages/application/package.json
  packages/attachments/package.json
  packages/cells/package.json
  packages/console-extension/package.json
  packages/console/package.json
  packages/docmanager-extension/package.json
  packages/docregistry/package.json
  packages/faq-extension/package.json
  packages/filebrowser-extension/package.json
  packages/inspector/package.json
  packages/javascript-extension/package.json
  packages/markdownviewer-extension/package.json
  packages/mathjax2-extension/package.json
  packages/metapackage/package.json
  packages/notebook-extension/package.json
  packages/notebook/package.json
  packages/outputarea/package.json
  packages/rendermime-extension/package.json
  packages/rendermime/package.json
  packages/services/examples/typescript-browser-with-output/package.json
  packages/settingeditor-extension/package.json
  packages/settingeditor/package.json
  packages/tooltip/package.json
  tests/package.json
  tests/test-docregistry/package.json
  tests/test-outputarea/package.json
  tests/test-rendermime/package.json
Labels: type:Maintenance

#4990 Modernize Some Tests
  .eslintrc
  tests/convert-to-chai.js
  tests/test-application/package.json
  tests/test-application/src/layoutrestorer.spec.ts
  tests/test-application/src/router.spec.ts
  tests/test-application/src/shell.spec.ts
  tests/test-apputils/package.json
  tests/test-apputils/src/clientsession.spec.ts
  tests/test-apputils/src/commandlinker.spec.ts
  tests/test-apputils/src/instancetracker.spec.ts
  tests/test-apputils/src/sanitizer.spec.ts
  tests/test-apputils/src/toolbar.spec.ts
  tests/test-codemirror/package.json
  tests/test-codemirror/src/editor.spec.ts
  tests/test-codemirror/src/factory.spec.ts
  tests/test-coreutils/package.json
  tests/test-coreutils/src/activitymonitor.spec.ts
  tests/test-coreutils/src/markdowncodeblocks.spec.ts
  tests/test-coreutils/src/path.spec.ts
  tests/test-coreutils/src/settingregistry.spec.ts
  tests/test-coreutils/src/statedb.spec.ts
  tests/test-coreutils/src/time.spec.ts
  tests/test-coreutils/src/url.spec.ts
  tslint.json
Labels: type:Maintenance

#4999 Python 2 compat in browser check
  jupyterlab/browser_check.py
Labels: type:Maintenance
