Repository jupyterlab/jupyterlab, pull requests merged in 2018-04, with the labels that each got.

#3982 Session indicator bug fix in file browser listing.
  packages/filebrowser/src/listing.ts
  packages/filebrowser/src/model.ts
Labels: pkg:filebrowser, type:Bug

#4265 Fix resolving of local urls for rendered vega.
  packages/vega3-extension/src/index.ts
Labels: pkg:vega, type:Bug

#4219 Add validation for file renaming.
  packages/docmanager/src/dialogs.ts
  packages/filebrowser/src/listing.ts
Labels: pkg:docmanager, pkg:filebrowser, type:Bug

#4313 Fix theme for stdin prompt.
  packages/outputarea/style/index.css
Labels: pkg:outputarea, tag:Design and UX

#4284 tied up details of team webpage on docs index and readme link
  README.md
  docs/source/index.rst
Labels: status:Needs Review, tag:Documentation

#4342 Use an absolute URL for the logo.
  docs/source/_static/custom.css
  docs/source/_static/jupyter_logo.svg
  docs/source/_templates/breadcrumbs.html
Labels: tag:Documentation

#4346 One more try to correctly link to a static image [ci skip].
  docs/source/_templates/breadcrumbs.html
Labels: tag:Documentation

#4335 Allow Object type for option mode in CodeMirrorEditor.IOption
  packages/codemirror/src/editor.ts
  packages/codemirror/src/mode.ts
Labels: pkg:codemirror, type:Bug

#4367 Typings should not be in dependencies.
  buildutils/src/ensure-repo.ts
  packages/apputils/package.json
Labels: pkg:apputils, type:Bug

#4386 Restore typings to apputils dependencies.
  buildutils/src/ensure-repo.ts
  packages/apputils/package.json
Labels: tag:Build System, tag:Extensions, type:Maintenance

#4401 Add 0.32 release notes.
  CHANGELOG.md
Labels: tag:Documentation

#4426 Typo Github -> GitHub
  docs/source/developer/xkcd_extension_tutorial.rst
Labels: tag:Documentation

#4432 Update codemirror from 5.35.0 to 5.37.0
  dev_mode/package.json
  packages/codemirror-extension/package.json
  packages/codemirror/package.json
  yarn.lock
Labels: pkg:codemirror, type:Enhancement

#4446 Cycle colors for completer type annotations.
  packages/completer/src/widget.ts
Labels: pkg:completer, tag:Design and UX, type:Bug

#4445 Solarized themes for text editor
  packages/codemirror-extension/src/index.ts
  packages/codemirror/style/index.css
Labels: pkg:codemirror, type:Enhancement

#4466 Include link to Angular extension guide in docs
  docs/source/developer/extension_dev.rst
Labels: tag:Documentation, tag:Extensions

#4482 Use the right id for the launcher replacement.
  packages/launcher-extension/src/index.ts
Labels: pkg:apputils, type:Bug
