Repository jupyterlab/jupyterlab, pull requests merged in 2019-01, with the labels that each got.

#5824 Updated xkcd tutorial for correct change emphasis
  docs/source/developer/xkcd_extension_tutorial.rst
Labels: tag:Documentation

#5834 Add docstring for mergeReplies method.
  packages/completer/src/connector.ts
Labels: pkg:completer, tag:Documentation

#5830 Account for tree URLs when there is a workspace collision.
  packages/apputils-extension/src/index.ts
Labels: type:Bug

#5695 add 'name' flag to workspaces import CLI
  jupyterlab/labapp.py
Labels: pkg:application, type:Enhancement

#5769 Allow keyboard to trigger toolbar button action
  packages/apputils/src/toolbar.tsx
  tests/test-apputils/src/toolbar.spec.ts
Labels: pkg:apputils, tag:Accessibility

#5820 Clean up schemas, setting editor toolbar.
  packages/apputils-extension/schema/themes.json
  packages/console-extension/schema/tracker.json
  packages/coreutils/src/settingregistry.ts
  packages/filebrowser-extension/schema/browser.json
  packages/fileeditor-extension/schema/plugin.json
  packages/settingeditor/style/settingeditor.css
Labels: pkg:settingeditor, tag:Settings

#5846 Pin pytest until we can update pytest-link-check
  setup.py
Labels: type:Maintenance

#5727 CSV fragment
  packages/csvviewer/src/widget.ts
Labels: pkg:csvviewer, type:Enhancement

#5585 Drag drop console cells into notebook
  examples/notebook/package.json
  packages/cells/package.json
  packages/cells/src/celldragutils.ts
  packages/cells/src/index.ts
  packages/console/package.json
  packages/console/src/widget.ts
  packages/console/style/index.css
Labels: pkg:console, type:Enhancement

#5882 Fix bug output view not closing with associated window
  packages/notebook-extension/src/index.ts
Labels: pkg:notebook, type:Bug

#5761 Code folding
  packages/codeeditor/src/editor.ts
  packages/codemirror/src/editor.ts
  packages/codemirror/style/index.css
  packages/fileeditor-extension/schema/plugin.json
  packages/notebook-extension/schema/tracker.json
  scripts/appveyor.cmd
Labels: pkg:codeeditor, pkg:codemirror, pkg:notebook, tag:Settings, type:Enhancement

#5776 Simplify inspector.
  CONTRIBUTING.md
  README.md
  docs/source/developer/xkcd_extension_tutorial.rst
  packages/inspector-extension/package.json
  packages/inspector-extension/src/index.ts
  packages/inspector-extension/src/manager.ts
  packages/inspector-extension/tsconfig.json
  packages/inspector/src/handler.ts
  packages/inspector/src/inspector.ts
  packages/inspector/style/index.css
  packages/launcher/src/index.tsx
  packages/mainmenu-extension/package.json
  packages/mainmenu-extension/src/index.ts
  packages/mainmenu-extension/tsconfig.json
  packages/settingeditor/src/inspector.ts
  packages/settingeditor/style/settingeditor.css
  packages/theme-dark-extension/style/icons/md/baseline-web-24px.svg
  packages/theme-dark-extension/style/urls.css
  packages/theme-light-extension/style/icons/md/baseline-web-24px.svg
  packages/theme-light-extension/style/urls.css
  tests/test-inspector/src/inspector.spec.ts
Labels: pkg:inspector, type:Maintenance

#5853 When a session is disposed, also unset any busy status.
  packages/apputils/src/clientsession.tsx
Labels: pkg:apputils, type:Bug

#5907 Once more with carriage returns
  packages/outputarea/src/model.ts
  tests/test-outputarea/src/model.spec.ts
Labels: pkg:outputarea, type:Bug

#5904 Update launcher on specs change
  packages/console-extension/package.json
  packages/console-extension/src/index.ts
  packages/filebrowser/src/listing.ts
  packages/help-extension/src/index.tsx
  packages/launcher/src/index.tsx
  packages/notebook-extension/package.json
  packages/notebook-extension/src/index.ts
  packages/running/src/index.tsx
Labels: pkg:filebrowser, pkg:launcher, pkg:running, type:Bug

#5829 Allow registering additional CodeMirror mode loaders
  packages/codemirror/src/mode.ts
  tests/test-codemirror/package.json
  tests/test-codemirror/src/mode.spec.ts
Labels: pkg:codemirror, type:Enhancement

#5812 Add list of commands to keyboard shortcut description.
  packages/shortcuts-extension/src/index.ts
Labels: pkg:shortcuts

#5855 Html viewer
  dev_mode/package.json
  packages/apputils/src/iframe.ts
  packages/help-extension/src/index.tsx
  packages/htmlviewer-extension/README.md
  packages/htmlviewer-extension/package.json
  packages/htmlviewer-extension/src/index.tsx
  packages/htmlviewer-extension/style/html5-icon.svg
  packages/htmlviewer-extension/style/index.css
  packages/htmlviewer-extension/tdoptions.json
  packages/htmlviewer-extension/tsconfig.json
  packages/htmlviewer/README.md
  packages/htmlviewer/package.json
  packages/htmlviewer/src/index.tsx
  packages/htmlviewer/style/index.css
  packages/htmlviewer/tdoptions.json
  packages/htmlviewer/tsconfig.json
  packages/metapackage/package.json
  packages/metapackage/tsconfig.json
  tests/test-apputils/src/iframe.spec.ts
Labels: pkg:apputils

#5758 Find Editor widgets
  packages/docmanager-extension/src/index.ts
  packages/docmanager/src/manager.ts
  tests/test-docmanager/src/manager.spec.ts
Labels: pkg:docmanager, type:Bug

#5845 Create JupyterFrontEnd class.
  buildutils/src/create-theme.ts
  dev_mode/webpack.config.js
  docs/source/developer/extension_dev.rst
  docs/source/developer/notebook.rst
  docs/source/developer/xkcd_extension_tutorial.rst
  jupyterlab/extension.py
  jupyterlab/labapp.py
  jupyterlab/staging/webpack.config.js
  packages/application-extension/src/index.tsx
  packages/application/src/frontend.ts
  packages/application/src/index.ts
  packages/application/src/lab.ts
  packages/application/src/layoutrestorer.ts
  packages/application/src/mimerenderers.ts
  packages/application/src/shell.ts
  packages/application/src/status.ts
  packages/application/style/index.css
  packages/apputils-extension/src/index.ts
  packages/apputils-extension/src/palette.ts
  packages/codemirror-extension/src/index.ts
  packages/completer-extension/src/index.ts
  packages/console-extension/src/foreign.ts
  packages/console-extension/src/index.ts
  packages/coreutils/src/pageconfig.ts
  packages/csvviewer-extension/src/index.ts
  packages/docmanager-extension/src/index.ts
  packages/docregistry/src/registry.ts
  packages/extensionmanager-extension/src/index.ts
  packages/faq-extension/src/index.ts
  packages/filebrowser-extension/src/index.ts
  packages/fileeditor-extension/src/index.ts
  packages/help-extension/src/index.tsx
  packages/htmlviewer-extension/src/index.tsx
  packages/imageviewer-extension/src/index.ts
  packages/inspector-extension/src/index.ts
  packages/launcher-extension/src/index.ts
  packages/mainmenu-extension/src/index.ts
  packages/markdownviewer-extension/src/index.ts
  packages/mathjax2-extension/src/index.ts
  packages/notebook-extension/src/index.ts
  packages/rendermime-extension/src/index.ts
  packages/running-extension/src/index.ts
  packages/settingeditor-extension/src/index.ts
  packages/shortcuts-extension/src/index.ts
  packages/statusbar-extension/src/index.ts
  packages/tabmanager-extension/src/index.ts
  packages/terminal-extension/src/index.ts
  packages/theme-dark-extension/src/index.ts
  packages/theme-light-extension/src/index.ts
  packages/tooltip-extension/src/index.ts
  tests/test-application/src/layoutrestorer.spec.ts
  tests/test-application/src/shell.spec.ts
Labels: pkg:application, pkg:apputils, pkg:attachments, pkg:cells, pkg:codeeditor, pkg:codemirror, pkg:completer, pkg:console, pkg:coreutils, pkg:csvviewer, pkg:dataregistry, pkg:docmanager, pkg:docregistry, pkg:extensionmanager, pkg:faq, pkg:filebrowser, pkg:fileeditor, pkg:help, pkg:iframe, pkg:imageviewer, pkg:inspector, pkg:javascript, pkg:json, pkg:launcher, pkg:mainmenu, pkg:markdownviewer, pkg:mathjax2, pkg:notebook, pkg:observables, pkg:outputarea, pkg:pdf, pkg:rendermime, pkg:running, pkg:services, pkg:settingeditor, pkg:shortcuts, pkg:statusbar, pkg:tabmanager, pkg:terminal, pkg:themes, pkg:tooltip, pkg:ui-components, pkg:vdom, pkg:vega

#5918 Use `MarkdownDocument` as document widget for `MarkdownViewer`.
  packages/markdownviewer/src/widget.ts
Labels: pkg:markdownviewer, type:Bug

#5880 Fix navigate behavior
  packages/filebrowser-extension/src/index.ts
Labels: pkg:filebrowser, type:Bug

#5919 JupyterFrontend cleanup
  docs/source/developer/extension_dev.rst
  docs/source/developer/notebook.rst
  packages/docmanager-extension/src/index.ts
  packages/services/README.md
  packages/settingeditor/src/inspector.ts
Labels: pkg:docmanager, pkg:settingeditor, tag:Documentation, type:Bug

#5916 Remove initialCommand from args of terminal creation.
  packages/terminal-extension/src/index.ts
Labels: pkg:terminal

#5917 Start a new terminal if connecting to an old one fails.
  packages/console-extension/src/index.ts
  packages/terminal-extension/src/index.ts
Labels: pkg:terminal, type:Bug

#5922 Update xterm.js to 3.10.1
  dev_mode/package.json
  jupyterlab/staging/package.json
  packages/terminal/package.json
  packages/terminal/src/widget.ts
  packages/terminal/src/xterm.d.ts
  yarn.lock
Labels: pkg:terminal
