Repository jupyterlab/jupyterlab, pull requests merged in 2019-10, with the labels that each got.

#7274 fixes #7141 : display proper error message for non utf-8 files
  packages/docregistry/src/context.ts
Labels: pkg:docregistry, type:Bug

#7276 fix terminal-extension lint error
  packages/terminal-extension/src/index.ts
Labels: pkg:terminal, type:Bug

#7277 Remove unused side parameter
  packages/application/src/shell.ts
Labels: pkg:application, type:Maintenance

#7249 Add comment when using custom yarn registry
  docs/source/user/extensions.rst
Labels: tag:Documentation

#7280 Doc dependencies in environment.yml, closes
  docs/environment.yml
Labels: tag:Documentation, type:Bug

#7278 Add support for rank to the top area
  packages/application/src/shell.ts
  tests/test-application/package.json
  tests/test-application/src/shell.spec.ts
Labels: pkg:application, tag:Extensions, type:Enhancement

#7290 Log Console enhancements
  packages/logconsole-extension/src/index.tsx
  packages/logconsole/src/index.ts
  packages/logconsole/src/tokens.ts
  packages/logconsole/src/widget.ts
Labels: Still Needs Manual Backport

#7300 Fix ensure-buildutils.js: rebuilds correctly on changes, runs pre integrity
  buildutils/src/ensure-package.ts
  package.json
  scripts/ensure-buildutils.js
Labels: tag:Build System, type:Bug

#7304 Remove datagrid as a singleton
  dev_mode/package.json
Labels: tag:Build System, type:Bug

#7316 Fix Safari multiple tabs by working around a Safari bug.
  packages/apputils/src/windowresolver.ts
Labels: tag:Backport, tag:Backwards compatible

#7311 Skip custom click behavior on links when the download attribute is set
  packages/rendermime-extension/src/index.ts
  packages/rendermime-interfaces/src/index.ts
Labels: tag:Backport, tag:Backwards compatible

#7326 Update marked to 0.7.0
  packages/rendermime/package.json
  yarn.lock
Labels: tag:Backport

#7177 Added the Selection of cells till Top and Bottom
  examples/notebook/src/commands.ts
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/actions.tsx
  tests/test-notebook/src/actions.spec.ts
Labels: tag:Backport

#7337 Backport PR #7333 on branch 1.x (Fix project name typo)
  design/real_time_collab.md
  docs/source/user/extensions.rst
Labels: tag:Documentation

#7341 [Docs] Add table of contents in 'Common Extension Points'
  docs/source/developer/extension_points.rst
Labels: tag:Documentation, tag:Extensions

#7331 Add changelog for 1.2
  docs/source/getting_started/changelog.rst
  scripts/milestone_check.py
Labels: tag:Backport, tag:Documentation

#7367 Added hash to the csv delimiter types
  packages/csvviewer/src/toolbar.ts
Labels: pkg:csvviewer

#7378 documentation update: better overview about contributing
  docs/source/developer/contributing.rst
  docs/source/index.rst
Labels: tag:Documentation

#7401 Fixed Multicursor backspacing
  packages/codemirror/src/editor.ts
Labels: pkg:codemirror, type:Enhancement

#7406 Implement log console levels
  dev_mode/package.json
  packages/apputils/src/toolbar.tsx
  packages/coreutils/src/interfaces.ts
  packages/logconsole-extension/package.json
  packages/logconsole-extension/src/index.tsx
  packages/logconsole-extension/src/nboutput.ts
  packages/logconsole-extension/src/status.tsx
  packages/logconsole-extension/style/base.css
  packages/logconsole-extension/tsconfig.json
  packages/logconsole/package.json
  packages/logconsole/src/logger.ts
  packages/logconsole/src/registry.ts
  packages/logconsole/src/tokens.ts
  packages/logconsole/src/widget.ts
  packages/logconsole/style/base.css
  packages/outputarea/src/widget.ts
  tests/test-logconsole/babel.config.js
  tests/test-logconsole/jest.config.js
  tests/test-logconsole/package.json
  tests/test-logconsole/run.py
  tests/test-logconsole/src/logger.spec.ts
  tests/test-logconsole/src/registry.spec.ts
  tests/test-logconsole/src/widget.spec.ts
  tests/test-logconsole/tsconfig.json
Labels: tag:Backport

#7417 Added split-cell multicursor
  packages/notebook/src/actions.tsx
Labels: pkg:codemirror, type:Enhancement
