Repository jupyterlab/jupyterlab, pull requests merged in 2019-04, with the labels that each got.

#6057 Update react and react-dom to let extensions use React hooks
  dev_mode/package.json
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
  packages/application-extension/package.json
  packages/apputils/package.json
  packages/cells/package.json
  packages/codemirror/package.json
  packages/docmanager/package.json
  packages/documentsearch/package.json
  packages/extensionmanager/package.json
  packages/filebrowser/package.json
  packages/fileeditor/package.json
  packages/help-extension/package.json
  packages/htmlviewer/package.json
  packages/json-extension/package.json
  packages/launcher/package.json
  packages/notebook/package.json
  packages/running/package.json
  packages/settingeditor/package.json
  packages/statusbar-extension/package.json
  packages/statusbar/package.json
  packages/ui-components/package.json
  packages/vdom-extension/package.json
  tests/package.json
  tests/test-apputils/package.json
  yarn.lock
Labels: pkg:vdom, tag:Pre-Release, type:Maintenance

#6117 Change "the next-generation ... interface" to "a next-generation ... interface"
  docs/source/getting_started/overview.rst
Labels: tag:Documentation, tag:Pre-Release

#6156 Remove out-of-date git hooks.
  git-hooks/README.md
  git-hooks/install-hooks.sh
  git-hooks/post-checkout
  git-hooks/post-merge
Labels: tag:Pre-Release, type:Maintenance

#6154 Remove file
  tests/test-notebook/Untitled.ipynb
Labels: tag: Testing, type:Maintenance

#6126 Don't set execution count on markdown cells.
  packages/notebook/src/actions.tsx
Labels: pkg:notebook, tag:Pre-Release, type:Bug

#6094 Add tab navigation to the search box
  packages/documentsearch/src/searchoverlay.tsx
  packages/documentsearch/style/index.css
Labels: tag:Pre-Release

#6114 DOC: add tips and tricks
  docs/source/getting_started/faq.rst
Labels: tag:Documentation, tag:Pre-Release

#5920 Improve tab icons in left panel
  packages/application/style/icons.css
  packages/running-extension/src/index.ts
  packages/theme-dark-extension/style/icons/md/ic_directions_run_24px.svg
  packages/theme-dark-extension/style/icons/md/stop-circle.svg
  packages/theme-dark-extension/style/urls.css
  packages/theme-light-extension/style/icons/md/ic_directions_run_24px.svg
  packages/theme-light-extension/style/icons/md/stop-circle.svg
  packages/theme-light-extension/style/urls.css
Labels: pkg:themes, tag:Design and UX, tag:Pre-Release

#6026 Universal (nearly) scrollbar styling
  packages/application/style/scrollbar.css
  packages/apputils-extension/schema/themes.json
  packages/apputils-extension/src/index.ts
  packages/apputils/src/thememanager.ts
  packages/theme-dark-extension/src/index.ts
  packages/theme-dark-extension/style/variables.css
  packages/theme-light-extension/src/index.ts
Labels: pkg:application, tag:Design and UX, tag:Pre-Release, type:Enhancement

#6050 Clean up ui-components styles
  packages/apputils/style/commandpalette.css
  packages/extensionmanager/style/index.css
  packages/theme-dark-extension/style/variables.css
  packages/theme-light-extension/style/variables.css
  packages/ui-components/style/index.css
Labels: pkg:ui-components, tag:Design and UX, tag:Pre-Release

#6155 Update search match colors in notebook and text document
  packages/codemirror-extension/schema/commands.json
  packages/codemirror/src/editor.ts
  packages/codemirror/style/index.css
  packages/theme-dark-extension/style/variables.css
  packages/theme-light-extension/style/variables.css
Labels: tag:Design and UX, tag:Pre-Release

#5964 Inherit terminal theme from lab theme
  docs/source/developer/adding_content.rst
  packages/terminal-extension/package.json
  packages/terminal-extension/schema/plugin.json
  packages/terminal-extension/src/index.ts
  packages/terminal/src/widget.ts
  packages/terminal/style/index.css
  packages/theme-dark-extension/style/variables.css
  tests/test-terminal/src/terminal.spec.ts
Labels: pkg:terminal, pkg:themes, tag:Design and UX

#5968 Managing notebook metadata
  examples/cell/src/index.ts
  packages/apputils/src/collapse.ts
  packages/apputils/src/index.ts
  packages/apputils/src/instancetracker.ts
  packages/apputils/style/collapse.css
  packages/apputils/style/index.css
  packages/cells/src/collapser.tsx
  packages/cells/src/model.ts
  packages/cells/src/widget.ts
  packages/codeeditor/src/jsoneditor.ts
  packages/codeeditor/style/index.css
  packages/console/src/widget.ts
  packages/coreutils/src/nbformat.ts
  packages/docmanager-extension/src/index.ts
  packages/mainmenu-extension/src/index.ts
  packages/mainmenu/src/file.ts
  packages/notebook-extension/src/index.ts
  packages/notebook/src/actions.tsx
  packages/notebook/src/index.ts
  packages/notebook/src/notebooktools.ts
  packages/notebook/src/tracker.ts
  packages/notebook/src/widget.ts
  packages/notebook/style/index.css
  packages/observables/src/observablejson.ts
  packages/observables/src/observablemap.ts
  packages/theme-light-extension/style/icons/md/caretdown.svg
  tests/test-cells/package.json
  tests/test-cells/src/model.spec.ts
  tests/test-cells/src/widget.spec.ts
  tests/test-codeeditor/src/jsoneditor.spec.ts
  tests/test-console/package.json
  tests/test-console/src/foreign.spec.ts
  tests/test-console/src/widget.spec.ts
  tests/test-csvviewer/package.json
  tests/test-docmanager/package.json
  tests/test-filebrowser/package.json
  tests/test-mainmenu/src/file.spec.ts
  tests/test-notebook/package.json
  tests/test-notebook/src/actions.spec.ts
  tests/test-notebook/src/notebooktools.spec.ts
  tests/test-observables/src/observablejson.spec.ts
  tests/test-observables/src/observablemap.spec.ts
  tests/test-rendermime/package.json
  tests/test-terminal/package.json
Labels: pkg:notebook, tag:Design and UX, tag:Pre-Release

#6171 Make sure `node` exists when traversing up the DOM tree.
  packages/application/src/frontend.ts
Labels: pkg:application, tag:Pre-Release, type:Bug

#6172 Update my affiliation.
  README.md
Labels: type:Maintenance

#6082 Added CSS selector descriptions
  docs/source/developer/css.rst
Labels: tag:Pre-Release

#6173 Use @typeparam in docstrings for front end and connectors.
  packages/application/src/frontend.ts
  packages/coreutils/src/dataconnector.ts
  packages/coreutils/src/interfaces.ts
Labels: pkg:application, pkg:coreutils, tag:Documentation

#6153 CodeMirror gutter restyling
  packages/codemirror/style/index.css
Labels: pkg:codemirror, tag:Design and UX, tag:Pre-Release

#6141 Add Poll class, fix some tests, throttle polling.
  packages/apputils/src/dialog.ts
  packages/codemirror/src/editor.ts
  packages/coreutils/src/index.ts
  packages/coreutils/src/pageconfig.ts
  packages/coreutils/src/poll.ts
  packages/coreutils/src/settingregistry.ts
  packages/coreutils/src/url.ts
  packages/running/src/index.tsx
  packages/services/src/kernel/manager.ts
  packages/services/src/manager.ts
  packages/services/src/serverconnection.ts
  packages/services/src/session/manager.ts
  packages/services/src/terminal/manager.ts
  packages/statusbar/src/defaults/memoryUsage.tsx
  tests/test-apputils/src/clientsession.spec.ts
  tests/test-apputils/src/dialog.spec.tsx
  tests/test-completer/src/widget.spec.ts
  tests/test-console/src/panel.spec.ts
  tests/test-console/src/widget.spec.ts
  tests/test-coreutils/src/poll.spec.ts
  tests/test-csvviewer/src/widget.spec.ts
  tests/test-docmanager/src/manager.spec.ts
  tests/test-docmanager/src/savehandler.spec.ts
  tests/test-docmanager/src/widgetmanager.spec.ts
  tests/test-docregistry/src/context.spec.ts
  tests/test-docregistry/src/default.spec.ts
  tests/test-filebrowser/src/crumbs.spec.ts
  tests/test-filebrowser/src/model.spec.ts
  tests/test-fileeditor/src/widget.spec.ts
  tests/test-imageviewer/src/widget.spec.ts
  tests/test-rendermime/src/factories.spec.ts
  tests/test-rendermime/src/registry.spec.ts
  tests/test-services/src/kernel/manager.spec.ts
  tests/test-services/src/manager.spec.ts
  tests/test-services/src/session/manager.spec.ts
  tests/test-services/src/terminal/manager.spec.ts
  testutils/src/index.ts
  testutils/src/jest-config.ts
  testutils/src/jest-shim.ts
Labels: pkg:apputils, pkg:coreutils, pkg:running, pkg:services, tag: Testing, tag:API Change, tag:Pre-Release

#6159 Add Find and Replace for notebooks and text files
  packages/codemirror/src/editor.ts
  packages/csvviewer-extension/src/searchprovider.ts
  packages/documentsearch/src/interfaces.ts
  packages/documentsearch/src/providers/codemirrorsearchprovider.ts
  packages/documentsearch/src/providers/notebooksearchprovider.ts
  packages/documentsearch/src/searchinstance.ts
  packages/documentsearch/src/searchoverlay.tsx
  packages/documentsearch/style/index.css
  packages/theme-dark-extension/style/icons/jupyter/search_arrow_down.svg
  packages/theme-dark-extension/style/icons/jupyter/search_arrow_up.svg
  packages/theme-dark-extension/style/icons/jupyter/search_case_sensitive.svg
  packages/theme-dark-extension/style/icons/jupyter/search_regex.svg
  packages/theme-dark-extension/style/variables.css
  packages/theme-light-extension/style/icons/jupyter/search_arrow_down.svg
  packages/theme-light-extension/style/icons/jupyter/search_arrow_up.svg
  packages/theme-light-extension/style/icons/jupyter/search_case_sensitive.svg
  packages/theme-light-extension/style/icons/jupyter/search_regex.svg
  packages/theme-light-extension/style/variables.css
Labels: tag:Pre-Release

#6189 Update webpack
  .gitignore
  buildutils/package.json
  dev_mode/package.json
  examples/app/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/filebrowser/package.json
  examples/notebook/package.json
  examples/terminal/package.json
  packages/services/examples/browser/package.json
  packages/services/examples/typescript-browser-with-output/package.json
  packages/services/package.json
  tests/package.json
  tests/test-csvviewer/src/model.spec.ts
  tests/test-rendermime/src/factories.spec.ts
  yarn.lock
Labels: tag:Pre-Release

#6186 Update Poll#schedule() semantics.
  packages/coreutils/src/poll.ts
  tests/test-coreutils/src/poll.spec.ts
Labels: pkg:coreutils, type:Enhancement

#6191 Unpin yet again
  setup.py
  tests/test-application/src/shell.spec.ts
  tests/test-apputils/src/clientsession.spec.ts
  tests/test-codeeditor/src/editor.spec.ts
Labels: tag: Testing, tag:Pre-Release

#6059 Fix restart and run all for text files with a code console.
  packages/fileeditor-extension/src/index.ts
Labels: pkg:fileeditor, tag:Pre-Release, type:Bug

#6192 Fix logic bug in poll promise/signal sync.
  packages/coreutils/src/poll.ts
  tests/test-coreutils/src/poll.spec.ts
Labels: pkg:coreutils, tag:Pre-Release, type:Bug

#6193 Convert from uglifyjs to terser for js minification.
  dev_mode/package.json
  dev_mode/webpack.prod.config.js
  jupyterlab/staging/package.json
  jupyterlab/staging/webpack.prod.config.js
  yarn.lock
Labels: tag:Pre-Release

#6194 Error on build problem
  jupyterlab/commands.py
Labels: tag:Build System, type:Bug

#6052 Move generic tab commands from docmanager to application
  packages/application-extension/package.json
  packages/application-extension/schema/main.json
  packages/application-extension/src/index.tsx
  packages/application/src/shell.ts
  packages/docmanager-extension/schema/plugin.json
  packages/docmanager-extension/src/index.ts
  packages/mainmenu-extension/src/index.ts
  packages/notebook-extension/src/index.ts
  packages/vdom-extension/src/index.ts
Labels: pkg:application, pkg:docmanager, type:Enhancement

#6220 Add note for Windows users about path length
  docs/source/user/extensions.rst
Labels: tag:Documentation, tag:Extensions

#6224 Update Typescript target to es2017
  tsconfigbase.json
Labels: status:Needs Discussion

#6221 Add a dialog for an nbformat conversion
  packages/notebook/src/model.ts
  tests/test-notebook/src/model.spec.ts
  testutils/src/notebook-utils.ts
Labels: pkg:notebook, tag:Feature Parity, type:Enhancement

#6240 Support symlinked app directory
  jupyterlab/commands.py
  scripts/travis_script.sh
Labels: status:Needs Review

#6219 Switch to esnext imports
  README.md
  buildutils/tsconfig.json
  packages/coreutils/tsconfig.json
  packages/rendermime/src/renderers.ts
  packages/services/tsconfig.json
  packages/terminal-extension/src/index.ts
  packages/vega5-extension/src/index.ts
  tests/convert-to-jest.js
  tests/karma-cov.conf.js
  tests/package.json
  tests/test-application/babel.config.js
  tests/test-apputils/babel.config.js
  tests/test-cells/babel.config.js
  tests/test-codeeditor/babel.config.js
  tests/test-codemirror/babel.config.js
  tests/test-completer/babel.config.js
  tests/test-coreutils/babel.config.js
  tests/test-docregistry/babel.config.js
  tests/test-fileeditor/babel.config.js
  tests/test-imageviewer/babel.config.js
  tests/test-inspector/babel.config.js
  tests/test-mainmenu/babel.config.js
  tests/test-observables/babel.config.js
  tests/test-outputarea/babel.config.js
  tests/test-services/babel.config.js
  tests/test-statusbar/babel.config.js
  testutils/src/babel.config.ts
  testutils/src/jest-config.ts
  testutils/tsconfig.json
  tsconfigbase.json
  yarn.lock
Labels: tag:Build System, type:Enhancement

#6241 Fix re-focus on ctrl+f when search overlay is already open
  packages/documentsearch/src/searchinstance.ts
  packages/documentsearch/src/searchoverlay.tsx
Labels: pkg:documentsearch, tag:Search and Replace, type:Bug

#6262 New markdown reference plays nicely with iframes
  packages/help-extension/src/index.tsx
Labels: pkg:help

#6234 Update workspaces to automatically resolve.
  packages/application/src/router.ts
  packages/apputils-extension/src/index.ts
  packages/apputils-extension/src/redirect.ts
  packages/coreutils/src/url.ts
  packages/filebrowser-extension/src/index.ts
Labels: pkg:filebrowser, type:Bug

#6276 Allow passing "-" as a file to jupyter workspaces import
  jupyterlab/labapp.py
Labels: Tag:workspaces, tag:Server Change, type:Enhancement

#6264 Fix PDF scroll position on Firefox.
  packages/pdf-extension/src/index.ts
Labels: pkg:pdf, tag:Browser Compatibility, type:Bug
