Repository jupyterlab/jupyterlab, pull requests merged in 2019-05, with the labels that each got.

#6292 Prevent tooltip flicker in Safari.
  packages/tooltip/src/widget.ts
Labels: pkg:tooltip, type:Bug

#6287 Opening console from fileeditor context menu and from tab context menu not coherent
  packages/fileeditor-extension/src/index.ts
  packages/notebook-extension/package.json
  packages/notebook-extension/src/index.ts
Labels: pkg:fileeditor, pkg:notebook

#6288 Refractor updating notebook settings for opened widgets
  packages/notebook-extension/src/index.ts
  packages/notebook/src/panel.ts
Labels: pkg:notebook

#6087 [WIP] Add logout button
  packages/mainmenu-extension/src/index.ts
Labels: tag:Backwards compatible, tag:Design and UX

#6282 Remove deregisterProvider from SearchProviderRegistry interface
  packages/csvviewer-extension/src/index.ts
  packages/documentsearch-extension/package.json
  packages/documentsearch-extension/src/index.ts
  packages/documentsearch/src/searchproviderregistry.ts
Labels: pkg:documentsearch, type:Enhancement

#6294 Update Vega and Vega-Lite
  packages/vega5-extension/package.json
  yarn.lock
Labels: pkg:vega, type:Enhancement, type:Maintenance

#6299 Log out and Shut down are two words when used as verbs
  examples/filebrowser/src/index.ts
  packages/apputils/src/clientsession.tsx
  packages/console-extension/src/index.ts
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/listing.ts
  packages/mainmenu-extension/src/index.ts
  packages/notebook-extension/src/index.ts
  packages/running/src/index.tsx
Labels: tag:Design and UX

#6301 Remove notion of default search providers
  packages/documentsearch-extension/src/index.ts
  packages/documentsearch/src/searchproviderregistry.ts
Labels: pkg:documentsearch

#6304 Carriage return perf
  packages/cells/src/model.ts
  packages/outputarea/src/model.ts
Labels: pkg:outputarea, type:Bug

#6306 Set tab bar icon background size so SVGs of other sizes may be used.
  packages/application/style/tabs.css
Labels: pkg:application, tag:Design and UX

#6308 fixes issue #6296 markdown
  packages/rendermime/style/index.css
Labels: pkg:rendermime

#6311 Add a downloads/month badge from pypi
  README.md
Labels: tag:Documentation

#6321 Upgrade CodeMirror from 5.42.0 to 5.46.0
  dev_mode/package.json
  packages/codemirror-extension/package.json
  packages/codemirror/package.json
  packages/documentsearch/package.json
  tests/test-codemirror/package.json
  yarn.lock
Labels: pkg:codemirror

#6325 Fix "Rename CSV File"
  packages/docmanager-extension/src/index.ts
Labels: pkg:docmanager, type:Bug

#6297 More yarn deduplicating
  jupyterlab/commands.py
  jupyterlab/staging/yarn.lock
Labels: tag:Build System, tag:Extensions, type:Enhancement

#6327 Add input dialogs
  packages/apputils/src/index.ts
  packages/apputils/src/inputdialog.ts
  tests/test-apputils/src/inputdialog.spec.ts
Labels: pkg:apputils, type:Enhancement

#6305 Use new Poll class for filebrowser contents polling.
  packages/coreutils/src/poll.ts
  packages/filebrowser/src/model.ts
  tests/test-filebrowser/src/model.spec.ts
Labels: pkg:filebrowser

#6335 Default cell type
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/actions.tsx
  packages/notebook/src/model.ts
  packages/notebook/src/widget.ts
  tests/test-notebook/src/model.spec.ts
  tests/test-notebook/src/modelfactory.spec.ts
  tests/test-notebook/src/widget.spec.ts
Labels: pkg:notebook, status:Needs Discussion, tag:Design and UX, type:Enhancement

#6344 Feature/jp 6280 terminal appear twice
  packages/terminal-extension/src/index.ts
Labels: pkg:mainmenu, type:Bug

#6339 Handle disconnect messages from the terminal
  examples/terminal/src/index.ts
  packages/application/style/index.css
  packages/services/src/terminal/default.ts
  packages/terminal-extension/src/index.ts
  packages/terminal/src/constants.ts
  packages/terminal/src/widget.ts
  tests/convert-to-jest.js
  tests/test-services/src/terminal/terminal.spec.ts
  tests/test-terminal/run-test.py
  tests/test-terminal/src/terminal.spec.ts
Labels: pkg:terminal, type:Bug

#5850 Add support for printing widgets
  buildutils/src/utils.ts
  packages/apputils-extension/schema/print.json
  packages/apputils-extension/src/index.ts
  packages/apputils/src/index.ts
  packages/apputils/src/mainareawidget.ts
  packages/apputils/src/printing.ts
  packages/coreutils/src/pageconfig.ts
  packages/docregistry/src/mimedocument.ts
  packages/imageviewer/src/widget.ts
  packages/inspector/src/inspector.ts
  packages/json-extension/package.json
  packages/json-extension/src/index.tsx
  packages/json-extension/tsconfig.json
  packages/mainmenu-extension/src/index.ts
  packages/notebook-extension/src/index.ts
  packages/notebook/src/panel.ts
  yarn.lock
Labels: pkg:apputils, pkg:json, pkg:notebook, status:Needs Review, tag:Browser Compatibility, type:Enhancement

#6246 Notify the user when a notebook kernel autorestarts
  package.json
  packages/apputils/src/clientsession.tsx
  packages/apputils/src/toolbar.tsx
  packages/console/src/widget.ts
  packages/notebook/src/panel.ts
  packages/services/src/kernel/default.ts
  packages/services/src/kernel/kernel.ts
  tests/test-apputils/src/clientsession.spec.ts
  tests/test-apputils/src/toolbar.spec.ts
  tests/test-docregistry/src/mimedocument.spec.ts
  tests/test-services/src/contents/index.spec.ts
  tests/test-services/src/kernel/comm.spec.ts
  tests/test-services/src/kernel/ikernel.spec.ts
  tests/test-services/src/terminal/manager.spec.ts
  tests/test-services/src/workspace/manager.spec.ts
  testutils/src/index.ts
Labels: pkg:notebook, pkg:services, tag:Feature Parity

#6356 Skip collapsed cells when selecting
  packages/notebook/src/actions.tsx
  tests/test-notebook/src/actions.spec.ts
Labels: status:Needs Review

#6359 Turn on accessibility in xterm.js
  packages/terminal/src/constants.ts
  packages/terminal/src/widget.ts
Labels: pkg:terminal, tag:Accessibility, type:Enhancement

#6364 Delete session from Set on terminated
  packages/services/src/terminal/manager.ts
Labels: pkg:terminal, type:Bug

#6361 Add label for the default notebook toolbar
  packages/notebook/src/default-toolbar.tsx
Labels: pkg:notebook, tag:Accessibility, type:Enhancement

#6372 Clean up handling of launch assets
  docs/source/user/extensions.rst
  jupyterlab/commands.py
  jupyterlab/extension.py
  jupyterlab/handlers/__init__.py
  jupyterlab/handlers/build_handler.py
  jupyterlab/handlers/error_handler.py
  jupyterlab/handlers/extension_manager_handler.py
  jupyterlab/labapp.py
Labels: tag:Build System

#6338 Add metadata for core mode packages
  CONTRIBUTING.md
  buildutils/src/ensure-repo.ts
  dev_mode/package.json
  packages/application/package.json
  packages/coreutils/package.json
Labels: tag:Build System

#6200 Add a command to enable the extension manager
  packages/extensionmanager-extension/package.json
  packages/extensionmanager-extension/src/index.ts
  packages/extensionmanager-extension/tsconfig.json
Labels: pkg:extensionmanager

#6345 Clean coreutils package, add rate limiting utilities.
  examples/chrome-example-test.js
  examples/filebrowser/webpack.config.js
  packages/application/src/shell.ts
  packages/apputils-extension/src/index.ts
  packages/coreutils/src/activitymonitor.ts
  packages/coreutils/src/index.ts
  packages/coreutils/src/interfaces.ts
  packages/coreutils/src/poll.ts
  packages/coreutils/src/ratelimiter.ts
  packages/coreutils/src/statedb.ts
  packages/coreutils/src/tokens.ts
  packages/documentsearch/package.json
  packages/documentsearch/src/searchoverlay.tsx
  packages/documentsearch/tsconfig.json
  packages/services/src/terminal/manager.ts
  tests/test-application/src/layoutrestorer.spec.ts
  tests/test-coreutils/src/poll.spec.ts
  tests/test-coreutils/src/ratelimiter.spec.ts
  tests/test-coreutils/src/settingregistry.spec.ts
  tests/test-coreutils/src/statedb.spec.ts
  tests/test-filebrowser/src/model.spec.ts
Labels: Tag:Refactor, Tag:Workspaces, pkg:application, pkg:coreutils, pkg:services, tag:API Change, tag:Examples, type:Enhancement

#6391 Add smart copy/paste in terminal and update docs
  docs/source/user/terminal.rst
  packages/terminal-extension/schema/plugin.json
  packages/terminal/package.json
  packages/terminal/src/tokens.ts
  packages/terminal/src/widget.ts
Labels: pkg:terminal, type:Enhancement

#6060 Add a clone method to ABCWidgetFactory.
  packages/docmanager/src/widgetmanager.ts
  packages/docregistry/src/default.ts
  packages/docregistry/src/registry.ts
  tests/test-docmanager/src/manager.spec.ts
  tests/test-docregistry/src/default.spec.ts
Labels: pkg:docmanager, pkg:docregistry, type:Enhancement

#6270 [WIP] Provide a signal for opening items from a DirListing
  packages/filebrowser/src/listing.ts
Labels: pkg:filebrowser, type:Enhancement

#6401 Fix file browser model autostart, simplify poll start logic.
  buildutils/README.md
  docs/source/user/extensions.rst
  packages/coreutils/README.md
  packages/coreutils/src/activitymonitor.ts
  packages/coreutils/src/poll.ts
  packages/coreutils/src/ratelimiter.ts
  packages/coreutils/tsconfig.json
  packages/services/src/kernel/manager.ts
  packages/services/src/session/manager.ts
  packages/services/src/terminal/manager.ts
  tests/test-coreutils/src/poll.spec.ts
Labels: pkg:coreutils, pkg:filebrowser, type:Bug

#6399 Connection lost token
  packages/application-extension/src/index.tsx
  packages/application/src/connectionlost.ts
  packages/application/src/index.ts
  packages/application/src/router.ts
  packages/application/src/tokens.ts
  packages/extensionmanager-extension/src/index.ts
  packages/filebrowser/src/browser.ts
  packages/filebrowser/src/model.ts
  packages/services/src/kernel/kernel.ts
  packages/services/src/kernel/manager.ts
  packages/services/src/manager.ts
  packages/services/src/session/manager.ts
  packages/services/src/session/session.ts
  packages/services/src/terminal/manager.ts
  packages/services/src/terminal/terminal.ts
Labels: pkg:application, pkg:services, type:Enhancement

#6406 Hide the Last Modified column on a narrow filebrowser.
  packages/filebrowser/src/listing.ts
  packages/filebrowser/style/index.css
Labels: pkg:filebrowser, tag:Design and UX, type:Enhancement

#6407 Make selected command palette darker on hover
  packages/apputils/style/commandpalette.css
Labels: pkg:apputils, tag:Design and UX

#6409 More granular completion
  packages/codemirror/src/editor.ts
  packages/completer/src/handler.ts
  packages/completer/src/model.ts
  packages/completer/src/widget.ts
  tests/test-completer/src/handler.spec.ts
  tests/test-completer/src/model.spec.ts
Labels: pkg:completer, type:Bug

#6426 Audit innerHTML usage and sanitize inputs.
  packages/apputils/src/clientsession.tsx
  packages/javascript-extension/src/index.ts
  packages/mainmenu-extension/src/index.ts
  packages/outputarea/src/widget.ts
  packages/rendermime/src/renderers.ts
  packages/rendermime/src/widgets.ts
  packages/vega5-extension/src/index.ts
Labels: pkg:apputils, pkg:outputarea, pkg:rendermime, pkg:vega, type:Maintenance

#6312 Release maintenance cleanup
  .bumpversion.cfg
  .prettierignore
  RELEASE.md
  buildutils/src/bump-js-major.ts
  buildutils/src/bumpversion.ts
  buildutils/src/ensure-repo.ts
  buildutils/src/patch-release.ts
  buildutils/src/prepublish.ts
  buildutils/src/publish.ts
  buildutils/src/update-core-mode.ts
  buildutils/src/update-dist-tag.ts
  buildutils/src/utils.ts
  jupyterlab/_version.py
  package.json
  scripts/travis_script.sh
Labels: tag:DevOps, type:Enhancement

#6382 fix duplicate inspect message when typing
  packages/inspector/src/handler.ts
Labels: pkg:inspector

#6412 Rewrite Kernel Message typings and only clear cell execution prompt if needed
  packages/cells/src/widget.ts
  packages/outputarea/src/widget.ts
  packages/services/src/kernel/comm.ts
  packages/services/src/kernel/default.ts
  packages/services/src/kernel/future.ts
  packages/services/src/kernel/kernel.ts
  packages/services/src/kernel/messages.ts
  tests/test-cells/src/widget.spec.ts
  tests/test-console/src/history.spec.ts
  tests/test-services/src/kernel/comm.spec.ts
  tests/test-services/src/kernel/ifuture.spec.ts
  tests/test-services/src/kernel/ikernel.spec.ts
  tests/test-services/src/kernel/messages.spec.ts
  tests/test-services/src/kernel/validate.spec.ts
  tests/test-services/src/session/isession.spec.ts
  tests/test-services/src/utils.ts
Labels: pkg:cells

#6424 Allow Raises-exception
  packages/outputarea/src/widget.ts
  tests/test-outputarea/src/widget.spec.ts
Labels: pkg:notebook, tag:Feature Parity

#6437 PrepublishOnly integrity check
  buildutils/src/ensure-package.ts
  packages/mainmenu-extension/package.json
  packages/mainmenu/package.json
  packages/nbconvert-css/package.json
  packages/settingeditor/package.json
Labels: tag:DevOps, type:Maintenance

#6438 Update changelog to reflect 1.0a5 release, the good release.
  docs/source/getting_started/changelog.rst
Labels: tag:Documentation

#6444 Modified Markdown cells' overflow to "auto"
  packages/cells/style/widget.css
Labels: tag:Design and UX

#6414 Fix app example
  .eslintrc
  dev_mode/index.js
  dev_mode/webpack.config.js
  examples/app/index.js
  examples/app/main.py
  examples/app/package.json
  examples/app/templates/index.html
  examples/app/webpack.config.js
  examples/chrome-example-test.js
  examples/example_check.py
  examples/notebook/index.html
  examples/notebook/main.py
  jupyterlab/browser_check.py
  jupyterlab/chrome-test.js
  jupyterlab/commands.py
  jupyterlab/extension.py
  jupyterlab/staging/index.js
  jupyterlab/staging/webpack.config.js
  package.json
  packages/application-extension/src/index.tsx
  packages/application/src/frontend.ts
  packages/application/src/lab.ts
  packages/apputils-extension/src/index.ts
  packages/coreutils/src/pageconfig.ts
  packages/filebrowser-extension/src/index.ts
  scripts/travis_script.sh
  setup.py
Labels: pkg:application, status:Work in Progress, tag:DevOps, tag:Examples, tag:Server Change
