Repository jupyterlab/jupyterlab, pull requests merged in 2019-06, with the labels that each got.

#6447 Audit accel
  packages/console-extension/schema/tracker.json
  packages/help-extension/package.json
  packages/help-extension/schema/plugin.json
  packages/help-extension/src/index.tsx
  packages/mainmenu-extension/schema/plugin.json
  packages/mainmenu-extension/src/index.ts
  packages/terminal-extension/src/index.ts
Labels: pkg:shortcuts

#6450 More Examples Test Cleanup
  examples/example_check.py
  jupyterlab/browser_check.py
  jupyterlab/tests/test_app.py
Labels: tag:DevOps, tag:Examples

#6445 Release cleanup
  RELEASE.md
  buildutils/src/bump-js-major.ts
  buildutils/src/bumpversion.ts
  buildutils/src/prepublish-check.ts
  buildutils/src/publish.ts
  buildutils/src/utils.ts
  package.json
  scripts/travis_script.sh
  setup.cfg
  setup.py
Labels: tag:DevOps, type:Bug

#6467 Terminal opens on place. Fixes #6455.
  packages/terminal-extension/src/index.ts
Labels: pkg:terminal, type:Bug

#6468 Stop endless Firefox redirect.
  dev_mode/templates/template.html
  packages/application-extension/src/index.tsx
  packages/application/src/router.ts
  packages/application/src/tokens.ts
  packages/apputils-extension/src/index.ts
Labels: pkg:application, type:Bug

#6462 More release cleanup
  RELEASE.md
  buildutils/src/publish.ts
Labels: tag:DevOps, type:Maintenance

#6480 Do not wait for a console session to be ready before showing the console
  packages/console-extension/src/index.ts
Labels: pkg:console

#6484 Stop using py35 on Linux
  azure-pipelines.yml
Labels: tag:DevOps, type:Maintenance

#6473 Stop using base_url in workspace name.
  packages/apputils-extension/src/index.ts
  setup.py
Labels: Tag:Workspaces

#6500 Disable chunksSort in HtmlWebpackPlugin
  dev_mode/webpack.config.js
  jupyterlab/staging/webpack.config.js
Labels: tag:Build System

#6502 Only write to filebrowser listing text if the text would change
  packages/filebrowser/src/listing.ts
Labels: pkg:filebrowser

#6503 Make the DefaultSession own (create and dispose) its kernel connection.
  packages/services/src/session/default.ts
Labels: pkg:services

#6513 Don't append content in rendered output upon rerendering.
  packages/rendermime/src/widgets.ts
  tests/test-rendermime/src/factories.spec.ts
Labels: pkg:rendermime, type:Bug

#6519 Examples for vdom/vdom-extension
  examples/vdom/typing_slimes.gif
  examples/vdom/vdom-extension.vdom.json
  examples/vdom/vdom.ipynb
Labels: tag:Examples

#6524 Use JupyterLab's theme variables for UI component hover style.
  packages/ui-components/style/index.css
Labels: pkg:ui-components, tag:Design and UX

#6526 Remove bottom border for tabBar.
  packages/application/style/tabs.css
Labels: tag:Design and UX

#6548 Handle small tabs overflowing and preserve the border bridging for the active tab
  packages/application/style/tabs.css
Labels: pkg:application

#6552 Add home tooltip showing server root if available for user information.
  packages/filebrowser/src/crumbs.ts
Labels: pkg:filebrowser, tag:Design and UX

#6559 Render an empty widget if we don’t have a renderer for the mimebundle types.
  packages/outputarea/src/widget.ts
Labels: pkg:outputarea

#6558 fixes #6557
  packages/notebook/src/widget.ts
Labels: pkg:notebook, type:Bug

#6556 fixes #6439: underhang in highlighting of multiline selections
  packages/codemirror/style/base.css
  packages/theme-dark-extension/style/variables.css
  packages/theme-light-extension/style/variables.css
Labels: pkg:codemirror, type:Bug

#6553 Change the filebrowser home icon to a folder
  packages/filebrowser/src/crumbs.ts
Labels: pkg:filebrowser, tag:Design and UX

#6566 Move theme dataset attributes to the body element and namespace them
  packages/application-extension/src/index.tsx
  packages/application/src/shell.ts
  packages/application/style/scrollbar.css
  packages/apputils-extension/src/index.ts
  packages/notebook/style/status.css
  packages/rendermime/style/base.css
  packages/statusbar/style/base.css
Labels: pkg:themes

#6585 Lab config urls
  jupyterlab/extension.py
  jupyterlab/labapp.py
  scripts/travis_script.sh
Labels: Tag:Workspaces, type:Bug

#6587 Restyle the launcher, enable keyboard navigation
  packages/launcher/src/index.tsx
  packages/launcher/style/base.css
Labels: pkg:launcher

#6517 Fix dialog button UX
  packages/application-extension/src/index.tsx
  packages/application/src/connectionlost.ts
  packages/application/style/buttons.css
  packages/apputils/src/clientsession.tsx
  packages/apputils/src/dialog.ts
  packages/apputils/style/dialog.css
  packages/apputils/style/styling.css
  packages/docmanager/src/dialogs.ts
  packages/docregistry/src/context.ts
  packages/extensionmanager-extension/src/index.ts
  packages/extensionmanager/src/build-helper.tsx
  packages/filebrowser/src/browser.ts
  packages/filebrowser/src/listing.ts
  packages/filebrowser/src/model.ts
  packages/mainmenu-extension/src/index.ts
  packages/running/src/index.tsx
  packages/ui-components/style/base.css
  tests/test-apputils/src/dialog.spec.tsx
  tests/test-docmanager/src/savehandler.spec.ts
Labels: pkg:apputils, tag:Design and UX

#6599 Minor fixes to theme border colors.
  packages/launcher/style/base.css
  packages/theme-dark-extension/style/variables.css
Labels: pkg:themes, tag:Design and UX

#6625 Point to Jupyter docs landing page
  packages/help-extension/src/index.tsx
Labels: pkg:help, type:Enhancement

#6629 Fix terminal settings issues
  packages/terminal-extension/src/index.ts
Labels: pkg:terminal, type:Bug

#6644 Remove obsolete command use in application extension.
  packages/application-extension/src/index.tsx
Labels: type:Bug

#6630 Use stricter CSS selector for main area tab context menu so the commands don't show up elsewhere.
  packages/application-extension/src/index.tsx
Labels: pkg:application, type:Bug

#6628 Remove the FAQ extension
  buildutils/src/ensure-repo.ts
  dev_mode/imports.css
  dev_mode/package.json
  examples/app/package.json
  packages/faq-extension/README.md
  packages/faq-extension/faq.md
  packages/faq-extension/package.json
  packages/faq-extension/src/index.ts
  packages/faq-extension/style/base.css
  packages/faq-extension/style/index.css
  packages/faq-extension/tdoptions.json
  packages/faq-extension/tsconfig.json
  packages/help-extension/src/index.tsx
  packages/inspector/src/handler.ts
  packages/metapackage/package.json
  packages/metapackage/src/index.ts
  packages/metapackage/tsconfig.json
Labels: pkg:faq, type:Enhancement

#6653 Remove the settings editor bug icon and always display the error inspector
  packages/settingeditor-extension/schema/plugin.json
  packages/settingeditor-extension/src/index.ts
  packages/settingeditor/src/plugineditor.ts
  packages/settingeditor/src/raweditor.ts
  packages/settingeditor/src/settingeditor.tsx
Labels: tag:Settings

#6654 Adjust settings toolbar alignment
  packages/settingeditor/style/base.css
Labels: tag:Settings

#6665 Minor changes to the launcher card styling
  packages/launcher/style/base.css
Labels: pkg:launcher, tag:Design and UX, type:Enhancement

#6647 Add theme cookiecutter to the docs and release check-list
  RELEASE.md
  docs/source/developer/extension_dev.rst
Labels: tag:Documentation

#6669 Fix usage of bind in application busy status.
  packages/console-extension/src/index.ts
  packages/docmanager-extension/src/index.ts
Labels: pkg:application, type:Bug

#6672 More icon fixes
  packages/application/style/icons.css
  packages/apputils/style/commandpalette.css
  packages/notebook/src/default-toolbar.tsx
  packages/theme-dark-extension/style/icons/md/ic_filter_list_24px.svg
  packages/theme-dark-extension/style/urls.css
  packages/theme-light-extension/style/icons/md/ic_filter_list_24px.svg
  packages/theme-light-extension/style/urls.css
  packages/ui-components/style/base.css
Labels: tag:Design and UX, type:Bug

#6662 Add sphinx-copybutton extension.
  docs/environment.yml
  docs/source/conf.py
  scripts/travis_script.sh
  setup.py
Labels: tag:Documentation

#6676 Default screen reader mode on terminals to false
  packages/terminal-extension/schema/plugin.json
  packages/terminal/src/tokens.ts
Labels: pkg:terminal, type:Bug

#6544 Control
  packages/outputarea/src/widget.ts
  packages/services/src/kernel/comm.ts
  packages/services/src/kernel/default.ts
  packages/services/src/kernel/future.ts
  packages/services/src/kernel/kernel.ts
  packages/services/src/kernel/messages.ts
  tests/test-services/src/kernel/ifuture.spec.ts
  tests/test-services/src/kernel/ikernel.spec.ts
  tests/test-services/tsconfig.json
Labels: pkg:services, type:Enhancement

#6683 Center plugin listing alignment.
  packages/notebook/src/truststatus.tsx
  packages/settingeditor/style/base.css
  packages/statusbar/src/components/icon.tsx
  packages/statusbar/src/defaults/runningSessions.tsx
  packages/statusbar/src/style/icon.ts
  packages/statusbar/src/style/text.ts
Labels: pkg:settingeditor, pkg:statusbar, tag:Design and UX

#6678 move contextual help to the help menu
  packages/help-extension/package.json
  packages/help-extension/src/index.tsx
  packages/help-extension/style/index.css
  packages/help-extension/tsconfig.json
  packages/inspector-extension/src/index.ts
  packages/mainmenu-extension/package.json
  packages/mainmenu-extension/src/index.ts
  packages/mainmenu-extension/tsconfig.json
Labels: pkg:help, pkg:inspector

#6685 Prebuild vega utils and revert exporting CSS
  buildutils/src/ensure-package.ts
  buildutils/src/ensure-repo.ts
  dev_mode/package.json
  dev_mode/webpack.config.js
  jupyterlab/staging/package.json
  jupyterlab/staging/webpack.config.js
  package.json
  packages/vega4-extension/package.json
  packages/vega4-extension/src/built-vega-embed.d.ts
  packages/vega4-extension/src/index.ts
  packages/vega4-extension/webpack.config.js
  packages/vega5-extension/package.json
  packages/vega5-extension/src/built-vega-embed.d.ts
  packages/vega5-extension/src/index.ts
  packages/vega5-extension/webpack.config.js
  scripts/travis_script.sh
  yarn.lock
Labels: pkg:vega, tag:Build System

#6680 Update yarn.lock file
  packages/apputils/src/sanitizer.ts
  packages/coreutils/src/settingregistry.ts
  packages/coreutils/src/tokens.ts
  packages/documentsearch/src/searchinstance.ts
  packages/filebrowser/src/listing.ts
  packages/mathjax2/src/index.ts
  packages/notebook/src/panel.ts
  packages/notebook/src/truststatus.tsx
  packages/services/src/builder/index.ts
  packages/statusbar/src/defaults/memoryUsage.tsx
  yarn.lock
Labels: status:Needs Discussion

#6707 Update yarn.lock
  yarn.lock
Labels: type:Maintenance

#6598 Dev doc enhancements
  docs/source/developer/adding_content.rst
  docs/source/developer/css.rst
  docs/source/developer/dependency-graph.svg
  docs/source/developer/documents.rst
  docs/source/developer/extension_dev.rst
  docs/source/developer/extension_points.rst
  docs/source/developer/repo.rst
  docs/source/developer/terminology.rst
  docs/source/index.rst
  docs/source/user/jupyterhub.rst
Labels: tag:Documentation

#6713 clarify that cookiecutter is a Python tool
  docs/source/developer/css.rst
  docs/source/developer/xkcd_extension_tutorial.rst
Labels: tag:Documentation

#6700 fixes #6649 and #6698: Various build system regressions
  buildutils/src/ensure-repo.ts
  buildutils/src/index.ts
  buildutils/src/webpack-plugins.ts
  dev_mode/package.json
  dev_mode/webpack.config.js
  jupyterlab/staging/webpack.config.js
  tsconfigbase.json
Labels: tag:Build System, type:Bug

#6714 Build Vega bundles separately from other code
  package.json
  packages/vega4-extension/package.json
  packages/vega5-extension/package.json
  prebuild/vega4/package.json
  prebuild/vega4/webpack.config.js
  prebuild/vega4/yarn.lock
  prebuild/vega5/package.json
  prebuild/vega5/webpack.config.js
  prebuild/vega5/yarn.lock
  scripts/travis_script.sh
  yarn.lock
Labels: pkg:vega, tag:Build System
