Repository jupyterlab/jupyterlab, pull requests merged in 2019-08, with the labels that each got.

#6938 Adds yarn package resolution to build
  buildutils/src/ensure-repo.ts
  dev_mode/package.json
Labels: tag:Build System

#6943 Add lockbot configuration to lock inactive closed issues/prs after 30 days
  .github/lock.yml
Labels: tag:DevOps

#6949 Fix comm_info_request content to conform to spec in a backwards-compatible way
  packages/services/src/kernel/messages.ts
  tests/test-services/src/kernel/messages.spec.ts
Labels: pkg:services

#6961 Add @types/jest to extension testing doc
  docs/source/developer/extension_dev.rst
Labels: tag:Documentation, tag:Extensions

#6967 Updated CONTRIBUTING.MD
  CONTRIBUTING.md
  README.md
Labels: tag:Documentation

#6686 Fix downloads in Chrome with xsrf token
  packages/filebrowser/src/model.ts
  packages/services/src/contents/index.ts
Labels: status:Needs Info

#6987 Datastore codeeditor
  packages/cells/src/celldragutils.ts
  packages/cells/src/model.ts
  packages/cells/src/widget.ts
  packages/codeeditor/package.json
  packages/codeeditor/src/editor.ts
  packages/codeeditor/src/jsoneditor.ts
  packages/codeeditor/src/widget.ts
  packages/codeeditor/tsconfig.json
  packages/codemirror/package.json
  packages/codemirror/src/editor.ts
  packages/codemirror/src/syntaxstatus.tsx
  packages/codemirror/tsconfig.json
  packages/completer/package.json
  packages/completer/src/handler.ts
  packages/completer/tsconfig.json
  packages/console/package.json
  packages/console/src/foreign.ts
  packages/console/src/history.ts
  packages/console/src/widget.ts
  packages/console/tsconfig.json
  packages/datastore/src/index.ts
  packages/datastore/src/token.ts
  packages/datastore/src/util.ts
  packages/docregistry/src/default.ts
  packages/fileeditor-extension/src/index.ts
  packages/fileeditor/package.json
  packages/fileeditor/src/widget.ts
  packages/fileeditor/tsconfig.json
  packages/inspector/src/handler.ts
  packages/notebook-extension/src/index.ts
  packages/notebook/package.json
  packages/notebook/src/actions.tsx
  packages/notebook/src/notebooktools.ts
  packages/notebook/src/panel.ts
  packages/notebook/src/widget.ts
  packages/notebook/tsconfig.json
  packages/settingeditor/package.json
  packages/settingeditor/src/raweditor.ts
  packages/settingeditor/tsconfig.json
  packages/statusbar/package.json
  packages/statusbar/src/defaults/lineCol.tsx
  packages/statusbar/tsconfig.json
  packages/tooltip-extension/src/index.ts
Labels: tag:Real Time Collaboration

#6931 Attempted fix for minor JupyterHub compatibility issue.
  jupyterlab/extension.py
  packages/application/src/frontend.ts
  packages/application/src/lab.ts
  packages/hub-extension/src/index.ts
Labels: status:Needs Discussion

#7013 Do not fail on deduplicate and ignore optional
  buildutils/src/update-core-mode.ts
  jupyterlab/commands.py
  jupyterlab/staging/.yarnrc
  package.json
Labels: tag:Build System, type:Maintenance

#7020 Restore behavior of the "raises-exception" cell tag
  packages/cells/src/widget.ts
Labels: status:Needs Discussion

#7055 Require jinja2 2.10+ to fix extra escaping
  dev_mode/package.json
  dev_mode/webpack.config.js
  jupyterlab/staging/package.json
  package.json
  setup.py
  yarn.lock
Labels: tag:Build System, type:Bug

#7051 Remove reference to Travis CI
  azure-pipelines.yml
  packages/services/scripts/travis_after_success.sh
  packages/services/scripts/travis_install.sh
  packages/services/scripts/travis_script.sh
  scripts/ci_install.sh
  scripts/ci_script.sh
  scripts/travis_after_success.sh
Labels: tag:DevOps, type:Maintenance

#7061 Fix handling of page config for non-strings
  packages/coreutils/src/pageconfig.ts
Labels: tag:Build System, type:Bug

#7066 Add a note to check out a branch before doing a release.
  RELEASE.md
Labels: tag:DevOps, tag:Documentation

#6926 Add settings to override theme font sizes
  packages/application/style/scrollbar.css
  packages/apputils-extension/schema/themes.json
  packages/apputils-extension/src/index.ts
  packages/apputils-extension/src/themeplugins.ts
  packages/apputils/src/thememanager.ts
  packages/statusbar/src/defaults/kernelStatus.tsx
Labels: pkg:themes, type:Enhancement

#7089 Expose install_kernel for tests
  jupyterlab/tests/test_app.py
Labels: tag:Testing, type:Enhancement

#7123 Populate singleton resolutions from all core packages, not just core extensions.
  buildutils/src/ensure-repo.ts
  dev_mode/package.json
Labels: tag:Build System
