Repository jupyterlab/jupyterlab, pull requests merged in 2019-09, with the labels that each got.

#7148 Add build artifact hashes to the final build commit message.
  buildutils/package.json
  buildutils/src/publish.ts
  yarn.lock
Labels: tag:Build System

#7150 Do not build source maps for releases.
  buildutils/src/update-core-mode.ts
  dev_mode/package.json
  dev_mode/webpack.prod.release.config.js
Labels: tag:Build System

#7165 Add release helper scripts and update release instructions
  RELEASE.md
  jupyterlab/commands.py
  scripts/release_prep.sh
  scripts/release_test.sh
Labels: tag:Build System, type:Enhancement

#7160 add missing code from possible copy/pasta error
  docs/source/developer/extension_tutorial.rst
Labels: tag:Documentation, type:Maintenance

#6864 Add execution timing to cells
  packages/cells/src/widget.ts
  packages/notebook-extension/src/index.ts
  packages/notebook/src/actions.tsx
  tests/test-cells/src/widget.spec.ts
Labels: status:Work in Progress

#7174 Fix tree URLs to work when there is a workspace in the URL.
  packages/application-extension/src/index.tsx
Labels: Tag:Workspaces, type:Bug

#7182 Fix UI problems when some of the package versions mismatch
  packages/apputils/src/thememanager.ts
  packages/docregistry/src/registry.ts
  packages/filebrowser/src/listing.ts
  packages/ui-components/src/icon/iconregistry.tsx
  packages/ui-components/src/icon/tabbarsvg.ts
Labels: pkg:themes, pkg:ui-components, type:Bug

#7187 Update milestone check script
  scripts/milestone_check.py
Labels: tag:Build System

#7198 Minor tweaks to setting editor
  packages/settingeditor/src/settingeditor.tsx
  packages/settingeditor/style/base.css
Labels: pkg:settingeditor, type:Maintenance

#7216 Add PageConfig.Extension
  packages/coreutils/src/pageconfig.ts
Labels: pkg:coreutils

#7215 Fix overwriting of target attribute of anchors rendered by IPython.display
  packages/rendermime/src/renderers.ts
Labels: pkg:rendermime, type:Enhancement

#7192 progress on icons: added inline svg icon support to toolbar buttons
  buildutils/src/ensure-package.ts
  packages/application/style/icons.css
  packages/apputils/src/toolbar.tsx
  packages/filebrowser/src/listing.ts
  packages/launcher/src/index.tsx
  packages/statusbar/src/deprecated.tsx
  packages/statusbar/src/index.ts
  packages/statusbar/src/style/icon.ts
  packages/statusbar/src/style/variables.ts
  packages/theme-dark-extension/style/icons/md/copy.svg
  packages/theme-dark-extension/style/icons/md/cut.svg
  packages/theme-dark-extension/style/icons/md/ic_add_24px.svg
  packages/theme-dark-extension/style/icons/md/ic_refresh_18px.svg
  packages/theme-dark-extension/style/icons/md/paste.svg
  packages/theme-dark-extension/style/icons/md/run.svg
  packages/theme-dark-extension/style/icons/md/save.svg
  packages/theme-dark-extension/style/icons/md/stop.svg
  packages/theme-dark-extension/style/urls.css
  packages/theme-light-extension/style/icons/md/copy.svg
  packages/theme-light-extension/style/icons/md/cut.svg
  packages/theme-light-extension/style/icons/md/ic_add_24px.svg
  packages/theme-light-extension/style/icons/md/ic_refresh_18px.svg
  packages/theme-light-extension/style/icons/md/paste.svg
  packages/theme-light-extension/style/icons/md/run.svg
  packages/theme-light-extension/style/icons/md/save.svg
  packages/theme-light-extension/style/icons/md/stop.svg
  packages/theme-light-extension/style/urls.css
  packages/ui-components/src/icon/iconimports.ts
  packages/ui-components/src/icon/iconregistry.tsx
  packages/ui-components/src/icon/interfaces.ts
  packages/ui-components/src/style/icon.ts
  packages/ui-components/style/deprecated.css
  packages/ui-components/style/icons/toolbar/add.svg
  packages/ui-components/style/icons/toolbar/copy.svg
  packages/ui-components/style/icons/toolbar/cut.svg
  packages/ui-components/style/icons/toolbar/paste.svg
  packages/ui-components/style/icons/toolbar/refresh.svg
  packages/ui-components/style/icons/toolbar/run.svg
  packages/ui-components/style/icons/toolbar/save.svg
  packages/ui-components/style/icons/toolbar/stop.svg
  tests/test-apputils/src/toolbar.spec.ts
  tests/test-notebook/src/default-toolbar.spec.ts
Labels: pkg:ui-components, type:Bug, type:Enhancement

#7202 Allow different mimetypes for the clipboard data
  packages/apputils/src/clipboard.ts
Labels: pkg:apputils, type:Enhancement

#7229 Add kernelspec metadata
  packages/services/src/kernel/kernel.ts
  packages/services/src/kernel/validate.ts
  tests/test-services/src/kernel/kernel.spec.ts
Labels: pkg:services, type:Enhancement

#7109 Fix yarn registry with command argument
  jupyterlab/commands.py
  jupyterlab/tests/test_jupyterlab.py
  jupyterlab/tests/test_registry.py
Labels: tag:Build System, type:Enhancement

#7251 apply all options to initial jlab instance
  packages/application/src/lab.ts
Labels: pkg:application, type:Enhancement
