Repository jupyterlab/jupyterlab, pull requests merged in 2020-07, with the labels that each got.

#8647 Fix examples and break into separate build
  .github/workflows/linuxtests.yml
  dev_mode/webpack.config.js
  examples/app/webpack.config.js
  examples/cell/webpack.config.js
  examples/console/webpack.config.js
  examples/federated/core_package/package.json
  examples/federated/main.py
  examples/federated/md_package/package.json
  examples/filebrowser/webpack.config.js
  examples/notebook/webpack.config.js
  examples/terminal/webpack.config.js
  examples/test_examples.py
  jupyterlab/browser_check.py
  package.json
  packages/services/examples/typescript-browser-with-output/webpack.config.js
  scripts/ci_script.sh
  yarn.lock
Labels: pkg:services, tag:Examples

#8651 Update to Webpack 5b21
  buildutils/package.json
  dev_mode/package.json
  examples/app/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/federated/core_package/package.json
  examples/federated/md_package/package.json
  examples/filebrowser/package.json
  examples/notebook/package.json
  examples/terminal/package.json
  packages/nbconvert-css/package.json
  packages/services/examples/browser/package.json
  packages/services/examples/typescript-browser-with-output/package.json
  packages/services/package.json
  yarn.lock
Labels: pkg:services, tag:Examples

#8659 Add url as a polyfill dependency for apputils.
  buildutils/src/ensure-repo.ts
  buildutils/src/webpack-plugins.ts
  packages/apputils/package.json
  packages/apputils/src/sanitizer.ts
Labels: pkg:apputils

#8664 Add missing polyfill
  buildutils/src/ensure-repo.ts
  package.json
  packages/apputils/package.json
  scripts/ci_script.sh
  yarn.lock
Labels: tag:Build System

#8665 solves issue #8626
  CONTRIBUTING.md
Labels: tag:Documentation

#8666 Workaround for vega build error
  buildutils/src/update-core-mode.ts
  jupyterlab/staging/package.json
  jupyterlab/staging/webpack.config.js
  jupyterlab/staging/yarn.lock
  scripts/ci_script.sh
Labels: tag:Build System

#8673 Keep the existing webpack file in staging
  buildutils/src/update-core-mode.ts
Labels: tag:Build System

#8670 Added ability to delete a document from titlebar context menu
  packages/docmanager-extension/src/index.ts
Labels: pkg:docmanager

#8679 Backport PR #8670 on branch 2.2.x (Added ability to delete a document from titlebar context menu)
  packages/docmanager-extension/src/index.ts
Labels: pkg:docmanager

#8615 File Browser Filter
  examples/filebrowser/src/index.ts
  packages/extensionmanager/src/widget.tsx
  packages/filebrowser-extension/schema/browser.json
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/package.json
  packages/filebrowser/src/browser.ts
  packages/filebrowser/src/index.ts
  packages/filebrowser/src/listing.ts
  packages/filebrowser/src/model.ts
  packages/filebrowser/src/search.tsx
  packages/filebrowser/style/base.css
  packages/json-extension/src/component.tsx
  packages/services/src/contents/index.ts
  packages/ui-components/src/blueprint.tsx
Labels: Design System CSS, pkg:extensionmanager, pkg:filebrowser, pkg:json, pkg:services, pkg:ui-components, tag:CSS, tag:Examples

#8642 Add 2.2 changelog
  docs/source/getting_started/changelog.rst
Labels: tag:Documentation

#8697 Update link to jupyter contributing guide
  docs/source/developer/contributing.rst
Labels: tag:Documentation

#8703 Update the singleton packages to include at least every package with a 'tokens.ts' file
  buildutils/src/ensure-repo.ts
  dev_mode/package.json
Labels: tag:Build System

#8691 Add workspace MIME handler and loading/saving workspaces manually
  packages/apputils-extension/package.json
  packages/apputils-extension/src/index.ts
  packages/apputils-extension/src/themesplugins.ts
  packages/apputils-extension/src/workspacesplugin.ts
  packages/apputils-extension/style/index.css
  packages/apputils-extension/tsconfig.json
  packages/apputils/src/printing.ts
  packages/services/src/workspace/index.ts
Labels: Design System CSS, pkg:apputils, pkg:services, tag:CSS

#8690 Merge pull request #8642 from saulshanabrook/2.2-changelog
  docs/source/getting_started/changelog.rst
Labels: tag:Documentation

#8584 Move CodeMirror HTML tree and related CSS to shadow DOM
  dev_mode/package.json
  packages/codeeditor/test/widget.spec.ts
  packages/codemirror-extension/src/index.ts
  packages/codemirror/src/editor.ts
  packages/codemirror/style/base.css
  packages/codemirror/style/index.css
  packages/codemirror/style/jupyter-theme.css
  packages/codemirror/style/shadow.css
  packages/codemirror/test/editor.spec.ts
  testutils/src/jest-config.ts
  testutils/src/jest-style-mock.ts
  yarn.lock
Labels: Design System CSS, pkg:codeeditor, pkg:codemirror, tag:CSS, tag:Performance, type:Enhancement

#8717 Handle errors in async browser_check
  jupyterlab/browser_check.py
  tsconfig.eslint.json
Labels: tag:DevOps

#8719 Change main menu ranks to allow for Application menu to L of File
  packages/mainmenu/src/mainmenu.ts
Labels: pkg:mainmenu

#8721 [2.x] Handle errors in async browser_check
  jupyterlab/browser_check.py
Labels: tag:DevOps, tag:Extensions

#8692 Change toc to use labicon
  packages/toc-extension/package.json
  packages/toc-extension/src/index.ts
  packages/toc-extension/tsconfig.json
  packages/toc/package.json
  packages/toc/src/generators/markdown/toolbar_generator.tsx
  packages/toc/src/generators/notebook/toolbar_generator.tsx
  packages/toc/src/generators/notebook/twist_button.tsx
  packages/toc/src/toc.tsx
  packages/toc/style/img/autonumbering.svg
  packages/toc/style/img/autonumbering_darktheme.svg
  packages/toc/style/img/check.svg
  packages/toc/style/img/code.svg
  packages/toc/style/img/code_darktheme.svg
  packages/toc/style/img/eyeball_hidden.svg
  packages/toc/style/img/eyeball_hover.svg
  packages/toc/style/img/eyeball_view.svg
  packages/toc/style/img/markdown.svg
  packages/toc/style/img/markdown_darktheme.svg
  packages/toc/style/img/menu_arrow.svg
  packages/toc/style/img/numbering.svg
  packages/toc/style/img/tag.svg
  packages/toc/style/img/tag_darktheme.svg
  packages/toc/style/img/toggle_down.svg
  packages/toc/style/img/toggle_down_darktheme.svg
  packages/toc/style/img/toggle_right.svg
  packages/toc/style/img/toggle_right_darktheme.svg
  packages/toc/style/index.css
  packages/toc/style/list-dark.svg
  packages/toc/style/list-light.svg
  packages/toc/tsconfig.json
  packages/ui-components/src/icon/iconimports.ts
  packages/ui-components/style/deprecated.css
  packages/ui-components/style/icons/sidebar/toc.svg
  packages/ui-components/style/icons/toolbar/code.svg
  packages/ui-components/style/icons/toolbar/numbering.svg
  packages/ui-components/style/icons/toolbar/tag.svg
Labels: Design System CSS, pkg:toc, pkg:ui-components, tag:CSS

#8725 Change inspector detail_level to 1
  packages/inspector/src/kernelconnector.ts
Labels: pkg:inspector

#8707 Updated Puppeteer version to v4.0.0
  jupyterlab/browser_check.py
  package.json
  tsconfig.eslint.json
Labels: tag:DevOps

#8727 Uncaught TypeError when switching kernels
  packages/apputils/src/sessioncontext.tsx
Labels: pkg:apputils, tag:Backport

#8728 Rename the celltags plugin id to @jupyterlab/celltags
  packages/celltags-extension/src/index.ts
Labels: pkg:celltags

#8730 Backport PR #8727 on branch 2.2.x (Uncaught TypeError when switching kernels)
  packages/apputils/src/sessioncontext.tsx
Labels: pkg:apputils

#8729 Rename the logconsole:nboutput plugin id
  packages/logconsole-extension/src/nboutput.ts
Labels: pkg:logconsole

#8745 add comma in extension_points.rst to fix syntax error of code
  docs/source/developer/extension_points.rst
Labels: tag:Documentation
