Repository jupyterlab/jupyterlab, pull requests merged in 2020-10, with the labels that each got.

#8970 [2.2.x] Add content-visibility on Cell CSS class
  packages/notebook/style/base.css
Labels: Design System CSS, pkg:notebook, tag:CSS, tag:Design System CSS

#9125 test: cleanup eslint jest rules and files
  .eslintrc.js
  packages/application/test/layoutrestorer.spec.ts
  packages/apputils/test/commandpalette.spec.ts
  packages/filebrowser/test/model.spec.ts
  testutils/src/flakyIt.ts
Labels: pkg:application, pkg:apputils, pkg:filebrowser

#8968 [2.2.x] Use block display in Notebook panel
  packages/cells/style/collapser.css
  packages/cells/style/inputarea.css
  packages/cells/style/placeholder.css
  packages/cells/style/widget.css
  packages/notebook/style/base.css
  packages/outputarea/style/base.css
Labels: Design System CSS, pkg:cells, pkg:notebook, pkg:outputarea, tag:CSS, tag:Design System CSS

#9139 [2.2.x] [ROLLBACK] Remove content visibility
  packages/notebook/style/base.css
Labels: Design System CSS, pkg:notebook, tag:CSS

#8972 [2.2.x] Virtual notebook
  docs/source/developer/contributing.rst
  docs/source/developer/notebook.rst
  docs/source/getting_started/changelog.rst
  packages/cells/src/inputarea.ts
  packages/cells/src/widget.ts
  packages/console/src/widget.ts
  packages/documentsearch/src/searchoverlay.tsx
  packages/documentsearch/style/base.css
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/panel.ts
  packages/notebook/src/widget.ts
  packages/notebook/style/base.css
  packages/observables/src/observablelist.ts
  packages/observables/test/observablelist.spec.ts
  scripts/ci_script.sh
Labels: Design System CSS, pkg:cells, pkg:console, pkg:documentsearch, pkg:notebook, pkg:observables, tag:CSS, tag:Design System CSS, tag:Documentation

#9076 Add indication that file browser can be expanded in narrow state
  packages/filebrowser/src/listing.ts
  packages/filebrowser/style/base.css
Labels: Design System CSS, pkg:filebrowser, tag:CSS

#9145 Update favicon handling
  jupyterlab/serverextension.py
Labels: tag:Server Change

#9146 Fix watch mode
  dev_mode/webpack.config.js
Labels: tag:Build System

#9131 Add more XXX to the mktemp command in release_test.sh
  scripts/release_test.sh
Labels: tag:DevOps

#9134 Increase size of docstring pop up tooltip
  packages/tooltip/style/base.css
Labels: Design System CSS, pkg:tooltip, tag:CSS

#9123 add codemirror simple mode addon
  packages/codemirror/package.json
  packages/codemirror/src/editor.ts
  packages/codemirror/test/mode.spec.ts
  packages/codemirror/typings/codemirror/codemirror.d.ts
Labels: pkg:codemirror

#9077 Handle notebook kernel in busy state on page reload
  packages/apputils/src/toolbar.tsx
Labels: pkg:apputils

#9150 Attempt at fixing the examples CI
  examples/chrome-example-test.js
  jupyterlab/browser_check.py
  packages/services/examples/browser/webpack.config.js
Labels: pkg:services, tag:Examples

#9058 Set input area overflow to hidden
  packages/cells/style/inputarea.css
Labels: Design System CSS, pkg:cells, tag:CSS

#9163 docs: fix commands to watch
  docs/source/developer/extension_dev.rst
Labels: tag:Documentation

#9158 Switch to a different murmurhash2 implementation to handle unicode characters
  packages/debugger/package.json
  packages/debugger/src/config.ts
  packages/debugger/src/hash.ts
  packages/debugger/test/config.spec.ts
  packages/debugger/test/debugger.spec.ts
  packages/debugger/test/service.spec.ts
  packages/debugger/test/session.spec.ts
  packages/debugger/test/utils.ts
  yarn.lock
Labels: pkg:debugger

#9165 Docs: update jupyter lab command in ext dev guide
  docs/source/developer/extension_dev.rst
Labels: tag:Documentation

#9148 Upgrade to webpack 5
  builder/package.json
  dev_mode/package.json
  examples/app/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/federated/core_package/package.json
  examples/filebrowser/package.json
  examples/notebook/package.json
  examples/terminal/package.json
  packages/nbconvert-css/package.json
  packages/services/examples/browser/package.json
  packages/services/examples/typescript-browser-with-output/package.json
  packages/services/package.json
  yarn.lock
Labels: pkg:services, tag:Examples

#9179 include js api in sphinx docs
  docs/Makefile
  docs/source/conf.py
  docs/source/developer/api.rst
  docs/source/index.rst
Labels: tag:Documentation

#9182 Update RTD build
  docs/environment.yml
  docs/requirements.txt
  readthedocs.yml
  scripts/ci_script.sh
Labels: tag:Documentation

#8983 Add translation to filebrowser example
  examples/filebrowser/main.py
  examples/filebrowser/src/index.ts
  tsconfigdoc.json
Labels: tag:Examples

#9180 Remove absolute document search pane width
  packages/documentsearch/style/base.css
Labels: Design System CSS, pkg:documentsearch, tag:CSS

#8979 PR: Add translation to the console example
  examples/console/main.py
  examples/console/src/index.ts
Labels: tag:Examples

#9185 Bump webpack to 5.1.3
  builder/package.json
  dev_mode/package.json
  examples/app/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/federated/core_package/package.json
  examples/filebrowser/package.json
  examples/notebook/package.json
  examples/terminal/package.json
  packages/nbconvert-css/package.json
  packages/services/examples/browser/package.json
  packages/services/examples/typescript-browser-with-output/package.json
  packages/services/package.json
  yarn.lock
Labels: pkg:services, tag:Examples

#9119 Create codeql-analysis.yml
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-analysis.yml
  packages/imageviewer-extension/src/index.ts
  packages/rendermime/test/factories.spec.ts
Labels: pkg:imageviewer, pkg:rendermime

#9169 URLExt.join cant handle colon in relative paths
  packages/apputils-extension/src/themesplugins.ts
  packages/coreutils/package.json
  packages/coreutils/src/path.ts
  packages/coreutils/src/url-parse.d.ts
  packages/coreutils/src/url.ts
  packages/coreutils/test/url.spec.ts
  packages/services/test/contents/index.spec.ts
  yarn.lock
Labels: pkg:apputils, pkg:coreutils, pkg:services, tag:Backport, type:Bug

#9162 Add a 2.x -> 3.x migration guide
  docs/source/developer/extension_migration_2_3.rst
  docs/source/developer/extension_tutorial.rst
  docs/source/index.rst
Labels: tag:Documentation, tag:Extensions

#9161 Create ensureVimKeymap function
  packages/codemirror-extension/src/index.ts
  packages/codemirror/src/tokens.ts
Labels: pkg:codemirror

#9190 Install jupyter_packaging in tutorial
  docs/source/developer/extension_tutorial.rst
Labels: tag:Documentation

#9149 Virtual Notebook Tuning
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/widget.ts
  packages/notebook/style/base.css
Labels: Design System CSS, pkg:notebook, tag:CSS

#9199 Mention jupyter-packaging and cookiecutter in migration guide
  docs/source/developer/extension_migration_2_3.rst
Labels: tag:Documentation

#9206 Update metadata recorded to align better with jupyter protocol
  packages/cells/src/widget.ts
Labels: pkg:cells

#9172 Add an offline circle icon for disconnected or unknown kernel state
  packages/apputils/src/toolbar.tsx
  packages/ui-components/src/icon/iconimports.ts
  packages/ui-components/style/deprecated.css
  packages/ui-components/style/icons/toolbar/offline-bolt.svg
Labels: Design System CSS, pkg:apputils, pkg:ui-components, tag:CSS

#9207 Backport PR #9206 on branch 2.2.x (Update metadata recorded to align better with jupyter protocol)
  packages/cells/src/widget.ts
Labels: pkg:cells

#9209 Backport PR #9169 on branch 2.2.x (URLExt.join cant handle colon in relative paths)
  packages/apputils-extension/src/themeplugins.ts
  packages/coreutils/package.json
  packages/coreutils/src/path.ts
  packages/coreutils/src/url-parse.d.ts
  packages/coreutils/src/url.ts
  packages/coreutils/test/url.spec.ts
  packages/services/test/contents/index.spec.ts
  yarn.lock
Labels: pkg:apputils, pkg:coreutils, pkg:services

#9168 Fix notebook toolbar kernel status on page reload
  packages/apputils/src/toolbar.tsx
Labels: pkg:apputils

#9210 Fix focus issues with command palette
  packages/apputils/src/commandpalette.ts
  tsconfigdoc.json
Labels: pkg:apputils

#9189 Update session and kernel manager data only if there was a real change.
  packages/services/src/kernel/manager.ts
  packages/services/src/session/manager.ts
Labels: pkg:services

#9211 Backport PR #9189 on branch 2.2.x (Update session and kernel manager data only if there was a real change.)
  packages/services/src/kernel/manager.ts
  packages/services/src/session/manager.ts
Labels: pkg:services

#9213 Handle sharing of linked packages and locally installed extensions
  dev_mode/webpack.config.js
Labels: tag:Build System

#9217 Update change log
  docs/source/getting_started/changelog.rst
Labels: tag:Documentation

#9222 Remove input-checkbox style
  packages/extensionmanager/style/base.css
Labels: Design System CSS, pkg:extensionmanager, tag:CSS

#9221 Extension documentation
  docs/source/_static/custom.css
  docs/source/conf.py
  docs/source/developer/components.rst
  docs/source/developer/contributing.rst
  docs/source/developer/css.rst
  docs/source/developer/documents.rst
  docs/source/developer/extension_dev.rst
  docs/source/developer/extension_migration.rst
  docs/source/developer/extension_migration_2_3.rst
  docs/source/developer/extension_points.rst
  docs/source/developer/extension_tutorial.rst
  docs/source/developer/notebook.rst
  docs/source/developer/patterns.rst
  docs/source/developer/repo.rst
  docs/source/developer/terminology.rst
  docs/source/developer/ui_components.rst
  docs/source/developer/ui_helpers.rst
  docs/source/developer/virtualdom.rst
  docs/source/developer/xkcd_extension_tutorial.rst
  docs/source/getting_started/changelog.rst
  docs/source/getting_started/installation.rst
  docs/source/getting_started/issue.rst
  docs/source/getting_started/overview.rst
  docs/source/getting_started/starting.rst
  docs/source/index.rst
  docs/source/user/code_console.rst
  docs/source/user/commands.rst
  docs/source/user/debugger.rst
  docs/source/user/directories.rst
  docs/source/user/documents_kernels.rst
  docs/source/user/export.rst
  docs/source/user/extensions.rst
  docs/source/user/file_editor.rst
  docs/source/user/file_formats.rst
  docs/source/user/files.rst
  docs/source/user/images/extension_manager_enable_manager.png
  docs/source/user/images/listings/installed_allowlisted.png
  docs/source/user/images/listings/installed_blocklisted.png
  docs/source/user/images/listings/simultaneous_block_allow_listings.png
  docs/source/user/interface.rst
  docs/source/user/jupyterhub.rst
  docs/source/user/language.rst
  docs/source/user/notebook.rst
  docs/source/user/running.rst
  docs/source/user/terminal.rst
  docs/source/user/urls.rst
  packages/ui-components/docs/source/labicon.rst
  packages/ui-components/docs/source/ui_components.rst
Labels: Design System CSS, pkg:ui-components, tag:CSS, tag:Documentation

#9224 Allow custom webpack config for federated extensions
  builder/metadata_schema.json
  builder/src/extensionConfig.ts
  docs/source/developer/extension_dev.rst
Labels: tag:Documentation

#9245 Update webpack to 5.3.1
  builder/package.json
  dev_mode/package.json
  examples/app/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/federated/core_package/package.json
  examples/filebrowser/package.json
  examples/notebook/package.json
  examples/terminal/package.json
  packages/nbconvert-css/package.json
  packages/services/examples/browser/package.json
  packages/services/examples/typescript-browser-with-output/package.json
  packages/services/package.json
  yarn.lock
Labels: pkg:services, tag:Examples

#9254 Update to webpack-cli 4.1.0
  builder/package.json
  dev_mode/package.json
  examples/app/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/federated/core_package/package.json
  examples/filebrowser/package.json
  examples/notebook/package.json
  examples/terminal/package.json
  jupyterlab/staging/package.json
  packages/extensionmanager-extension/examples/listings/package.json
  packages/nbconvert-css/package.json
  packages/services/examples/browser/package.json
  packages/services/examples/typescript-browser-with-output/package.json
  packages/services/package.json
  yarn.lock
Labels: pkg:extensionmanager, pkg:services, tag:Examples
