Repository jupyterlab/jupyterlab, pull requests merged in 2020-03, with the labels that each got.

#7961 Handle ToolbarButtonComponent without an icon
  packages/apputils/src/toolbar.tsx
Labels: pkg:apputils

#7974 Make deduplication commands fail on duplicates
  buildutils/src/update-core-mode.ts
  jupyterlab/commands.py
  package.json
Labels: tag:Backport

#7976 Better compatibility notice
  azure-pipelines.yml
  jupyterlab/commands.py
Labels: tag:Build System

#7964 Fix status bar item styling
  packages/statusbar/package.json
  packages/statusbar/src/style/statusbar.ts
  packages/statusbar/src/style/variables.ts
  yarn.lock
Labels: pkg:statusbar

#7985 Use the same TextRenderer for all regions in CSV data grid
  packages/csvviewer-extension/src/index.ts
  packages/csvviewer/src/widget.ts
Labels: pkg:csvviewer

#7991 Update checkout tag to v2.0 in extension tutorial
  docs/source/developer/extension_tutorial.rst
Labels: tag:Documentation

#7993 Fix duplicate parameter in function with default parameter values
  packages/coreutils/src/time.ts
Labels: pkg:coreutils

#7995 Two updates for the tutorial for JLab 2.
  docs/source/developer/extension_tutorial.rst
Labels: tag:Documentation

#7997 URL resolver should use the session context path
  packages/rendermime/src/registry.ts
  tests/test-rendermime/src/registry.spec.ts
Labels: pkg:rendermime, tag:Testing

#7999 Add a default filetype icon; deprecate LabIcon.resolveX fallback arg
  packages/docregistry/src/registry.ts
  packages/filebrowser/src/listing.ts
  packages/settingeditor/src/pluginlist.tsx
  packages/ui-components/src/icon/labicon.tsx
Labels: pkg:docregistry, pkg:filebrowser, pkg:settingeditor, pkg:ui-components

#8004 Fix property names in `CSSStyleDeclaration.setProperty` (#7917)
  packages/markdownviewer/src/widget.ts
Labels: pkg:markdownviewer, type:Bug

#8007 Elaborate more on the services changes in the changelog.
  docs/source/getting_started/changelog.rst
Labels: tag:Documentation

#7926 Resolve #7889 to avoid redundant checkpoint calls on loading notebook
  packages/services/src/contents/index.ts
Labels: pkg:services

#8011 fix typo (repeated letter)
  docs/source/user/extensions.rst
Labels: tag:Documentation

#8014 Remove unused ILabShell dependency from the notebook tools
  packages/notebook-extension/src/index.ts
Labels: pkg:notebook

#8015 Add kernel and session architecture diagram
  packages/services/README.md
  packages/services/architecture.png
  packages/services/architecture.xml
Labels: pkg:services

#8025 Fix link to 2.0 Milestone in Changelog
  docs/source/getting_started/changelog.rst
Labels: tag:Documentation

#8032 Make IFuture done typings more correct
  packages/services/src/kernel/kernel.ts
Labels: pkg:services

#8033 Docs: Update Vega and Vega-Lite versions
  docs/source/user/file_formats.rst
Labels: tag:Documentation

#7945 Start adding some docs on workspace format
  docs/source/user/urls.rst
Labels: Tag:Workspaces, tag:Documentation

#8031 Use conda instead of conda-forge for nodejs install
  docs/source/user/extensions.rst
Labels: tag:Documentation

#8036 Document the need to enable jupyterlab extension for JupyterHub
  docs/source/user/jupyterhub.rst
Labels: tag:Documentation

#8035 Update the kernel and session architecture diagram
  packages/services/README.md
  packages/services/architecture.png
  packages/services/architecture.xml
Labels: pkg:services

#8034 Docs extended: Installation behind firewall
  docs/source/getting_started/installation.rst
Labels: tag:Documentation

#7877 Add support for disabling JupyterLab's context menu
  docs/source/developer/extension_points.rst
  packages/application/src/frontend.ts
Labels: pkg:application, tag:Design and UX, tag:Documentation, tag:Extensions, type:Enhancement

#8058 Removed 3 links leading to empty pages.
  docs/source/index.rst
Labels: tag:Documentation

#7849 Document how to add commands to notebook toolbar
  docs/source/developer/extension_points.rst
Labels: tag:Documentation

#7832 Rendermime celloutput gap issue(#7760)
  packages/rendermime/style/base.css
Labels: Design System CSS, pkg:rendermime, tag:CSS

#8064 Experiment with breaking CI tests up into smaller chunks
  .github/workflows/tests.yml
  package.json
  scripts/ci_script.sh
  tests/test-console/package.json
  tests/test-csvviewer/package.json
  tests/test-docmanager/package.json
  tests/test-filebrowser/package.json
  tests/test-nbformat/package.json
  tests/test-nbformat/tsconfig.json
  tests/test-notebook/package.json
  tests/test-rendermime/package.json
  tests/test-terminal/package.json
Labels: tag:Testing

#8059 Change header area to a box panel
  packages/application/src/shell.ts
Labels: pkg:application

#8053 Add the `notebook:run` command to the notebook example
  examples/notebook/src/commands.ts
Labels: tag:Examples

#7942 add command and context menu item for opening markdown editor
  packages/markdownviewer-extension/package.json
  packages/markdownviewer-extension/src/index.ts
  packages/markdownviewer-extension/tsconfig.json
Labels: pkg:markdownviewer

#8066 Add a token and plugin for the notebook widget factory
  packages/notebook-extension/src/index.ts
  packages/notebook/src/tokens.ts
  packages/notebook/src/widgetfactory.ts
Labels: pkg:notebook

#8074 Docs: move "Examples" section to "Using JupyterLab components"
  docs/source/developer/components.rst
  docs/source/developer/examples.rst
  docs/source/index.rst
Labels: tag:Documentation

#8057 Fix cell execution when recording timing
  packages/cells/src/widget.ts
Labels: pkg:cells

#8075 Add back autolink support
  packages/rendermime/src/renderers.ts
  packages/rendermime/style/base.css
  tests/test-rendermime/src/factories.spec.ts
Labels: Design System CSS, pkg:rendermime, tag:CSS, tag:Testing

#8073 Focus-with-select when focusing Search box (#7932)
  packages/documentsearch/src/searchoverlay.tsx
Labels: pkg:documentsearch

#8069 Show the completer in the notebook example
  examples/notebook/src/index.ts
Labels: tag:Examples

#8045 Add .yarnrc explicitly in Python setup
  setup.py
Labels: tag:Backport

#8082 Include the document search CSS in the notebook example
  examples/notebook/src/index.ts
Labels: tag:Examples

#7927 Throttle fetch requests in the setting registry's data connector
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils-extension/src/settingconnector.ts
  packages/codemirror/package.json
  packages/csvviewer-extension/package.json
  packages/csvviewer/package.json
  packages/docmanager-extension/src/index.ts
  packages/documentsearch/package.json
  packages/extensionmanager/package.json
  packages/filebrowser/package.json
  packages/inspector/package.json
  packages/services/package.json
  packages/statusbar/package.json
  tests/test-csvviewer/package.json
  yarn.lock
Labels: pkg:application, pkg:apputils, pkg:codemirror, pkg:csvviewer, pkg:docmanager, pkg:documentsearch, pkg:extensionmanager, pkg:filebrowser, pkg:inspector, pkg:services, pkg:statusbar, status:Blocked, tag:Testing

#8001 Use path string instead of session context in url resolver
  packages/docregistry/src/context.ts
  packages/rendermime/src/registry.ts
  tests/test-rendermime/src/registry.spec.ts
Labels: pkg:apputils, pkg:docregistry, pkg:rendermime, tag:Testing

#7834 Pressing Backspace in an empty cell deletes the cell
  packages/codeeditor/src/editor.ts
  packages/codemirror/src/editor.ts
  packages/notebook/src/widget.ts
  tests/test-codemirror/src/editor.spec.ts
  tests/test-notebook/src/widget.spec.ts
Labels: pkg:codeeditor, pkg:codemirror, pkg:notebook, tag:Testing

#8024 Add "Restart kernel, re-run whole notebook" button
  packages/notebook/src/default-toolbar.tsx
  packages/ui-components/src/icon/iconimports.ts
  packages/ui-components/style/deprecated.css
  packages/ui-components/style/icons/toolbar/fast-forward.svg
  tests/test-notebook/src/default-toolbar.spec.ts
Labels: Design System CSS, pkg:notebook, pkg:ui-components, tag:CSS, tag:Testing

#8076 Update user messages when installing extensions with companions
  packages/extensionmanager/src/companions.tsx
Labels: pkg:extensionmanager

#8106 Merge 1.x into 1.2.x
  .bumpversion.cfg
  buildutils/src/update-core-mode.ts
  dev_mode/package.json
  docs/environment.yml
  docs/requirements.txt
  jupyterlab/_version.py
  jupyterlab/commands.py
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
  package.json
  readthedocs.yml
  setup.py
Labels: tag:Documentation

#8104 Increase timeout for yarn
  jupyterlab/staging/.yarnrc
Labels: tag:Build System

#8110 Fix initial splash screen loading on leading edge of throttle cycle.
  packages/apputils-extension/src/index.ts
Labels: pkg:apputils, type:Bug

#8111 Update docs on storing extension data
  docs/source/developer/extension_dev.rst
  scripts/ci_script.sh
Labels: tag:Documentation

#8114 Fix property inspector and widget tracker load behavior
  packages/application-extension/src/index.tsx
  packages/apputils/src/widgettracker.ts
  packages/property-inspector/src/index.ts
  tests/test-apputils/src/widgettracker.spec.ts
Labels: pkg:application, pkg:apputils, pkg:property-inspector, tag:Testing

#7989 Black and White listings for the Extension Manager
  .eslintignore
  .gitignore
  .prettierignore
  docs/source/developer/extension_dev.rst
  docs/source/index.rst
  docs/source/user/extensions.rst
  docs/source/user/images/listings/disclaimer_checked.png
  docs/source/user/images/listings/disclaimer_hidden.png
  docs/source/user/images/listings/disclaimer_unchecked.png
  docs/source/user/images/listings/disclaimer_unchecked_noinstall.png
  docs/source/user/images/listings/installed_blacklisted.png
  docs/source/user/images/listings/installed_whitelisted.png
  jupyterlab/extension.py
  packages/extensionmanager-extension/examples/listings/Makefile
  packages/extensionmanager-extension/examples/listings/README.md
  packages/extensionmanager-extension/examples/listings/index.js
  packages/extensionmanager-extension/examples/listings/jupyter.png
  packages/extensionmanager-extension/examples/listings/list/blacklist.json
  packages/extensionmanager-extension/examples/listings/list/whitelist.json
  packages/extensionmanager-extension/examples/listings/main.py
  packages/extensionmanager-extension/examples/listings/package.json
  packages/extensionmanager-extension/examples/listings/settings/@jupyterlab/extensionmanager-extension/plugin.jupyterlab-settings
  packages/extensionmanager-extension/examples/listings/templates/error.html
  packages/extensionmanager-extension/examples/listings/templates/index.html
  packages/extensionmanager-extension/examples/listings/webpack.config.js
  packages/extensionmanager-extension/package.json
  packages/extensionmanager-extension/schema/plugin.json
  packages/extensionmanager-extension/src/index.ts
  packages/extensionmanager/package.json
  packages/extensionmanager/src/index.ts
  packages/extensionmanager/src/listings.ts
  packages/extensionmanager/src/model.ts
  packages/extensionmanager/src/npm.ts
  packages/extensionmanager/src/widget.tsx
  packages/extensionmanager/style/base.css
  packages/extensionmanager/tsconfig.json
  packages/terminal-extension/src/index.ts
  packages/ui-components/src/blueprint.tsx
  packages/ui-components/src/icon/iconimports.ts
  packages/ui-components/style/deprecated.css
  packages/ui-components/style/deprecated/search-white.svg
  packages/ui-components/style/deprecatedExtra.css
  packages/ui-components/style/icons/listings/listings-info.svg
  setup.py
Labels: Design System CSS, pkg:extensionmanager, pkg:ui-components, status:Work in Progress, tag:CSS, tag:Documentation, tag:Examples

#8118 Fix Widget Tracker in 1.2.x
  .github/workflows/tests.yml
  jupyterlab/browser_check.py
  jupyterlab/tests/test_jupyterlab.py
  packages/apputils/src/widgettracker.ts
  scripts/ci_script.sh
  tests/test-apputils/src/widgettracker.spec.ts
Labels: pkg:apputils, tag:Testing

#8078 Implement Larger Badges for Extension Installer UI
  packages/extensionmanager/src/widget.tsx
  packages/extensionmanager/style/base.css
Labels: Design System CSS, pkg:extensionmanager, tag:CSS

#8050 Enable extension manager by default
  packages/extensionmanager-extension/schema/plugin.json
Labels: pkg:extensionmanager

#8119 DevOps fixes
  .github/workflows/labeler.yml
  .github/workflows/tests.yml
  jupyterlab/browser_check.py
  scripts/appveyor.cmd
  scripts/ci_script.sh
Labels: tag:DevOps

#7908 Command to insert text
  packages/apputils-extension/src/index.ts
  packages/codeeditor/src/editor.ts
  packages/codemirror/src/editor.ts
  packages/console-extension/src/index.ts
  packages/console/src/widget.ts
  packages/fileeditor-extension/src/commands.ts
  packages/notebook-extension/src/index.ts
  packages/notebook/src/actions.tsx
Labels: pkg:apputils, pkg:codeeditor, pkg:codemirror, pkg:console, pkg:fileeditor, pkg:notebook

#8125 Post 2.0 improvements to LabIcon: work with all svg loaders, improve performance, fix issue with menus from extensions
  packages/application/src/frontend.ts
  packages/mainmenu/src/labmenu.ts
  packages/mainmenu/src/mainmenu.ts
  packages/ui-components/src/icon/labicon.tsx
  packages/ui-components/src/icon/widgets/menusvg.ts
  packages/ui-components/src/style/icon.ts
  packages/ui-components/src/utils.ts
Labels: pkg:application, pkg:mainmenu, pkg:ui-components, tag:Performance, type:Bug, type:Enhancement

#8100 Allow replacing with empty strings
  packages/documentsearch/src/searchinstance.ts
  packages/documentsearch/style/base.css
Labels: Design System CSS, pkg:documentsearch, tag:CSS

#8095 Allow spaces in names of files attached to markdown cells
  packages/cells/src/widget.ts
Labels: pkg:cells

#8143 Slight update to following template update
  docs/source/developer/extension_tutorial.rst
Labels: tag:Documentation

#8145 Remove "experimental" from enable extension command label
  packages/extensionmanager-extension/src/index.ts
Labels: pkg:extensionmanager
