Repository jupyterlab/jupyterlab, pull requests merged in 2020-06, with the labels that each got.

#8506 Lazy load CodeMirror theme stylesheets.
  packages/codemirror-extension/src/index.ts
  packages/codemirror/package.json
  packages/codemirror/style/index.css
Labels: Design System CSS, pkg:codemirror, tag:CSS, tag:Performance

#8375 Only Autoinsert Single Completion Items on Tab
  packages/completer/src/widget.ts
  packages/completer/test/widget.spec.ts
Labels: pkg:completer

#8512 Typo: Fix extensino to extension
  docs/source/user/extensions.rst
Labels: tag:Documentation

#8525 Add cron scheduling for 2.1.x to run workflows
  .github/workflows/tests.yml
Labels: tag:DevOps

#8523 Simplified multicursor backspace code
  packages/codemirror/src/editor.ts
Labels: pkg:codemirror

#8524 Add cron scheduling for 1.2.x to run workflows
  .github/workflows/linuxjs-tests.yml
  .github/workflows/linuxtests.yml
  .github/workflows/windowstests.yml
Labels: tag:DevOps

#8527 [2.1.x] Fix Readme
  README.md
Labels: tag:Documentation

#8528 [1.2.x] Fix Readme
  README.md
Labels: tag:Documentation

#8529 Close correct tab with Close Tab
  packages/application-extension/src/index.tsx
Labels: pkg:application

#8540 Update documentation of whitelist/blacklist
  docs/source/user/extensions.rst
Labels: tag:Documentation

#8547 Remove unused CSS rules
  packages/codemirror/style/base.css
Labels: Design System CSS, pkg:codemirror, tag:CSS

#8550 ✏️ Fix small typo in install docs
  docs/source/getting_started/installation.rst
Labels: tag:Documentation

#8551 ✏️ Fix minor typos in docs for extensions.
  docs/source/user/extensions.rst
Labels: tag:Documentation

#8571 Remove `husky` dependencies from `toc` and `toc-extension`
  packages/toc-extension/package.json
  packages/toc/package.json
  yarn.lock
Labels: dependencies, pkg:toc

#8573 Support macOptionIsMeta option in terminal
  packages/terminal-extension/schema/plugin.json
  packages/terminal/src/tokens.ts
Labels: pkg:terminal

#8549 ✏ Fix small typo in getting started docs, proxy
  docs/source/getting_started/installation.rst
Labels: tag:Backport, tag:Documentation

#8517 Improve whitelist figure description in documentation
  docs/source/user/extensions.rst
Labels: pkg:extensionmanager, tag:Documentation

#8593 Add worker-loader
  dev_mode/package.json
  yarn.lock
Labels: tag:Build System

#8599 [2.1.x] Add worker-loader
  dev_mode/package.json
  yarn.lock
Labels: tag:DevOps

#8531 Improve single document mode to address classic notebook usage cases
  packages/application/src/lab.ts
  packages/application/src/shell.ts
  packages/application/style/base.css
  packages/application/style/titlepanel.css
  packages/application/test/shell.spec.ts
  packages/apputils/src/toolbar.tsx
  packages/apputils/style/toolbar.css
  packages/console/style/base.css
  packages/mainmenu-extension/style/index.css
Labels: Design System CSS, pkg:application, pkg:apputils, pkg:console, pkg:mainmenu, tag:CSS

#8320 Typedoc library mode api docs
  buildutils/src/ensure-repo.ts
  package.json
  packages/celltags-extension/tsconfig.json
  packages/celltags/package.json
  packages/celltags/src/addwidget.ts
  packages/celltags/src/tool.ts
  packages/celltags/src/widget.ts
  packages/celltags/tsconfig.json
  packages/logconsole-extension/tsconfig.json
  packages/logconsole/src/widget.ts
  packages/logconsole/tsconfig.json
  packages/logconsole/tsconfig.test.json
  packages/ui-components/.storybook/tsconfig.json
  tsconfigdoc.json
  typedoc.js
  yarn.lock
Labels: pkg:celltags, pkg:logconsole, pkg:ui-components

#8603 CI badges link to tests not svg
  README.md
Labels: tag:Documentation

#8610 Fix a few more typos
  design/real_time_collab.md
  packages/observables/README.md
  packages/rendermime-interfaces/README.md
  packages/ui-components/CONTRIBUTING.md
Labels: pkg:observables, pkg:rendermime, pkg:ui-components, tag:Design and UX, tag:Documentation

#8562 Slow Terminating Kernels
  packages/apputils/src/sessioncontext.tsx
  packages/apputils/src/toolbar.tsx
  packages/notebook/src/actions.tsx
  packages/services/src/kernel/default.ts
  packages/services/src/kernel/messages.ts
Labels: pkg:apputils, pkg:notebook, pkg:services

#8425 File editor right-click
  packages/fileeditor-extension/package.json
  packages/fileeditor-extension/src/commands.ts
  packages/fileeditor-extension/tsconfig.json
  packages/ui-components/src/icon/iconimports.ts
  packages/ui-components/style/deprecated.css
  packages/ui-components/style/icons/toolbar/redo.svg
Labels: Design System CSS, pkg:fileeditor, pkg:ui-components, tag:CSS

#8601 Switch from using settings registry to a signal for notebook collapsing behavior in ToC
  packages/toc-extension/package.json
  packages/toc-extension/schema/plugin.json
  packages/toc-extension/src/index.ts
  packages/toc-extension/tsconfig.json
  packages/toc/package.json
  packages/toc/src/generators/notebook/index.ts
  packages/toc/src/generators/notebook/options_manager.ts
  packages/toc/src/generators/notebook/render.tsx
  packages/toc/src/generators/notebook/set_collapsed_state.ts
  packages/toc/src/generators/notebook/twist_button.tsx
  packages/toc/src/registry.ts
  packages/toc/tsconfig.json
Labels: pkg:toc

#8555 Modify ansi color fix
  packages/rendermime/style/base.css
Labels: Design System CSS, pkg:rendermime, tag:CSS

#8619 Remove superfluous page reload on workspace reset
  packages/apputils-extension/src/index.ts
Labels: Tag:Workspaces, pkg:apputils, type:Enhancement

#8621 Reload the application on manual state reset
  packages/apputils-extension/src/index.ts
  packages/help-extension/src/index.tsx
Labels: Tag:Workspaces, pkg:apputils, pkg:help, type:Bug

#8622 ✏️ Fix small typos in docs for developing extensions
  docs/source/developer/extension_dev.rst
  docs/source/developer/extension_points.rst
Labels: tag:Documentation

#8623 🐛 Fix handling of disposed widgets after closing a panel in tutorial
  docs/source/developer/extension_tutorial.rst
Labels: tag:Documentation

#8618 Remove superfluous console log from the application shell
  packages/application/src/shell.ts
Labels: pkg:application

#8624 Fix API Docs Links
  docs/source/developer/documents.rst
  docs/source/developer/extension_dev.rst
  docs/source/developer/notebook.rst
  docs/source/developer/ui_components.rst
  packages/ui-components/README.md
Labels: pkg:ui-components, tag:Documentation

#8613 ✏️ Fix minor typos in extension tutorial
  docs/source/developer/extension_tutorial.rst
Labels: tag:Documentation

#8526 feat: prompt to save files before rebuild
  docs/source/developer/contributing.rst
  packages/application-extension/src/index.tsx
  packages/apputils/src/dialog.tsx
  packages/apputils/style/dialog.css
  packages/apputils/test/dialog.spec.tsx
  packages/extensionmanager-extension/src/index.ts
  packages/extensionmanager/package.json
  packages/extensionmanager/src/build-helper.tsx
  packages/extensionmanager/src/model.ts
  packages/extensionmanager/src/widget.tsx
  packages/extensionmanager/style/index.css
  packages/extensionmanager/tsconfig.json
Labels: Design System CSS, pkg:application, pkg:apputils, pkg:extensionmanager, tag:CSS, tag:Documentation
