Repository jupyterlab/jupyterlab, pull requests merged in 2020-04, with the labels that each got.

#8146 Docs: link to jupyterlab on jupyterhub page
  docs/source/getting_started/installation.rst
  docs/source/user/jupyterhub.rst
Labels: tag:Documentation

#8153 Fixes search next/previous buttons wrapping in Firefox.
  packages/documentsearch/style/base.css
Labels: Design System CSS, pkg:documentsearch, tag:CSS

#8159 Backport PR #8153 on branch 2.0.x (Fixes search next/previous buttons wrapping in Firefox.)
  packages/documentsearch/style/base.css
Labels: Design System CSS, pkg:documentsearch, tag:CSS

#8156 Changelog for 2.0.2 and 2.1.0
  docs/source/developer/extension_dev.rst
  docs/source/getting_started/changelog.rst
  docs/source/getting_started/changelog_restartrunallbutton.png
  docs/source/getting_started/changelog_searchoutput-fs8.png
  docs/source/user/extensions.rst
Labels: tag:Documentation

#8163 Extension Manager: Collapse warning if disclaimed, sticky warning, automatically open on disclaimed
  packages/extensionmanager/src/widget.tsx
Labels: pkg:extensionmanager

#8166 Tweak changelog for 2.1
  docs/source/getting_started/changelog.rst
Labels: tag:Documentation

#8173 Lint Release.md
  RELEASE.md
Labels: tag:DevOps

#8162 Reword the extension manager disclaimer to be closer to the old one.
  packages/extensionmanager/src/widget.tsx
Labels: pkg:extensionmanager

#8168 Add by Jupyter label on extensions developed by Jupyter Org
  packages/extensionmanager/src/widget.tsx
  packages/extensionmanager/style/base.css
Labels: Design System CSS, pkg:extensionmanager, tag:CSS

#8167 Disable extension manager if both black and white listtings are configured
  docs/source/user/extensions.rst
  docs/source/user/images/listings/disclaimer_checked.png
  docs/source/user/images/listings/disclaimer_hidden.png
  docs/source/user/images/listings/disclaimer_unchecked.png
  docs/source/user/images/listings/disclaimer_unchecked_noinstall.png
  docs/source/user/images/listings/installed_blacklisted.png
  docs/source/user/images/listings/installed_whitelisted.png
  docs/source/user/images/listings/simultaneous_black_white_listings.png
  packages/extensionmanager/src/listings.ts
  packages/extensionmanager/src/model.ts
  packages/extensionmanager/src/widget.tsx
Labels: pkg:extensionmanager, tag:Documentation

#8178 Clean up kernel startup error messages
  packages/apputils/src/sessioncontext.tsx
  packages/apputils/style/dialog.css
Labels: Design System CSS, pkg:apputils, tag:CSS, tag:Design and UX

#8182 Fix icon overlay when extension manager small
  packages/extensionmanager/src/widget.tsx
  packages/extensionmanager/style/base.css
Labels: Design System CSS, pkg:extensionmanager, tag:CSS

#8185 Turn off MathJax status messages
  packages/mathjax2/src/index.ts
Labels: pkg:mathjax2, tag:Design and UX

#8183 Emit session changed signal from session context
  packages/apputils/src/sessioncontext.tsx
  packages/completer/src/kernelconnector.ts
  tests/test-apputils/src/sessioncontext.spec.ts
Labels: pkg:apputils, pkg:completer, tag:Testing

#8186 [Backport] Clean up kernel startup error messages
  docs/conftest.py
  docs/source/conf.py
  packages/apputils/src/clientsession.tsx
  packages/apputils/style/dialog.css
  scripts/ci_script.sh
Labels: Design System CSS, pkg:apputils, tag:CSS, tag:Documentation

#8189 [BackPort] Better handling of slow kernel startup
  examples/cell/src/index.ts
  packages/apputils/src/clientsession.tsx
  packages/apputils/src/toolbar.tsx
  packages/statusbar/src/defaults/kernelStatus.tsx
  tests/test-apputils/src/clientsession.spec.ts
  tests/test-apputils/src/toolbar.spec.ts
Labels: pkg:apputils, pkg:statusbar, tag:Examples, tag:Testing

#8174 Better handling of slow kernel startup
  packages/apputils/src/sessioncontext.tsx
  packages/apputils/src/toolbar.tsx
  packages/statusbar/src/defaults/kernelStatus.tsx
  tests/test-apputils/src/sessioncontext.spec.ts
Labels: pkg:apputils, pkg:statusbar, tag:Testing

#8192 Run eslint/tslint on staged files and ignore removed files
  lint-staged.config.js
Labels: tag:DevOps

#8210 Clean up file watching
  dev_mode/webpack.config.js
Labels: tag:DevOps

#8212 [1.2.x] Fix cwd for kernels
  docs/source/getting_started/changelog.rst
  jupyterlab/handlers/extension_manager_handler.py
  packages/apputils/src/clientsession.tsx
  setup.py
Labels: pkg:apputils, tag:Documentation

#8213 Fix handling of kernel cwd
  jupyterlab/handlers/extension_manager_handler.py
  packages/apputils/src/sessioncontext.tsx
Labels: pkg:apputils

#8221 Add note on json version in installations section
  docs/source/getting_started/installation.rst
Labels: tag:Documentation

#8238 Fix Save As for files without sessions
  packages/docregistry/src/context.ts
  tests/test-docregistry/src/context.spec.ts
Labels: pkg:docregistry, tag:Backport, tag:Testing

#8254 Add Tutorials and Cookiecutters sections to the extension dev docs
  docs/source/developer/extension_dev.rst
Labels: tag:Documentation

#8242 Add pipenv run command description
  docs/source/getting_started/installation.rst
Labels: tag:Documentation

#8240 Improve autolink
  packages/rendermime/src/renderers.ts
  tests/test-rendermime/src/factories.spec.ts
Labels: pkg:rendermime, tag:Testing

#8245 Allow dragging non-selected cells
  packages/notebook/src/widget.ts
Labels: pkg:notebook

#8200 No extra text when pasting image to markdown cell + insert at cursor location
  packages/cells/src/widget.ts
  packages/codeeditor/src/editor.ts
  packages/codemirror/src/editor.ts
Labels: pkg:cells, pkg:codeeditor, pkg:codemirror

#8258 Add ability to toggle last modified column of file browser
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/style/base.css
Labels: Design System CSS, pkg:filebrowser, tag:CSS

#8250 Fix session context error handling
  packages/apputils/src/sessioncontext.tsx
  packages/services/src/kernel/default.ts
  tests/test-apputils/src/sessioncontext.spec.ts
Labels: pkg:apputils, pkg:services, tag:Testing

#8251 [1.2.x] Fix session context error handling
  .lintstagedrc
  docs/source/getting_started/changelog.rst
  examples/example_check.py
  jupyterlab/browser_check.py
  lint-staged.config.js
  package.json
  packages/apputils/src/clientsession.tsx
  packages/services/src/kernel/default.ts
  packages/services/src/kernel/future.ts
  tests/test-apputils/src/clientsession.spec.ts
  yarn.lock
Labels: pkg:apputils, pkg:services, tag:Documentation, tag:Examples, tag:Testing

#8260 [2.1.x] Pin puppeteer to fix ci
  examples/example_check.py
  jupyterlab/browser_check.py
Labels: tag:Examples

#8248 Backport PR #8238 on branch 2.1.x (Fix Save As for files without sessions)
  packages/docregistry/src/context.ts
  tests/test-docregistry/src/context.spec.ts
Labels: pkg:docregistry, tag:Testing

#8261 Clean up our CI Checks
  .github/workflows/linuxjs-tests.yml
  .github/workflows/linuxtests.yml
  .github/workflows/tests.yml
  .github/workflows/windowstests.yml
  azure-pipelines.yml
  scripts/ci_script.sh
Labels: tag:DevOps

#8275 [2.1.x] Set a data attribute for the file type in the file browser
  packages/filebrowser/src/listing.ts
Labels: pkg:filebrowser

#8274 [1.2.x] Set a data attribute for the file type in the file browser
  packages/filebrowser/src/listing.ts
Labels: pkg:filebrowser

#8272 Modernize filebrowser tests
  dev_mode/package.json
  lint-staged.config.js
  packages/console/package.json
  packages/docmanager/package.json
  packages/filebrowser/.vscode/launch.json
  packages/filebrowser/babel.config.js
  packages/filebrowser/jest.config.js
  packages/filebrowser/package.json
  packages/filebrowser/src/listing.ts
  packages/filebrowser/src/model.ts
  packages/filebrowser/test/crumbs.spec.ts
  packages/filebrowser/test/model.spec.ts
  packages/filebrowser/test/openfiledialog.spec.ts
  packages/filebrowser/tsconfig.test.json
  tests/modernize.js
  tests/test-filebrowser/karma-cov.conf.js
  tests/test-filebrowser/karma.conf.js
  tests/test-filebrowser/package.json
  tests/test-filebrowser/run-test.py
  tests/test-filebrowser/tsconfig.json
  testutils/src/mock.ts
Labels: pkg:console, pkg:docmanager, pkg:filebrowser, tag:Testing, type:Enhancement

#8285 [1.2.x] Fix handling of slow starting kernel
  .github/workflows/linuxjs-tests.yml
  .github/workflows/linuxtests.yml
  .github/workflows/tests.yml
  .github/workflows/windowstests.yml
  packages/apputils/src/clientsession.tsx
  packages/services/src/kernel/default.ts
  packages/services/src/session/default.ts
  scripts/ci_script.sh
  tests/test-apputils/src/clientsession.spec.ts
Labels: pkg:apputils, pkg:services, tag:Testing

#8287 Scroll into view after delete
  packages/notebook/src/actions.tsx
Labels: pkg:notebook, tag:Design and UX, type:Bug

#8293 Update codemirror to fix issues with Julia
  packages/codemirror-extension/package.json
  packages/codemirror/package.json
  packages/documentsearch/package.json
  tests/test-codemirror/package.json
  yarn.lock
Labels: pkg:codemirror, pkg:documentsearch, tag:Testing

#8291 Set the name after the session has started
  packages/apputils/src/sessioncontext.tsx
Labels: pkg:apputils

#8288 Backport PR #8287 on branch 2.1.x (Scroll into view after delete)
  packages/notebook/src/actions.tsx
Labels: pkg:notebook

#8290 [1.2.] Fix set name
  packages/apputils/src/clientsession.tsx
Labels: pkg:apputils

#8295 Add system beeps to release process
  buildutils/src/publish.ts
  scripts/release_prep.sh
Labels: tag:DevOps

#8301 Allow Dialogs to be resized
  packages/apputils/style/dialog.css
Labels: Design System CSS, pkg:apputils, tag:CSS

#8297 Actually run examples tests
  jupyterlab/browser_check.py
Labels: tag:DevOps, tag:Examples

#8303 Backport PR #8301 on branch 1.2.x (Allow Dialogs to be resized)
  packages/apputils/style/dialog.css
Labels: Design System CSS, pkg:apputils, tag:CSS

#8246 More LabIcon docs
  .gitignore
  docs/source/developer/extension_points.rst
  docs/source/developer/ui_components.rst
  docs/source/index.rst
  package.json
  packages/ui-components/README.md
  packages/ui-components/docs/build.sh
  packages/ui-components/docs/source/README.rst
  packages/ui-components/docs/source/generated_warning.rst
  packages/ui-components/docs/source/intro.rst
  packages/ui-components/docs/source/labicon.rst
  packages/ui-components/docs/source/ui_components.rst
  packages/ui-components/package.json
  scripts/ci_script.sh
  setup.py
Labels: pkg:ui-components, tag:Documentation

#8322 Added the explanation for editing the PATH variable
  README.md
Labels: tag:Documentation, type:Enhancement

#8304 Modernize application tests
  dev_mode/package.json
  packages/application/.vscode/launch.json
  packages/application/babel.config.js
  packages/application/jest.config.js
  packages/application/package.json
  packages/application/test/layoutrestorer.spec.ts
  packages/application/test/router.spec.ts
  packages/application/test/shell.spec.ts
  packages/application/tsconfig.test.json
  tests/test-application/jest.config.js
  tests/test-application/package.json
  tests/test-application/run.py
  tests/test-application/tsconfig.json
Labels: pkg:application, tag:Testing

#8305 Modernize codeeditor tests
  dev_mode/package.json
  packages/codeeditor/.vscode/launch.json
  packages/codeeditor/babel.config.js
  packages/codeeditor/jest.config.js
  packages/codeeditor/package.json
  packages/codeeditor/test/editor.spec.ts
  packages/codeeditor/test/jsoneditor.spec.ts
  packages/codeeditor/test/widget.spec.ts
  packages/codeeditor/tsconfig.test.json
  tests/test-codeeditor/jest.config.js
  tests/test-codeeditor/package.json
  tests/test-codeeditor/run.py
  tests/test-codeeditor/tsconfig.json
Labels: pkg:codeeditor, tag:DevOps, tag:Testing

#8307 Modernize completer tests
  dev_mode/package.json
  packages/completer/.vscode/launch.json
  packages/completer/babel.config.js
  packages/completer/jest.config.js
  packages/completer/package.json
  packages/completer/test/handler.spec.ts
  packages/completer/test/model.spec.ts
  packages/completer/test/widget.spec.ts
  packages/completer/tsconfig.test.json
  tests/test-completer/jest.config.js
  tests/test-completer/package.json
  tests/test-completer/run.py
  tests/test-completer/tsconfig.json
Labels: pkg:completer, tag:DevOps, tag:Testing

#8312 Modernize inspector tests
  dev_mode/package.json
  packages/inspector/.vscode/launch.json
  packages/inspector/babel.config.js
  packages/inspector/jest.config.js
  packages/inspector/package.json
  packages/inspector/test/inspector.spec.ts
  packages/inspector/tsconfig.test.json
  tests/test-inspector/jest.config.js
  tests/test-inspector/package.json
  tests/test-inspector/run.py
  tests/test-inspector/tsconfig.json
Labels: pkg:inspector, tag:DevOps, tag:Testing

#8314 Modernize nbformat tests
  dev_mode/package.json
  packages/nbformat/.vscode/launch.json
  packages/nbformat/babel.config.js
  packages/nbformat/jest.config.js
  packages/nbformat/package.json
  packages/nbformat/test/nbformat.spec.ts
  packages/nbformat/tsconfig.test.json
  tests/test-nbformat/jest.config.js
  tests/test-nbformat/package.json
  tests/test-nbformat/run.py
  tests/test-nbformat/tsconfig.json
Labels: tag:DevOps, tag:Testing

#8315 Modernize observables tests
  dev_mode/package.json
  packages/observables/.vscode/launch.json
  packages/observables/babel.config.js
  packages/observables/jest.config.js
  packages/observables/package.json
  packages/observables/test/modeldb.spec.ts
  packages/observables/test/observablejson.spec.ts
  packages/observables/test/observablelist.spec.ts
  packages/observables/test/observablemap.spec.ts
  packages/observables/test/observablestring.spec.ts
  packages/observables/test/undoablelist.spec.ts
  packages/observables/tsconfig.test.json
  tests/test-observables/jest.config.js
  tests/test-observables/package.json
  tests/test-observables/run.py
  tests/test-observables/tsconfig.json
Labels: pkg:observables, tag:DevOps, tag:Testing

#8318 Modernize statusbar tests
  dev_mode/package.json
  packages/statusbar/.vscode/launch.json
  packages/statusbar/babel.config.js
  packages/statusbar/jest.config.js
  packages/statusbar/package.json
  packages/statusbar/test/statusbar.spec.ts
  packages/statusbar/tsconfig.test.json
  tests/test-statusbar/jest.config.js
  tests/test-statusbar/package.json
  tests/test-statusbar/run.py
  tests/test-statusbar/tsconfig.json
Labels: pkg:statusbar, tag:DevOps, tag:Testing

#8306 Modernize codemirror tests
  dev_mode/package.json
  packages/codemirror/.vscode/launch.json
  packages/codemirror/babel.config.js
  packages/codemirror/jest.config.js
  packages/codemirror/package.json
  packages/codemirror/test/editor.spec.ts
  packages/codemirror/test/factory.spec.ts
  packages/codemirror/test/mode.spec.ts
  packages/codemirror/tsconfig.test.json
  tests/test-codemirror/jest.config.js
  tests/test-codemirror/package.json
  tests/test-codemirror/run.py
  tests/test-codemirror/tsconfig.json
Labels: pkg:codemirror, tag:DevOps, tag:Testing

#8317 Modernize statedb tests
  dev_mode/package.json
  packages/statedb/.vscode/launch.json
  packages/statedb/babel.config.js
  packages/statedb/jest.config.js
  packages/statedb/package.json
  packages/statedb/test/restorablepool.spec.ts
  packages/statedb/test/statedb.spec.ts
  packages/statedb/tsconfig.test.json
  tests/test-statedb/jest.config.js
  tests/test-statedb/package.json
  tests/test-statedb/run.py
  tests/test-statedb/tsconfig.json
Labels: pkg:statedb, tag:DevOps, tag:Testing

#8310 Modernize fileeditor tests
  dev_mode/package.json
  packages/fileeditor/.vscode/launch.json
  packages/fileeditor/babel.config.js
  packages/fileeditor/jest.config.js
  packages/fileeditor/package.json
  packages/fileeditor/test/widget.spec.ts
  packages/fileeditor/tsconfig.test.json
  tests/test-fileeditor/jest.config.js
  tests/test-fileeditor/package.json
  tests/test-fileeditor/run.py
  tests/test-fileeditor/tsconfig.json
Labels: pkg:fileeditor, tag:DevOps, tag:Testing

#8313 Modernize mainmenu tests
  dev_mode/package.json
  packages/mainmenu/.vscode/launch.json
  packages/mainmenu/babel.config.js
  packages/mainmenu/jest.config.js
  packages/mainmenu/package.json
  packages/mainmenu/test/edit.spec.ts
  packages/mainmenu/test/file.spec.ts
  packages/mainmenu/test/help.spec.ts
  packages/mainmenu/test/kernel.spec.ts
  packages/mainmenu/test/labmenu.spec.ts
  packages/mainmenu/test/mainmenu.spec.ts
  packages/mainmenu/test/run.spec.ts
  packages/mainmenu/test/util.ts
  packages/mainmenu/test/view.spec.ts
  packages/mainmenu/tsconfig.test.json
  tests/test-mainmenu/jest.config.js
  tests/test-mainmenu/package.json
  tests/test-mainmenu/run.py
  tests/test-mainmenu/tsconfig.json
Labels: pkg:mainmenu, tag:DevOps, tag:Testing

#8308 Modernize coreutils tests
  dev_mode/package.json
  packages/coreutils/.vscode/launch.json
  packages/coreutils/babel.config.js
  packages/coreutils/jest.config.js
  packages/coreutils/package.json
  packages/coreutils/test/activitymonitor.spec.ts
  packages/coreutils/test/markdowncodeblocks.spec.ts
  packages/coreutils/test/pageconfig.spec.ts
  packages/coreutils/test/path.spec.ts
  packages/coreutils/test/time.spec.ts
  packages/coreutils/test/url.spec.ts
  packages/coreutils/tsconfig.test.json
  tests/test-coreutils/jest.config.js
  tests/test-coreutils/package.json
  tests/test-coreutils/run.py
  tests/test-coreutils/src/url.spec.ts
  tests/test-coreutils/tsconfig.json
Labels: pkg:coreutils, tag:DevOps, tag:Testing

#8316 Modernize settingregistry tests
  dev_mode/package.json
  packages/settingregistry/.vscode/launch.json
  packages/settingregistry/babel.config.js
  packages/settingregistry/jest.config.js
  packages/settingregistry/package.json
  packages/settingregistry/test/settingregistry.spec.ts
  packages/settingregistry/tsconfig.test.json
  tests/test-settingregistry/jest.config.js
  tests/test-settingregistry/package.json
  tests/test-settingregistry/run.py
  tests/test-settingregistry/tsconfig.json
Labels: pkg:settingregistry, tag:DevOps, tag:Testing

#8311 Modernize imageviewer tests
  dev_mode/package.json
  packages/imageviewer/.vscode/launch.json
  packages/imageviewer/babel.config.js
  packages/imageviewer/jest.config.js
  packages/imageviewer/package.json
  packages/imageviewer/test/widget.spec.ts
  packages/imageviewer/tsconfig.test.json
  tests/test-imageviewer/jest.config.js
  tests/test-imageviewer/package.json
  tests/test-imageviewer/run.py
  tests/test-imageviewer/tsconfig.json
Labels: pkg:imageviewer, tag:DevOps, tag:Testing

#8319 Modernize ui-component tests
  .gitignore
  dev_mode/package.json
  package.json
  packages/ui-components/.storybook/tsconfig.json
  packages/ui-components/.vscode/launch.json
  packages/ui-components/babel.config.js
  packages/ui-components/jest.config.js
  packages/ui-components/package.json
  packages/ui-components/test/bar.svg
  packages/ui-components/test/foo.svg
  packages/ui-components/test/labicon.spec.ts
  packages/ui-components/test/svg.d.ts
  packages/ui-components/tsconfig.test.json
  scripts/ci_script.sh
  tests/test-ui-components/babel.config.js
  tests/test-ui-components/jest.config.js
  tests/test-ui-components/package.json
  tests/test-ui-components/run.py
  tests/test-ui-components/tsconfig.json
Labels: pkg:ui-components, tag:DevOps, tag:Testing

#8309 Modernize docregistry tests
  .github/workflows/linuxtests.yml
  buildutils/src/ensure-repo.ts
  dev_mode/package.json
  packages/docregistry/.vscode/launch.json
  packages/docregistry/babel.config.js
  packages/docregistry/jest.config.js
  packages/docregistry/package.json
  packages/docregistry/test/context.spec.ts
  packages/docregistry/test/default.spec.ts
  packages/docregistry/test/mimedocument.spec.ts
  packages/docregistry/test/registry.spec.ts
  packages/docregistry/tsconfig.test.json
  packages/services/package.json
  packages/services/test/kernel/comm.spec.ts
  packages/services/test/kernel/ifuture.spec.ts
  packages/services/test/kernel/ikernel.spec.ts
  packages/services/test/kernel/kernel.spec.ts
  packages/services/test/kernel/manager.spec.ts
  packages/services/test/session/isession.spec.ts
  packages/services/test/session/manager.spec.ts
  packages/services/test/session/session.spec.ts
  tests/test-docregistry/jest.config.js
  tests/test-docregistry/package.json
  tests/test-docregistry/run.py
  tests/test-docregistry/tsconfig.json
  testutils/src/mock.ts
  yarn.lock
Labels: pkg:docregistry, pkg:services, pkg:ui-components, tag:DevOps, tag:Testing
