Repository jupyterlab/jupyterlab, pull requests merged in 2020-12, with the labels that each got.

#9404 Cleanup unused Python imports in examples/
  examples/app/main.py
  examples/cell/main.py
  examples/console/main.py
  examples/federated/main.py
  examples/filebrowser/main.py
  examples/notebook/main.py
  examples/terminal/main.py
Labels: tag:Examples

#9388 Reconnect to kernel on manual restart
  packages/services/src/kernel/default.ts
Labels: pkg:services

#9417 [2.3.x] Perf: 20cells to render directly
  packages/notebook-extension/schema/tracker.json
  packages/notebook/src/widget.ts
Labels: pkg:notebook

#9395 PR: add setOptions to code mirror set options in batch inside an operation
  packages/cells/src/widget.ts
  packages/codeeditor/src/editor.ts
  packages/codemirror-extension/src/index.ts
  packages/codemirror/src/editor.ts
  packages/fileeditor-extension/src/commands.ts
  packages/notebook/src/widget.ts
Labels: pkg:cells, pkg:codeeditor, pkg:codemirror, pkg:fileeditor, pkg:notebook, tag:Performance

#9386 Remove the memory usage status bar item
  packages/statusbar-extension/README.md
  packages/statusbar-extension/src/index.ts
  packages/statusbar/package.json
  packages/statusbar/src/defaults/index.ts
  packages/statusbar/src/defaults/memoryUsage.tsx
  packages/statusbar/src/style/text.ts
Labels: pkg:statusbar

#9426 Throws an error if the kernel cannot start the debugger
  packages/debugger/src/session.ts
Labels: pkg:debugger

#9400 Fix scroll positions when clearing outputs
  packages/notebook/src/actions.tsx
Labels: pkg:notebook

#9439 Make ILabShell optional in the filebrowser factory plugin
  packages/filebrowser-extension/src/index.ts
Labels: pkg:filebrowser

#9346 Handle multiple scopes in the debugger variables viewer
  packages/debugger-extension/schema/main.json
  packages/debugger/src/panels/variables/grid.ts
  packages/debugger/src/panels/variables/index.ts
  packages/debugger/src/panels/variables/scope.tsx
  packages/debugger/src/panels/variables/tree.tsx
  packages/debugger/src/service.ts
Labels: Design System CSS, pkg:debugger, tag:CSS

#9442 Make ITreePathUpdater optional in file browser plugin
  packages/filebrowser-extension/src/index.ts
Labels: pkg:filebrowser

#9447 Fix browser test
  dev_mode/index.js
Labels: tag:Testing

#9445 Set the Tabs menu title by default
  packages/mainmenu-extension/src/index.ts
Labels: pkg:mainmenu

#9432 Replace switch in debugger
  packages/debugger/src/handler.ts
  packages/debugger/src/panels/variables/index.ts
  packages/debugger/style/base.css
  packages/debugger/style/icons.css
  packages/ui-components/style/switch.css
Labels: Design System CSS, pkg:debugger, pkg:ui-components, tag:CSS

#9448 Fix some of the ui-components dependency warnings
  package.json
  packages/ui-components/.storybook/webpack.config.js
  packages/ui-components/package.json
  yarn.lock
Labels: pkg:ui-components

#9452 debugger-sidebar
  packages/debugger-extension/src/index.ts
Labels: pkg:debugger

#9451 Update style-loader and mini-css-extract-plugin
  .eslintignore
  builder/package.json
  dev_mode/package.json
  examples/app/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/federated/core_package/package.json
  examples/filebrowser/package.json
  examples/notebook/package.json
  examples/terminal/package.json
  jupyterlab/staging/package.json
  packages/extensionmanager-extension/examples/listings/package.json
  packages/nbconvert-css/package.json
  packages/nbconvert-css/raw.css
  packages/nbconvert-css/raw.js
  packages/nbconvert-css/webpack.config.js
  packages/services/examples/typescript-browser-with-output/package.json
  yarn.lock
Labels: Design System CSS, pkg:extensionmanager, pkg:services, tag:CSS, tag:Examples

#9446 Support for lowercase search queries in the file browser
  packages/filebrowser/src/search.tsx
Labels: pkg:filebrowser

#9454 Document new page config conventions
  docs/source/user/directories.rst
  docs/source/user/extensions.rst
Labels: tag:Documentation

#9412 Remove unused requires for the tree-resolver plugin
  packages/application-extension/src/index.tsx
Labels: pkg:application

#9463 Backport PR #9400 on branch 2.3.x (Fix scroll positions when clearing outputs)
  packages/notebook/src/actions.tsx
Labels: pkg:notebook

#7130 User overrides for CSS `font-family` of theme fonts
  packages/apputils-extension/schema/themes.json
  packages/apputils-extension/src/themesplugins.ts
  packages/apputils/src/thememanager.ts
  packages/notebook/test/actions.spec.ts
  packages/rendermime/test/factories.spec.ts
Labels: pkg:apputils, pkg:notebook, pkg:rendermime, pkg:themes, pkg:ui-components, status:Needs Discussion, tag:Design and UX

#9467 Make some dependencies optional for the code console plugin
  packages/console-extension/src/index.ts
Labels: pkg:console

#9468 Disable Shut Down All button if there is no running kernel or terminal
  packages/running/src/index.tsx
  packages/running/style/base.css
Labels: Design System CSS, pkg:running, tag:CSS

#9380 Change user references from single-document mode to Simple Interface (mode)
  docs/source/developer/contributing.rst
  docs/source/getting_started/changelog.rst
  docs/source/user/interface.rst
  packages/application-extension/src/index.tsx
  packages/application/src/shell.ts
  packages/statusbar-extension/src/index.ts
Labels: pkg:application, pkg:statusbar, tag:Documentation

#9484 resolve 'restarting' state on reconnect
  packages/services/src/kernel/default.ts
Labels: pkg:services

#9493 More updates for 3.0 changelog
  docs/source/getting_started/changelog.rst
Labels: tag:Documentation

#9492 Fix handling of disabledExtension strings
  jupyterlab/commands.py
  packages/coreutils/src/pageconfig.ts
Labels: pkg:coreutils

#9497 Allow downloads in iframe "sandbox"
  packages/apputils/src/iframe.ts
Labels: pkg:apputils
