Repository jupyterlab/jupyterlab, pull requests merged in 2021-07, with the labels that each got.

#10520 Backport PR #10507 on branch 3.0.x (Check to make sure process.argv exists before using it.)
  packages/coreutils/src/pageconfig.ts
Labels: bug, pkg:coreutils, tag:Backport

#10505 [HOTFIX] Render the correct index placeholder cell
  packages/notebook/src/widget.ts
  packages/notebook/test/widget.spec.ts
Labels: bug, pkg:notebook

#10536 Move answered workflow file to the workflows directory
  .github/workflows/answered.yml
Labels: maintenance

#10531 Fix contrast issues in command palette and file browser
  packages/apputils/src/commandpalette.ts
  packages/apputils/style/commandpalette.css
  packages/filebrowser/style/base.css
  packages/ui-components/style/deprecatedExtra.css
  packages/ui-components/style/icons/toolbar/check.svg
Labels: Design System CSS, bug, pkg:apputils, pkg:filebrowser, pkg:ui-components, tag:CSS

#10532 Fix dialog windows ignoring buttons focus
  packages/apputils/src/dialog.tsx
  packages/apputils/test/dialog.spec.tsx
Labels: bug, pkg:apputils

#10519 Open inspector split to the right
  packages/inspector-extension/src/index.ts
Labels: enhancement, pkg:inspector, tag:Design and UX

#10510 Make current kernel the default in kernel selector
  packages/apputils/src/sessioncontext.tsx
Labels: enhancement, pkg:apputils

#10495 Add language to MarkdownCodeBlocks' "should find a block with a language" spec
  packages/coreutils/test/markdowncodeblocks.spec.ts
Labels: maintenance, pkg:coreutils

#10539 Export awareness
  packages/docprovider/src/index.ts
Labels: maintenance, pkg:docprovider, tag:Real Time Collaboration

#10543 Update docs
  docs/environment.yml
  docs/source/developer/contributing.rst
Labels: documentation

#10493 Add selectionExecuted and executionScheduled signals + update executed signal to include error status/info
  packages/notebook/src/actions.tsx
  packages/notebook/test/actions.spec.ts
Labels: enhancement, pkg:notebook

#10550 Fix string variable in debugger tree view
  packages/debugger/src/panels/variables/index.ts
Labels: bug, pkg:debugger

#10553 Fix closing answered issues by setting the stale-issue-message attribute
  .github/workflows/answered.yml
Labels: maintenance

#10549 Switch to dev-mode for ui-tests
  .github/workflows/ui-tests.yml
  .gitignore
  Dockerfile
  docker/jupyter_server_config.json
  packages/apputils/src/sessioncontext.tsx
  scripts/build_docker.sh
  setup.cfg
  ui-tests/README.md
  ui-tests/docker/docker-compose.yml
  ui-tests/docker/run-e2e.sh
  ui-tests/reference-output/screenshots/contextmenu_notebook_code.png
  ui-tests/reference-output/screenshots/contextmenu_notebook_md.png
  ui-tests/reference-output/screenshots/general_dark_theme.png
  ui-tests/reference-output/screenshots/general_filebrowser_right.png
  ui-tests/reference-output/screenshots/general_launch.png
  ui-tests/reference-output/screenshots/general_opened_menu_settings.png
  ui-tests/reference-output/screenshots/general_opened_sidebar_extensionmanager_main_view.png
  ui-tests/reference-output/screenshots/general_opened_sidebar_filebrowser.png
  ui-tests/reference-output/screenshots/general_opened_sidebar_jp_property_inspector.png
  ui-tests/reference-output/screenshots/general_opened_sidebar_jp_running_sessions.png
  ui-tests/reference-output/screenshots/general_opened_sidebar_table_of_contents.png
  ui-tests/reference-output/screenshots/general_simple_mode.png
  ui-tests/reference-output/screenshots/notebook_create_dark_theme.png
  ui-tests/reference-output/screenshots/notebook_create_opened_menu_settings.png
  ui-tests/reference-output/screenshots/notebook_create_run_cells.png
  ui-tests/reference-output/screenshots/notebook_edit_copy_paste_cell.png
  ui-tests/reference-output/screenshots/notebook_edit_cut_paste_cell.png
  ui-tests/reference-output/screenshots/notebook_edit_delete_cell.png
  ui-tests/reference-output/screenshots/notebook_edit_deselect_all_cells.png
  ui-tests/reference-output/screenshots/notebook_edit_execute_again.png
  ui-tests/reference-output/screenshots/notebook_edit_merge_cells.png
  ui-tests/reference-output/screenshots/notebook_edit_move_cell_down.png
  ui-tests/reference-output/screenshots/notebook_edit_move_cell_up.png
  ui-tests/reference-output/screenshots/notebook_edit_paste_replace_cell.png
  ui-tests/reference-output/screenshots/notebook_edit_reedit_cell.png
  ui-tests/reference-output/screenshots/notebook_edit_run_cell.png
  ui-tests/reference-output/screenshots/notebook_edit_select_all_cells.png
  ui-tests/reference-output/screenshots/notebook_edit_split_cell.png
  ui-tests/reference-output/screenshots/notebook_run_page_0.png
  ui-tests/reference-output/screenshots/notebook_toolbar_change_to_markdown.png
  ui-tests/reference-output/screenshots/notebook_toolbar_copy_paste_cell.png
  ui-tests/reference-output/screenshots/notebook_toolbar_cut_cell.png
  ui-tests/reference-output/screenshots/notebook_toolbar_delete_cell.png
  ui-tests/reference-output/screenshots/notebook_toolbar_insert_cells.png
  ui-tests/reference-output/screenshots/notebook_toolbar_paste_cell.png
  ui-tests/reference-output/screenshots/notebook_toolbar_re_run_cell.png
  ui-tests/reference-output/screenshots/notebook_toolbar_run_cell.png
  ui-tests/reference-output/screenshots/toc_show_tags.png
  ui-tests/reference-output/screenshots/toc_toc_panel.png
  ui-tests/reference-output/screenshots/toc_toggle_code.png
  ui-tests/reference-output/screenshots/toc_toggle_markdown.png
  ui-tests/reference-output/screenshots/toc_toggle_numbered_list.png
  ui-tests/reference-output/screenshots/toc_toggle_tag_1.png
  ui-tests/reference-output/screenshots/toc_toggle_tag_2.png
Labels: maintenance, pkg:apputils, tag:Testing

#10563 Reorganize settings menu for text editor
  packages/codemirror-extension/schema/commands.json
  packages/fileeditor-extension/schema/plugin.json
  ui-tests/reference-output/screenshots/general_opened_menu_settings.png
  ui-tests/reference-output/screenshots/notebook_create_opened_menu_settings.png
Labels: enhancement, pkg:codemirror, pkg:fileeditor, tag:Testing

#10555 Add promptCellConfig to Code Console Settings
  packages/console-extension/schema/tracker.json
  packages/console-extension/src/index.ts
Labels: enhancement, pkg:console

#10556 Completer: Do not announce subset match selection if it did not change
  packages/completer/src/widget.ts
Labels: bug, pkg:completer

#10547 Documentation for Real Time Collaboration
  docs/source/extension/documents.rst
  docs/source/extension/extension_points.rst
  docs/source/index.rst
  docs/source/user/images/shared_cursors.png
  docs/source/user/images/sync_editors.png
  docs/source/user/rtc.rst
  docs/source/user/urls.rst
Labels: documentation, tag:Real Time Collaboration

#10567 Restore JupyterLabMenu missing `menu` attribute
  packages/ui-components/src/components/menu.ts
Labels: bug, pkg:ui-components

#10568 Add new file to CodeQL `path-ignore`
  .github/codeql/codeql-config.yml
Labels: maintenance

#10569 Skip the ipykernel debugger test
  packages/debugger/test/service.spec.ts
Labels: maintenance, pkg:debugger

#10535 Update skiplink implementation
  packages/application-extension/style/base.css
  packages/application/src/shell.ts
  packages/application/style/base.css
  packages/application/style/skiplink.css
  packages/filebrowser/src/browser.ts
Labels: Design System CSS, maintenance, pkg:application, pkg:filebrowser, tag:Accessibility, tag:CSS

#10575 Set the stale message to have an actual value.
  .github/workflows/answered.yml
Labels: maintenance

#10564 Rename files in collaborative mode
  packages/docregistry/src/context.ts
Labels: pkg:docregistry, tag:Real Time Collaboration

#10572 Move the application status check to a separate plugin
  packages/application-extension/src/index.tsx
Labels: maintenance, pkg:application

#10579 Fix documentation for `selectionExecuted` signal (copy-paste error)
  packages/notebook/src/actions.tsx
Labels: documentation, pkg:notebook

#10580 Remove `tabIndex` taking focus away from notebook
  packages/outputarea/src/widget.ts
Labels: bug, pkg:outputarea

#10574 Open Help menu's Jupyter Forum in a new browser tab by default
  packages/help-extension/schema/jupyter-forum.json
  packages/help-extension/src/index.tsx
  ui-tests/reference-output/screenshots/general_opened_menu_help.png
  ui-tests/reference-output/screenshots/notebook_create_opened_menu_help.png
Labels: bug, pkg:help, tag:Testing

#10583 Give answered issues action permission to write
  .github/workflows/answered.yml
Labels: maintenance

#10585 Only save and use valid user settings for the editor
  packages/fileeditor-extension/src/commands.ts
Labels: bug, pkg:fileeditor

#10586 Rename to `YjsEchoWebSocket`
  jupyterlab/handlers/yjs_echo_ws.py
  jupyterlab/labapp.py
Labels: maintenance

#10590 Allow to set custom position for `Tooltip`
  packages/tooltip/src/widget.ts
Labels: enhancement, pkg:tooltip

#10588 Do not show tooltip when completer is active
  packages/tooltip-extension/schema/notebooks.json
Labels: bug, pkg:tooltip

#10527 DirListing: Make mouse events methods protected
  packages/filebrowser/src/listing.ts
Labels: maintenance, pkg:filebrowser

#10587 Switch to using a `PromiseDelegate` in `yprovider.ts`
  packages/docprovider/src/yprovider.ts
Labels: maintenance, pkg:docprovider

#10516 Refresh yarn.lock in preparation for 3.1
  buildutils/package.json
  package.json
  packages/apputils-extension/src/index.ts
  packages/ui-components/package.json
  tsconfigdoc.json
  ui-tests/reference-output/screenshots/general_dark_theme.png
  ui-tests/reference-output/screenshots/general_filebrowser_right.png
  ui-tests/reference-output/screenshots/general_launch.png
  yarn.lock
Labels: maintenance, pkg:apputils, pkg:ui-components, tag:Testing

#10592 Fix `js-services` test with the new ipykernel 6
  jupyterlab/tests/echo_kernel.py
Labels: maintenance

#10571 Move all child cells when collapsed markdown heading is moved
  packages/notebook-extension/src/index.ts
  packages/notebook/src/actions.tsx
  packages/notebook/src/widget.ts
Labels: bug, pkg:notebook

#10348 tagging deprecated completer APIs
  packages/completer/src/handler.ts
  packages/completer/src/model.ts
Labels: maintenance, pkg:completer

#10598 Fix font-weight for collaborative cursor caret
  packages/codemirror/style/base.css
Labels: Design System CSS, bug, pkg:codemirror, tag:CSS

#10605 Restore current sidebar widget even if sides are switched
  packages/application-extension/src/index.tsx
Labels: bug, pkg:application

#10604 Mention prebuilt extensions in README and docs
  README.md
  docs/source/extension/extension_migration.rst
  docs/source/user/directories.rst
Labels: documentation

#10603 Save only workspace name as metadata.id instead of full path
  packages/apputils-extension/src/workspacesplugin.ts
Labels: Tag:Workspaces, bug

#10599 replace OS X -> macOS
  docs/source/getting_started/installation.rst
Labels: documentation

#10602 Invoke onCellInserted when rendering a placeholder cell
  packages/notebook/src/actions.tsx
  packages/notebook/src/widget.ts
  packages/observables/src/observablelist.ts
Labels: bug, pkg:notebook, pkg:observables

#10512 Add `ipykernel` to the debugger user docs
  docs/source/user/debugger.rst
  docs/source/user/images/debugger/kernel-selection.gif
  docs/source/user/images/debugger/xpython-launcher.png
Labels: documentation

#10537 feat: add options to include cell output in headings
  packages/toc-extension/schema/plugin.json
  packages/toc/src/generators/notebook/get_rendered_html_heading.ts
  packages/toc/src/generators/notebook/index.ts
  packages/toc/src/generators/notebook/options_manager.ts
  packages/toc/src/generators/notebook/toolbar_generator.tsx
Labels: enhancement, pkg:toc

#10606 Finish Releaser Integration
  .github/workflows/check-release.yml
  .gitignore
  CHANGELOG.md
  buildutils/src/bumpversion.ts
  buildutils/src/local-repository.ts
  buildutils/src/publish.ts
  buildutils/src/utils.ts
  package.json
  packages/celltags-extension/package.json
  packages/celltags/package.json
  packages/nbconvert-css/package.json
  packages/translation-extension/package.json
  packages/translation/package.json
  pyproject.toml
  scripts/ci_script.sh
Labels: pkg:celltags, pkg:translation

#10608 Fix usage of Releaser
  package.json
  pyproject.toml
Labels: maintenance

#10545 communicate heading collapse between ToC and Notebook
  packages/cells/src/widget.ts
  packages/toc-extension/schema/plugin.json
  packages/toc/src/generators/notebook/append_collapsible_heading.ts
  packages/toc/src/generators/notebook/append_markdown_heading.ts
  packages/toc/src/generators/notebook/index.ts
  packages/toc/src/generators/notebook/options_manager.ts
  packages/toc/src/generators/notebook/render.tsx
  packages/toc/src/generators/notebook/toolbar_generator.tsx
Labels: enhancement, pkg:cells, pkg:toc

#10611 Add changelog entry for 10545
  CHANGELOG.md
Labels: documentation

#10609 Revert name file feature
  packages/docmanager-extension/schema/plugin.json
  packages/docmanager-extension/src/index.ts
  packages/docmanager/src/dialogs.ts
  packages/docmanager/src/manager.ts
  packages/docmanager/src/tokens.ts
  packages/docregistry/src/context.ts
  packages/services/src/contents/index.ts
  ui-tests/reference-output/screenshots/general_opened_menu_settings.png
  ui-tests/reference-output/screenshots/notebook_create_opened_menu_settings.png
Labels: pkg:docmanager, pkg:docregistry, pkg:services, tag:Testing

#10518 Simple mode rename improvements 2.0
  packages/application/package.json
  packages/application/src/shell.ts
  packages/application/style/index.css
  packages/application/style/index.js
  packages/application/tsconfig.json
  packages/application/tsconfig.test.json
  packages/docmanager-extension/style/index.css
  packages/docmanager-extension/style/index.js
  packages/docregistry/src/default.ts
  packages/filebrowser-extension/style/index.css
  packages/filebrowser-extension/style/index.js
  packages/notebook-extension/style/index.css
  packages/notebook-extension/style/index.js
  packages/rendermime-extension/style/index.css
  packages/rendermime-extension/style/index.js
  packages/toc-extension/style/index.css
  packages/toc-extension/style/index.js
Labels: Design System CSS, enhancement, pkg:application, pkg:docmanager, pkg:docregistry, pkg:filebrowser, pkg:notebook, pkg:rendermime, pkg:toc, tag:CSS

#9488 disable autoClosingBrackets by default everywhere
  packages/codeeditor/src/editor.ts
  packages/fileeditor-extension/schema/plugin.json
  packages/fileeditor-extension/src/commands.ts
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/widget.ts
  packages/notebook/test/widget.spec.ts
  ui-tests/reference-output/screenshots/general_opened_menu_settings.png
  ui-tests/reference-output/screenshots/general_opened_menu_settings_console_run_keystroke.png
  ui-tests/reference-output/screenshots/general_opened_menu_settings_jupyterlab_theme.png
  ui-tests/reference-output/screenshots/general_opened_menu_settings_language.png
  ui-tests/reference-output/screenshots/general_opened_menu_settings_terminal_theme.png
  ui-tests/reference-output/screenshots/general_opened_menu_settings_text_editor_indentation.png
  ui-tests/reference-output/screenshots/general_opened_menu_settings_text_editor_key_map.png
  ui-tests/reference-output/screenshots/general_opened_menu_settings_text_editor_theme.png
  ui-tests/reference-output/screenshots/notebook_create_opened_menu_settings.png
  ui-tests/reference-output/screenshots/notebook_create_opened_menu_settings_console_run_keystroke.png
  ui-tests/reference-output/screenshots/notebook_create_opened_menu_settings_jupyterlab_theme.png
  ui-tests/reference-output/screenshots/notebook_create_opened_menu_settings_language.png
  ui-tests/reference-output/screenshots/notebook_create_opened_menu_settings_terminal_theme.png
  ui-tests/reference-output/screenshots/notebook_create_opened_menu_settings_text_editor_indentation.png
  ui-tests/reference-output/screenshots/notebook_create_opened_menu_settings_text_editor_key_map.png
  ui-tests/reference-output/screenshots/notebook_create_opened_menu_settings_text_editor_theme.png
Labels: enhancement, pkg:codeeditor, pkg:fileeditor, pkg:notebook, tag:Testing

#10614 More releaser fixes
  .github/workflows/check-release.yml
  buildutils/src/local-repository.ts
  package.json
  pyproject.toml
Labels: maintenance

#10612 Disable autoclosing brackets by default in console
  packages/console-extension/schema/tracker.json
  packages/console-extension/src/index.ts
  packages/fileeditor-extension/src/commands.ts
Labels: bug, pkg:console, pkg:fileeditor

#10624 Move the context menu building logic to a separate plugin
  packages/application-extension/src/index.tsx
Labels: maintenance, pkg:application

#10623 Fix typo in the `dirty` plugin id
  packages/application-extension/src/index.tsx
Labels: maintenance, pkg:application

#10626 Backport PR #10624 on branch 3.1.x (Move the context menu building logic to a separate plugin)
  packages/application-extension/src/index.tsx
Labels: maintenance, pkg:application

#10621 More automated release fixes
  buildutils/src/local-repository.ts
  package.json
  pyproject.toml
Labels: bug

#10627 Backport PR #10623 on branch 3.1.x (Fix typo in the `dirty` plugin id)
  packages/application-extension/src/index.tsx
Labels: maintenance, pkg:application

#10629 Backport PR #10621 on branch 3.1.x (More automated release fixes)
  buildutils/src/local-repository.ts
  package.json
  pyproject.toml
Labels: bug

#10639 fixes doc string for toc syncCollapseState setting
  packages/toc-extension/schema/plugin.json
Labels: pkg:toc

#10641 Fix error messages when creating new dirs/files in a read only dir
  packages/filebrowser/src/browser.ts
  packages/fileeditor-extension/src/commands.ts
  packages/notebook-extension/src/index.ts
Labels: bug, pkg:filebrowser, pkg:fileeditor, pkg:notebook

#10644 Backport PR #10639 on branch 3.1.x (fixes doc string for toc syncCollapseState setting)
  packages/toc-extension/schema/plugin.json
Labels: enhancement, pkg:toc

#10646 Backport PR #10641 on branch 3.1.x (Fix error messages when creating new dirs/files in a read only dir)
  packages/filebrowser/src/browser.ts
  packages/fileeditor-extension/src/commands.ts
  packages/notebook-extension/src/index.ts
Labels: bug, pkg:filebrowser, pkg:fileeditor, pkg:notebook

#10651 Fixed event handler in debugger session test
  packages/debugger/test/session.spec.ts
Labels: bug, pkg:debugger

#10654 Add some upgrade notes to JupyterLab 3.1
  docs/source/extension/extension_dev.rst
  docs/source/extension/extension_migration.rst
  docs/source/extension/extension_points.rst
Labels: documentation

#10658 Backport PR #10651 on branch 3.1.x (Fixed event handler in debugger session test)
  packages/debugger/test/session.spec.ts
Labels: bug, pkg:debugger

#10659 Backport PR #10654 on branch 3.1.x (Add some upgrade notes to JupyterLab 3.1)
  docs/source/extension/extension_dev.rst
  docs/source/extension/extension_migration.rst
  docs/source/extension/extension_points.rst
Labels: documentation

#10660 Fix integrity2 test
  scripts/ci_script.sh
Labels: maintenance

#10664 Restore the focus target check removed in #10517
  packages/notebook/src/widget.ts
  ui-tests/reference-output/screenshots/notebook_edit_merge_cells.png
  ui-tests/reference-output/screenshots/notebook_edit_split_cell.png
Labels: bug, pkg:notebook, tag:Testing

#10665 Backport PR #10664 on branch 3.1.x (Restore the focus target check removed in #10517)
  packages/notebook/src/widget.ts
  ui-tests/reference-output/screenshots/notebook_edit_merge_cells.png
  ui-tests/reference-output/screenshots/notebook_edit_split_cell.png
Labels: bug, pkg:notebook, tag:Testing

#10663 Backport PR #10660 on branch 3.0.x (Fix integrity2 test)
  scripts/ci_script.sh
Labels: maintenance

#10671 Automated Changelog Entry for 3.1.0rc2 on 3.1.x
  CHANGELOG.md
Labels: documentation

#10673 Clean up link checking
  pyproject.toml
  scripts/ci_script.sh
Labels: maintenance

#10674 Backport PR #10673 on branch 3.1.x (Clean up link checking)
  pyproject.toml
  scripts/ci_script.sh
Labels: maintenance

#10649 Remove issue templates to use the organization ones
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: maintenance

#10678 Add icon and mnemonic menu attributes in settings
  packages/application-extension/schema/main.json
  packages/apputils/src/menufactory.ts
  packages/mainmenu-extension/schema/plugin.json
  packages/settingregistry/src/plugin-schema.json
  packages/settingregistry/src/tokens.ts
Labels: bug, pkg:application, pkg:apputils, pkg:mainmenu, pkg:settingregistry

#10683 Backport PR #10660 on branch 3.1.x (Fix integrity2 test)
  scripts/ci_script.sh
Labels: maintenance

#10681 Backport PR #10678 on branch 3.1.x (Add icon and mnemonic menu attributes in settings)
  packages/application-extension/schema/main.json
  packages/apputils/src/menufactory.ts
  packages/mainmenu-extension/schema/plugin.json
  packages/settingregistry/src/plugin-schema.json
  packages/settingregistry/src/tokens.ts
Labels: bug, pkg:application, pkg:apputils, pkg:mainmenu, pkg:settingregistry

#10687 Clean up Link Caching
  .github/workflows/check-release.yml
  .github/workflows/linuxtests.yml
Labels: maintenance

#10647 Fix #10391 - incorrect cursor position after autocomplete
  packages/completer/src/handler.ts
  packages/completer/test/handler.spec.ts
Labels: bug, pkg:completer

#10686 Set anonymous username bug
  packages/docprovider/src/yprovider.ts
Labels: bug, pkg:docprovider

#10685 Use trusted property instead of introspection
  packages/htmlviewer-extension/src/index.tsx
Labels: maintenance, pkg:htmlviewer

#10690 Backport PR #10686 on branch 3.1.x (Set anonymous username bug)
  packages/docprovider/src/yprovider.ts
Labels: bug, pkg:docprovider

#10689 Backport PR #10647 on branch 3.1.x (Fix #10391 - incorrect cursor position after autocomplete)
  packages/completer/src/handler.ts
  packages/completer/test/handler.spec.ts
Labels: bug, pkg:completer

#10688 Backport PR #10687 on branch 3.1.x (Clean up Link Caching)
  .github/workflows/check-release.yml
  .github/workflows/linuxtests.yml
Labels: maintenance

#10670 Add alt attirbutes for test docs sprint
  CHANGELOG.md
  docs/source/user/files.rst
  docs/source/user/interface.rst
Labels: documentation, tag:Accessibility

#10692 Backport PR #10670 on branch 3.1.x (Add alt attirbutes for test docs sprint)
  CHANGELOG.md
  docs/source/user/files.rst
  docs/source/user/interface.rst
Labels: documentation, tag:Accessibility

#10693 Workaround disappearing palette issue by using blur
  packages/apputils/src/commandpalette.ts
  packages/apputils/test/commandpalette.spec.ts
Labels: bug, pkg:apputils

#10695 Backport PR #10693 on branch 3.1.x (Workaround disappearing palette issue by using blur)
  packages/apputils/src/commandpalette.ts
  packages/apputils/test/commandpalette.spec.ts
Labels: bug, pkg:apputils

#10645 Context menu plugin schema
  packages/application-extension/schema/commands.json
  packages/application-extension/schema/context-menu.json
  packages/application-extension/src/index.tsx
Labels: maintenance, pkg:application

#10425 Add ability to hide side tab bars
  docs/source/developer/contributing.rst
  docs/source/extension/extension_points.rst
  docs/source/user/interface.rst
  packages/application-extension/schema/commands.json
  packages/application-extension/schema/property-inspector.json
  packages/application-extension/src/index.tsx
  packages/application/src/layoutrestorer.ts
  packages/application/src/shell.ts
  packages/application/test/layoutrestorer.spec.ts
  packages/apputils-extension/schema/palette.json
  packages/debugger-extension/schema/main.json
  packages/debugger-extension/src/index.ts
  packages/debugger/src/debugger.ts
  packages/extensionmanager-extension/schema/plugin.json
  packages/extensionmanager-extension/src/index.ts
  packages/filebrowser-extension/schema/browser.json
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/opendialog.ts
  packages/logconsole-extension/schema/plugin.json
  packages/running-extension/package.json
  packages/running-extension/schema/plugin.json
  packages/running-extension/src/index.ts
  packages/statusbar-extension/schema/plugin.json
  packages/statusbar-extension/src/index.ts
  packages/toc-extension/package.json
  packages/toc-extension/schema/plugin.json
  packages/toc-extension/src/index.ts
  ui-tests/reference-output/screenshots/general_opened_menu_file.png
  ui-tests/reference-output/screenshots/general_opened_menu_file_new.png
  ui-tests/reference-output/screenshots/general_opened_menu_view.png
  ui-tests/reference-output/screenshots/general_opened_menu_view_appearance.png
  ui-tests/reference-output/screenshots/notebook_create_opened_menu_file.png
  ui-tests/reference-output/screenshots/notebook_create_opened_menu_file_new.png
  ui-tests/reference-output/screenshots/notebook_create_opened_menu_view.png
  ui-tests/reference-output/screenshots/notebook_create_opened_menu_view_appearance.png
  ui-tests/tests/general.test.ts
  ui-tests/tests/util.ts
Labels: documentation, enhancement, pkg:application, pkg:apputils, pkg:debugger, pkg:extensionmanager, pkg:filebrowser, pkg:logconsole, pkg:running, pkg:statusbar, pkg:toc, tag:Testing

#10698 Backport PR #10645 on branch 3.1.x (Context menu plugin schema)
  packages/application-extension/schema/commands.json
  packages/application-extension/schema/context-menu.json
  packages/application-extension/src/index.tsx
Labels: maintenance, pkg:application

#10709 Update Changelog for 3.1 final release
  CHANGELOG.md
Labels: documentation

#10710 Update changelog in master to reflect 3.1 final
  CHANGELOG.md
Labels: maintenance

#10713 Minor improvement to contributing documentation
  docs/source/developer/contributing.rst
Labels: documentation

#10715 Backport PR #10713 on branch 3.1.x (Minor improvement to contributing documentation)
  docs/source/developer/contributing.rst
Labels: documentation

#10717 Move @types/react in devDependencies of apputils
  jupyterlab/commands.py
  packages/apputils/package.json
Labels: pkg:apputils

#10719 Revert move @types/react in devDependencies of apputils
  packages/apputils/package.json
Labels: pkg:apputils

#10708 Add branch integrity handling
  .github/workflows/check-release.yml
  .github/workflows/linuxjs-flaky-tests.yml
  .github/workflows/linuxjs-tests.yml
  .github/workflows/linuxtests.yml
  .github/workflows/macostests.yml
  .github/workflows/ui-tests.yml
  .github/workflows/windowstests.yml
  Dockerfile
  README.md
  buildutils/src/ensure-repo.ts
  docker/jupyter_server_config.json
  docs/source/user/rtc.rst
  packages/extensionmanager/src/widget.tsx
  packages/help-extension/src/index.tsx
  packages/ui-components/docs/source/intro.rst
  setup.cfg
  ui-tests/docker/docker-compose.yml
Labels: documentation, maintenance, pkg:extensionmanager, pkg:help, pkg:ui-components, tag:Testing

#10728 Normalize translation domain
  packages/translation/src/gettext.ts
  packages/translation/src/manager.ts
  packages/translation/src/utils.ts
Labels: enhancement, pkg:translation

#10724 Use appName in page title when restoring workspaces (vs 3.1.x)
  packages/apputils-extension/src/index.ts
Labels: bug, pkg:apputils

#10490 RTC: persist rtc user color & name in state db
  examples/federated/md_package/index.js
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/index.ts
  packages/docprovider-extension/tsconfig.json
  packages/docprovider/package.json
  packages/docprovider/src/yprovider.ts
  packages/docprovider/tsconfig.json
  packages/docprovider/tsconfig.test.json
Labels: enhancement, pkg:docprovider, tag:Examples, tag:Real Time Collaboration

#10723 Backport PR #10708 on branch 3.1.x (Add branch integrity handling)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/pull_request_template.md
  .github/workflows/check-release.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/linuxjs-flaky-tests.yml
  .github/workflows/linuxjs-tests.yml
  .github/workflows/linuxtests.yml
  .github/workflows/macostests.yml
  .github/workflows/ui-tests.yml
  .github/workflows/windowstests.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Dockerfile
  README.md
  RELEASE.md
  buildutils/src/ensure-repo.ts
  docker/jupyter_server_config.json
  docs/source/conf.py
  docs/source/developer/components.rst
  docs/source/developer/contributing.rst
  docs/source/developer/css.rst
  docs/source/developer/repo.rst
  docs/source/extension/extension_dev.rst
  docs/source/extension/extension_migration.rst
  docs/source/extension/extension_tutorial.rst
  docs/source/getting_started/faq.rst
  packages/javascript-extension/README.md
  packages/json-extension/README.md
  packages/vdom-extension/README.md
  packages/vdom/README.md
  packages/vega5-extension/README.md
  setup.cfg
  ui-tests/docker/docker-compose.yml
Labels: documentation, maintenance, pkg:javascript, pkg:json, pkg:vdom, pkg:vega, tag:Testing

#10733 Automated Changelog Entry for 3.1.1 on 3.1.x
  CHANGELOG.md
Labels: documentation

#10743 Fix Verdaccio Publish
  buildutils/src/local-repository.ts
Labels: maintenance

#10742 More Cleanup of Automated Release Process
  buildutils/src/prepare-python-release.ts
  buildutils/src/publish.ts
Labels: maintenance

#10744 Fixes for Branch Integrity
  buildutils/src/ensure-repo.ts
Labels: maintenance

#10745 Backport PR #10743 on branch 3.1.x (Fix Verdaccio Publish)
  buildutils/src/local-repository.ts
Labels: maintenance

#10746 Backport PR #10742 on branch 3.1.x (More Cleanup of Automated Release Process)
  buildutils/src/prepare-python-release.ts
  buildutils/src/publish.ts
Labels: maintenance

#10720 Responsive document toolbar
  packages/apputils/src/toolbar.tsx
  packages/apputils/test/toolbar.spec.ts
  packages/debugger/test/debugger.spec.ts
  packages/docregistry/test/default.spec.ts
  packages/notebook/style/toolbar.css
  packages/notebook/test/widgetfactory.spec.ts
Labels: Design System CSS, pkg:apputils, pkg:debugger, pkg:docregistry, pkg:notebook, tag:CSS

#10747 Another Fix to Verdaccio Publishing
  buildutils/src/local-repository.ts
Labels: maintenance

#10748 Backport PR #10747 on branch 3.1.x (Another Fix to Verdaccio Publishing)
  buildutils/src/local-repository.ts
Labels: maintenance

#10738 Add translations for kernel statuses
  packages/apputils/src/sessioncontext.tsx
  packages/apputils/src/toolbar.tsx
  packages/statusbar/package.json
  packages/statusbar/src/defaults/kernelStatus.tsx
  packages/statusbar/tsconfig.json
  packages/statusbar/tsconfig.test.json
Labels: bug, pkg:apputils, pkg:statusbar

#10741 Revert change in saveState Signal
  packages/docmanager-extension/src/index.ts
  packages/docmanager/src/widgetmanager.ts
  packages/docregistry/src/context.ts
  packages/docregistry/src/registry.ts
  packages/notebook/src/default-toolbar.tsx
Labels: bug, pkg:docmanager, pkg:docregistry, pkg:notebook

#10750 Backport PR #10741 on branch 3.1.x (Revert change in saveState Signal)
  packages/docmanager-extension/src/index.ts
  packages/docmanager/src/widgetmanager.ts
  packages/docregistry/src/context.ts
  packages/docregistry/src/registry.ts
  packages/notebook/src/default-toolbar.tsx
Labels: bug, pkg:docmanager, pkg:docregistry, pkg:notebook
