Repository jupyterlab/jupyterlab, pull requests merged in 2021-12, with the labels that each got.

#11596 Update Affiliations
  README.md
Labels: documentation

#11539 Increase notebook-cell margin in side-by-side mode
  packages/notebook/style/base.css
Labels: bug, pkg:notebook, tag:CSS, Design System CSS

#11603 Backport PR #11539 on branch 3.2.x (Increase notebook-cell margin in side-by-side mode)
  packages/notebook/style/base.css
Labels: bug, pkg:notebook, tag:CSS, Design System CSS

#11587 Remove `@types/webpack-env` from `ui-components`
  packages/ui-components/package.json
  packages/ui-components/tsconfig.json
Labels: maintenance, pkg:ui-components

#11595 Use `maintainer-tools` base setup action
  .github/workflows/check-i18n.yml
  .github/workflows/check-release.yml
  .github/workflows/galata.yml
  .github/workflows/linuxjs-flaky-tests.yml
  .github/workflows/linuxjs-tests.yml
  .github/workflows/linuxtests.yml
  .github/workflows/macostests.yml
  .github/workflows/windowstests.yml
Labels: maintenance

#11508 Attempt removing use of flexbox in the notebook DOM
  packages/cells/style/inputarea.css
  packages/cells/style/widget.css
  packages/notebook/style/base.css
  packages/outputarea/style/base.css
Labels: enhancement, pkg:notebook, tag:Performance, pkg:cells, pkg:outputarea, tag:CSS, Design System CSS

#11605 Small issues on tests
  package.json
  packages/debugger-extension/package.json
  packages/shared-models/test/ymodels.spec.ts
Labels: maintenance, tag:Testing, pkg:debugger, pkg:shared-models

#11607 Benchmark tests broken following update of NodeJS in ubuntu image
  .github/workflows/benchmark.yml
Labels: maintenance

#11610 overrides.json definition takes precedence
  packages/application-extension/src/index.tsx
  packages/apputils/src/toolbar/factory.ts
  packages/mainmenu-extension/src/index.ts
Labels: bug, pkg:application, pkg:apputils, pkg:mainmenu

#11617 Restore accidentally removed ToC context menu
  packages/toc-extension/src/index.ts
Labels: bug, pkg:toc

#11609 Document notebook DOM structure
  docs/source/extension/images/active-markdown-cell-dom.svg
  docs/source/extension/images/code-cell-dom.svg
  docs/source/extension/images/rendered-markdown-cell-dom.svg
  docs/source/extension/notebook.rst
Labels: documentation

#11623 Fix Benchmark tests (revert #11607)
  .github/workflows/benchmark.yml
Labels: maintenance

#11622 Fix menu items for toc
  docs/source/extension/extension_migration.rst
  galata/test/jupyterlab/toc.test.ts
  galata/test/jupyterlab/toc.test.ts-snapshots/notebook-context-menu-jupyterlab-linux.png
  packages/application-extension/src/index.tsx
  packages/toc-extension/schema/registry.json
  packages/toc-extension/src/index.ts
Labels: bug, documentation, pkg:application, api-change, tag:Testing, pkg:toc

#10420 Make `NotebookPanel._onSave` private
  docs/source/extension/extension_migration.rst
  packages/notebook/src/panel.ts
Labels: documentation, pkg:notebook, maintenance, api-change

#11635 Specifying print CSS rules for notebooks
  packages/cells/style/collapser.css
  packages/cells/style/widget.css
  packages/outputarea/style/base.css
Labels: enhancement, pkg:cells, pkg:outputarea, tag:CSS, Design System CSS

#11538 RTC shared model: Rename createCellFromType into createCellFromModel
  docs/source/extension/extension_migration.rst
  packages/shared-models/src/ymodels.ts
Labels: documentation, maintenance, api-change, pkg:shared-models

#11443 Add a user package to represent the current connected user
  buildutils/src/ensure-repo.ts
  dev_mode/package.json
  dev_mode/style.js
  docs/source/extension/extension_points.rst
  jupyterlab/staging/package.json
  packages/docmanager-extension/style/index.css
  packages/docmanager-extension/style/index.js
  packages/docmanager/style/index.css
  packages/docmanager/style/index.js
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/index.ts
  packages/docprovider-extension/style/index.css
  packages/docprovider-extension/style/index.js
  packages/docprovider-extension/tsconfig.json
  packages/docprovider/package.json
  packages/docprovider/src/awareness.ts
  packages/docprovider/src/index.ts
  packages/docprovider/src/yprovider.ts
  packages/docprovider/style/index.css
  packages/docprovider/style/index.js
  packages/docprovider/tsconfig.json
  packages/docprovider/tsconfig.test.json
  packages/docregistry/style/index.css
  packages/docregistry/style/index.js
  packages/metapackage/package.json
  packages/metapackage/tsconfig.json
  packages/ui-components/src/icon/iconimports.ts
  packages/ui-components/style/deprecated.css
  packages/ui-components/style/icons/sidebar/share.svg
  packages/ui-components/style/icons/sidebar/user.svg
  packages/user-extension/README.md
  packages/user-extension/package.json
  packages/user-extension/src/index.ts
  packages/user-extension/style/base.css
  packages/user-extension/style/index.css
  packages/user-extension/style/index.js
  packages/user-extension/tsconfig.json
  packages/user-extension/typedoc.json
  packages/user/README.md
  packages/user/babel.config.js
  packages/user/jest.config.js
  packages/user/package.json
  packages/user/src/index.ts
  packages/user/src/menu.ts
  packages/user/src/model.ts
  packages/user/src/tokens.ts
  packages/user/src/utils.ts
  packages/user/style/base.css
  packages/user/style/index.css
  packages/user/style/index.js
  packages/user/style/menu.css
  packages/user/test/menu.spec.ts
  packages/user/test/model.spec.ts
  packages/user/tsconfig.json
  packages/user/tsconfig.test.json
  packages/user/typedoc.json
  tsconfigdoc.json
  typedoc.js
Labels: enhancement, documentation, pkg:docregistry, pkg:docmanager, pkg:ui-components, tag:CSS, Design System CSS, pkg:docprovider

#11647 Automated Changelog Entry for 4.0.0a17 on master
  CHANGELOG.md
Labels: documentation

#11074 Use transform to quickly switch between tabs.
  packages/application-extension/schema/shell.json
  packages/application-extension/src/index.tsx
  packages/application/src/shell.ts
Labels: enhancement, pkg:application, tag:Performance

#11634 Backport PR #11622 on branch 3.2.x (Fix menu items for toc)
  galata/test/jupyterlab/toc.test.ts
  galata/test/jupyterlab/toc.test.ts-snapshots/notebook-context-menu-jupyterlab-linux.png
  packages/application-extension/src/index.tsx
Labels: bug, pkg:application, tag:Testing

#11651 Automated Changelog Entry for 3.2.5 on 3.2.x
  CHANGELOG.md
Labels: documentation

#11573 Add test for `benchmark.distributionChange`
  galata/test/galata/benchmarkReporter.spec.ts
Labels: maintenance, tag:Testing

#11626 Remove leading slash from console path
  packages/console/src/panel.ts
Labels: enhancement, pkg:console

#11671 Backport PR #11626 on branch 3.2.x (Remove leading slash from console path)
  packages/console/src/panel.ts
Labels: enhancement, pkg:console

#11666 Add JSX CodeMirror mode
  packages/codemirror/src/mode.ts
Labels: bug, enhancement, pkg:codemirror

#11668 Fix changelog link
  CHANGELOG.md
Labels: documentation

#11681 Backport PR #11668 on branch 3.2.x (Fix changelog link)
  CHANGELOG.md
Labels: documentation

#11673 Ensure the dialog does not close if you drag outside by mistake
  packages/apputils/src/dialog.tsx
Labels: bug, pkg:apputils

#11642 pyproject.toml: clarify build system version
  pyproject.toml
Labels: maintenance

#11684 Backport PR #11673 on branch 3.2.x (Ensure the dialog does not close if you drag outside by mistake)
  packages/apputils/src/dialog.tsx
Labels: bug, pkg:apputils

#11688 updates debugger icon css to work with white panel background
  packages/debugger/style/icons.css
Labels: bug, tag:CSS, pkg:debugger, Design System CSS

#11691 Backport PR #11688 on branch 3.2.x (updates debugger icon css to work with white panel background)
  packages/debugger/style/icons.css
Labels: bug, tag:CSS, pkg:debugger, Design System CSS

#11654 Move the top area spacer to a different plugin
  docs/source/extension/extension_points.rst
  packages/application-extension/src/index.tsx
  packages/application-extension/style/base.css
  packages/user-extension/src/index.ts
  packages/user-extension/style/base.css
Labels: enhancement, documentation, pkg:application, tag:CSS, Design System CSS

#11540 Allow to link factory to file type when adding it
  packages/docregistry/src/registry.ts
  packages/docregistry/test/registry.spec.ts
Labels: enhancement, status:Needs Review, pkg:docregistry

#11694 Remove references to `blueprintjs` in `ensure-repo`
  buildutils/src/ensure-repo.ts
Labels: maintenance

#11649 Remove Storybook
  .eslintignore
  .gitignore
  package.json
  packages/ui-components/.storybook/config.js
  packages/ui-components/.storybook/main.js
  packages/ui-components/.storybook/tsconfig.json
  packages/ui-components/.storybook/webpack.config.js
  packages/ui-components/package.json
  packages/ui-components/stories/button.stories.tsx
  packages/ui-components/stories/labicon-sizes.stories.tsx
  packages/ui-components/stories/labicon.stories.tsx
  scripts/ci_script.sh
  tsconfig.eslint.json
  yarn.lock
Labels: maintenance, pkg:ui-components

#11683 Remove the `create:theme` script
  buildutils/src/create-theme.ts
  docs/source/extension/extension_migration.rst
  package.json
  scripts/ci_script.sh
  scripts/create_theme.py
Labels: documentation, maintenance, api-change

#11697 Remove the `watch` dependency from the examples
  examples/app/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/federated/core_package/package.json
  examples/filebrowser/package.json
  examples/notebook/package.json
  examples/terminal/package.json
  packages/extensionmanager-extension/examples/listings/package.json
  yarn.lock
Labels: maintenance, tag:Examples, pkg:extensionmanager

#11608 Toggle side-by-side rendering for current notebook
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-view-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/opened-menu-view-jupyterlab-linux.png
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/actions.tsx
  packages/notebook/src/widget.ts
  packages/notebook/test/widget.spec.ts
Labels: enhancement, pkg:notebook, tag:Testing

#11646 Drop testing Python 3.6, test on Python 3.10
  .github/workflows/linuxtests.yml
  setup.cfg
Labels: maintenance

#11711 Removing early bail out in ToC widget update
  packages/toc/src/toc.tsx
Labels: bug, pkg:toc

#11706 Fix formatting in extension migration docs
  docs/source/extension/extension_migration.rst
Labels: documentation

#11718 Backport/3.2.x/11608 Toggle side-by-side rendering for current notebook
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-view-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/opened-menu-view-jupyterlab-linux.png
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/actions.tsx
  packages/notebook/src/widget.ts
  packages/notebook/test/widget.spec.ts
Labels: pkg:notebook, tag:Testing

#11712 Remove custom type definitions for `sort-package-json`
  buildutils/package.json
  buildutils/src/prompt.d.ts
  buildutils/src/read-package-json.d.ts
  dev_mode/package.json
  yarn.lock
Labels: maintenance

#11677 Make `ILayoutRestorer` optional in the extension tutorial
  docs/source/extension/extension_tutorial.rst
Labels: documentation

#11685 Remove the `add:sibling` script
  buildutils/src/add-sibling.ts
  docs/source/extension/extension_migration.rst
  package.json
  scripts/ci_script.sh
Labels: documentation, maintenance, api-change

#11744 Fix handling of disabled extensions
  jupyterlab/commands.py
  jupyterlab/tests/test_jupyterlab.py
Labels: bug

#11755 Backport PR #11744 on branch 3.2.x (Fix handling of disabled extensions)
  jupyterlab/commands.py
  jupyterlab/tests/test_jupyterlab.py
Labels: bug

#11741 Remove the `Promise.allSettled` polyfill
  dev_mode/bootstrap.js
  dev_mode/index.js
  examples/federated/core_package/bootstrap.js
  examples/federated/core_package/index.template.js
Labels: maintenance, tag:Examples

#11746 Encourage new contributors to send draft PR over asking for permission
  docs/source/developer/contributing.rst
Labels: documentation, tag:Documentation

#11756 Backport PR #11746 on branch 3.2.x (Encourage new contributors to send draft PR over asking for permission)
  docs/source/developer/contributing.rst
Labels: documentation, tag:Documentation

#11742 Remove deprecated `KarmaTestApp` and `JestApp`
  docs/source/extension/extension_dev.rst
  jupyterlab/tests/test_app.py
Labels: documentation, maintenance, api-change

#11740 Drop support for Python 3.6
  setup.cfg
Labels: maintenance

#11739 Update `lighthouse` dependency in `@jupyterlab/testutils`
  testutils/package.json
  yarn.lock
Labels: maintenance

#11758 Ensure browser attributes are set in plugin adding it
  packages/filebrowser-extension/src/index.ts
Labels: bug, pkg:filebrowser

#11759 Backport PR #11758 on branch 3.2.x (Ensure browser attributes are set in plugin adding it)
  packages/filebrowser-extension/src/index.ts
Labels: bug, pkg:filebrowser
