Repository jupyterlab/jupyterlab, pull requests merged in 2021-08, with the labels that each got.

#10699 Added Table of contents (toc.rst) to user guide documentation
  .gitignore
  docs/source/index.rst
  docs/source/user/images/toc/includeOutput.gif
  docs/source/user/images/toc/numberingH1.gif
  docs/source/user/images/toc/runcell.gif
  docs/source/user/images/toc/syncCollapseState.gif
  docs/source/user/images/toc/toc.gif
  docs/source/user/toc.rst
  packages/toc/README.md
Labels: documentation, pkg:toc

#10729 Toc: Run nested code cells directly from markdown headings
  packages/toc-extension/package.json
  packages/toc-extension/src/index.ts
  packages/toc-extension/style/index.css
  packages/toc-extension/style/index.js
  packages/toc-extension/tsconfig.json
  packages/toc/src/utils/headings.ts
Labels: Design System CSS, enhancement, pkg:toc, tag:CSS

#10735 Backport PR #10728 on branch 3.0.x (Normalize translation domain)
  packages/translation/src/gettext.ts
  packages/translation/src/manager.ts
  packages/translation/src/utils.ts
Labels: enhancement, pkg:translation

#10734 Backport PR #10728 on branch 3.1.x (Normalize translation domain)
  packages/translation/src/gettext.ts
  packages/translation/src/manager.ts
  packages/translation/src/utils.ts
Labels: enhancement, pkg:translation

#10756 Prevent undo/redo in outputs
  packages/shared-models/src/ymodels.ts
Labels: bug, pkg:shared-models

#10771 Backport PR #10756 on branch 3.1.x (Prevent undo/redo in outputs)
  packages/shared-models/src/ymodels.ts
Labels: bug, pkg:shared-models

#10772 Automated Changelog Entry for 3.1.2 on 3.1.x
  CHANGELOG.md
Labels: documentation

#10773 Markdown url resolver no longer throws for malformed URLs in `isLocal` check
  packages/rendermime/src/registry.ts
  packages/rendermime/test/registry.spec.ts
Labels: pkg:rendermime

#10667 PR: Add preferred-dir handling
  packages/filebrowser-extension/src/index.ts
Labels: enhancement, pkg:filebrowser

#10776 Backport PR #10667 on branch master (PR: Add preferred-dir handling)
  packages/filebrowser-extension/src/index.ts
Labels: enhancement, pkg:filebrowser

#10754 Document multiple commands single shortcut functionality
  docs/source/extension/extension_points.rst
  docs/source/user/interface.rst
  packages/apputils-extension/src/index.ts
Labels: documentation, pkg:apputils

#10725 Use appName in page title when restoring workspaces (vs master)
  packages/apputils-extension/src/index.ts
Labels: bug, pkg:apputils

#10762 Add aria-label for notebook cells to improve screen-reader visibility
  packages/cells/.vscode/launch.json
  packages/cells/package.json
  packages/cells/src/widget.ts
  packages/cells/tsconfig.json
  packages/cells/tsconfig.test.json
  packages/notebook/src/widget.ts
  packages/notebook/src/widgetfactory.ts
Labels: maintenance, pkg:cells, pkg:notebook

#10775 Backport PR #10773 on branch 3.1.x (Markdown url resolver no longer throws for malformed URLs in `isLocal` check)
  packages/rendermime/src/registry.ts
  packages/rendermime/test/registry.spec.ts
Labels: pkg:rendermime

#10778 Fix documentation of the `selectionExecuted` signal
  packages/notebook/src/actions.tsx
Labels: documentation, pkg:notebook

#10782 Backport PR #9130 on branch 2.2.x (Add more XXX for the mktemp command)
  scripts/release_prep.sh
Labels: maintenance, status:resolved-locked

#10781 Backport PR #9130 on branch 2.3.x (Add more XXX for the mktemp command)
  scripts/release_prep.sh
Labels: maintenance, status:resolved-locked

#10779 Revert input guard
  packages/apputils/src/sessioncontext.tsx
  packages/notebook/src/actions.tsx
  packages/outputarea/src/widget.ts
  packages/services/src/kernel/default.ts
  packages/services/src/kernel/future.ts
  packages/services/src/kernel/kernel.ts
  packages/services/src/session/default.ts
  packages/services/src/session/session.ts
  packages/services/test/kernel/ikernel.spec.ts
  testutils/src/mock.ts
Labels: bug, pkg:notebook, pkg:services, pkg:apputils, pkg:outputarea

#10783 Backport PR #10779 on branch master (Revert input guard)
  packages/apputils/src/sessioncontext.tsx
  packages/notebook/src/actions.tsx
  packages/outputarea/src/widget.ts
  packages/services/src/kernel/default.ts
  packages/services/src/kernel/future.ts
  packages/services/src/kernel/kernel.ts
  packages/services/src/session/default.ts
  packages/services/src/session/session.ts
  packages/services/test/kernel/ikernel.spec.ts
  testutils/src/mock.ts
Labels: bug, pkg:notebook, pkg:services, pkg:apputils, pkg:outputarea

#10766 Clean Up Major Version Bump Handling
  RELEASE.md
  buildutils/src/bumpversion.ts
Labels: maintenance

#10786 Add common-lisp-jupyter kernel to debugger list
  docs/source/user/debugger.rst
Labels: documentation

#10789 Automated Changelog Entry for 3.1.5 on 3.1.x
  CHANGELOG.md
Labels: documentation

#10787 Clean up version integrity handling
  buildutils/src/ensure-repo.ts
  buildutils/src/utils.ts
  setup.py
Labels: maintenance

#10788 [2.3.x] CI Fixes
  docs/source/conf.py
  scripts/ci_script.sh
Labels: maintenance

#10731 add trove classifer docs, usage
  docs/source/extension/extension_dev.rst
  docs/source/user/extensions.rst
  setup.cfg
Labels: documentation

#10793 Support collapsible headers with virtual notebook rendering
  packages/notebook/src/widget.ts
Labels: bug, pkg:notebook

#10794 Clean up Link Caching Again
  .github/workflows/check-release.yml
  .github/workflows/linuxtests.yml
  scripts/ci_script.sh
Labels: maintenance

#10797 Backport PR #10793 on branch 3.1.x (Support collapsible headers with virtual notebook rendering)
  packages/notebook/src/widget.ts
Labels: bug, pkg:notebook

#10795 Share nbformat and nbformatMinor
  packages/notebook/src/model.ts
  packages/shared-models/src/api.ts
  packages/shared-models/src/ymodels.ts
Labels: bug, pkg:notebook, pkg:shared-models

#10801 Backport PR #10795 on branch 3.1.x (Share nbformat and nbformatMinor)
  packages/notebook/src/model.ts
  packages/shared-models/src/api.ts
  packages/shared-models/src/ymodels.ts
Labels: bug, pkg:notebook, pkg:shared-models

#10806 Backport PR #10738 on branch 3.1.x
  packages/apputils/src/sessioncontext.tsx
  packages/apputils/src/toolbar.tsx
  packages/statusbar/package.json
  packages/statusbar/src/defaults/kernelStatus.tsx
  packages/statusbar/tsconfig.json
  packages/statusbar/tsconfig.test.json
Labels: bug, pkg:apputils, pkg:statusbar

#10814 Automated Changelog Entry for 3.1.6 on 3.1.x
  CHANGELOG.md
Labels: documentation

#10817 More Releaser Fixes
  buildutils/src/bumpversion.ts
  buildutils/src/patch-release.ts
  package.json
Labels: maintenance

#10811 Use nullish operator instead of OR
  packages/apputils/src/dialog.tsx
Labels: bug, pkg:apputils

#10810 remove session error dialog redundant error message to avoid repeated display
  packages/apputils/src/sessioncontext.tsx
Labels: bug, pkg:apputils

#10813 Fix documentation snippets
  docs/source/extension/extension_points.rst
Labels: documentation

#10815 Comment invalid classifiers
  setup.cfg
Labels: maintenance

#10819 Backport PR #10817 on branch 3.1.x (More Releaser Fixes)
  buildutils/src/bumpversion.ts
  buildutils/src/patch-release.ts
  package.json
Labels: maintenance

#10821 Backport PR #10811 on branch 3.1.x (Use nullish operator instead of OR)
  packages/apputils/src/dialog.tsx
Labels: bug, pkg:apputils

#10823 Backport PR #10813 on branch 3.1.x (Fix documentation snippets)
  docs/source/extension/extension_points.rst
Labels: documentation

#10822 Backport PR #10810 on branch 3.1.x (remove session error dialog redundant error message to avoid repeated display)
  packages/apputils/src/sessioncontext.tsx
Labels: bug, pkg:apputils

#10156 Add `bandwidthSaveMode` to `ServiceManager`, use it in `hub-extension`
  packages/application/src/lab.ts
  packages/docmanager-extension/src/index.ts
  packages/docmanager/src/manager.ts
  packages/docmanager/src/savehandler.ts
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/model.ts
  packages/hub-extension/src/index.ts
  packages/services/src/kernel/manager.ts
  packages/services/src/kernelspec/manager.ts
  packages/services/src/manager.ts
  packages/services/src/session/manager.ts
  packages/services/src/terminal/manager.ts
Labels: pkg:filebrowser, pkg:application, pkg:services, pkg:docmanager, pkg:hub

#10632 Add show trailing whitespace option to Notebook and Text Editor
  packages/codeeditor/src/editor.ts
  packages/codemirror/src/editor.ts
  packages/codemirror/style/base.css
  packages/fileeditor-extension/schema/plugin.json
  packages/notebook-extension/schema/tracker.json
Labels: enhancement, pkg:notebook, pkg:codeeditor, pkg:fileeditor, pkg:codemirror, tag:CSS, Design System CSS

#10829 Fix missing break in switch
  packages/codemirror/src/editor.ts
Labels: bug, pkg:codemirror

#10830 References are duplicated in tsconfig.test.json
  buildutils/src/ensure-package.ts
  packages/application/tsconfig.test.json
  packages/apputils/tsconfig.test.json
  packages/cells/tsconfig.test.json
  packages/codeeditor/tsconfig.test.json
  packages/codemirror/tsconfig.test.json
  packages/completer/tsconfig.test.json
  packages/console/tsconfig.test.json
  packages/csvviewer/tsconfig.test.json
  packages/debugger/tsconfig.test.json
  packages/docmanager/tsconfig.test.json
  packages/docprovider/tsconfig.test.json
  packages/docregistry/tsconfig.test.json
  packages/documentsearch/tsconfig.test.json
  packages/filebrowser/tsconfig.test.json
  packages/fileeditor/tsconfig.test.json
  packages/imageviewer/tsconfig.test.json
  packages/inspector/tsconfig.test.json
  packages/logconsole/tsconfig.test.json
  packages/mainmenu/tsconfig.test.json
  packages/notebook/tsconfig.test.json
  packages/outputarea/tsconfig.test.json
  packages/rendermime/tsconfig.test.json
  packages/services/tsconfig.test.json
  packages/settingregistry/tsconfig.test.json
  packages/shared-models/tsconfig.test.json
  packages/statusbar/tsconfig.test.json
  packages/terminal/tsconfig.test.json
  packages/toc/tsconfig.test.json
  packages/translation/tsconfig.test.json
  packages/ui-components/tsconfig.test.json
  testutils/tsconfig.test.json
Labels: pkg:terminal, pkg:notebook, pkg:codeeditor, maintenance, pkg:console, pkg:filebrowser, pkg:completer, pkg:docregistry, pkg:inspector, pkg:application, pkg:fileeditor, pkg:csvviewer, pkg:imageviewer, pkg:rendermime, pkg:services, pkg:apputils, pkg:cells, pkg:codemirror, pkg:docmanager, pkg:outputarea, pkg:mainmenu, pkg:statusbar, pkg:ui-components, pkg:documentsearch, pkg:logconsole, pkg:settingregistry, pkg:toc, pkg:debugger, pkg:translation, pkg:docprovider, pkg:shared-models

#10812 The dirty indicator does not get cleared up after reverting changes
  packages/cells/src/model.ts
Labels: bug, pkg:cells

#10462 Implemented Restart and debug
  packages/debugger-extension/schema/main.json
  packages/debugger-extension/src/index.ts
  packages/debugger/src/config.ts
  packages/debugger/src/debugger.ts
  packages/debugger/src/handler.ts
  packages/debugger/src/service.ts
  packages/debugger/src/tokens.ts
  ui-tests/reference-output/screenshots/general_opened_menu_kernel.png
  ui-tests/reference-output/screenshots/notebook_create_opened_menu_kernel.png
Labels: enhancement, status:Needs Review, tag:Testing, pkg:debugger

#10790 Removed toolbar scrollbar
  packages/notebook/style/toolbar.css
  packages/ui-components/src/components/toolbar.tsx
  packages/ui-components/style/toolbar.css
Labels: bug, pkg:notebook, pkg:ui-components, tag:CSS, Design System CSS

#10828 Remove outdated `npm-cli-login` utility from buildutils
  buildutils/package.json
  buildutils/src/ensure-repo.ts
  buildutils/src/local-repository.ts
  yarn.lock
Labels: maintenance

#10832 Backport PR #10828 on branch 3.1.x (Remove outdated `npm-cli-login` utility from buildutils)
  buildutils/package.json
  buildutils/src/ensure-repo.ts
  buildutils/src/local-repository.ts
  yarn.lock
Labels: maintenance

#10833 Backport PR #10812 on branch 3.1.x (The dirty indicator does not get cleared up after reverting changes)
  packages/cells/src/model.ts
Labels: bug, pkg:cells

#10836 Fix link to the security documentation
  packages/notebook/src/actions.tsx
Labels: bug, pkg:notebook

#10838 Backport PR #10836 on branch 3.1.x (Fix link to the security documentation)
  packages/notebook/src/actions.tsx
Labels: bug, pkg:notebook

#10844 Automated Changelog Entry for 4.0.0a4 on master
  CHANGELOG.md
Labels: documentation

#10739 Translate labels of menus and submenus
  packages/apputils/src/menufactory.ts
  packages/coreutils/src/text.ts
  packages/mainmenu/src/mainmenu.ts
  packages/ui-components/src/components/menu.ts
Labels: maintenance, pkg:apputils, pkg:coreutils, pkg:mainmenu, pkg:ui-components

#10846 Fix Publish Check
  buildutils/src/publish.ts
  testutils/src/jest-config.ts
Labels: maintenance

#10847 Backport PR #10739 on branch 3.1.x (Translate labels of menus and submenus)
  packages/apputils/src/menufactory.ts
  packages/coreutils/src/text.ts
  packages/mainmenu/src/mainmenu.ts
  packages/ui-components/src/components/menu.ts
Labels: maintenance, pkg:apputils, pkg:coreutils, pkg:mainmenu, pkg:ui-components

#10850 Backport PR #10846 on branch 3.1.x (Fix Publish Check)
  buildutils/src/publish.ts
  testutils/src/jest-config.ts
Labels: maintenance

#10843 Shutdown sessions/terminals on shutdown
  packages/mainmenu-extension/src/index.ts
Labels: bug, pkg:mainmenu

#10855 Backport PR #10843 on branch 3.1.x (Shutdown sessions/terminals on shutdown)
  packages/mainmenu-extension/src/index.ts
Labels: bug, pkg:mainmenu

#10854 Added throttling for toolbar resize (#10826)
  packages/ui-components/package.json
  packages/ui-components/src/components/toolbar.tsx
Labels: bug, pkg:ui-components

#10860 Fix code names showing up in new translations, add docs
  packages/filebrowser/src/listing.ts
  packages/toc-extension/schema/plugin.json
  packages/translation/src/tokens.ts
Labels: bug, pkg:filebrowser, pkg:toc, pkg:translation

#10804 Get metadata from shared model when serializing the notebook to JSON
  packages/notebook/src/model.ts
Labels: bug, pkg:notebook

#10863 Backport PR #10860 on branch 3.1.x (Fix code names showing up in new translations, add docs)
  packages/filebrowser/src/listing.ts
  packages/toc-extension/schema/plugin.json
  packages/translation/src/tokens.ts
Labels: bug, pkg:filebrowser, pkg:toc, pkg:translation

#10862 Backport PR #10804 on branch 3.1.x (Get metadata from shared model when serializing the notebook to JSON)
  packages/notebook/src/model.ts
Labels: bug, pkg:notebook

#10864 Add missing link in passing translator down to kernel selector
  packages/apputils/src/sessioncontext.tsx
Labels: bug, pkg:apputils

#10866 Backport PR #10864 on branch 3.1.x (Add missing link in passing translator down to kernel selector)
  packages/apputils/src/sessioncontext.tsx
Labels: bug, pkg:apputils

#10870 Fix cell type dropdown behaviour in Firefox on 3.1.x branch
  packages/apputils/style/toolbar.css
Labels: bug, pkg:apputils, tag:CSS, Design System CSS

#10865 Add translations for notebook mode name
  packages/notebook/src/modestatus.tsx
Labels: bug, pkg:notebook

#10877 Edit binder ref for demo
  README.md
Labels: maintenance

#10878 Manual Backport PR #10865 on branch 3.1.x (Add translations for notebook mode name)
  packages/notebook/src/modestatus.tsx
Labels: bug, pkg:notebook

#10885 Improve language choice menu and dialog
  packages/translation-extension/src/index.ts
Labels: bug, pkg:translation

#10884 Keep cursor at the previous position after cell split
  packages/notebook/src/actions.tsx
  ui-tests/reference-output/screenshots/notebook_edit_split_cell.png
Labels: bug, pkg:notebook, tag:Testing

#10887 Backport PR #10885 on branch 3.1.x (Improve language choice menu and dialog)
  packages/translation-extension/src/index.ts
Labels: bug, pkg:translation

#10888 Backport PR #10884 on branch 3.1.x (Keep cursor at the previous position after cell split)
  packages/notebook/src/actions.tsx
  ui-tests/reference-output/screenshots/notebook_edit_split_cell.png
Labels: bug, pkg:notebook, tag:Testing

#10880 Compose only the needed property when transforming the settings
  packages/application-extension/src/index.tsx
  packages/apputils/src/toolbar/factory.ts
  packages/mainmenu-extension/src/index.ts
  ui-tests/reference-output/screenshots/text_editor_text_editor.png
  ui-tests/reference-output/screenshots/text_editor_text_editor_rulers.png
  ui-tests/tests/texteditor.test.ts
Labels: bug, pkg:application, pkg:apputils, pkg:mainmenu, tag:Testing

#10867 Workaround invasive use of tex mode inside of code elements and blocks
  packages/codemirror/src/codemirror-ipythongfm.ts
  ui-tests/reference-output/screenshots/notebook_markdown_do_not_highlight_not_latex.png
  ui-tests/reference-output/screenshots/notebook_markdown_highlight_latex.png
  ui-tests/tests/notebook-markdown.test.ts
  ui-tests/tests/notebooks/markdown_notebook.ipynb
  ui-tests/tests/toc.test.ts
Labels: bug, pkg:codemirror, tag:Testing

#10901 Backport PR #10867 on branch 3.1.x (Workaround invasive use of tex mode inside of code elements and blocks)
  packages/codemirror/src/codemirror-ipythongfm.ts
  ui-tests/reference-output/screenshots/notebook_markdown_do_not_highlight_not_latex.png
  ui-tests/reference-output/screenshots/notebook_markdown_highlight_latex.png
  ui-tests/tests/notebook-markdown.test.ts
  ui-tests/tests/notebooks/markdown_notebook.ipynb
  ui-tests/tests/toc.test.ts
Labels: bug, pkg:codemirror, tag:Testing

#10900 Lint Cleanup
  .eslintrc.js
  .eslintrc.typecheck.js
  package.json
  scripts/ci_script.sh
  tsconfig.eslint.json
Labels: maintenance

#10903 Automated Changelog Entry for 3.1.8 on 3.1.x
  CHANGELOG.md
Labels: documentation

#10893 Add internationalization documentation
  docs/source/developer/internationalization.rst
  docs/source/developer/prep_language_packs.png
  docs/source/extension/internationalization.rst
  docs/source/index.rst
Labels: documentation

#10907 Forward port 3.1.8 Changelog Entry
  CHANGELOG.md
Labels: documentation

#10909 Remove terminal theme menu if terminal feature is disabled
  packages/terminal-extension/src/index.ts
  packages/ui-components/src/components/menu.ts
Labels: bug, pkg:terminal, pkg:ui-components

#10912 Backport PR #10909 on branch 3.1.x (Remove terminal theme menu if terminal feature is disabled)
  packages/terminal-extension/src/index.ts
  packages/ui-components/src/components/menu.ts
Labels: bug, pkg:terminal, pkg:ui-components

#10910 Correct the documentation for packaging
  docs/source/extension/extension_tutorial.rst
Labels: documentation

#10916 Fix Package Publish
  buildutils/src/publish.ts
Labels: bug

#10915 Backport PR #10910 on branch 3.1.x (Correct the documentation for packaging)
  docs/source/extension/extension_tutorial.rst
Labels: documentation

#10917 Backport PR #10916 on branch 3.1.x (Fix Package Publish)
  buildutils/src/publish.ts
Labels: bug

#10898 Render placeholder at correct index
  packages/notebook/src/widget.ts
Labels: bug, pkg:notebook

#10945 Fix formatting of a link in the changelog
  CHANGELOG.md
Labels: documentation

#10953 Chore: fix typo in comments
  packages/markdownviewer/src/widget.ts
Labels: maintenance, pkg:markdownviewer

#10952 Fix browser tab name
  packages/apputils-extension/src/index.ts
Labels: bug, pkg:apputils

#10954 Improve release notes for 3.1
  CHANGELOG.md
Labels: documentation

#10959 ForwardPort PR #10898 on master: Render placeholder at correct index
  packages/notebook/src/widget.ts
Labels: bug, pkg:notebook

#10957 Add editable selector
  packages/notebook-extension/src/index.ts
  packages/notebook/src/notebooktools.ts
Labels: enhancement, pkg:notebook

#10958 Fix lack of translation of part of "Saving completed" and friends
  packages/docmanager/src/savingstatus.tsx
Labels: bug, pkg:docmanager

#10963 Backport PR #10958 on branch 3.1.x (Fix lack of translation of part of "Saving completed" and friends)
  packages/docmanager/src/savingstatus.tsx
Labels: bug, pkg:docmanager

#10961 Add process for adding a language
  docs/source/developer/internationalization.rst
Labels: documentation

#10950 More robust UI tests
  galata/src/jupyterlabpage.ts
  galata/test/galata/jupyterlabpage.spec.ts
  galata/test/jupyterlab/notebook-markdown.test.ts
Labels: maintenance, tag:Testing

#10951 Bump major Galata version
  .github/workflows/galata.yml
  galata/package.json
Labels: maintenance, tag:Testing

#10932 Add "menu" context for translation of menu labels
  packages/mainmenu/src/mainmenu.ts
Labels: bug, pkg:mainmenu

#10972 Protect against undefined delegated label
  packages/mainmenu-extension/src/index.ts
Labels: bug, pkg:mainmenu

#10977 Backport PR #10932 on branch 3.1.x (Add "menu" context for translation of menu labels)
  packages/mainmenu/src/mainmenu.ts
Labels: bug, pkg:mainmenu

#10976 Remove the non-null assertion on `IDebugger.ISources`
  packages/debugger/src/service.ts
Labels: bug, pkg:debugger

#10973 Restore test for kernel that does not support debugger
  packages/debugger/test/service.spec.ts
Labels: maintenance, pkg:debugger

#10978 Backport PR #10973 on branch 3.1.x (Restore test for kernel that does not support debugger)
  packages/debugger/test/service.spec.ts
Labels: maintenance, pkg:debugger

#10979 Clarify usage of mock in debugger test
  packages/debugger/test/service.spec.ts
Labels: maintenance, pkg:debugger

#10981 Backport PR #10979 on branch 3.1.x (Clarify usage of mock in debugger test)
  packages/debugger/test/service.spec.ts
Labels: maintenance, pkg:debugger
