Repository jupyterlab/jupyterlab, pull requests merged in 2021-05, with the labels that each got.

#10182 add tooltip on cell type dropdown
  packages/notebook/src/default-toolbar.tsx
Labels: pkg:notebook

#10100 Fix last modified column toggle, allow to set it permanently
  packages/filebrowser-extension/schema/browser.json
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/browser.ts
  packages/filebrowser/src/listing.ts
Labels: enhancement, pkg:filebrowser

#10181 Rename at file creation
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/browser.ts
  packages/filebrowser/src/listing.ts
Labels: enhancement, pkg:filebrowser

#10190 Improve prebuild extension docs
  docs/source/extension/extension_dev.rst
Labels: documentation

#10126 Add Skip Link
  packages/application-extension/style/base.css
  packages/application/src/shell.ts
  packages/application/test/shell.spec.ts
  packages/filebrowser/src/browser.ts
Labels: Design System CSS, pkg:application, pkg:filebrowser, tag:CSS

#10193 Move open-with to its own plugin, so it can be disabled independently.
  packages/filebrowser-extension/src/index.ts
Labels: enhancement, pkg:filebrowser

#10196 Restore the relative sizes of areas in split panel
  packages/application/src/layoutrestorer.ts
  packages/application/src/shell.ts
  packages/application/test/layoutrestorer.spec.ts
Labels: enhancement, pkg:application

#10200 Remove installing `notebook` from the contributing guide
  docs/source/developer/contributing.rst
Labels: documentation, tag:Documentation

#10204 Update contribution docs to show how to rebuild on change
  docs/source/developer/contributing.rst
Labels: tag:Documentation

#10217 Remove runtime dependency on `jupyter_packaging`
  pyproject.toml
  setup.cfg
  setup.py
Labels: maintenance

#10218 [3.0.x] Remove Dependency on Jupyter Packaging
  MANIFEST.in
  pyproject.toml
  scripts/ci_install.sh
  setup.cfg
  setup.py
Labels: maintenance

#10219 Update to `url-parse~=1.5.1`
  packages/coreutils/package.json
  yarn.lock
Labels: maintenance, pkg:coreutils

#10220 Update to `sanitize-html~=2.3.3`
  packages/apputils/package.json
  yarn.lock
Labels: maintenance, pkg:apputils

#10185 Workaround Chromium issue with iframe reload/href
  packages/outputarea/src/widget.ts
Labels: bug, pkg:outputarea

#10223 Backport PR #10185 on branch 3.0.x (Workaround Chromium issue with iframe reload/href)
  packages/outputarea/src/widget.ts
Labels: pkg:outputarea

#10177 Update the mock packages to jupyter-packaging 0.10
  jupyterlab/federated_labextensions.py
  jupyterlab/tests/mock_packages/test-hyphens-underscore/pyproject.toml
  jupyterlab/tests/mock_packages/test-hyphens-underscore/setup.py
  jupyterlab/tests/mock_packages/test-hyphens/package.json
  jupyterlab/tests/mock_packages/test-hyphens/pyproject.toml
  jupyterlab/tests/mock_packages/test-hyphens/setup.py
  jupyterlab/tests/mock_packages/test_no_hyphens/pyproject.toml
  jupyterlab/tests/mock_packages/test_no_hyphens/setup.py
  scripts/ci_script.sh
Labels: maintenance, tag:Testing

#10232 Remove tabmanager-extension from packages list
  typedoc.js
Labels: maintenance

#10234 Fix autocompletion issue
  packages/shared-models/src/ymodels.ts
Labels: bug, tag:Real Time Collaboration

#10206 FileBrowser: Add shortcuts
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/browser.ts
Labels: enhancement, pkg:filebrowser

#10237 DirListing: Refactor selection so that it's based on path not name
  packages/filebrowser/src/listing.ts
Labels: enhancement, pkg:filebrowser

#10224 DirListing: Make Renderer's private method protected
  packages/filebrowser/src/listing.ts
Labels: maintenance, pkg:filebrowser

#10236 DirListing: Allow for no sorting when clicking on headers
  packages/filebrowser/src/listing.ts
Labels: enhancement, pkg:filebrowser

#10230 Re-enable splice source tests
  jupyterlab/tests/test_jupyterlab.py
  scripts/ci_script.sh
Labels: maintenance, tag:Testing

#10240 Fix Shutdown Error in Test App
  jupyterlab/tests/test_app.py
Labels: maintenance

#10238 Add changelog entry for 3.0.15 release
  CHANGELOG.md
Labels: documentation

#10245 FileBrowser: Make listing and crumbs accessible to subclasses
  packages/filebrowser/src/browser.ts
Labels: maintenance, pkg:filebrowser

#10246 FileBrowserModel: Make some methods protected
  packages/filebrowser/src/model.ts
Labels: maintenance, pkg:filebrowser

#10247 DirListing: Make some methods protected
  packages/filebrowser/src/listing.ts
Labels: maintenance, pkg:filebrowser

#10253 Update enhancement tag in the issue template
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: maintenance

#10257 Add the new packages to the labeler
  .github/labeler.yml
Labels: maintenance, tag:Real Time Collaboration

#10258 Enable real time collaboration on the dev Binder
  binder/jupyter_notebook_config.py
Labels: maintenance, tag:Real Time Collaboration

#6859 Add "go-up" navigation support in filebrowser, fix other shortcuts behaviour
  packages/filebrowser-extension/schema/browser.json
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/browser.ts
  packages/filebrowser/src/listing.ts
  packages/filebrowser/src/model.ts
  packages/filebrowser/test/model.spec.ts
Labels: enhancement, pkg:filebrowser, tag:Design and UX, tag:Testing

#10262 [3.0.x] Update to `codemirror~=5.58.0`
  packages/codemirror-extension/package.json
  packages/codemirror/package.json
  packages/debugger/package.json
  packages/documentsearch/package.json
  yarn.lock
Labels: maintenance, pkg:codemirror, pkg:debugger, pkg:documentsearch

#10264 Backport PR #10240 on branch 3.0.x (Fix Shutdown Error in Test App)
  jupyterlab/tests/test_app.py
Labels: maintenance

#10263 Update changelog for 3.0.16
  docs/source/getting_started/changelog.rst
Labels: documentation, tag:Documentation

#10265 Update `documentsearch` description in `package.json`
  packages/documentsearch-extension/package.json
  packages/documentsearch/package.json
Labels: documentation, pkg:documentsearch

#10233 Improve error handling in labextension install
  jupyterlab/federated_labextensions.py
Labels: enhancement, tag:Extensions

#10267 Add changelog entry for 3.0.16
  CHANGELOG.md
Labels: documentation

#10271 Backport PR #10132 on branch 3.0.x (include all default*.json in @jupyterlab/testutils distributions)
  testutils/package.json
Labels: maintenance

#10244 Completer: expose `activeIndex` and `indexChanged`
  packages/completer/src/widget.ts
Labels: enhancement, pkg:completer

#10280 Fix filebrowser focus issue
  packages/filebrowser/src/listing.ts
Labels: bug, pkg:filebrowser

#10281 Fix incomplete transition to .path from .name
  packages/filebrowser/src/listing.ts
Labels: bug, pkg:filebrowser

#10286 FileBrowserModel: Allow for overwriting _onFileChanged
  packages/filebrowser/src/model.ts
Labels: maintenance, pkg:filebrowser

#10043 Name (un-renamed) file on first save
  packages/apputils/style/styling.css
  packages/docmanager-extension/schema/plugin.json
  packages/docmanager-extension/src/index.ts
  packages/docmanager/src/dialogs.ts
  packages/docmanager/src/manager.ts
  packages/docmanager/src/tokens.ts
  packages/docmanager/src/widgetmanager.ts
  packages/docregistry/src/context.ts
  packages/docregistry/src/default.ts
  packages/docregistry/src/registry.ts
  packages/fileeditor/src/widget.ts
  packages/notebook/src/default-toolbar.tsx
  packages/notebook/src/panel.ts
  packages/services/src/contents/index.ts
Labels: Design System CSS, pkg:apputils, pkg:docmanager, pkg:docregistry, pkg:fileeditor, pkg:notebook, pkg:services, tag:CSS

#10274 Bump marked.js (and types) to pull fix for rendering
  yarn.lock
Labels: bug

#10292 Add note about symlink activation on Windows.
  docs/source/extension/extension_tutorial.rst
  jupyterlab/federated_labextensions.py
Labels: documentation

#10184 key-bindings to codemirror search in single cell
  packages/codemirror/src/factory.ts
Labels: enhancement, pkg:codemirror

#10160 Scroll into view on each step/frame changes/...
  packages/codemirror/src/editor.ts
  packages/debugger-extension/package.json
  packages/debugger-extension/src/index.ts
  packages/debugger-extension/style/index.css
  packages/debugger-extension/style/index.js
  packages/debugger-extension/tsconfig.json
  packages/debugger/src/handlers/editor.ts
  packages/debugger/style/sidebar.css
  packages/debugger/style/sources.css
  packages/statusbar/src/style/variables.ts
  packages/theme-dark-extension/style/variables.css
  packages/theme-light-extension/style/variables.css
Labels: Design System CSS, enhancement, pkg:codemirror, pkg:debugger, pkg:statusbar, pkg:themes, tag:CSS

#10289 Remove various tab indices
  packages/application/test/shell.spec.ts
  packages/apputils/src/mainareawidget.ts
  packages/apputils/test/dialog.spec.tsx
  packages/apputils/test/mainareawidget.spec.ts
  packages/apputils/test/widgettracker.spec.ts
  packages/documentsearch/src/searchoverlay.tsx
  packages/filebrowser/src/listing.ts
  packages/imageviewer/src/widget.ts
  packages/launcher/src/index.tsx
  packages/markdownviewer/src/widget.ts
  packages/notebook/src/widget.ts
  packages/toc/src/generators/notebook/tagstool/tag_list.tsx
  packages/tooltip/src/widget.ts
Labels: pkg:application, pkg:apputils, pkg:documentsearch, pkg:filebrowser, pkg:imageviewer, pkg:launcher, pkg:markdownviewer, pkg:notebook, pkg:toc, pkg:tooltip, tag:Accessibility

#10300 Update Maintainer List
  README.md
Labels: documentation

#10301 Add Yjs as a singleton package
  builder/src/webpack.config.base.ts
  dev_mode/package.json
  packages/codemirror/package.json
  packages/docprovider/package.json
  packages/docprovider/tsconfig.test.json
  packages/docregistry/package.json
  packages/shared-models/package.json
  packages/shared-models/tsconfig.test.json
  testutils/src/jest-config.ts
  yarn.lock
Labels: maintenance, pkg:codemirror, pkg:docprovider, pkg:docregistry, pkg:shared-models

#10297 Focus cells on split and leave cursor cel with selection when splitting
  packages/codeeditor/src/editor.ts
  packages/notebook/src/actions.tsx
Labels: feature, pkg:codeeditor, pkg:notebook

#10303 Fix focus accept button on dialog unit test
  packages/apputils/test/dialog.spec.tsx
Labels: pkg:apputils

#10293 Filebrowser ContextMenu: Use separators
  packages/filebrowser-extension/src/index.ts
Labels: enhancement, pkg:filebrowser

#10199 Debugger: show button shortcuts in tooltips
  packages/apputils/src/toolbar.tsx
Labels: feature, pkg:apputils, pkg:debugger

#9464 Vertical notebook cell prompts on mobile
  packages/cells/style/inputarea.css
  packages/outputarea/style/base.css
Labels: Design System CSS, enhancement, pkg:cells, pkg:outputarea, tag:CSS

#10315 Fix remote-caret rendering
  packages/codemirror/style/base.css
Labels: Design System CSS, maintenance, pkg:codemirror, tag:CSS, tag:Real Time Collaboration

#10308 Minor code style pass on `yprovider.ts`
  packages/docprovider/src/yprovider.ts
Labels: maintenance, pkg:docprovider

#10306 Update labeler and add auto assign to PRs
  .github/workflows/auto_author_assign.yml
  .github/workflows/labeler.yml
Labels: maintenance
