Repository jupyterlab/jupyterlab, pull requests merged in 2021-10, with the labels that each got.

#11198 Rename "JupyterLab Theme" to "Theme"
  galata/test/galata/fixture.spec.ts
  galata/test/jupyterlab/menus.test.ts
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-settings-jupyterlab-linux.png
  packages/apputils-extension/schema/themes.json
  packages/terminal-extension/src/index.ts
Labels: pkg:terminal, maintenance, pkg:apputils, tag:Testing

#10949 Enable document wide history tracking
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/model.ts
  packages/notebook/src/modelfactory.ts
  packages/notebook/src/widget.ts
  packages/notebook/test/actions.spec.ts
  packages/notebook/test/model.spec.ts
  packages/notebook/test/widget.spec.ts
  packages/shared-models/src/api.ts
  packages/shared-models/src/ymodels.ts
  testutils/src/common.ts
Labels: enhancement, pkg:notebook, pkg:shared-models

#10769 Add a menu entry to show/hide hidden files in the filebrowser
  jupyterlab/labapp.py
  packages/filebrowser-extension/schema/browser.json
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/browser.ts
  packages/filebrowser/src/model.ts
Labels: enhancement, pkg:filebrowser

#11202 refactor window.open to make it work also in desktop app
  packages/notebook-extension/src/index.ts
Labels: pkg:notebook, maintenance

#11197 Fix renaming issue in collaborative mode
  packages/docprovider/src/yprovider.ts
Labels: bug, pkg:docprovider

#11203 Properly reset layout when toggling simple mode.
  packages/application/src/shell.ts
Labels: bug, pkg:application, tag:Backport

#11206 Backport PR #10769 on branch 3.2.x (Add a menu entry to show/hide hidden files in the filebrowser)
  docs/source/developer/contributing.rst
  jupyterlab/labapp.py
  packages/filebrowser-extension/schema/browser.json
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/browser.ts
  packages/filebrowser/src/model.ts
Labels: enhancement, documentation, pkg:filebrowser

#11208 Backport PR #11202 on branch 3.2.x (refactor window.open to make it work also in desktop app)
  packages/notebook-extension/src/index.ts
Labels: pkg:notebook, maintenance

#11209 Backport PR #11197 on branch 3.2.x (Fix renaming issue in collaborative mode)
  packages/docprovider/src/yprovider.ts
Labels: bug, pkg:docprovider

#11210 Backport PR #11197 on branch 3.1.x (Fix renaming issue in collaborative mode)
  packages/docprovider/src/yprovider.ts
Labels: bug, pkg:docprovider

#11199 Backport PR #11198 on branch 3.2.x (Rename "JupyterLab Theme" to "Theme")
  galata/test/galata/fixture.spec.ts
  galata/test/jupyterlab/menus.test.ts
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-settings-jupyterlab-linux.png
  packages/apputils-extension/schema/themes.json
  packages/terminal-extension/src/index.ts
Labels: pkg:terminal, maintenance, pkg:apputils, tag:Testing

#11201 Backport PR #10949 on branch master (Enable document wide history tracking)
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/model.ts
  packages/notebook/src/modelfactory.ts
  packages/notebook/src/widget.ts
  packages/notebook/test/actions.spec.ts
  packages/notebook/test/model.spec.ts
  packages/notebook/test/widget.spec.ts
  packages/shared-models/src/api.ts
  packages/shared-models/src/ymodels.ts
  testutils/src/common.ts
Labels: enhancement, pkg:notebook, pkg:shared-models

#11212 Backport PR #11203 on branch 3.1.x (Properly reset layout when toggling simple mode.)
  packages/application/src/shell.ts
Labels: bug, pkg:application, tag:Backport

#11211 Backport PR #11203 on branch 3.2.x (Properly reset layout when toggling simple mode.)
  packages/application/src/shell.ts
Labels: bug, pkg:application, tag:Backport

#11214 Check i18n will pass on zeroed patch pre-release version
  .github/workflows/check-i18n.yml
Labels: maintenance

#11205 Handle case when JupyterHub returns 424 for not running server
  packages/services/src/kernel/manager.ts
  packages/services/src/session/manager.ts
  packages/services/src/terminal/manager.ts
Labels: maintenance, pkg:services

#11217 Backport PR #11214 on branch 3.2.x (Check i18n will pass on zeroed patch pre-release version)
  .github/workflows/check-i18n.yml
Labels: maintenance

#11215 Use disableDocumentWideUndoRedo instead of enableDocumentWideUndoRedo
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/model.ts
  packages/notebook/src/modelfactory.ts
  packages/notebook/src/widget.ts
  packages/notebook/test/actions.spec.ts
  packages/notebook/test/model.spec.ts
  packages/notebook/test/widget.spec.ts
  packages/shared-models/src/api.ts
  packages/shared-models/src/ymodels.ts
  testutils/src/common.ts
Labels: pkg:notebook, pkg:shared-models

#11218 Fix Release Check
  builder/src/webpack.config.base.ts
  scripts/release_test.sh
Labels: maintenance

#11219 don't continuously `cd('/')` when already in /
  packages/filebrowser/src/model.ts
Labels: bug, pkg:filebrowser

#11220 Backport PR #11205 on branch 3.2.x (Handle case when JupyterHub returns 424 for not running server)
  packages/services/src/kernel/manager.ts
  packages/services/src/session/manager.ts
  packages/services/src/terminal/manager.ts
Labels: maintenance, pkg:services

#11223 Backport PR #11218 on branch 3.2.x (Fix Release Check)
  builder/src/webpack.config.base.ts
  scripts/release_test.sh
Labels: maintenance

#11224 Backport PR #11218 on branch 3.1.x (Fix Release Check)
  builder/src/webpack.config.base.ts
  scripts/release_test.sh
Labels: maintenance

#11227 Backport PR #11219 on branch 3.1.x (don't continuously `cd('/')` when already in /)
  packages/filebrowser/src/model.ts
Labels: bug, pkg:filebrowser

#11226 Backport PR #11219 on branch 3.2.x (don't continuously `cd('/')` when already in /)
  packages/filebrowser/src/model.ts
Labels: bug, pkg:filebrowser

#11231 Backport PR #11214 on branch 3.1.x (Check i18n will pass on zeroed patch pre-release version)
  .github/workflows/check-i18n.yml
Labels: maintenance

#11222 Backport PR #11215 on branch master (Use disableDocumentWideUndoRedo instead of enableDocumentWideUndoRedo)
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/model.ts
  packages/notebook/src/modelfactory.ts
  packages/notebook/src/widget.ts
  packages/notebook/test/actions.spec.ts
  packages/notebook/test/model.spec.ts
  packages/notebook/test/widget.spec.ts
  packages/shared-models/src/api.ts
  packages/shared-models/src/ymodels.ts
  testutils/src/common.ts
Labels: pkg:notebook, pkg:shared-models

#11229 Remove format from fetching options if null
  packages/docregistry/src/context.ts
Labels: bug, pkg:docregistry

#11233 Automated Changelog Entry for 3.1.15 on 3.1.x
  CHANGELOG.md
Labels: documentation

#11235 Backport PR #11234 on branch 3.1.x (Use standard hash type in webpack build)
  builder/src/webpack.config.base.ts
Labels: bug

#11236 Backport PR #11234 on branch 3.2.x (Use standard hash type in webpack build)
  builder/src/webpack.config.base.ts
Labels: bug

#11238 Run Linter
  packages/filebrowser/src/model.ts
Labels: maintenance, pkg:filebrowser

#11243 Automated Changelog Entry for 4.0.0a12 on master
  CHANGELOG.md
Labels: documentation
