Repository jupyterlab/jupyterlab, pull requests merged in 2021-01, with the labels that each got.

#9516 Fixed incorrect link to GitHub milestone
  docs/source/getting_started/changelog.rst
Labels: tag:Documentation

#9540 Split contribution guidelines into web-based and local instructions
  docs/source/developer/contributing.rst
Labels: tag:Documentation

#9545 Remove --checkout 3.0 in the extension tutorial
  docs/source/extension/extension_tutorial.rst
Labels: tag:Documentation

#9546 Docs updates for 3.0
  README.md
  docs/source/extension/extension_dev.rst
  docs/source/getting_started/changelog.rst
  docs/source/getting_started/installation.rst
  docs/source/getting_started/starting.rst
  docs/source/index.rst
  docs/source/user/commands.rst
  docs/source/user/images/command_palette.png
  scripts/ci_script.sh
Labels: tag:Documentation

#9548 Remove visible 1px border for terminal
  packages/terminal/style/base.css
Labels: Design System CSS, pkg:terminal, tag:CSS

#9562 Update tutorial for final jlab 3 release.
  docs/source/extension/extension_tutorial.rst
Labels: tag:Documentation

#9502 Use tree/table buttons to display debugger variables view mode
  packages/debugger/src/panels/variables/index.ts
  packages/debugger/style/base.css
  packages/debugger/style/icons.css
  packages/ui-components/src/icon/iconimports.ts
  packages/ui-components/style/deprecated.css
  packages/ui-components/style/icons/toolbar/table-rows.svg
  packages/ui-components/style/icons/toolbar/tree-view.svg
Labels: Design System CSS, pkg:debugger, pkg:ui-components, tag:CSS

#9557 Fix parsing of empty CSV files
  packages/csvviewer/src/model.ts
  packages/csvviewer/test/model.spec.ts
  packages/csvviewer/test/parse.spec.ts
Labels: pkg:csvviewer

#9572 Fix breadcrumb links
  docs/source/_templates/breadcrumbs.html
  packages/csvviewer/src/model.ts
Labels: tag:Documentation

#9580 Move open_browser to the top level configs of classes.
  examples/example_check.py
  jupyterlab/browser_check.py
  jupyterlab/labapp.py
  jupyterlab/labhubapp.py
  jupyterlab/tests/test_app.py
  setup.py
Labels: tag:Examples

#9598 Fix handling of multiple notebooks for the debugger
  packages/debugger/src/handler.ts
Labels: pkg:debugger

#9607 Update changelog for 3.0.4
  docs/source/getting_started/changelog.rst
Labels: tag:Documentation

#9586 Update app and federated examples
  .eslintignore
  .prettierignore
  dev_mode/index.js
  dev_mode/webpack.config.js
  examples/app/index.js
  examples/app/package.json
  examples/app/webpack.config.js
  examples/federated/.gitignore
  examples/federated/core_package/bootstrap.js
  examples/federated/core_package/index.template.js
  examples/federated/core_package/package.json
  examples/federated/core_package/webpack.config.js
  examples/federated/main.py
  scripts/ci_install.sh
Labels: tag:Examples

#9616 Remove the notebook 5.1 check for large uploads
  packages/filebrowser/src/model.ts
  packages/filebrowser/test/model.spec.ts
Labels: pkg:filebrowser

#9617 Fix display of ?? help
  packages/rendermime/style/base.css
Labels: Design System CSS, pkg:rendermime, tag:CSS

#9632 Remove jest version constrain
  docs/source/extension/extension_dev.rst
Labels: tag:Documentation

#9628 Disable large uploads for notebook server < 5.1
  packages/filebrowser/src/model.ts
  packages/filebrowser/test/model.spec.ts
Labels: pkg:filebrowser

#9629 Ignore timeout errors when preloading settings.
  packages/settingregistry/src/settingregistry.ts
Labels: pkg:settingregistry

#9643 Allow for lazily retrieved documentation (with a getter)
  packages/completer/src/model.ts
Labels: pkg:completer

#9594 Trim notebook large output for better performance
  packages/cells/src/widget.ts
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/widget.ts
  packages/outputarea/src/model.ts
  packages/outputarea/src/widget.ts
Labels: pkg:cells, pkg:notebook, pkg:outputarea

#9656 Fix viewing of PDF files in Safari
  packages/pdf-extension/src/index.ts
Labels: pkg:pdf

#9358 Add ToC entries for all headers in markdown cells
  packages/toc/src/generators/notebook/get_markdown_heading.ts
  packages/toc/src/generators/notebook/get_rendered_html_heading.ts
  packages/toc/src/generators/notebook/index.ts
Labels: pkg:toc

#9664 Revert creating a new browser tab for a new launcher when in simple interface
  packages/filebrowser-extension/src/index.ts
Labels: pkg:filebrowser

#9661 Add xeus-robot to the debugger documentation
  docs/source/user/debugger.rst
Labels: tag:Documentation

#9335 Accessible color contrast for brand, accent, and state colors
  packages/theme-light-extension/style/variables.css
Labels: Design System CSS, pkg:themes, tag:CSS

#9683 Add changelog for 3.0.6
  docs/source/getting_started/changelog.rst
Labels: tag:Documentation

#9685 Backport PR #9683 on branch 3.0.x (Add changelog for 3.0.6)
  docs/source/getting_started/changelog.rst
Labels: tag:Documentation

#9674 Listen for ‘restarting’ instead of ‘autorestarting’ from server.
  packages/services/src/kernel/default.ts
Labels: pkg:services

#9693 Backport PR #9674 on branch 3.0.x (Listen for ‘restarting’ instead of ‘autorestarting’ from server.)
  packages/services/src/kernel/default.ts
Labels: pkg:services

#9695 Add two more PRs to 3.0.6 Changelog
  docs/source/getting_started/changelog.rst
Labels: tag:Documentation

#9702 Add link for prebuilt extensions too
  packages/extensionmanager/src/widget.tsx
Labels: pkg:extensionmanager
