Repository jupyterlab/jupyterlab, pull requests merged in 2021-03, with the labels that each got.

#9892 Added Forum to help menu. Fixes #8678
  packages/help-extension/src/index.tsx
Labels: pkg:help

#9898 Add websocket token auth in case of different ws domain
  packages/coreutils/src/url.ts
  packages/services/src/serverconnection.ts
Labels: pkg:coreutils, pkg:services

#9917 Update changelog for 3.0.9 and 3.0.10
  docs/source/getting_started/changelog.md
Labels: tag:Documentation

#9919 Point the CI badges in the README to master branch
  README.md
Labels: tag:Documentation

#9921 Remove the explicit path to the mock extension used in the integrity script
  buildutils/src/ensure-repo.ts
Labels: type:Maintenance

#9932 Make Table of Contents extension not rewrite all notebook headers.
  packages/toc/src/generators/notebook/get_rendered_html_heading.ts
Labels: tag:Backport

#9934 Move the code consoles functionalities for the notebook to a separate plugin
  packages/notebook-extension/src/index.ts
Labels: pkg:notebook

#9909 feat: CommandLinker Support in Markdown cells
  packages/apputils/src/sanitizer.ts
  packages/apputils/test/sanitizer.spec.ts
Labels: pkg:apputils

#9154 Debugger keyboard shortcuts
  packages/debugger-extension/schema/main.json
Labels: pkg:debugger

#9938 Fix ToC markdown bug for HTML comments
  packages/toc/src/utils/parse_heading.ts
Labels: pkg:toc

#9937 feat: CommandLinker Support in Markdown cells
  packages/apputils/src/sanitizer.ts
  tests/test-apputils/src/sanitizer.spec.ts
Labels: pkg:apputils, tag:Testing

#9944 Move Changelog to Standard Location
  .gitignore
  CHANGELOG.md
  docs/source/conf.py
  scripts/ci_script.sh
Labels: tag:Documentation

#9949 Update react-json-tree to 0.15.0
  packages/json-extension/package.json
  packages/json-extension/src/component.tsx
  yarn.lock
Labels: pkg:json

#9954 Made disposable optional for widget extensions
  packages/docmanager/src/widgetmanager.ts
  packages/docregistry/src/registry.ts
Labels: pkg:docmanager, pkg:docregistry

#9955 Changelog entry for 3.0.11
  docs/source/getting_started/changelog.rst
Labels: tag:Documentation

#9946 changing ... to ellipsis character in json find
  packages/json-extension/src/component.tsx
Labels: pkg:json

#9958 DocRegistry FileType pattern matching doesn't work
  packages/docregistry/src/registry.ts
  packages/docregistry/test/registry.spec.ts
Labels: pkg:docregistry, tag:Backport

#9963 Backport PR #9958 on branch 3.0.x (DocRegistry FileType pattern matching doesn't work)
  packages/docregistry/src/registry.ts
  packages/docregistry/test/registry.spec.ts
Labels: pkg:docregistry

#9622 Add aria roles and labels
  packages/application/src/shell.ts
  packages/apputils-extension/src/palette.ts
  packages/apputils/src/mainareawidget.ts
  packages/debugger-extension/src/index.ts
  packages/extensionmanager-extension/src/index.ts
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/browser.ts
  packages/running-extension/src/index.ts
  packages/toc-extension/src/index.ts
Labels: pkg:application, pkg:apputils, pkg:debugger, pkg:extensionmanager, pkg:filebrowser, pkg:running, tag:Accessibility

#9962 Remove lookbehind from ToC MD regex for Safari
  packages/toc/src/utils/parse_heading.ts
Labels: tag:Browser Compatibility

#9967 Add changelog entry for 3.0.12
  docs/source/getting_started/changelog.rst
Labels: tag:Documentation

#9970 Update console message for when fullMathjaxUrl is missing from the page config
  packages/mathjax2-extension/src/index.ts
Labels: pkg:mathjax2

#9974 Do not make unnecessary npm registry requests
  packages/extensionmanager/src/model.ts
Labels: pkg:extensionmanager, tag:Backport

#9978 Fix escaping of urls and paths
  packages/rendermime/src/registry.ts
  packages/rendermime/src/renderers.ts
  packages/rendermime/test/registry.spec.ts
Labels: pkg:rendermime

#9987 Move js-services to the flaky CI workflow
  .github/workflows/linuxjs-flaky-tests.yml
  .github/workflows/linuxjs-tests.yml
Labels: tag:Testing

#9989 Clarify where the overrides.json file should be in the docs
  docs/environment.yml
  docs/source/user/directories.rst
Labels: tag:Documentation

#9996 Backport PR #9989 on branch 3.0.x: Clarify where the overrides.json file should be in the docs
  docs/source/user/directories.rst
Labels: tag:Documentation

#9997 Fix js-apputils session context tests
  packages/apputils/test/sessioncontext.spec.ts
Labels: pkg:apputils, tag:Testing

#7596 Add null fileformat
  packages/docregistry/src/context.ts
  packages/services/src/contents/index.ts
Labels: pkg:docregistry, pkg:services

#9998 Loosen pin on jupyter-packaging
  setup.py
Labels: dependencies

#10001 PR: Add shim for safari missing idlecallback calls
  docs/source/getting_started/changelog.rst
  packages/notebook/src/widget.ts
Labels: pkg:notebook, tag:Documentation

#10012 Use check-links-ignore to ignore pulls and issues
  CHANGELOG.md
  RELEASE.md
  docs/environment.yml
  scripts/ci_script.sh
  setup.py
Labels: tag:Documentation

#10009 Create New commands for common file types associated with available kernels
  packages/fileeditor-extension/src/commands.ts
  packages/fileeditor-extension/src/index.ts
  packages/launcher/src/index.tsx
Labels: pkg:fileeditor, pkg:launcher

#9984 API for custom toolbars/headers in Notebook widgets
  packages/apputils-extension/src/index.ts
  packages/apputils/src/mainareawidget.ts
  packages/apputils/test/mainareawidget.spec.ts
Labels: pkg:apputils, pkg:notebook

#10015 [Fix] `Copy shareable link` command - fix the filename encoding (for files with spaces in the name)
  packages/filebrowser-extension/src/index.ts
Labels: pkg:filebrowser

#10021 Backport PR #10015 on branch 3.0.x
  packages/filebrowser-extension/src/index.ts
Labels: pkg:filebrowser

#10002 Add document name and workspaces to title Bar
  packages/apputils-extension/src/index.ts
Labels: pkg:apputils

#10023 Show app.name in the tab title
  packages/apputils-extension/src/index.ts
Labels: pkg:apputils
