Repository jupyterlab/jupyterlab, pull requests merged in 2021-02, with the labels that each got.

#9707 Remove outdated note on ipywidgets
  docs/source/extension/notebook.rst
Labels: tag:Documentation

#9712 Backport PR #9707 on branch 3.0.x (Remove outdated note on ipywidgets)
  docs/source/extension/notebook.rst
Labels: tag:Documentation

#9705 Update notebook toolbar example docs
  docs/source/extension/notebook.rst
Labels: tag:Documentation

#9717 Backport PR #9705 on branch 3.0.x (Update notebook toolbar example docs)
  docs/source/extension/notebook.rst
Labels: tag:Documentation

#9709 Use Path.resolve() to get canonical case-sensitive path names
  .github/workflows/windowstests.yml
  jupyterlab/commands.py
  jupyterlab/tests/test_jupyterlab.py
  scripts/ci_install.bat
  scripts/ci_install.ps1
  scripts/ci_script.bat
  scripts/ci_script.ps1
  scripts/ci_script.sh
Labels: tag:Backport

#9722 Update changelog for 3.0.7
  docs/source/getting_started/changelog.rst
Labels: tag:Documentation

#9723 Backport PR #9722 on branch 3.0.x (Update changelog for 3.0.7)
  docs/source/getting_started/changelog.rst
Labels: tag:Documentation

#9728 Update extension_dev.rst
  docs/source/extension/extension_dev.rst
Labels: tag:Documentation

#9731 Add missing default_url fields to examples
  examples/app/main.py
  examples/cell/main.py
  examples/console/main.py
  examples/filebrowser/main.py
  examples/notebook/main.py
  examples/terminal/main.py
Labels: tag:Examples, type:Bug

#9737 Add missing default_url fields to more examples
  packages/services/examples/browser-require/main.py
  packages/services/examples/browser/main.py
  packages/services/examples/typescript-browser-with-output/main.py
Labels: pkg:services

#9667 Make the filebrowser plugins more reusable
  packages/filebrowser-extension/src/index.ts
Labels: pkg:filebrowser

#9745 Do not take focus away from search panel (for navigateToCurrentDirectory)
  packages/filebrowser-extension/src/index.ts
Labels: pkg:filebrowser

#9655 Fix use of hyphen in module name
  .gitignore
  jupyterlab/chrome-test.js
  jupyterlab/federated_labextensions.py
  jupyterlab/tests/mock_packages/extension/index.js
  jupyterlab/tests/mock_packages/test-hyphens-underscore/MANIFEST.in
  jupyterlab/tests/mock_packages/test-hyphens-underscore/index.js
  jupyterlab/tests/mock_packages/test-hyphens-underscore/package.json
  jupyterlab/tests/mock_packages/test-hyphens-underscore/pyproject.toml
  jupyterlab/tests/mock_packages/test-hyphens-underscore/setup.py
  jupyterlab/tests/mock_packages/test-hyphens-underscore/test_hyphens_underscore/__init__.py
  jupyterlab/tests/mock_packages/test-hyphens/MANIFEST.in
  jupyterlab/tests/mock_packages/test-hyphens/index.js
  jupyterlab/tests/mock_packages/test-hyphens/package.json
  jupyterlab/tests/mock_packages/test-hyphens/pyproject.toml
  jupyterlab/tests/mock_packages/test-hyphens/setup.py
  jupyterlab/tests/mock_packages/test-hyphens/test-hyphens/__init__.py
  jupyterlab/tests/mock_packages/test_no_hyphens/MANIFEST.in
  jupyterlab/tests/mock_packages/test_no_hyphens/index.js
  jupyterlab/tests/mock_packages/test_no_hyphens/package.json
  jupyterlab/tests/mock_packages/test_no_hyphens/pyproject.toml
  jupyterlab/tests/mock_packages/test_no_hyphens/setup.py
  jupyterlab/tests/mock_packages/test_no_hyphens/test_no_hyphens/__init__.py
  scripts/ci_install.sh
  scripts/ci_script.sh
Labels: tag:Build System

#9748 Backport PR #9731 on branch 3.0.x (Add missing default_url fields to examples)
  examples/app/main.py
  examples/cell/main.py
  examples/console/main.py
  examples/filebrowser/main.py
  examples/notebook/main.py
  examples/terminal/main.py
Labels: tag:Examples

#9749 Backport PR #9737 on branch 3.0.x (Add missing default_url fields to more examples)
  packages/services/examples/browser-require/main.py
  packages/services/examples/browser/main.py
  packages/services/examples/typescript-browser-with-output/main.py
Labels: pkg:services

#9519 Add license-webpack-plugin
  builder/package.json
  builder/src/extensionConfig.ts
  dev_mode/package.json
  dev_mode/webpack.prod.config.js
  dev_mode/webpack.prod.minimize.config.js
  jupyterlab/pytest_plugin.py
  jupyterlab/staging/package.json
  jupyterlab/staging/webpack.prod.config.js
  jupyterlab/staging/webpack.prod.minimize.config.js
  jupyterlab/staging/yarn.lock
  yarn.lock
Labels: pkg:csvviewer

#9648 transition header element to div.header for accessibility
  packages/debugger/src/panels/breakpoints/header.ts
  packages/debugger/src/panels/callstack/header.ts
  packages/debugger/src/panels/sources/header.tsx
  packages/debugger/src/panels/variables/header.ts
  packages/debugger/src/sidebar.ts
  packages/debugger/style/sidebar.css
  packages/debugger/style/variables.css
  packages/extensionmanager/src/widget.tsx
  packages/extensionmanager/style/base.css
  packages/running/src/index.tsx
  packages/toc/src/toc.tsx
  packages/toc/src/toc_tree.tsx
  packages/toc/style/base.css
Labels: Design System CSS, pkg:debugger, pkg:extensionmanager, pkg:running, tag:CSS

#9746 Fix search provider not recognising text nodes
  .github/workflows/linuxjs-tests.yml
  packages/documentsearch/babel.config.js
  packages/documentsearch/jest.config.js
  packages/documentsearch/package.json
  packages/documentsearch/src/index.ts
  packages/documentsearch/src/providers/genericsearchprovider.ts
  packages/documentsearch/test/documentsearchprovider.spec.ts
  packages/documentsearch/tsconfig.test.json
Labels: pkg:documentsearch

#9766 Fix race condition in session startup
  packages/apputils/src/sessioncontext.tsx
  testutils/src/start_jupyter_server.ts
Labels: pkg:apputils

#9773 Correct synchronization of tags between metadata and tags widget
  packages/celltags/src/tool.ts
Labels: pkg:celltags

#9775 Backport PR #9773 on branch 3.0.x (Correct synchronization of tags between metadata and tags widget)
  packages/celltags/src/tool.ts
Labels: pkg:celltags

#9780 Update MANIFEST.in to include package_data files.
  MANIFEST.in
Labels: tag:Backport

#9783 Add "author_name" to cookiecutter
  docs/source/extension/extension_tutorial.rst
Labels: tag:Documentation

#9788 Link to file with lab CSS variables
  docs/source/developer/css.rst
Labels: tag:Documentation

#9794 Fix label for "Create Console for Editor"
  packages/fileeditor-extension/src/commands.ts
Labels: pkg:fileeditor

#9806 Fix Services Tests
  packages/services/test/kernel/ikernel.spec.ts
  packages/services/test/session/isession.spec.ts
  packages/services/test/utils.ts
Labels: pkg:services

#9811 Backport PR #9806 on branch 3.0.x (Fix Services Tests)
  packages/services/test/kernel/ikernel.spec.ts
  packages/services/test/session/isession.spec.ts
  packages/services/test/utils.ts
Labels: pkg:services

#9809 @jupyterlab/rendermime: upgraded `marked` dep past vulnerability
  packages/rendermime/package.json
  yarn.lock
Labels: pkg:rendermime

#9813 Backport PR #9809 on branch 3.0.x (@jupyterlab/rendermime: upgraded `marked` dep past vulnerability)
  packages/rendermime/package.json
  yarn.lock
Labels: pkg:rendermime

#9814 Update CI script timeouts
  .github/workflows/linuxjs-tests.yml
  .github/workflows/linuxtests.yml
  .github/workflows/windowstests.yml
  scripts/ci_script.sh
Labels: tag:DevOps

#9805 Update changelog for 3.0.8
  docs/source/getting_started/changelog.rst
Labels: tag:Documentation

#9821 Clean up Release Scripts and Test in CI
  .github/workflows/linuxtests.yml
  RELEASE.md
  buildutils/src/prepare-python-release.ts
  buildutils/src/publish.ts
  jupyterlab/browser_check.py
  package.json
  scripts/ci_install.ps1
  scripts/ci_install.sh
  scripts/ci_script.sh
  scripts/release_test.sh
  setup.py
Labels: tag:DevOps

#9824 Fix the display of breakpoints on restore
  packages/debugger/src/service.ts
  packages/debugger/test/debugger.spec.ts
  packages/debugger/test/service.spec.ts
Labels: pkg:debugger

#9828 Backport PR #9824 on branch 3.0.x (Fix the display of breakpoints on restore)
  packages/debugger/src/service.ts
  packages/debugger/test/debugger.spec.ts
  packages/debugger/test/service.spec.ts
Labels: pkg:debugger

#9831 Remove the auto-switch to “mobile” mode, and behavior switches associated with mobile mode
  packages/application/src/lab.ts
  packages/statusbar-extension/src/index.ts
Labels: pkg:application, pkg:statusbar, tag:Backport

#9832 Backport PR #9831 on branch 3.0.x (Remove the auto-switch to “mobile” mode, and behavior switches associated with mobile mode)
  packages/application/src/lab.ts
  packages/statusbar-extension/src/index.ts
Labels: pkg:application, pkg:statusbar

#9835 Fix example pins, don't prettier ipynb_checkpoints
  .prettierignore
  examples/federated/core_package/package.json
Labels: tag:Examples

#9840 Add Markdown icon for Show Markdown Preview
  packages/fileeditor-extension/src/commands.ts
Labels: pkg:fileeditor

#9843 Add icon to Create Console for Editor
  packages/fileeditor-extension/src/commands.ts
Labels: pkg:fileeditor

#9844 Add missing return types to fileeditor-extension/src/commands.ts
  packages/fileeditor-extension/src/commands.ts
Labels: pkg:fileeditor

#9845 Move the cloned outputs to a separate plugin
  packages/notebook-extension/src/index.ts
Labels: pkg:notebook

#9846 Convert Changelog to Markdown
  .github/workflows/linuxtests.yml
  RELEASE.md
  docs/environment.yml
  docs/source/_static/css/custom.css
  docs/source/conf.py
  docs/source/getting_started/changelog.md
  docs/source/getting_started/changelog.rst
  scripts/ci_script.sh
  scripts/release_template.txt
Labels: Design System CSS, tag:CSS, tag:Documentation

#9850 Add changelog entry for 3.0.9
  docs/source/getting_started/changelog.rst
Labels: tag:Documentation

#9851 Fix contrast of debugger icon when selected
  packages/ui-components/style/icons/toolbar/bug.svg
Labels: pkg:ui-components

#9858 Allow overrides.json to override default shortcuts.
  packages/settingregistry/src/settingregistry.ts
  packages/shortcuts-extension/src/index.ts
Labels: pkg:settingregistry, pkg:shortcuts

#9864 Cleanup unused Python imports
  examples/app/main.py
  examples/federated/main.py
  jupyterlab/browser_check.py
  jupyterlab/commands.py
  jupyterlab/coreconfig.py
  jupyterlab/debuglog.py
  jupyterlab/labapp.py
  jupyterlab/labextensions.py
  jupyterlab/pytest_plugin.py
  jupyterlab/tests/test_app.py
  jupyterlab/tests/test_build_api.py
  jupyterlab/tests/test_jupyterlab.py
  jupyterlab/tests/test_registry.py
  jupyterlab/upgrade_extension.py
Labels: tag:Examples

#9860 Add link to source extension list of metadata in prebuilt extensions
  docs/source/extension/extension_dev.rst
Labels: tag:Documentation

#9854 fix release_test, squash all non-eslint CI warnings
  .github/workflows/codeql-analysis.yml
  .github/workflows/labeler.yml
  .github/workflows/linuxjs-flaky-tests.yml
  .github/workflows/linuxjs-tests.yml
  .github/workflows/linuxtests.yml
  .github/workflows/lock.yml
  builder/src/duplicate-package-checker-webpack-plugin.d.ts
  buildutils/src/utils.ts
  dev_mode/bootstrap.js
  docs/source/extension/extension_tutorial.rst
  docs/source/getting_started/issue.rst
  jupyterlab/browser_check.py
  jupyterlab/chrome-test.js
  scripts/release_prep.sh
  scripts/release_test.sh
Labels: tag:DevOps, tag:Documentation

#9872 Update link to JupyterLab Demo Binder
  README.md
Labels: tag:Documentation

#9873 Turn HTML sanitizer into a plugin
  packages/apputils-extension/src/index.ts
  packages/apputils/src/sanitizer.ts
  packages/apputils/src/tokens.ts
  packages/rendermime-extension/package.json
  packages/rendermime-extension/src/index.ts
  packages/rendermime-extension/style/index.css
  packages/rendermime-extension/style/index.js
  packages/rendermime-extension/tsconfig.json
  packages/rendermime/src/widgets.ts
Labels: Design System CSS, pkg:apputils, pkg:rendermime, tag:CSS

#9876 Make the markdown plugin more reusable
  packages/markdownviewer-extension/src/index.ts
Labels: pkg:markdownviewer

#9875 Do not display the splash screen in the application state plugin
  packages/apputils-extension/src/index.ts
Labels: pkg:apputils
