Repository jupyterlab/jupyterlab, pull requests merged in 2021-04, with the labels that each got.

#10029 Use blobs to set the svg source of an image in the image viewer
  packages/imageviewer/src/widget.ts
  packages/imageviewer/test/widget.spec.ts
Labels: pkg:imageviewer, tag:Backport

#10030 Backport PR #10029 on branch 3.0.x (Use blobs to set the svg source of an image in the image viewer)
  packages/imageviewer/src/widget.ts
  packages/imageviewer/test/widget.spec.ts
Labels: pkg:imageviewer

#10032 Improve UX when a user restarts their Notebook server via JupyterHub
  packages/hub-extension/src/index.ts
Labels: pkg:hub

#10047 Backport PR #9794 on branch 3.0.x (Fix label for "Create Console for Editor")
  packages/fileeditor-extension/src/commands.ts
Labels: pkg:fileeditor

#10000 fixed ellipsis character after menu items in UI
  packages/apputils-extension/src/index.ts
  packages/apputils-extension/src/workspacesplugin.ts
  packages/docmanager-extension/src/index.ts
Labels: pkg:apputils, pkg:docmanager

#9930 [Debugger] Basic support for evaluating code at a breakpoint
  packages/debugger-extension/package.json
  packages/debugger-extension/src/index.ts
  packages/debugger-extension/style/index.css
  packages/debugger-extension/style/index.js
  packages/debugger-extension/tsconfig.json
  packages/debugger/package.json
  packages/debugger/src/debugger.ts
  packages/debugger/src/dialogs/evaluate.ts
  packages/debugger/src/panels/callstack/index.ts
  packages/debugger/src/service.ts
  packages/debugger/src/tokens.ts
  packages/debugger/style/index.css
  packages/debugger/style/index.js
  packages/debugger/test/debugger.spec.ts
  packages/debugger/tsconfig.json
  packages/debugger/tsconfig.test.json
Labels: Design System CSS, pkg:debugger, tag:CSS

#10049 Disable escape key and click-outside-dialog behaviors if hasClose = false
  packages/apputils/src/dialog.tsx
Labels: pkg:apputils

#10050 Remove `buffer` dependency from `@jupyterlab/apputils`
  buildutils/src/ensure-repo.ts
  packages/apputils/package.json
  yarn.lock
Labels: pkg:apputils

#10024 Add Ability Use Source Directories in App Dir
  .github/workflows/linuxtests.yml
  binder/jupyter_notebook_config.py
  binder/postBuild
  dev_mode/webpack.config.js
  docs/source/developer/repo.rst
  docs/source/extension/extension_dev.rst
  jupyterlab/commands.py
  jupyterlab/labapp.py
  jupyterlab/labextensions.py
  jupyterlab/staging/webpack.config.js
  jupyterlab/tests/test_jupyterlab.py
  scripts/ci_script.sh
Labels: tag:Documentation

#10053 Add the toc extension to the `app` example
  examples/app/index.js
  examples/app/package.json
Labels: tag:Examples

#10057 Changelog for 3.0.13
  docs/source/getting_started/changelog.rst
Labels: tag:Documentation

#10058 Forward port changelog entries
  CHANGELOG.md
Labels: tag:Documentation

#10062 Fix typo in ui-components's README
  packages/ui-components/README.md
Labels: pkg:ui-components

#10060 Fix changelog links
  CHANGELOG.md
Labels: tag:Documentation

#10061 Fix changelog in 3.0.x
  docs/source/getting_started/changelog.rst
Labels: tag:Documentation

#10063 Fix #7525 by setting yarn.lock permissions
  jupyterlab/commands.py
Labels: type:Bug

#10064 Use getattr for optional attributes
  jupyterlab/commands.py
Labels: type:Bug

#10025 Implemented variable inspection when the debugger has started
  packages/debugger/src/handler.ts
  packages/debugger/src/service.ts
  packages/debugger/src/tokens.ts
Labels: pkg:debugger, pkg:services

#10068 Fix dry run logic in publish script
  buildutils/src/publish.ts
Labels: type:Bug

#10066 Pull out filebrowser context menu download UI into separate plugin so it can be disabled easily
  packages/filebrowser-extension/src/index.ts
Labels: pkg:filebrowser

#10065 Pull docmanager download UI into separate plugin so that it can be disabled easily
  packages/docmanager-extension/src/index.ts
Labels: pkg:docmanager, type:Maintenance

#10026 chore: update extension_tutorial
  docs/source/extension/extension_tutorial.rst
  docs/source/extension/images/extension_tutorial_complete.png
  docs/source/extension/images/extension_tutorial_empty.png
  docs/source/extension/images/extension_tutorial_single.png
Labels: tag:Documentation

#10073 Move the main application commands to a separate plugin
  packages/application-extension/src/index.tsx
Labels: pkg:application, type:Maintenance

#10078 Add the celltags extension to the `app` example
  examples/app/index.js
  examples/app/package.json
Labels: tag:Examples

#10080 [3.0.x] Clean up browser check
  jupyterlab/browser_check.py
Labels: tag:Testing, type:Maintenance

#10079 Update changelog for 3.0.14
  docs/source/getting_started/changelog.rst
Labels: tag:Documentation

#10081 Backport PR #10026 on branch 3.0.x (chore: update extension_tutorial)
  docs/source/extension/extension_tutorial.rst
  docs/source/extension/images/extension_tutorial_complete.png
  docs/source/extension/images/extension_tutorial_empty.png
  docs/source/extension/images/extension_tutorial_single.png
Labels: tag:Documentation

#10052 Update copyright to 2021 in the about dialog
  packages/help-extension/src/index.tsx
Labels: pkg:help

#10082 Update changelog in master for 3.0.14
  CHANGELOG.md
Labels: tag:Documentation

#10085 Fix changelog links for 3.0.13
  CHANGELOG.md
Labels: tag:Documentation

#10086 Move "Launch Classic Notebook" to its own plugin
  packages/help-extension/src/index.tsx
Labels: pkg:help, type:Maintenance

#10087 [3.0.x] Fix changelong entries for 3.0.13
  docs/source/getting_started/changelog.rst
Labels: tag:Documentation

#10089 Move the about help dialog to its own plugin
  packages/help-extension/src/index.tsx
Labels: pkg:help, type:Maintenance

#10092 Add a clarifying comment for the download plugin.
  packages/filebrowser-extension/src/index.ts
Labels: pkg:filebrowser, type:Maintenance

#10096 Upgrade to Jupyter Packaging 0.9
  MANIFEST.in
  dev_mode/package.json
  pyproject.toml
  scripts/ci_install.sh
  scripts/ci_script.sh
  setup.cfg
  setup.py
Labels: maintenance

#10104 Update packaging commands in the extension tutorial
  docs/source/extension/extension_tutorial.rst
Labels: documentation, tag:Documentation

#10094 Pulled notebook export UI into separate extension so it can be disabled easily
  packages/notebook-extension/src/index.ts
Labels: pkg:notebook

#10093 Mention mamba as a means to install JupyterLab
  README.md
  docs/source/getting_started/installation.rst
Labels: tag:Documentation

#10108 Backport PR #10104 on branch 3.0.x (Update packaging commands in the extension tutorial)
  docs/source/extension/extension_tutorial.rst
Labels: tag:Documentation

#10107 Backport PR #10093 on branch 3.0.x (Mention mamba as a means to install JupyterLab)
  README.md
  docs/source/getting_started/installation.rst
Labels: tag:Documentation

#10110 Allow NPM Registry and CDN Registry to be Configurable
  packages/extensionmanager-extension/schema/plugin.json
  packages/extensionmanager/src/model.ts
  packages/extensionmanager/src/npm.ts
Labels: pkg:extensionmanager

#10076 Add 'merge cell above/below' commands with shortcuts
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/actions.tsx
  packages/notebook/test/actions.spec.ts
Labels: pkg:notebook

#10117 Export createRendermimePlugin from @jupyterlab/application
  .github/workflows/macostests.yml
  packages/application/src/index.ts
Labels: pkg:application

#10122 Clean up package integrity
  buildutils/package.json
  buildutils/src/ensure-package.ts
  packages/celltags-extension/package.json
  packages/celltags/package.json
  packages/javascript-extension/package.json
  packages/json-extension/package.json
  packages/services/examples/browser/package.json
  packages/ui-components-extension/package.json
  packages/vdom-extension/package.json
  packages/vdom/package.json
  packages/vega5-extension/package.json
  typedoc.js
Labels: pkg:celltags, pkg:javascript, pkg:json, pkg:services, pkg:ui-components, pkg:vdom, pkg:vega

#10125 Allow Use of CDN to be Configurable for Fetching Package Metadata
  packages/extensionmanager-extension/schema/plugin.json
  packages/extensionmanager/src/model.ts
  packages/extensionmanager/src/npm.ts
Labels: pkg:extensionmanager

#10099 PR: TOC current position
  packages/toc/src/generators/notebook/get_code_cell_heading.ts
  packages/toc/src/generators/notebook/get_markdown_heading.ts
  packages/toc/src/generators/notebook/get_rendered_html_heading.ts
  packages/toc/src/generators/notebook/index.ts
  packages/toc/src/generators/notebook/render.tsx
  packages/toc/src/registry.ts
  packages/toc/src/toc.tsx
  packages/toc/src/toc_item.tsx
  packages/toc/src/toc_tree.tsx
  packages/toc/src/utils/headings.ts
Labels: pkg:toc

#10132 include all default*.json in @jupyterlab/testutils distributions
  testutils/package.json
Labels: maintenance, tag:Testing

#10128 Perf: Codemirror performance enhancement
  packages/cells/src/widget.ts
  packages/codeeditor/src/editor.ts
  packages/codemirror-extension/src/index.ts
  packages/codemirror/src/editor.ts
  packages/fileeditor-extension/src/commands.ts
  packages/notebook/src/widget.ts
Labels: pkg:cells, pkg:codeeditor, pkg:codemirror, pkg:fileeditor, pkg:notebook, tag:Performance

#10134 Fix handling of mathjax in notebook example
  examples/notebook/main.py
Labels: tag:Examples

#10129 Perf: Trim notebook large output for better performance
  packages/cells/src/widget.ts
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/widget.ts
  packages/outputarea/src/model.ts
  packages/outputarea/src/widget.ts
Labels: pkg:cells, pkg:notebook, pkg:outputarea, tag:Performance

#10136 Clean up workflow permissions
  .github/workflows/labeler.yml
  .github/workflows/lock.yml
Labels: maintenance

#10138 Add Required Permission to CodeQL Workflow
  .github/workflows/codeql-analysis.yml
Labels: maintenance

#10141 Fix Permissions of Labeler Workflow
  .github/workflows/labeler.yml
Labels: maintenance

#10067 Find and replace within a single cell
  packages/documentsearch/src/interfaces.ts
  packages/documentsearch/src/providers/notebooksearchprovider.ts
  packages/documentsearch/src/searchinstance.ts
  packages/documentsearch/src/searchoverlay.tsx
  packages/documentsearch/style/base.css
Labels: Design System CSS, pkg:documentsearch, pkg:ui-components, tag:CSS

#10150 Added support for namespace packages in labextensions.
  jupyterlab/federated_labextensions.py
Labels: enhancement

#10151 Backport PR #10150 on branch 3.0.x (Added support for namespace packages in labextensions.)
  jupyterlab/federated_labextensions.py
Labels: enhancement

#10153 fix: highlight tab focused buttons and Dir List
  packages/application/style/buttons.css
  packages/filebrowser/style/base.css
Labels: Design System CSS, pkg:application, pkg:filebrowser, tag:CSS

#10155 fix(docs): corrects typo in ui-components README
  packages/ui-components/README.md
Labels: pkg:ui-components

#10161 Debugger: Remove all breakpoints should confirm action first
  packages/debugger/src/panels/breakpoints/index.ts
Labels: pkg:debugger

#10168 fix document count in title
  packages/apputils-extension/src/index.ts
Labels: bug, pkg:apputils

#10169 clean up unused signal in notebook search
  packages/documentsearch/src/providers/notebooksearchprovider.ts
Labels: maintenance, pkg:documentsearch

#10147 Added tab cycling to Completer
  packages/completer/src/widget.ts
  packages/completer/test/widget.spec.ts
Labels: enhancement, pkg:completer

#10140 Rename simple interface documents from the title widget
  packages/application/package.json
  packages/application/src/shell.ts
  packages/application/style/index.css
  packages/application/style/index.js
  packages/application/style/titlepanel.css
  packages/application/test/shell.spec.ts
  packages/application/tsconfig.json
  packages/application/tsconfig.test.json
  packages/docmanager-extension/style/index.css
  packages/docmanager-extension/style/index.js
  packages/docregistry/src/context.ts
  packages/docregistry/src/registry.ts
  packages/docregistry/test/context.spec.ts
  packages/filebrowser-extension/style/index.css
  packages/filebrowser-extension/style/index.js
  packages/notebook-extension/style/index.css
  packages/notebook-extension/style/index.js
  packages/rendermime-extension/style/index.css
  packages/rendermime-extension/style/index.js
  packages/toc-extension/style/index.css
  packages/toc-extension/style/index.js
  yarn.lock
Labels: Design System CSS, enhancement, pkg:application, pkg:docmanager, pkg:docregistry, pkg:filebrowser, pkg:notebook, pkg:rendermime, tag:CSS, tag:Feature Parity

#9663 Move documentation panel rendering to renderer
  packages/completer/src/widget.ts
  packages/completer/test/widget.spec.ts
Labels: enhancement, pkg:completer

#10175 Upgrade CodeMirror to 5.61.0 (fixes indentation for Python type hints)
  examples/console/package.json
  examples/filebrowser/package.json
  examples/notebook/package.json
  packages/codemirror-extension/package.json
  packages/codemirror/package.json
  packages/debugger-extension/package.json
  packages/debugger/package.json
  packages/documentsearch/package.json
  yarn.lock
Labels: pkg:codemirror, pkg:debugger, pkg:documentsearch, tag:Examples

#10162 Debugger: show callstack clearer with names/ids
  packages/debugger/src/panels/callstack/body.tsx
  packages/debugger/style/breakpoints.css
Labels: Design System CSS, pkg:debugger, tag:CSS
