Repository jupyterlab/jupyterlab, pull requests merged in 2022-05, with the labels that each got.

#12499 Allow downstream extension to set toolbar layout
  packages/ui-components/src/components/toolbar.tsx
Labels: enhancement, pkg:ui-components

#12503 Backport PR #12499: Allow downstream extension to set toolbar layout
  packages/apputils/src/toolbar/widget.tsx
Labels: enhancement, pkg:apputils

#12506 Backport PR #12398: Add ability to open settings editor to specific plugin's settings
  galata/test/jupyterlab/settings.test.ts
  packages/apputils/src/search.tsx
  packages/settingeditor-extension/src/index.ts
  packages/settingeditor/src/pluginlist.tsx
  packages/settingeditor/src/settingseditor.tsx
  packages/settingeditor/src/settingspanel.tsx
Labels: enhancement

#12505 Backport PR #10666: Don't sort context menu items by selector
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/file-jupyterlab-linux.png
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/folder-jupyterlab-linux.png
  packages/application/src/frontend.ts
  packages/console-extension/schema/foreign.json
  packages/console-extension/schema/tracker.json
  packages/docmanager-extension/schema/plugin.json
  packages/filebrowser-extension/schema/browser.json
  packages/filebrowser-extension/schema/open-browser-tab.json
  packages/filebrowser-extension/schema/open-with.json
  packages/fileeditor-extension/schema/plugin.json
  packages/inspector-extension/schema/consoles.json
  packages/inspector-extension/schema/notebooks.json
  packages/logconsole-extension/schema/plugin.json
  packages/mainmenu-extension/schema/plugin.json
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/toc-extension/schema/plugin.json
  packages/toc-extension/src/index.ts
Labels: enhancement, pkg:notebook, pkg:console, pkg:filebrowser, pkg:inspector, pkg:application, pkg:fileeditor, pkg:docmanager, pkg:mainmenu, tag:Testing, pkg:logconsole, pkg:toc

#12511 Revert "Merge branch 'commenting-extension' into master"
  buildutils/src/ensure-repo.ts
  dev_mode/package.json
  packages/comments/CHANGELOG.md
  packages/comments/MANIFEST.in
  packages/comments/README.md
  packages/comments/RELEASE.md
  packages/comments/comments/__init__.py
  packages/comments/comments/_version.py
  packages/comments/install.json
  packages/comments/package.json
  packages/comments/pyproject.toml
  packages/comments/setup.py
  packages/comments/src/index.ts
  packages/comments/style/base.css
  packages/comments/style/index.css
  packages/comments/style/index.js
  packages/comments/tsconfig.json
  packages/metapackage/package.json
  packages/metapackage/tsconfig.json
  tsconfigdoc.json
Labels: documentation, maintenance, tag:CSS, Design System CSS

#12507 Ensure settings editor is attached before activation
  packages/settingeditor-extension/src/index.ts
Labels: bug

#12512 Deduplicates some packages in yarn.lock
  yarn.lock
Labels: maintenance

#12516 Automated Changelog Entry for 3.4.0 on 3.4.x
  CHANGELOG.md
Labels: documentation

#12521 Handle missing `preferredPath` from the page config
  packages/filebrowser/src/crumbs.ts
Labels: bug

#12517 Automated Changelog Entry Forward Ported from v3.4.0
  CHANGELOG.md
Labels: documentation

#12496 Handled new dialog creation with no buttons
  packages/apputils/src/dialog.tsx
Labels: bug, pkg:apputils

#12522 Backport PR #12521 on branch 3.4.x (Handle missing `preferredPath` from the page config)
  packages/filebrowser/src/crumbs.ts
Labels: bug, pkg:filebrowser

#12508 Get Auto Close Brackets working consistently in Consoles
  packages/console-extension/src/index.ts
  packages/console/src/widget.ts
Labels: bug, pkg:console

#12509 Allow bot PRs to be automatically labeled
  .github/workflows/enforce-label.yml
Labels: maintenance

#12515 Update documentation snapshot
  galata/test/documentation/commands.test.ts
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/extension_manager.test.ts
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-search-documentation-linux.png
Labels: maintenance, tag:Testing

#12502 Add line history (via arrow up/down) to all `Stdin` widgets in cell outputs
  .gitignore
  packages/notebook-extension/schema/tracker.json
  packages/outputarea/src/widget.ts
  packages/outputarea/style/base.css
Labels: enhancement, pkg:notebook, pkg:outputarea, tag:CSS, Design System CSS

#12527 Backport PR #12509 on branch 3.4.x (Allow bot PRs to be automatically labeled)
  .github/workflows/enforce-label.yml
Labels: maintenance

#12526 Backport PR #12508 on branch 3.4.x (Get Auto Close Brackets working consistently in Consoles)
  packages/console-extension/src/index.ts
  packages/console/src/widget.ts
Labels: bug, pkg:console

#12525 Backport PR #12496 on branch 3.4.x (Handled new dialog creation with no buttons)
  packages/apputils/src/dialog.tsx
Labels: bug, pkg:apputils

#12510 Check-all checkbox should be unchecked when current directory is empty
  packages/filebrowser/src/listing.ts
  packages/filebrowser/test/listing.spec.ts
Labels: enhancement, pkg:filebrowser

#12466 Setting to use the advanced setting editor for the settings
  packages/settingeditor-extension/schema/form-ui.json
  packages/settingeditor-extension/src/index.ts
Labels: enhancement

#12528 Re-align `cell-toolbar` version
  dev_mode/package.json
  packages/cell-toolbar-extension/package.json
  packages/cell-toolbar/package.json
  packages/metapackage/package.json
Labels: maintenance

#12529 Backport PR #12466 on branch 3.4.x (Setting to use the advanced setting editor for the settings)
  packages/settingeditor-extension/schema/form-ui.json
  packages/settingeditor-extension/src/index.ts
Labels: enhancement

#12365 Add CodeViewer widget and openCodeViewer command
  packages/codeeditor/src/index.ts
  packages/codeeditor/src/viewer.ts
  packages/fileeditor-extension/src/commands.ts
  packages/fileeditor-extension/src/index.ts
Labels: enhancement, pkg:codeeditor, pkg:fileeditor

#12533 Allow users to yarn link @jupyterlab/builder
  jupyterlab/federated_labextensions.py
Labels: bug, tag:Build System

#12548 Fixes user package
  .github/labeler.yml
  .github/workflows/linuxjs-tests.yml
  examples/federated/core_package/package.json
  packages/user/test/menu.spec.ts
  packages/user/test/model.spec.ts
Labels: maintenance, tag:Examples, tag:Real Time Collaboration

#12553 Backport PR #12533 on branch 3.4.x (Allow users to yarn link @jupyterlab/builder)
  jupyterlab/federated_labextensions.py
Labels: bug, tag:Build System

#12552 Fix documentation UI test for extension manager search
  galata/test/documentation/commands.test.ts
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-search-documentation-linux.png
Labels: maintenance, tag:Testing

#12551 Add cell-toolbar to CI and labeler
  .github/labeler.yml
  .github/workflows/linuxjs-tests.yml
  packages/cell-toolbar/src/index.ts
  packages/cell-toolbar/test/celltoolbartracker.spec.ts
Labels: maintenance

#12560 Automated Changelog Entry for 3.4.1 on 3.4.x
  CHANGELOG.md
Labels: documentation

#12563 Automated Changelog Entry Forward Ported from v3.4.1
  CHANGELOG.md
Labels: documentation

#12535 Update dependency version
  packages/cells/package.json
  packages/cells/src/widget.ts
  packages/rendermime/package.json
  packages/rendermime/src/renderers.ts
  yarn.lock
Labels: maintenance, pkg:rendermime, pkg:cells, tag:Security

#12532 Add "Open in Simple Mode" contextMenu option
  docs/source/user/index.md
  docs/source/user/ui_customization.rst
  packages/filebrowser-extension/src/index.ts
Labels: enhancement, documentation, pkg:filebrowser

#12543 fixed shouldOverwrite is never called when rename target exists
  packages/docmanager/src/dialogs.ts
  packages/docmanager/test/dialog.spec.ts
Labels: bug, pkg:docmanager

#12565 Backport PR #12543 on branch 3.4.x (fixed shouldOverwrite is never called when rename target exists)
  packages/docmanager/src/dialogs.ts
  packages/docmanager/test/dialog.spec.ts
Labels: bug, pkg:docmanager

#12571 Building extensions fail if not using latest patch
  jupyterlab/federated_labextensions.py
Labels: bug

#12572 Backport PR #12571 on branch 3.4.x (Building extensions fail if not using latest patch)
  jupyterlab/federated_labextensions.py
Labels: bug

#12574 Automated Changelog Entry Forward Ported from v3.4.2
  CHANGELOG.md
Labels: documentation

#12513 Rename `registerFactory` to `addFactory` in `IToolbarWidgetRegistry`
  docs/source/extension/extension_migration.rst
  packages/apputils/src/tokens.ts
  packages/apputils/src/toolbar/registry.ts
  packages/apputils/test/toolbar.spec.ts
  packages/csvviewer-extension/src/index.ts
  packages/filebrowser-extension/src/index.ts
  packages/htmlviewer-extension/src/index.tsx
  packages/notebook-extension/src/index.ts
Labels: documentation, pkg:notebook, maintenance, pkg:filebrowser, pkg:csvviewer, pkg:apputils, api-change, pkg:htmlviewer, deprecation

#12538 Fix file browser search highlighting bug
  packages/filebrowser/src/browser.ts
  packages/filebrowser/src/model.ts
  packages/filebrowser/src/opendialog.ts
  packages/filebrowser/test/openfiledialog.spec.ts
  packages/settingeditor/src/pluginlist.tsx
  packages/ui-components/src/components/search.tsx
Labels: bug, pkg:filebrowser, pkg:settingeditor, api-change, pkg:ui-components

#12520 Make selected text translucent so the cursor is visible in vim mode
  packages/codemirror/style/base.css
Labels: bug, pkg:codemirror, tag:CSS, Design System CSS

#12577 Backport PR #12532: Add "Open in Simple Mode" contextMenu option
  docs/source/index.rst
  docs/source/user/ui_customization.rst
  packages/filebrowser-extension/src/index.ts
Labels: enhancement, documentation, pkg:filebrowser

#12579 Backport PR #12520 on branch 3.4.x (Make selected text translucent so the cursor is visible in vim mode)
  packages/codemirror/style/base.css
Labels: bug, pkg:codemirror, tag:CSS, Design System CSS

#12360 Load/auto-save document from the back-end using y-py
  dev_mode/package.json
  docs/source/extension/extension_migration.rst
  jupyterlab/handlers/ydoc.py
  jupyterlab/handlers/ydoc_handler.py
  jupyterlab/handlers/yjs_echo_ws.py
  jupyterlab/labapp.py
  packages/docmanager-extension/src/index.tsx
  packages/docprovider/package.json
  packages/docprovider/src/mock.ts
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/yprovider.ts
  packages/docregistry/package.json
  packages/docregistry/src/context.ts
  packages/docregistry/src/default.ts
  packages/notebook/src/model.ts
  packages/shared-models/package.json
  packages/shared-models/src/api.ts
  packages/shared-models/src/ymodels.ts
  setup.cfg
  yarn.lock
Labels: enhancement, documentation, pkg:notebook, pkg:docregistry, pkg:docmanager, api-change, pkg:docprovider, pkg:shared-models

#12576 Force crypto resolution
  builder/src/webpack.config.base.ts
Labels: maintenance

#12581 Unbump the major version of rendermime-interfaces
  dev_mode/package.json
  examples/federated/core_package/package.json
  packages/application/package.json
  packages/apputils/package.json
  packages/apputils/src/tokens.ts
  packages/apputils/tsconfig.json
  packages/apputils/tsconfig.test.json
  packages/attachments/package.json
  packages/docregistry/package.json
  packages/docregistry/src/registry.ts
  packages/javascript-extension/package.json
  packages/json-extension/package.json
  packages/mathjax2/package.json
  packages/metapackage/package.json
  packages/outputarea/package.json
  packages/pdf-extension/package.json
  packages/rendermime-interfaces/package.json
  packages/rendermime-interfaces/src/index.ts
  packages/rendermime/package.json
  packages/translation/package.json
  packages/ui-components/package.json
  packages/ui-components/src/icon/labicon.tsx
  packages/ui-components/tsconfig.json
  packages/ui-components/tsconfig.test.json
  packages/vdom/package.json
  packages/vega5-extension/package.json
Labels: maintenance, pkg:docregistry, tag:Examples, pkg:application, pkg:rendermime, pkg:apputils, pkg:outputarea, pkg:vega, pkg:pdf, pkg:json, pkg:attachments, pkg:javascript, pkg:mathjax2, pkg:vdom, pkg:ui-components, pkg:translation

#12589 Backport PR #12576 on branch 3.4.x (Force crypto resolution)
  builder/src/webpack.config.base.ts
Labels: maintenance

#12447 Focus not set when clicking on cell margin
  packages/notebook/src/widget.ts
Labels: bug, status:Needs Review, pkg:notebook

#12590 Backport PR #12447 on branch 3.4.x (Focus not set when clicking on cell margin)
  packages/notebook/src/widget.ts
Labels: bug, status:Needs Review, pkg:notebook

#12591 Use error names instead of messages for validation
  packages/docmanager-extension/src/index.tsx
  packages/docmanager/src/savehandler.ts
  packages/docregistry/src/context.ts
Labels: maintenance, pkg:docregistry, pkg:docmanager

#12594 Add bump linters commit to blame ignore
  .git-blame-ignore-revs
Labels: maintenance

#12498 Fixes behavior of `maxNumberOutputs`
  galata/test/jupyterlab/notebook-max-outputs.test.ts
  packages/outputarea/src/widget.ts
  packages/outputarea/style/base.css
  packages/outputarea/test/widget.spec.ts
Labels: bug, pkg:outputarea, tag:Testing, tag:CSS, Design System CSS

#12586 Use customizable toolbar for topbar
  docs/source/extension/extension_points.rst
  packages/application-extension/schema/top-bar.json
  packages/application-extension/src/index.tsx
  packages/application-extension/src/topbar.ts
  packages/application-extension/style/base.css
  packages/apputils/src/toolbar/factory.ts
  packages/user-extension/package.json
  packages/user-extension/schema/user-menu-bar.json
  packages/user-extension/src/index.ts
  packages/user-extension/style/index.css
  packages/user-extension/style/index.js
  packages/user-extension/tsconfig.json
Labels: enhancement, documentation, pkg:application, pkg:apputils, tag:CSS, Design System CSS, pkg:user

#11614 Customize layout from settings
  docs/source/extension/extension_points.rst
  docs/source/user/commands.rst
  docs/source/user/index.md
  docs/source/user/interface_customization.rst
  docs/source/user/ui_customization.rst
  galata/src/helpers/sidebar.ts
  galata/src/jupyterlabpage.ts
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/customization.test.ts
  galata/test/documentation/customization.test.ts-snapshots/customized-context-menu-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/customized-menu-bar-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/customized-notebook-toolbar-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-context-menu-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-menu-bar-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-notebook-toolbar-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-terminal-position-single-documentation-linux.png
  galata/test/documentation/internationalization.test.ts
  packages/application-extension/schema/shell.json
  packages/application-extension/schema/sidebar.json
  packages/application-extension/src/index.tsx
  packages/application/src/shell.ts
  packages/application/style/sidepanel.css
  packages/application/test/shell.spec.ts
  packages/apputils-extension/src/palette.ts
  packages/console-extension/src/index.ts
  packages/debugger-extension/src/index.ts
  packages/debugger/src/sources.ts
  packages/docmanager/src/manager.ts
  packages/docregistry/src/registry.ts
  packages/extensionmanager-extension/src/index.ts
  packages/filebrowser-extension/src/index.ts
  packages/help-extension/src/index.tsx
  packages/inspector-extension/src/index.ts
  packages/launcher-extension/src/index.ts
  packages/launcher/src/widget.tsx
  packages/logconsole-extension/src/index.tsx
  packages/notebook-extension/src/index.ts
  packages/running-extension/src/index.ts
  packages/settingeditor-extension/src/index.ts
  packages/settingregistry/src/tokens.ts
  packages/terminal-extension/src/index.ts
  packages/toc-extension/src/index.ts
Labels: enhancement, documentation, pkg:terminal, pkg:notebook, pkg:console, pkg:filebrowser, pkg:docregistry, pkg:inspector, pkg:launcher, pkg:application, pkg:running, pkg:help, pkg:apputils, pkg:docmanager, pkg:extensionmanager, tag:Testing, tag:CSS, pkg:logconsole, pkg:settingregistry, pkg:toc, pkg:debugger, Design System CSS

#12556 Fix loading toolbar factory twice
  packages/application-extension/src/index.tsx
  packages/apputils/src/toolbar/factory.ts
  packages/apputils/test/toolbar.spec.ts
  packages/mainmenu-extension/src/index.ts
  packages/settingregistry/src/settingregistry.ts
Labels: bug, pkg:application, pkg:apputils, pkg:mainmenu, pkg:settingregistry

#12597 Automated Changelog Entry for 4.0.0a25 on master
  CHANGELOG.md
Labels: documentation

#12599 Backport PR #12556: Fix loading toolbar factory twice
  packages/application-extension/src/index.tsx
  packages/apputils/src/toolbar/factory.ts
  packages/apputils/test/toolbar.spec.ts
  packages/mainmenu-extension/src/index.ts
  packages/settingregistry/src/settingregistry.ts
Labels: bug, pkg:application, pkg:apputils, pkg:mainmenu, pkg:settingregistry

#12602 Pin exactly jupyter_ydoc
  setup.cfg
Labels: bug

#12601 Fix GitHub user rename for check-link
  CHANGELOG.md
Labels: documentation, maintenance

#12610 Update README wording
  README.md
Labels: documentation

#12585 Invert relationship between launcher and filebrowser
  docs/source/extension/extension_migration.rst
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/customization.test.ts-snapshots/customized-menu-bar-documentation-linux.png
  packages/filebrowser-extension/package.json
  packages/filebrowser-extension/schema/browser.json
  packages/filebrowser-extension/schema/widget.json
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser-extension/style/index.css
  packages/filebrowser-extension/style/index.js
  packages/filebrowser-extension/tsconfig.json
  packages/filebrowser/style/base.css
  packages/launcher-extension/package.json
  packages/launcher-extension/schema/plugin.json
  packages/launcher-extension/src/index.ts
  packages/launcher-extension/style/base.css
  packages/launcher-extension/style/index.css
  packages/launcher-extension/style/index.js
  packages/launcher-extension/tsconfig.json
Labels: enhancement, documentation, pkg:filebrowser, pkg:launcher, tag:Testing, tag:CSS, Design System CSS

#12609 Fix the side-by-side cell resize handle
  packages/cells/src/resizeHandle.ts
Labels: enhancement, pkg:cells

#12611 Backport PR #12609: Fix the side-by-side cell resize handle
  packages/cells/src/resizeHandle.ts
Labels: bug, pkg:cells

#12598 Backport PR #12498: Fixes behavior of `maxNumberOutputs`
  galata/test/jupyterlab/notebook-max-outputs.test.ts
  galata/test/jupyterlab/notebook-run.test.ts-snapshots/notebook-panel-0-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/dark-term-dark-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/dark-term-inherit-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/dark-term-light-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/launcher-term-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/light-term-dark-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/light-term-inherit-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/light-term-light-jupyterlab-linux.png
  packages/outputarea/src/widget.ts
  packages/outputarea/style/base.css
  packages/outputarea/test/widget.spec.ts
  yarn.lock
Labels: bug, pkg:outputarea, tag:Testing, tag:CSS, Design System CSS

#12619 Fix kernel protocol serialization
  packages/services/src/kernel/serialize.ts
Labels: bug, pkg:services

#12627 Fix failing check links
  docs/source/user/extensions.rst
Labels: documentation

#12612 Break loop activeCell -> activeHeading
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/highlight-previous-element-jupyterlab-linux.png
  packages/notebook/src/toc.ts
  packages/toc/src/model.ts
  packages/toc/src/tokens.ts
  packages/toc/src/treeview.tsx
Labels: bug, status:Needs Review, pkg:notebook, tag:Testing, pkg:toc

#12618 Remove unneeded build:all and test config
  buildutils/package.json
  buildutils/src/ensure-package.ts
  buildutils/template/package.json
  packages/cell-toolbar-extension/.vscode/launch.json
  packages/cell-toolbar-extension/babel.config.js
  packages/cell-toolbar-extension/jest.config.js
  packages/cell-toolbar-extension/package.json
  packages/cell-toolbar-extension/tsconfig.test.json
  packages/cell-toolbar/package.json
Labels: maintenance, pkg:cell-toolbar
