Repository jupyterlab/jupyterlab, pull requests merged in 2022-11, with the labels that each got.

#13358 Correct `dirty` handling in notebook model
  packages/notebook/src/model.ts
Labels: bug, pkg:notebook

#13354 Export return type of a public method
  packages/notebook/src/executionindicator.tsx
Labels: pkg:notebook, maintenance

#13353 Handle missing user service
  packages/collaboration/test/menu.spec.ts
  packages/services/src/user/index.ts
  testutils/package.json
  testutils/src/user.ts
Labels: bug, pkg:services, pkg:collaboration

#13367 Integrity check does not clean style import when emptied
  buildutils/src/ensure-package.ts
  packages/docmanager-extension/style/index.css
  packages/docmanager-extension/style/index.js
  packages/docmanager/style/index.css
  packages/docmanager/style/index.js
  packages/docprovider-extension/style/index.css
  packages/docprovider-extension/style/index.js
  packages/docprovider/package.json
  packages/docprovider/style/index.css
  packages/docprovider/style/index.js
  packages/docregistry/style/index.css
  packages/docregistry/style/index.js
Labels: maintenance, pkg:docregistry, pkg:docmanager, tag:CSS, Design System CSS, pkg:docprovider

#13368 Fix dirty propagation from shared model
  packages/docregistry/src/default.ts
  packages/notebook/src/model.ts
Labels: bug, pkg:notebook, pkg:docregistry

#13369 Backport PR #13367 on branch 3.6.x (Integrity check does not clean style import when emptied)
  buildutils/src/ensure-package.ts
  packages/docmanager-extension/style/index.css
  packages/docmanager-extension/style/index.js
  packages/docmanager/style/index.css
  packages/docmanager/style/index.js
  packages/docprovider-extension/style/index.css
  packages/docprovider-extension/style/index.js
  packages/docprovider/package.json
  packages/docprovider/style/index.css
  packages/docprovider/style/index.js
  packages/docregistry/style/index.css
  packages/docregistry/style/index.js
Labels: maintenance, pkg:docregistry, pkg:docmanager, tag:CSS, Design System CSS, pkg:docprovider

#13356 Backport PR #13336 on branch 3.6.x (Fix the examples with jupyter-server v2)
  examples/app/index.js
  examples/app/main.py
  examples/app/package.json
  examples/console/main.py
  examples/federated/core_package/package.json
  examples/federated/main.py
  examples/filebrowser/main.py
  examples/terminal/main.py
  packages/extensionmanager-extension/examples/listings/main.py
Labels: maintenance, tag:Examples, pkg:extensionmanager

#11962 Do not load CSS of disabled federated extensions
  dev_mode/index.js
  docs/source/extension/extension_migration.rst
Labels: bug, documentation

#13371 Remove metadata entries
  packages/notebook/src/model.ts
Labels: bug, pkg:notebook

#13364 Backport document dirty logic
  packages/docregistry/src/default.ts
  packages/notebook/src/model.ts
  packages/shared-models/src/api.ts
  packages/shared-models/src/ymodels.ts
Labels: enhancement, pkg:notebook, pkg:docregistry, api-change, pkg:shared-models

#13216 Store original path as returned from contents API in the `Contents.IModel`
  packages/services/src/contents/index.ts
  packages/services/test/contents/index.spec.ts
Labels: enhancement, status:Needs Discussion, pkg:services

#13247 Drop modelDB from code editor
  galata/test/jupyterlab/cells-motion.spec.ts
  packages/cells/src/model.ts
  packages/cells/src/widget.ts
  packages/cells/test/model.spec.ts
  packages/cells/test/widget.spec.ts
  packages/celltags/package.json
  packages/celltags/src/tool.ts
  packages/codeeditor/src/editor.ts
  packages/codeeditor/src/jsoneditor.ts
  packages/codemirror/src/editor.ts
  packages/completer/test/manager.spec.ts
  packages/console/src/widget.ts
  packages/debugger/src/factory.ts
  packages/docregistry/src/default.ts
  packages/notebook-extension/src/index.ts
  packages/notebook/src/actions.tsx
  packages/notebook/src/celllist.ts
  packages/notebook/src/model.ts
  packages/notebook/src/notebooktools.ts
  packages/notebook/src/panel.ts
  packages/notebook/src/toc.ts
  packages/notebook/src/widget.ts
  packages/notebook/test/actions.spec.ts
  packages/notebook/test/model.spec.ts
  packages/notebook/test/notebooktools.spec.ts
  packages/notebook/test/widget.spec.ts
  packages/shared-models/src/api.ts
  packages/shared-models/src/utils.ts
  packages/shared-models/src/ymodels.ts
  packages/shared-models/test/ymodels.spec.ts
Labels: enhancement, pkg:notebook, pkg:codeeditor, pkg:console, pkg:completer, pkg:docregistry, tag:Real Time Collaboration, pkg:cells, pkg:codemirror, api-change, tag:Testing, pkg:celltags, pkg:debugger, pkg:shared-models

#13374 Backport PR #13371 on branch 3.6.x (Remove metadata entries)
  packages/notebook/src/model.ts
Labels: bug, pkg:notebook

#13375 Backport PR #13216 on branch 3.6.x (Store original path as returned from contents API in the `Contents.IModel`)
  packages/services/src/contents/index.ts
  packages/services/test/contents/index.spec.ts
Labels: enhancement, pkg:services

#13360 Backport PR #12959 on branch 3.6.x (Add notification queue and display using toast)
  docs/source/extension/ui_helpers.rst
  galata/test/jupyterlab/general.test.ts-snapshots/dark-theme-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/launch-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/simple-mode-jupyterlab-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-view-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/opened-menu-view-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-center-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-default-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-error-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-in-progress-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-info-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-markdown-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-success-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-warning-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-with-actions-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/filebrowser-right-jupyterlab-linux.png
  packages/apputils-extension/package.json
  packages/apputils-extension/schema/notification.json
  packages/apputils-extension/src/index.ts
  packages/apputils-extension/src/notificationplugin.tsx
  packages/apputils-extension/style/base.css
  packages/apputils-extension/style/index.css
  packages/apputils-extension/style/index.js
  packages/apputils-extension/style/notification.css
  packages/apputils-extension/tsconfig.json
  packages/apputils/src/index.ts
  packages/apputils/src/notification.ts
  packages/apputils/test/notification.spec.ts
  packages/logconsole-extension/schema/plugin.json
  packages/rendermime/src/renderers.ts
  packages/statusbar/package.json
  packages/statusbar/src/components/hover.tsx
  packages/statusbar/tsconfig.json
  packages/ui-components/src/icon/iconimports.ts
  packages/ui-components/style/deprecated.css
  packages/ui-components/style/icons/statusbar/bell.svg
  yarn.lock
Labels: enhancement, documentation, pkg:rendermime, pkg:apputils, tag:Testing, pkg:statusbar, pkg:ui-components, tag:CSS, pkg:logconsole, Design System CSS

#13377 Fix key name for nbformat minor version
  packages/shared-models/src/ymodels.ts
Labels: bug, pkg:shared-models

#13378 Bump Lumino 1.x
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-file-new-jupyterlab-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-settings-console-run-keystroke-jupyterlab-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-settings-jupyterlab-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-settings-terminal-theme-jupyterlab-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-settings-text-editor-indentation-jupyterlab-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-settings-text-editor-key-map-jupyterlab-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-settings-text-editor-theme-jupyterlab-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-settings-theme-jupyterlab-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-tabs-jupyterlab-linux.png
  yarn.lock
Labels: enhancement, tag:Performance, tag:Testing

#13380 Automated Changelog Entry for 3.6.0a2 on 3.6.x
  CHANGELOG.md
Labels: documentation

#13340 Close search view on Escape
  galata/test/jupyterlab/notebook-search.test.ts
  packages/codemirror/src/searchprovider.ts
  packages/documentsearch-extension/schema/plugin.json
  packages/documentsearch-extension/src/index.ts
  packages/documentsearch/package.json
  packages/documentsearch/src/searchview.tsx
Labels: enhancement, tag:Search and Replace, pkg:codemirror, tag:Testing, pkg:documentsearch

#13388 Backport PR #13384 on branch 3.6.x (Add a hover effect to plugin list entries)
  packages/settingeditor/style/base.css
Labels: enhancement, pkg:settingeditor, tag:CSS, Design System CSS

#13279 Define file or activity icons color as static
  galata/test/jupyterlab/general.test.ts-snapshots/dark-theme-jupyterlab-linux.png
  packages/theme-dark-extension/style/variables.css
  packages/theme-light-extension/style/variables.css
  packages/ui-components/style/icons.css
  packages/ui-components/style/icons/filetype/console.svg
  packages/ui-components/style/icons/filetype/inspector.svg
  packages/ui-components/style/icons/filetype/json.svg
  packages/ui-components/style/icons/filetype/notebook.svg
  packages/ui-components/style/icons/filetype/text-editor.svg
  packages/ui-components/style/icons/jupyter/jupyter-favicon.svg
  packages/ui-components/style/icons/jupyter/jupyter.svg
  packages/ui-components/style/icons/statusbar/terminal.svg
  packages/ui-components/style/switch.css
Labels: enhancement, pkg:themes, tag:Testing, pkg:ui-components, tag:CSS, Design System CSS

#13370 Add jupyter-server-fileid
  binder/environment.yml
  binder/start
Labels: maintenance

#13392 Added collaborative_document_save_delay trait
  jupyterlab/labapp.py
Labels: enhancement

#13399 tomllib is in stdlib in Python 3.11+
  jupyterlab/federated_labextensions.py
  pyproject.toml
Labels: maintenance

#13404 Backport #13392 on branch 3.6.x (Added collaborative_document_save_de…
  jupyterlab/labapp.py
Labels: enhancement

#13405 Backport #13399 on branch 3.6.x (tomllib is in stdlib in Python 3.11+)
  jupyterlab/federated_labextensions.py
  setup.cfg
Labels: maintenance

#13407 Bump jupyter_server_ydoc
  setup.cfg
Labels: maintenance

#13409 Automated Changelog Entry for 3.6.0a3 on 3.6.x
  CHANGELOG.md
Labels: documentation

#13410 Suggest adding video preview in PR template
  .github/pull_request_template.md
Labels: documentation

#13408 Backport #13279 on branch 3.6.x (Define file or activity icons color as static)
  galata/test/jupyterlab/general.test.ts-snapshots/dark-theme-jupyterlab-linux.png
  packages/theme-dark-extension/style/variables.css
  packages/theme-light-extension/style/variables.css
  packages/ui-components/style/icons.css
  packages/ui-components/style/icons/filetype/console.svg
  packages/ui-components/style/icons/filetype/inspector.svg
  packages/ui-components/style/icons/filetype/json.svg
  packages/ui-components/style/icons/filetype/notebook.svg
  packages/ui-components/style/icons/filetype/text-editor.svg
  packages/ui-components/style/icons/jupyter/jupyter-favicon.svg
  packages/ui-components/style/icons/jupyter/jupyter.svg
  packages/ui-components/style/icons/statusbar/terminal.svg
  packages/ui-components/style/switch.css
Labels: enhancement, pkg:themes, tag:Testing, pkg:ui-components, tag:CSS, Design System CSS

#13285 Scroll to cell by ID based on hash fragment
  docs/source/user/urls.rst
  galata/test/documentation/customization.test.ts
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-notebook-toolbar-documentation-linux.png
  galata/test/documentation/debugger.test.ts
  galata/test/documentation/debugger.test.ts-snapshots/debugger-kernel-documentation-linux.png
  galata/test/documentation/debugger.test.ts-snapshots/debugger-run-documentation-linux.png
  galata/test/documentation/debugger.test.ts-snapshots/debugger-sidebar-documentation-linux.png
  galata/test/documentation/general.test.ts
  galata/test/documentation/general.test.ts-snapshots/files-create-text-file-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-menu-top-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-shareable-link-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-right-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/notebook-heading-anchor-link-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-chinese-documentation-linux.png
  galata/test/documentation/utils.ts
  galata/test/jupyterlab/notebook-scroll.test.ts
  galata/test/jupyterlab/notebooks/scroll.ipynb
  packages/notebook-extension/src/index.ts
  packages/notebook/src/widget.ts
Labels: documentation, status:Needs Discussion, pkg:notebook, tag:Testing, feature

#13398 Backport #13389 on branch 3.6.x (Extract @jupyterlab/shared-models to @jupyter-notebook/ydoc)
  .github/labeler.yml
  dev_mode/package.json
  packages/cells/package.json
  packages/cells/src/model.ts
  packages/cells/test/model.spec.ts
  packages/cells/tsconfig.json
  packages/cells/tsconfig.test.json
  packages/codeeditor/package.json
  packages/codeeditor/src/editor.ts
  packages/codeeditor/tsconfig.json
  packages/codeeditor/tsconfig.test.json
  packages/codemirror/package.json
  packages/codemirror/src/editor.ts
  packages/codemirror/tsconfig.json
  packages/codemirror/tsconfig.test.json
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/index.ts
  packages/docprovider-extension/tsconfig.json
  packages/docprovider/package.json
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/yprovider.ts
  packages/docprovider/tsconfig.json
  packages/docprovider/tsconfig.test.json
  packages/docregistry/package.json
  packages/docregistry/src/context.ts
  packages/docregistry/src/default.ts
  packages/docregistry/src/registry.ts
  packages/docregistry/tsconfig.json
  packages/docregistry/tsconfig.test.json
  packages/metapackage/package.json
  packages/metapackage/tsconfig.json
  packages/notebook/package.json
  packages/notebook/src/celllist.ts
  packages/notebook/src/model.ts
  packages/notebook/tsconfig.json
  packages/notebook/tsconfig.test.json
  packages/shared-models/babel.config.js
  packages/shared-models/jest.config.js
  packages/shared-models/package.json
  packages/shared-models/src/api.ts
  packages/shared-models/src/index.ts
  packages/shared-models/src/utils.ts
  packages/shared-models/src/ymodels.ts
  packages/shared-models/test/ymodels.spec.ts
  packages/shared-models/tsconfig.json
  packages/shared-models/tsconfig.test.json
  packages/shared-models/typedoc.json
  testutils/src/jest-config.ts
  tsconfigdoc.json
  typedoc.js
  yarn.lock
Labels: pkg:notebook, pkg:codeeditor, maintenance, pkg:docregistry, pkg:cells, pkg:codemirror, pkg:docprovider, pkg:shared-models

#13417 Update the tutorial to reflect the changes in the latest cookiecutter…
  docs/source/extension/extension_tutorial.rst
Labels: documentation

#13422 Remove shared-model from labeler
  .github/labeler.yml
Labels: maintenance

#13421 Backport PR #13417 on branch 3.6.x (Update the tutorial to reflect the changes in the latest cookiecutter…)
  docs/source/extension/extension_tutorial.rst
Labels: documentation

#13413 Move configuration to jupyter-server-ydoc
  docs/source/user/rtc.rst
  jupyterlab/labapp.py
  pyproject.toml
Labels: enhancement, documentation

#13321 Deprecate managing source extensions with `jupyter labextension`
  jupyterlab/labextensions.py
Labels: maintenance

#13335 Add mdformat plugins
  .pre-commit-config.yaml
  CHANGELOG.md
  RELEASE.md
Labels: documentation, maintenance

#13425 Backport #13413 on branch 3.6.x (Move configuration to jupyter-server-ydoc)
  docs/source/user/rtc.rst
  jupyterlab/labapp.py
  setup.cfg
Labels: enhancement, documentation

#13426 Fix `FileEditor.ready`
  packages/fileeditor/src/widget.ts
  packages/fileeditor/test/widget.spec.ts
Labels: bug, pkg:fileeditor

#13424 Backport: Deprecate managing source extensions with `jupyter labextension`
  jupyterlab/labextensions.py
Labels: maintenance

#13428 Use more consistent naming for user service
  packages/collaboration/src/collaboratorspanel.tsx
  packages/collaboration/src/menu.ts
  packages/collaboration/src/userinfopanel.tsx
  packages/docprovider/src/yprovider.ts
  packages/services/src/manager.ts
  packages/services/src/user/index.ts
  testutils/src/user.ts
Labels: maintenance, pkg:services, pkg:docprovider, pkg:collaboration

#13431 Backport #12502 on branch 3.6.x (Add line history to Stdin cell outputs)
  .gitignore
  packages/outputarea/src/widget.ts
  packages/outputarea/style/base.css
Labels: enhancement, pkg:outputarea, tag:CSS, Design System CSS

#13418 Fix propagating the sanitizer to the completer renderer
  packages/completer/src/manager.ts
  packages/completer/src/tokens.ts
  packages/completer/src/widget.ts
Labels: enhancement, pkg:completer

#13419 Backport #13341 on branch 3.6.x (Add user configuration for additional schemes for the sanitizer plugin)
  packages/apputils-extension/schema/sanitizer.json
  packages/apputils-extension/src/index.ts
  packages/apputils/src/sanitizer.ts
  packages/apputils/test/sanitizer.spec.ts
  packages/completer-extension/package.json
  packages/completer-extension/src/index.ts
  packages/completer-extension/style/index.css
  packages/completer-extension/style/index.js
  packages/completer-extension/tsconfig.json
  packages/completer/src/widget.ts
  packages/rendermime/test/factories.spec.ts
Labels: enhancement, pkg:completer, pkg:rendermime, pkg:apputils, tag:CSS, Design System CSS

#13434 Require jupyter_server_ydoc >=0.4.0
  pyproject.toml
Labels: maintenance

#13437 Backport #13434 on branch 3.6.x (Require jupyter_server_ydoc >=0.4.0)
  setup.cfg
Labels: maintenance

#13365 Add announcements
  .eslintrc.js
  .github/workflows/linuxtests.yml
  docs/source/index.rst
  docs/source/privacy_policies.rst
  docs/source/user/announcements.rst
  docs/source/user/index.md
  galata/src/fixtures.ts
  galata/src/galata.ts
  galata/test/benchmark/notebook.spec.ts-snapshots/large-code-notebook-ipynb-benchmark-linux.png
  galata/test/benchmark/notebook.spec.ts-snapshots/large-md-notebook-ipynb-benchmark-linux.png
  galata/test/documentation/extension_manager.test.ts
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-disabled-documentation-linux.png
  galata/test/galata/fixture.spec.ts
  galata/test/jupyterlab/announcements.test.ts
  galata/test/jupyterlab/collapsible-headings.test.ts
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-run-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/opened-menu-run-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-extensionmanager-main-view-jupyterlab-linux.png
  jupyterlab/__init__.py
  jupyterlab/handlers/announcements.py
  jupyterlab/labapp.py
  jupyterlab/tests/__init__.py
  jupyterlab/tests/conftest.py
  jupyterlab/tests/test_announcements.py
  jupyterlab/tests/test_extensions.py
  packages/application/src/lab.ts
  packages/apputils-extension/schema/notification.json
  packages/apputils-extension/src/announcements.ts
  packages/apputils-extension/src/index.ts
  packages/apputils-extension/src/notificationplugin.tsx
  packages/docmanager-extension/src/index.tsx
  packages/extensionmanager-extension/schema/plugin.json
  packages/extensionmanager-extension/src/index.ts
  packages/extensionmanager/src/model.ts
  packages/extensionmanager/src/widget.tsx
  packages/extensionmanager/style/base.css
  packages/notebook-extension/src/index.ts
  packages/statusbar/src/components/hover.tsx
  yarn.lock
Labels: enhancement, documentation, pkg:notebook, pkg:application, pkg:apputils, pkg:docmanager, pkg:extensionmanager, tag:Testing, pkg:statusbar, tag:CSS, Design System CSS

#13435 Backport #13428 on branch 3.6.x (Use more consistent naming for user service)
  packages/collaboration-extension/src/index.ts
  packages/collaboration/src/collaboratorspanel.tsx
  packages/collaboration/src/menu.ts
  packages/collaboration/src/userinfopanel.tsx
  packages/docprovider/src/yprovider.ts
  packages/services/src/manager.ts
  packages/services/src/user/index.ts
  testutils/src/user.ts
Labels: maintenance, pkg:services, pkg:docprovider, pkg:collaboration

#13420 Backport PR #13417 on branch 3.5.x (Update the tutorial to reflect the changes in the latest cookiecutter…)
  docs/source/extension/extension_tutorial.rst
Labels: documentation

#13443 Use default URL in test mock-up
  docs/source/privacy_policies.rst
  jupyterlab/tests/test_announcements.py
Labels: documentation, maintenance

#13430 Clean up and update dependencies
  builder/package.json
  builder/src/build-labextension.ts
  buildutils/package.json
  buildutils/src/bump-js-major.ts
  buildutils/src/bumpversion.ts
  buildutils/src/dependency-graph.ts
  buildutils/src/ensure-repo.ts
  buildutils/src/patch-release.ts
  buildutils/src/prepare-python-release.ts
  buildutils/src/publish.ts
  buildutils/src/update-dependency.ts
  buildutils/src/update-dist-tag.ts
  dev_mode/package.json
  examples/app/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/federated/core_package/package.json
  examples/filebrowser/package.json
  examples/notebook/package.json
  examples/terminal/package.json
  galata/package.json
  packages/debugger-extension/package.json
  packages/debugger/package.json
  packages/extensionmanager-extension/examples/listings/package.json
  packages/metapackage/package.json
  packages/nbconvert-css/package.json
  packages/rendermime/package.json
  packages/services/examples/browser/package.json
  packages/services/examples/typescript-browser-with-output/package.json
  packages/services/package.json
  packages/ui-components/examples/simple-windowed-list/package.json
  packages/ui-components/package.json
  testutils/package.json
  yarn.lock
Labels: maintenance, tag:Examples, pkg:rendermime, pkg:services, pkg:extensionmanager, tag:Testing, pkg:ui-components, pkg:debugger

#13445 Remove broken URL
  docs/source/extension/internationalization.rst
Labels: documentation

#13446 Backport PR #13445 on branch 3.6.x (Remove broken URL)
  docs/source/extension/internationalization.rst
Labels: documentation

#13448 Automated Changelog Entry for 3.6.0a4 on 3.6.x
  CHANGELOG.md
Labels: documentation

#13453 Check if `contentHeader` is not disposed before accessing widgets
  packages/apputils-extension/src/index.ts
Labels: enhancement, tag:Extensions, pkg:apputils

#13450 Share attachments
  packages/cells/src/model.ts
Labels: bug, tag:Real Time Collaboration, pkg:cells

#13444 Backport #13365 on branch 3.6.x (Add announcements)
  .github/workflows/linuxtests.yml
  docs/source/index.rst
  docs/source/privacy_policies.rst
  docs/source/user/announcements.rst
  galata/src/fixtures.ts
  galata/src/galata.ts
  galata/test/benchmark/notebook.spec.ts-snapshots/large-code-notebook-ipynb-benchmark-linux.png
  galata/test/benchmark/notebook.spec.ts-snapshots/large-md-notebook-ipynb-benchmark-linux.png
  galata/test/galata/fixture.spec.ts
  galata/test/jupyterlab/announcements.test.ts
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-run-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/opened-menu-run-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-extensionmanager-main-view-jupyterlab-linux.png
  jupyterlab/__init__.py
  jupyterlab/handlers/announcements.py
  jupyterlab/labapp.py
  jupyterlab/tests/__init__.py
  jupyterlab/tests/conftest.py
  jupyterlab/tests/test_announcements.py
  packages/application/src/lab.ts
  packages/apputils-extension/schema/notification.json
  packages/apputils-extension/src/announcements.ts
  packages/apputils-extension/src/index.ts
  packages/apputils-extension/src/notificationplugin.tsx
  packages/docmanager-extension/src/index.tsx
  packages/extensionmanager-extension/schema/plugin.json
  packages/extensionmanager/src/widget.tsx
  packages/extensionmanager/style/base.css
  packages/notebook-extension/src/index.ts
  packages/statusbar/src/components/hover.tsx
Labels: enhancement, documentation, pkg:notebook, pkg:application, pkg:apputils, pkg:docmanager, pkg:extensionmanager, tag:Testing, pkg:statusbar, tag:CSS, Design System CSS

#12667 Add events service
  .eslintrc.js
  buildutils/src/create-test-package.ts
  galata/test/jupyterlab/workspace.test.ts
  jupyterlab/browser-test.js
  packages/services/src/event/index.ts
  packages/services/src/index.ts
  packages/services/src/manager.ts
  packages/services/tsconfig.json
Labels: enhancement, pkg:services, api-change, tag:Testing

#13465 Backport #12667 on branch 3.6.x (Add events service)
  buildutils/src/create-test-package.ts
  galata/test/jupyterlab/workspace.test.ts
  jupyterlab/browser-test.js
  packages/services/README.md
  packages/services/src/event/index.ts
  packages/services/src/index.ts
  packages/services/src/manager.ts
  packages/services/tsconfig.json
  packages/statusbar/tsconfig.json
  packages/ui-components/.storybook/tsconfig.json
  tsconfigbase.json
  tsconfigbase.test.json
Labels: enhancement, pkg:services, tag:Testing, pkg:statusbar

#13478 Require jupyter-server-ydoc >=0.5.1
  pyproject.toml
Labels: maintenance

#13458 enable document model specific collaboration
  packages/docmanager-extension/src/index.tsx
  packages/docmanager/src/manager.ts
  packages/docprovider-extension/src/index.ts
  packages/docprovider/src/tokens.ts
  packages/docregistry/src/context.ts
  packages/docregistry/src/default.ts
  packages/docregistry/src/registry.ts
  packages/notebook/src/model.ts
  packages/notebook/src/modelfactory.ts
Labels: bug, pkg:notebook, pkg:docregistry, pkg:docmanager, pkg:docprovider

#13479 Backport #13478 on branch 3.6.x (Require jupyter-server-ydoc >=0.5.1)
  setup.cfg
Labels: maintenance

#13470 Fix syntax highlighting for JSON viewer in Jupyter Notebook
  packages/json-extension/package.json
  packages/json-extension/src/component.tsx
Labels: bug, pkg:json

#13468 Set fallback values for icons colors.
  packages/ui-components/docs/source/labicon.rst
  packages/ui-components/style/icons.css
Labels: bug, pkg:ui-components, tag:CSS, Design System CSS

#13487 Backport PR #13468 on branch 3.6.x (Set fallback values for icons colors.)
  packages/ui-components/docs/source/labicon.rst
  packages/ui-components/style/icons.css
Labels: bug, pkg:ui-components, tag:CSS, Design System CSS

#13480 Backport #13458 on branch 3.6.x (Enable document model specific collaboration)
  packages/docmanager-extension/src/index.tsx
  packages/docmanager/src/manager.ts
  packages/docprovider-extension/src/index.ts
  packages/docprovider/src/tokens.ts
  packages/docregistry/src/context.ts
  packages/docregistry/src/default.ts
  packages/docregistry/src/registry.ts
  packages/notebook/src/model.ts
  packages/notebook/src/modelfactory.ts
Labels: bug, pkg:notebook, pkg:docregistry, pkg:docmanager, api-change, pkg:docprovider

#13482 Use same key for saving user info in local store
  packages/services/src/user/index.ts
Labels: bug, tag:Real Time Collaboration, pkg:services

#13267 Ask confirmation when closing a document
  galata/test/benchmark/notebook.spec.ts
  galata/test/benchmark/notebook.spec.ts-snapshots/large-code-notebook-ipynb-benchmark-linux.png
  galata/test/benchmark/notebook.spec.ts-snapshots/large-md-notebook-ipynb-benchmark-linux.png
  galata/test/galata/notebook.spec.ts
  galata/test/jupyterlab/collapsible-headings.test.ts
  packages/docmanager-extension/schema/plugin.json
  packages/docmanager-extension/src/index.tsx
  packages/docmanager/src/manager.ts
  packages/docmanager/src/tokens.ts
  packages/docmanager/src/widgetmanager.ts
  packages/docmanager/test/widgetmanager.spec.ts
Labels: enhancement, pkg:docmanager, tag:Testing

#13472 Forbid using RTC mode without Jupyter Server v2.
  docs/source/user/rtc.rst
  jupyterlab/labapp.py
Labels: documentation

#13433 Allows to pause the execution during debug
  docs/source/extension/extension_migration.rst
  packages/debugger-extension/src/index.ts
  packages/debugger/src/debugger.ts
  packages/debugger/src/icons.ts
  packages/debugger/src/panels/callstack/index.ts
  packages/debugger/src/service.ts
  packages/debugger/src/tokens.ts
Labels: enhancement, documentation, pkg:debugger

#13490 Default `IDocumentProviderFactory.IOptions` generic to ISharedDocument
  packages/docprovider/src/tokens.ts
Labels: bug, pkg:docprovider

#13488 Backport PR #13482 on branch 3.6.x (Use same key for saving user info in local store)
  packages/services/src/user/index.ts
Labels: bug, tag:Real Time Collaboration, pkg:services

#13492 jupyter_server_ydoc>=0.6.0,<0.7.0
  pyproject.toml
Labels: enhancement

#13494 Backport #13433 (Allows to pause the execution during debug)
  packages/debugger-extension/src/index.ts
  packages/debugger/src/debugger.ts
  packages/debugger/src/icons.ts
  packages/debugger/src/panels/callstack/index.ts
  packages/debugger/src/service.ts
  packages/debugger/src/tokens.ts
Labels: enhancement, pkg:debugger

#13498 Backport PR #13490 on branch 3.6.x (Default `IDocumentProviderFactory.IOptions` generic to ISharedDocument)
  packages/docprovider/src/tokens.ts
Labels: bug, pkg:docprovider

#13489 Backport #13267 on branch 3.6.x (Ask confirmation when closing a document)
  galata/test/benchmark/notebook.spec.ts
  galata/test/benchmark/notebook.spec.ts-snapshots/large-code-notebook-ipynb-benchmark-linux.png
  galata/test/benchmark/notebook.spec.ts-snapshots/large-md-notebook-ipynb-benchmark-linux.png
  packages/docmanager-extension/schema/plugin.json
  packages/docmanager-extension/src/index.tsx
  packages/docmanager/src/manager.ts
  packages/docmanager/src/tokens.ts
  packages/docmanager/src/widgetmanager.ts
  packages/docmanager/test/widgetmanager.spec.ts
Labels: enhancement, pkg:docmanager, tag:Testing

#13499 Backport #13492 on branch 3.6.x (jupyter_server_ydoc>=0.6.0,<0.7.0)
  setup.cfg
Labels: enhancement

#13491 Fixes sharing metadata
  packages/notebook/src/model.ts
Labels: bug, pkg:notebook

#13329 Backport PR #13327 on branch 3.5.x (Switch to releaser v2)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/check-release.yml
  .github/workflows/linuxtests.yml
  .pre-commit-config.yaml
  .prettierignore
  CHANGELOG.md
  README.md
  RELEASE.md
  design/about.md
  examples/filebrowser/sample.md
  galata/README.md
  package.json
  packages/services/examples/typescript-browser-with-output/README.md
  packages/ui-components/CONTRIBUTING.md
  pyproject.toml
Labels: tag:Design and UX, maintenance, tag:Examples, pkg:services, tag:Testing, pkg:ui-components

#13508 Fix Python test dependencies
  conftest.py
  jupyterlab/pytest_plugin.py
  pyproject.toml
Labels: maintenance

#13515 Fix for pytest-jupyter 0.5.2+
  jupyterlab/pytest_plugin.py
  pyproject.toml
Labels: maintenance
