Repository jupyterlab/jupyterlab, pull requests merged in 2022-09, with the labels that each got.

#13030 Update the Gitpod setup to use `micromamba` to bootstrap the dev environment
  .gitpod.yml
  .licenserc.yaml
Labels: maintenance

#13036 Backport PR #12974: update xterm.js dependency
  galata/test/jupyterlab/terminal.test.ts-snapshots/dark-term-light-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/light-term-dark-jupyterlab-linux.png
  packages/terminal/package.json
  yarn.lock
Labels: bug, pkg:terminal, tag:Testing

#13029 Drop node-fetch for galata helpers
  docs/source/extension/extension_migration.rst
  galata/package.json
  galata/src/contents.ts
  galata/src/fixtures.ts
  galata/src/galata.ts
  galata/src/jupyterlabpage.ts
  galata/test/benchmark/notebook.spec.ts
  galata/test/jupyterlab/contextmenu.test.ts
  galata/test/jupyterlab/notebook-run-vega.test.ts
  galata/test/jupyterlab/notebook-run.test.ts
  galata/test/jupyterlab/toc.test.ts
  galata/test/jupyterlab/workspace.test.ts
Labels: documentation, maintenance, api-change, tag:Testing

#13040 Reorder of webpackConfig merge
  builder/src/extensionConfig.ts
Labels: bug

#13041 "Fix License Headers" CI check is failing
  .github/workflows/license-header.yml
Labels: maintenance

#13043 REST API is under a namespace in github-script
  .github/workflows/benchmark-report.yml
Labels: maintenance

#13035 Update Python icon to be PSF Trademark compliant
  galata/test/documentation/customization.test.ts-snapshots/customized-context-menu-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-context-menu-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-terminal-position-single-documentation-linux.png
  galata/test/documentation/debugger.test.ts-snapshots/debugger-breakpoint-documentation-linux.png
  galata/test/documentation/general.test.ts
  galata/test/documentation/general.test.ts-snapshots/file-formats-open-with-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-create-text-file-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-menu-top-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-shareable-link-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/jupyterlab-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/notebook-ui-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/terminal-layout-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-chinese-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-settings-documentation-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/dark-theme-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/launch-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/simple-mode-jupyterlab-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-file-new-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/filebrowser-right-jupyterlab-linux.png
  packages/ui-components/style/icons/filetype/python.svg
Labels: bug, tag:Testing, pkg:ui-components

#13042 Backport PR #13040: Reorder of webpackConfig merge
  builder/src/extensionConfig.ts
Labels: bug

#13050 Fix GitHub script variable name
  .github/workflows/benchmark-report.yml
Labels: maintenance

#13051 Automated Changelog Entry for 4.0.0a28 on master
  CHANGELOG.md
Labels: documentation

#13044 Backport PR #13035: Update Python icon to be PSF Trademark compliant
  galata/test/jupyterlab/general.test.ts-snapshots/dark-theme-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/launch-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/simple-mode-jupyterlab-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-file-new-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/filebrowser-right-jupyterlab-linux.png
  packages/ui-components/style/icons/filetype/python.svg
Labels: bug, tag:Testing, pkg:ui-components

#13054 Automated Changelog Entry for 3.4.6 on 3.4.x
  CHANGELOG.md
Labels: documentation

#13055 Automated Changelog Entry Forward Ported from v3.4.6
  CHANGELOG.md
Labels: documentation

#13060 Switch to `pull_request_target` to have write permission on forks
  .github/workflows/enforce-label.yml
  .github/workflows/license-header.yml
Labels: maintenance

#13053 Change compilation target from ES2017 to ES2018
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/do-not-highlight-standalone-dollar-jupyterlab-linux.png
  tsconfigbase.json
  tsconfigbase.test.json
Labels: tag:Build System, maintenance, tag:Lumino, tag:Testing

#13057 Fix blurry icons in Launcher at 400% Zoom
  packages/console-extension/src/index.ts
  packages/help-extension/src/index.tsx
  packages/notebook-extension/src/index.ts
Labels: enhancement, pkg:notebook, pkg:console, pkg:help, tag:Accessibility

#13046 Keep completer visible when anchor is horizontally scrolled out of view
  packages/completer/src/widget.ts
  packages/ui-components/src/hoverbox.ts
Labels: bug, pkg:completer, pkg:ui-components

#12866 New extension manager
  .eslintrc.js
  .github/workflows/license-header.yml
  docs/source/extension/extension_migration.rst
  docs/source/user/extensions.rst
  galata/src/galata.ts
  galata/test/documentation/data/extensions-search-all.json
  galata/test/documentation/data/extensions-search-drawio.json
  galata/test/documentation/data/extensions.json
  galata/test/documentation/extension_manager.test.ts
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-allowed-list-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-blocked-list-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-default-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-disabled-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-enabled-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-search-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-simultaneous-block-allow-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/command-palette-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-editor-settings-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-settings-documentation-linux.png
  galata/test/documentation/utils.ts
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-settings-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-extensionmanager-main-view-jupyterlab-linux.png
  jupyterlab/commands.py
  jupyterlab/extensions/__init__.py
  jupyterlab/extensions/manager.py
  jupyterlab/extensions/pypi.py
  jupyterlab/extensions/readonly.py
  jupyterlab/handlers/extension_manager_handler.py
  jupyterlab/labapp.py
  jupyterlab/tests/test_extensions.py
  packages/extensionmanager-extension/schema/plugin.json
  packages/extensionmanager-extension/src/index.ts
  packages/extensionmanager/package.json
  packages/extensionmanager/src/build-helper.tsx
  packages/extensionmanager/src/companions.tsx
  packages/extensionmanager/src/index.ts
  packages/extensionmanager/src/listings.ts
  packages/extensionmanager/src/model.ts
  packages/extensionmanager/src/npm.ts
  packages/extensionmanager/src/widget.tsx
  packages/extensionmanager/style/base.css
  packages/extensionmanager/style/index.css
  packages/extensionmanager/style/index.js
  packages/extensionmanager/tsconfig.json
  packages/services/src/manager.ts
  packages/ui-components/src/components/collapse.tsx
  packages/ui-components/src/components/index.ts
  packages/ui-components/src/components/inputgroup.tsx
  packages/ui-components/src/components/search.tsx
  packages/ui-components/src/icon/iconimports.ts
  packages/ui-components/src/icon/labicon.tsx
  packages/ui-components/style/deprecated.css
  packages/ui-components/style/icons/info.svg
  packages/ui-components/style/sidepanel.css
  pyproject.toml
Labels: enhancement, documentation, status:Needs Review, pkg:services, pkg:extensionmanager, api-change, tag:Testing, pkg:ui-components, tag:CSS, Design System CSS

#13063 Backport PR #13046 on branch 3.4.x (Keep completer visible when anchor is horizontally scrolled out of view )
  packages/apputils/src/hoverbox.ts
  packages/completer/src/widget.ts
Labels: bug, pkg:completer, pkg:apputils

#13065 Backport PR #13057: Fix blurry icons in Launcher at 400% Zoom
  packages/console-extension/src/index.ts
  packages/help-extension/src/index.tsx
  packages/notebook-extension/src/index.ts
Labels: enhancement, pkg:notebook, pkg:console, pkg:help

#13067 Fix URL when falling back to node-fetch
  galata/src/contents.ts
Labels: bug, tag:Testing

#13066 Added mimeType for .webp image files
  packages/rendermime/src/factories.ts
  packages/rendermime/test/factories.spec.ts
Labels: bug, pkg:rendermime

#13073 Remove noisy log message
  jupyterlab/extensions/pypi.py
  jupyterlab/handlers/extension_manager_handler.py
Labels: maintenance

#13068 Raise ceiling on jupyter_server dependency to < 3
  pyproject.toml
Labels: enhancement

#13076 Get package name from pyproject if available
  jupyterlab/federated_labextensions.py
  setup.cfg
Labels: enhancement

#13077 Remove dead code
  packages/notebook/src/searchprovider.ts
Labels: pkg:notebook, maintenance

#13072 Backport PR #13066 on branch 3.4.x (Added mimeType for .webp image files)
  packages/rendermime/src/factories.ts
  packages/rendermime/test/factories.spec.ts
Labels: bug, pkg:rendermime

#13078 Automated Changelog Entry for 3.4.7 on 3.4.x
  CHANGELOG.md
Labels: documentation

#13083 Pin hatch-jupyter-builder for now
  pyproject.toml
Labels: maintenance

#13084 Revert "Pin hatch-jupyter-builder for now"
  pyproject.toml
Labels: maintenance

#13090 Preserve kernel icon aspect ratio
  galata/test/documentation/customization.test.ts-snapshots/customized-context-menu-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-context-menu-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-menu-bar-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-open-with-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-menu-left-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-shareable-link-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-change-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-chinese-documentation-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/dark-theme-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/launch-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/simple-mode-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/filebrowser-right-jupyterlab-linux.png
  packages/launcher/style/base.css
Labels: bug, pkg:launcher, tag:Testing, tag:CSS, Design System CSS

#13094 Backport PR #13078 on branch master (Automated Changelog Entry for 3.4.7 on 3.4.x)
  CHANGELOG.md
Labels: documentation

#13104 Fallback to local yarn version if jlpm does not exist
  buildutils/src/ensure-repo.ts
Labels: bug

#13109 Avoid menus overflowing in small screens
  packages/mainmenu/src/mainmenu.ts
Labels: bug, tag:Accessibility, pkg:mainmenu

#13103 Switch back to `display` to hide tabs
  galata/test/documentation/general.test.ts-snapshots/interface-jupyterlab-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-tabs-menu-documentation-linux.png
  galata/test/jupyterlab/help.test.ts
  packages/application-extension/schema/shell.json
Labels: bug, pkg:application, tag:Testing

#13059 Fix cell toolbar layout
  packages/cell-toolbar/style/base.css
Labels: bug, tag:Accessibility, tag:CSS, Design System CSS, pkg:cell-toolbar

#13126 Resolve core_path before calling nodejs
  jupyterlab/federated_labextensions.py
Labels: bug

#13111 Add a setter to TagWidget's parent
  packages/celltags/src/widget.ts
Labels: enhancement, pkg:celltags

#13122 Backport PR #13090 (Preserve kernel icon aspect ratio)
  galata/test/jupyterlab/general.test.ts-snapshots/dark-theme-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/launch-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/simple-mode-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/filebrowser-right-jupyterlab-linux.png
  packages/launcher/style/base.css
Labels: bug, pkg:launcher, tag:Testing, tag:CSS, Design System CSS

#13127 Backport PR #13126 on branch 3.4.x (Resolve core_path before calling nodejs)
  jupyterlab/federated_labextensions.py
Labels: maintenance

#13135 Fix storybook error
  packages/ui-components/.storybook/config.js
  packages/ui-components/.storybook/main.js
Labels: maintenance

#13124 Pin jupyter_ydoc to 0.2
  pyproject.toml
Labels: bug

#13133 Backport PR #13113 on branch 3.4.x (Remove xeus-python installation for debugger test)
  packages/debugger/test/debugger.spec.ts
  packages/debugger/test/service.spec.ts
  packages/debugger/test/session.spec.ts
  packages/debugger/test/utils.ts
  scripts/ci_install.sh
Labels: maintenance, pkg:debugger

#13140 Update to Playwright 1.26
  galata/package.json
  galata/src/fixtures.ts
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/cut-paste-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/delete-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/deselect-all-cells-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/move-cell-down-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/move-cell-up-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/paste-replace-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/select-all-cells-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/split-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-toolbar.test.ts-snapshots/change-to-markdown-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-toolbar.test.ts-snapshots/copy-paste-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-toolbar.test.ts-snapshots/insert-cells-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-toolbar.test.ts-snapshots/run-cell-jupyterlab-linux.png
  yarn.lock
Labels: maintenance, tag:Testing

#13074 Running panel - switch to SidePanel
  galata/test/documentation/general.test.ts-snapshots/interface-tabs-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/running-layout-documentation-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-jp-running-sessions-jupyterlab-linux.png
  packages/running-extension/src/kernels.ts
  packages/running/src/index.tsx
  packages/running/style/base.css
  packages/ui-components/style/sidepanel.css
Labels: enhancement, status:Needs Review, pkg:running, tag:Testing, pkg:ui-components, tag:CSS, Design System CSS

#13146 Automated Changelog Entry for 4.0.0a29 on master
  CHANGELOG.md
Labels: documentation

#13118 Backport PR #13059 on branch 3.4.x (Fix cell toolbar layout)
  packages/cell-toolbar/style/base.css
Labels: bug, tag:Accessibility, tag:CSS, Design System CSS, pkg:cell-toolbar

#13123 Backport PR #13103 on branch 3.4.x (Switch back to display to hide tabs)
  galata/test/jupyterlab/help.test.ts
  packages/application-extension/schema/shell.json
Labels: bug, pkg:application, tag:Testing

#13088 Collapse debugger panel when disabling debugger
  packages/debugger-extension/schema/main.json
  packages/debugger-extension/src/index.ts
Labels: enhancement, pkg:debugger

#13154 Remove `width: 100%` of `jp-WindowedPanel-window`
  packages/ui-components/style/windowedlist.css
Labels: maintenance, pkg:ui-components, tag:CSS, Design System CSS

#12794 Fix workspace URL while cloning a workspace
  galata/test/jupyterlab/workspace.test.ts
  packages/apputils-extension/src/index.ts
Labels: bug, pkg:apputils, tag:Testing

#13137 Stop observing size disposed widget
  packages/ui-components/src/components/windowedlist.ts
Labels: bug, status:Needs Review, pkg:ui-components

#13156 Backport PR #12794 on branch 3.4.x (Fix workspace URL while cloning a workspace)
  galata/test/jupyterlab/workspace.test.ts
  packages/apputils-extension/src/index.ts
Labels: bug, pkg:apputils, tag:Testing
