Repository jupyterlab/jupyterlab, pull requests merged in 2022-06, with the labels that each got.

#12643 Update snapshot for the extension manager
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-search-documentation-linux.png
Labels: maintenance

#12633 Persistent side-by-side ratio setting
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/widget.ts
  packages/notebook/test/widget.spec.ts
Labels: enhancement, pkg:notebook, feature

#12646 Backport PR #12633 on branch 3.4.x (Persistent side-by-side ratio setting)
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/widget.ts
  packages/notebook/test/widget.spec.ts
Labels: enhancement, pkg:notebook, feature

#12645 Update codeql action from v1 to v2
  .github/workflows/codeql-analysis.yml
Labels: maintenance

#12635 Add more explanation for internationalization (translation python package)
  docs/source/extension/internationalization.rst
Labels: documentation

#12648 Backport PR #12635 on branch 3.4.x (Add more explanation for internationalization (translation python package))
  docs/source/extension/internationalization.rst
Labels: documentation

#12654 Remove scripts linked to test
  packages/cell-toolbar-extension/package.json
  packages/user-extension/package.json
Labels: status:Needs Review, maintenance, pkg:cell-toolbar, pkg:user

#10662 Always check local packages against abspath
  jupyterlab/commands.py
Labels: bug, status:Needs Review

#12660 Backport PR #12650: Fix arrow position on unrendered markdown cell
  packages/cells/style/widget.css
Labels: bug, pkg:cells, tag:CSS, Design System CSS

#12662 Automated Changelog Entry for 3.4.3 on 3.4.x
  CHANGELOG.md
Labels: documentation

#12659 Make password inputs not give away how many characters were typed
  packages/outputarea/src/widget.ts
Labels: enhancement, tag:Feature Parity, pkg:outputarea

#12668 Backport PR #12659 on branch 3.4.x (Make password inputs not give away how many characters were typed)
  packages/outputarea/src/widget.ts
Labels: enhancement, tag:Feature Parity, pkg:outputarea

#12665 Remove ipywidgets message count in the execution indicator model
  packages/notebook/src/executionindicator.tsx
  packages/notebook/test/executionindicator.spec.tsx
Labels: bug, pkg:notebook

#12670 Backport PR #12665 on branch 3.4.x (Remove ipywidgets message count in the execution indicator model)
  packages/notebook/src/executionindicator.tsx
  packages/notebook/test/executionindicator.spec.tsx
Labels: bug, pkg:notebook

#12680 Drop pre-commit from build dependencies
  pyproject.toml
  setup.cfg
  setup.py
Labels: maintenance

#12707 Explicitly set language to `en` in `conf.py`
  docs/source/conf.py
Labels: documentation

#12712 Backport PR #12707: Explicitly set language to `en` in `conf.py`
  docs/source/conf.py
Labels: documentation

#12697 Edit Gitpod configuration to be able to work on the documentation
  .gitpod.yml
Labels: enhancement, status:Needs Review

#12714 stub extension search in UI test
  galata/test/documentation/data/extensions-search.json
  galata/test/documentation/data/jupyter.png
  galata/test/documentation/extension_manager.test.ts
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-search-documentation-linux.png
  galata/test/documentation/utils.ts
Labels: maintenance, tag:Testing

#12710 Fix cell toolbar overlap in side-by-side render mode
  packages/cell-toolbar/src/celltoolbartracker.ts
  packages/notebook/src/widget.ts
Labels: bug, pkg:notebook, pkg:cell-toolbar

#12706 Drop pre-commit from build dependencies (#12680)
  pyproject.toml
  setup.cfg
  setup.py
Labels: maintenance

#12724 Backport PR #12710 on branch 3.4.x (Fix cell toolbar overlap in side-by-side render mode)
  packages/cell-toolbar/src/celltoolbartracker.ts
  packages/coreutils/src/url.ts
  packages/notebook-extension/src/index.ts
  packages/notebook/src/actions.tsx
  packages/notebook/src/executionindicator.tsx
  packages/notebook/src/truststatus.tsx
  packages/notebook/src/widget.ts
  packages/outputarea/src/widget.ts
  packages/services/test/utils.ts
  packages/shortcuts-extension/src/components/ShortcutItem.tsx
Labels: bug, pkg:notebook, pkg:services, pkg:coreutils, pkg:outputarea, pkg:shortcuts, pkg:cell-toolbar

#12698 Update dev dependencies
  .stylelintrc.yaml
  package.json
  yarn.lock
Labels: maintenance

#12742 Fix staging/yarn.lock registry
  buildutils/src/ensure-repo.ts
  jupyterlab/staging/yarn.lock
  yarn.lock
Labels: bug, tag:Build System, dependencies

#12746 Optimize debugger editor `eachLine` loops
  packages/debugger/src/handlers/editor.ts
Labels: enhancement, tag:Performance, pkg:debugger

#12748 Backport PR #12746 on branch 3.4.x (Optimize debugger editor `eachLine` loops)
  packages/debugger/src/handlers/editor.ts
Labels: enhancement, tag:Performance, pkg:debugger

#12752 Backport PR #12749 on branch 3.4.x (Debugger: Fix CSS for variables inspecting)
  packages/debugger/style/variables.css
Labels: bug, tag:CSS, pkg:debugger, Design System CSS

#12751 Debugger: Make kernel source list react based
  packages/debugger/src/panels/kernelSources/body.ts
  packages/debugger/src/panels/kernelSources/body.tsx
  packages/debugger/src/panels/kernelSources/filter.tsx
  packages/debugger/style/kernelSources.css
Labels: enhancement, tag:Performance, tag:Backwards compatible, tag:CSS, tag:Design System CSS, pkg:debugger, Design System CSS

#12740 Add resize handle for scrolled cell outputs
  packages/cells/style/widget.css
Labels: enhancement, pkg:cells, tag:CSS, Design System CSS

#12715 Bump xtermjs to latest
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-terminal-position-single-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/terminal-layout-documentation-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/dark-term-dark-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/dark-term-inherit-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/dark-term-light-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/launcher-term-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/light-term-dark-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/light-term-inherit-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/light-term-light-jupyterlab-linux.png
  packages/terminal/package.json
  yarn.lock
Labels: enhancement, pkg:terminal, tag:Testing
