Repository jupyterlab/jupyterlab, pull requests merged in 2022-03, with the labels that each got.

#12123 Set left sidebar width through mouse motion
  galata/playwright-documentation.config.js
  galata/src/jupyterlabpage.ts
  galata/test/documentation/debugger.test.ts
  galata/test/documentation/debugger.test.ts-snapshots/debugger-sidebar-documentation-linux.png
  galata/test/documentation/debugger.test.ts-snapshots/debugger-variables-documentation-linux.png
  galata/test/documentation/export_notebook.test.ts
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-slide-type-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts
  galata/test/documentation/general.test.ts
  galata/test/documentation/general.test.ts-snapshots/jupyterlab-documentation-linux.png
  galata/test/documentation/internationalization.test.ts
  galata/test/documentation/utils.ts
Labels: maintenance, tag:Testing

#12135 fix: Select kernal text(when open a no kernal .ipynb file)is not translated correctly (#12133)
  packages/docmanager/src/manager.ts
  packages/docregistry/src/context.ts
Labels: bug, pkg:docregistry, pkg:docmanager

#12138 Fix broken link in docs
  docs/source/developer/contributing.rst
Labels: bug, documentation

#12143 Backport PR #12141 on branch 3.3.x (Build UMD module for @jupyterlab/services)
  packages/services/package.json
Labels: bug, pkg:services

#12149 Automated Changelog Entry for 3.3.0 on 3.3.x
  CHANGELOG.md
Labels: documentation

#12150 Automated Changelog Entry Forward Ported from v3.3.0
  CHANGELOG.md
Labels: documentation

#12074 Document the JupyterLab Release Process
  RELEASE.md
Labels: documentation

#12163 Backport PR #12161 on branch 3.3.x (fix: typo in ShortcutItem component)
  packages/shortcuts-extension/src/components/ShortcutItem.tsx
Labels: bug, pkg:shortcuts

#12156 Export KernelConnection
  packages/services/src/kernel/index.ts
Labels: enhancement, pkg:services

#12147 Correct the set item logic of `CodeCellModel.onModelDBOutputsChange`
  packages/cells/src/model.ts
  packages/cells/test/model.spec.ts
Labels: bug, pkg:cells

#12167 Backport PR #12156 on branch 3.3.x (Export KernelConnection)
  packages/services/src/kernel/index.ts
Labels: enhancement, pkg:services

#12171 Adds warning that RTC is experimental
  docs/source/user/rtc.rst
Labels: enhancement, documentation

#12169 Backport PR #12147 on branch 3.3.x (Correct the set item logic of `CodeCellModel.onModelDBOutputsChange`)
  packages/cells/src/model.ts
  packages/cells/test/model.spec.ts
Labels: bug, pkg:cells

#12173 Add a note to command line option that collaborative mode is experimental
  jupyterlab/labapp.py
Labels: enhancement

#11703 Add users colors to the theme
  packages/theme-dark-extension/style/variables.css
  packages/theme-light-extension/style/variables.css
  packages/user/src/model.ts
Labels: enhancement, tag:Real Time Collaboration, tag:Accessibility, pkg:themes, tag:CSS, tag:Design System CSS, Design System CSS

#12175 Update docstring in the user model
  packages/user/src/model.ts
  packages/user/src/tokens.ts
Labels: bug, documentation

#11841 Protocol alignment
  packages/services/src/kernel/default.ts
  packages/services/src/kernel/messages.ts
  packages/services/src/kernel/serialize.ts
  packages/services/test/utils.ts
  testutils/src/jest-shim.ts
Labels: enhancement, tag:Server Change, pkg:services

#12122 Remove duplicated shortcuts
  packages/notebook-extension/schema/tracker.json
  packages/settingeditor-extension/schema/plugin.json
  packages/settingregistry/src/plugin-schema.json
  packages/settingregistry/src/tokens.ts
  packages/shortcuts-extension/.vscode/launch.json
  packages/shortcuts-extension/babel.config.js
  packages/shortcuts-extension/jest.config.js
  packages/shortcuts-extension/package.json
  packages/shortcuts-extension/src/index.ts
  packages/shortcuts-extension/test/shortcuts.spec.ts
  packages/shortcuts-extension/tsconfig.test.json
Labels: bug, pkg:notebook, pkg:shortcuts, pkg:settingregistry

#12181 Backport PR #12122: Remove duplicated shortcuts
  packages/notebook-extension/schema/tracker.json
  packages/settingeditor-extension/schema/plugin.json
  packages/settingregistry/src/plugin-schema.json
  packages/settingregistry/src/tokens.ts
  packages/shortcuts-extension/.vscode/launch.json
  packages/shortcuts-extension/babel.config.js
  packages/shortcuts-extension/jest.config.js
  packages/shortcuts-extension/package.json
  packages/shortcuts-extension/src/index.ts
  packages/shortcuts-extension/test/shortcuts.spec.ts
  packages/shortcuts-extension/tsconfig.test.json
Labels: bug, pkg:notebook, pkg:shortcuts, pkg:settingregistry

#12189 Automated Changelog Entry for 3.3.1 on 3.3.x
  CHANGELOG.md
Labels: documentation

#12192 Automated Changelog Entry Forward Ported from v3.3.1
  CHANGELOG.md
Labels: documentation

#12198 Automated Changelog Entry for 4.0.0a21 on master
  CHANGELOG.md
Labels: documentation

#12202 Remove use of ipython_genutils
  jupyterlab/federated_labextensions.py
Labels: bug

#12203 Backport PR #12202 on branch 3.3.x (Remove use of ipython_genutils)
  jupyterlab/federated_labextensions.py
Labels: bug

#12199 Add note about `async`, `await` and `Promises` in the extension tutorial
  docs/source/extension/extension_tutorial.rst
Labels: documentation

#12207 Backport PR #12199 on branch 3.3.x (Add note about `async`, `await` and `Promises` in the extension tutorial)
  docs/source/extension/extension_tutorial.rst
Labels: documentation

#12209 Automated Changelog Entry for 3.3.2 on 3.3.x
  CHANGELOG.md
Labels: documentation

#12210 Automated Changelog Entry Forward Ported from v3.3.2
  CHANGELOG.md
Labels: documentation

#12215 Update command in Performance Testing to use the right option
  docs/source/developer/contributing.rst
Labels: documentation

#12208 Fix sdist editable install and add tests
  .github/workflows/linuxtests.yml
  jupyterlab/tests/test_jupyterlab.py
  setup.cfg
  setup.py
Labels: bug

#12218 Fix state restoration in the notebook extension
  packages/notebook-extension/src/index.ts
Labels: bug, pkg:notebook

#12228 Inline `expected_http_error` function from `jupyterlab_server.tests`
  jupyterlab/tests/test_build_api.py
Labels: maintenance

#12229 Backport PR #12228 on branch 3.3.x (Inline `expected_http_error` function from `jupyterlab_server.tests`)
  jupyterlab/tests/test_build_api.py
Labels: maintenance

#12231 Automated Changelog Entry for 4.0.0a22 on master
  CHANGELOG.md
Labels: documentation

#12226 Backport PR #12218 on branch 3.3.x (Fix state restoration in the notebook extension)
  packages/notebook-extension/src/index.ts
Labels: bug, pkg:notebook

#12220 fixes directory not found error when preferred_dir is set
  packages/filebrowser/src/model.ts
Labels: bug, pkg:filebrowser

#12244 Backport PR #12220 on branch 3.3.x (fixes directory not found error when preferred_dir is set)
  packages/filebrowser/src/model.ts
Labels: bug, pkg:filebrowser

#12239 Ignore auto-generated `.ipynb_checkpoints` directories
  buildutils/src/ensure-package.ts
Labels: enhancement

#12241 Show kernel name on restart to avoid data loss on misclick
  packages/apputils/src/sessioncontext.tsx
Labels: enhancement, pkg:apputils

#12248 Update link to `jupyterlab-some-package` in docs
  docs/source/extension/internationalization.rst
Labels: documentation

#12232 Make `IStatusBar` optional in the plugin providing `IPositionModel`
  packages/codemirror-extension/src/index.ts
Labels: maintenance, pkg:codemirror

#12249 Don't rely on search results to filter installed extension
  packages/extensionmanager/src/widget.tsx
Labels: bug, pkg:extensionmanager

#12251 Backport PR #12249 on branch 3.3.x (Don't rely on search results to filter installed extension)
  packages/extensionmanager/src/widget.tsx
Labels: bug, pkg:extensionmanager

#12253 Backport PR #12248 on branch 3.3.x (Update link to `jupyterlab-some-package` in docs)
  docs/source/extension/internationalization.rst
Labels: documentation

#12238 Add aria progressbar role and data-status for testing in extensions
  packages/notebook/src/executionindicator.tsx
  packages/statusbar/src/components/progressBar.tsx
  packages/statusbar/src/components/progressCircle.tsx
Labels: enhancement, pkg:notebook, pkg:statusbar

#12257 Update links to create new issues in README.md
  README.md
Labels: documentation

#12256 Backport PR #12238 on branch 3.3.x (Add aria progressbar role and data-status for testing in extensions)
  packages/notebook/src/executionindicator.tsx
  packages/statusbar/src/components/progressBar.tsx
  packages/statusbar/src/components/progressCircle.tsx
Labels: enhancement, pkg:notebook, pkg:statusbar

#12262 Stop using py.test
  conftest.py
  docs/source/developer/contributing.rst
  scripts/ci_script.ps1
  scripts/ci_script.sh
Labels: documentation, maintenance

#12195 Add a "New Tab" button that opens the launcher
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-slide-type-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-editor-overview-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-editor-settings-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-altair-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-html-display-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-nteract-vdom-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-menu-left-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-jupyterlab-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-right-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/jupyterlab-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/notebook-ui-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/terminal-layout-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-chinese-documentation-linux.png
  galata/test/galata/notebook.spec.ts-snapshots/code-cell-galata-linux.png
  galata/test/galata/notebook.spec.ts-snapshots/markdown-cell-galata-linux.png
  galata/test/galata/notebook.spec.ts-snapshots/raw-cell-galata-linux.png
  galata/test/galata/notebook.spec.ts-snapshots/run-cells-galata-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/dark-theme-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/launch-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/filebrowser-right-jupyterlab-linux.png
  packages/application/src/shell.ts
  packages/filebrowser-extension/package.json
  packages/filebrowser-extension/src/index.ts
  packages/launcher-extension/src/index.ts
  packages/ui-components/src/icon/widgets/tabbarsvg.ts
  packages/ui-components/style/base.css
  packages/ui-components/style/tabbar.css
Labels: enhancement, pkg:filebrowser, pkg:launcher, pkg:application, tag:Testing, pkg:ui-components, tag:CSS, Design System CSS

#11938 Filter settings with `app.hasPlugin()`
  packages/apputils-extension/src/settingsplugin.ts
Labels: bug, pkg:apputils

#12260 Adds preferKernel option to JupyterLab code
  packages/notebook-extension/src/index.ts
Labels: enhancement, pkg:notebook

#12285 Use Black 22.3.0
  .pre-commit-config.yaml
Labels: bug, tag:Testing, dependencies

#11599 Save document from the backend using y-py
  jupyterlab/handlers/ydoc.py
  jupyterlab/handlers/yjs_echo_ws.py
  jupyterlab/labapp.py
  packages/cells/src/model.ts
  packages/docprovider/src/mock.ts
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/yprovider.ts
  packages/docregistry/src/context.ts
  packages/notebook/src/model.ts
  packages/shared-models/src/ymodels.ts
  setup.cfg
Labels: enhancement, status:Needs Review, pkg:notebook, pkg:docregistry, pkg:cells, pkg:docprovider, pkg:shared-models

#12287 Backport PR #12260 on branch master (Adds preferKernel option to JupyterLab code)
  packages/notebook-extension/src/index.ts
Labels: enhancement, pkg:notebook

#12290 Add git-blame-ignore-revs file
  .git-blame-ignore-revs
Labels: maintenance

#12289 [3.3.x] Add git-blame-ignore-revs file
  .git-blame-ignore-revs
Labels: maintenance

#12276 Allow linear and radial gradient
  packages/apputils/src/sanitizer.ts
  packages/apputils/test/sanitizer.spec.ts
Labels: bug, pkg:apputils

#12224 Backport PR #12208 on branch 3.3.x (Fix sdist editable install and add tests)
  .github/workflows/linuxtests.yml
  jupyterlab/tests/test_jupyterlab.py
  packages/notebook-extension/src/index.ts
  setup.cfg
  setup.py
Labels: bug, pkg:notebook

#12300 Backport PR #12276 on branch 3.3.x (Allow linear and radial gradient)
  packages/apputils/src/sanitizer.ts
  packages/apputils/test/sanitizer.spec.ts
Labels: bug, pkg:apputils

#12091 add "Toggle Contextual Help" command
  packages/inspector-extension/schema/inspector.json
  packages/inspector-extension/src/index.ts
Labels: enhancement, pkg:inspector

#12303 Backport PR #12240 on branch 3.3.x (Fix settings with `null` default not getting marked as modified)
  packages/settingregistry/src/settingregistry.ts
Labels: bug, pkg:settingregistry

#12281 Customize the file browser toolbar via the settings
  docs/source/extension/extension_points.rst
  packages/apputils/src/index.ts
  packages/apputils/src/toolbar/factory.ts
  packages/docregistry/src/default.ts
  packages/filebrowser-extension/schema/widget.json
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/browser.ts
  packages/filebrowser/src/opendialog.ts
  packages/filebrowser/style/base.css
  packages/ui-components/src/components/toolbar.tsx
Labels: enhancement, documentation, pkg:filebrowser, pkg:docregistry, pkg:apputils, pkg:ui-components, tag:CSS, Design System CSS

#12291 Add flake8 rules and update files
  .pre-commit-config.yaml
  clean.py
  galata/update_snapshots.py
  jupyterlab/__init__.py
  jupyterlab/browser_check.py
  jupyterlab/commands.py
  jupyterlab/federated_labextensions.py
  jupyterlab/handlers/build_handler.py
  jupyterlab/handlers/extension_manager_handler.py
  jupyterlab/handlers/yjs_echo_ws.py
  jupyterlab/labapp.py
  jupyterlab/labextensions.py
  jupyterlab/pytest_plugin.py
  jupyterlab/semver.py
  jupyterlab/tests/mock_packages/test-hyphens-underscore/test_hyphens_underscore/__init__.py
  jupyterlab/tests/test_app.py
  jupyterlab/tests/test_jupyterlab.py
  jupyterlab/tests/test_registry.py
  jupyterlab/upgrade_extension.py
  packages/services/examples/browser-require/main.py
  packages/services/examples/browser/main.py
  packages/services/examples/typescript-browser-with-output/main.py
  setup.cfg
Labels: maintenance, pkg:services, tag:Testing

#12309 Update `NotebookApp` to `ServerApp` in the contributing docs
  docs/source/developer/contributing.rst
Labels: documentation

#12313 Automated Changelog Entry for 4.0.0a23 on master
  CHANGELOG.md
Labels: documentation
