Repository jupyterlab/jupyterlab, pull requests merged in 2022-12, with the labels that each got.

#13514 Backport PR #13508 on branch 3.6.x (Fix Python test dependencies)
  conftest.py
  setup.cfg
Labels: maintenance

#13506 Depend on `@jupyter/ydoc` instead of `@jupyter-notebook/ydoc`
  dev_mode/package.json
  examples/cell/package.json
  packages/attachments/package.json
  packages/attachments/src/model.ts
  packages/cells/package.json
  packages/cells/src/model.ts
  packages/cells/src/searchprovider.ts
  packages/cells/src/widget.ts
  packages/cells/test/model.spec.ts
  packages/cells/test/widget.spec.ts
  packages/codeeditor/package.json
  packages/codeeditor/src/editor.ts
  packages/codeeditor/src/jsoneditor.ts
  packages/codeeditor/test/editor.spec.ts
  packages/codeeditor/test/widget.spec.ts
  packages/codemirror/package.json
  packages/codemirror/src/editor.ts
  packages/codemirror/test/editor.spec.ts
  packages/codemirror/test/factory.spec.ts
  packages/completer/package.json
  packages/completer/src/connectorproxy.ts
  packages/completer/src/default/kernelprovider.ts
  packages/completer/src/handler.ts
  packages/completer/src/tokens.ts
  packages/completer/test/handler.spec.ts
  packages/completer/test/manager.spec.ts
  packages/completer/test/widget.spec.ts
  packages/console/package.json
  packages/console/src/widget.ts
  packages/console/test/history.spec.ts
  packages/console/test/widget.spec.ts
  packages/debugger/package.json
  packages/debugger/src/handlers/editor.ts
  packages/debugger/src/tokens.ts
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/index.ts
  packages/docprovider/package.json
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/yprovider.ts
  packages/docregistry/package.json
  packages/docregistry/src/context.ts
  packages/docregistry/src/default.ts
  packages/docregistry/src/registry.ts
  packages/notebook/package.json
  packages/notebook/src/actions.tsx
  packages/notebook/src/celllist.ts
  packages/notebook/src/model.ts
  packages/notebook/src/notebooktools.ts
  packages/notebook/src/widget.ts
  packages/notebook/test/actions.spec.ts
  testutils/src/jest-config.ts
  yarn.lock
Labels: pkg:notebook, pkg:codeeditor, maintenance, pkg:console, pkg:completer, pkg:docregistry, tag:Examples, pkg:cells, pkg:codemirror, pkg:attachments, pkg:debugger, pkg:docprovider

#13516 Comment on the PR once the snapshots have been updated.
  .github/workflows/galata-update.yml
  .github/workflows/galata.yml
Labels: maintenance

#13500 Set corrections to icons and switch colors
  galata/test/documentation/general.test.ts-snapshots/file-formats-nteract-vdom-documentation-linux.png
  packages/launcher/style/base.css
  packages/theme-dark-extension/style/variables.css
  packages/theme-light-extension/style/variables.css
  packages/ui-components/style/switch.css
Labels: bug, pkg:launcher, pkg:themes, tag:Testing, pkg:ui-components, tag:CSS, Design System CSS

#13474 Test against Python 3.11
  .github/workflows/linuxtests.yml
  .github/workflows/macostests.yml
  jupyterlab/tests/__init__.py
  jupyterlab/tests/test_announcements.py
  jupyterlab/tests/test_extensions.py
  pyproject.toml
Labels: maintenance

#13523 Fix accessing owner/repo in CI
  .github/workflows/galata-update.yml
Labels: maintenance

#13521 Backport PR #13509 on branch 3.6.x (Bump sanitize-html to 2.7.3)
  packages/apputils/package.json
  yarn.lock
Labels: maintenance, pkg:apputils

#13522 Backport PR #13509 on branch 3.5.x (Bump sanitize-html to 2.7.3)
  packages/apputils/package.json
  yarn.lock
Labels: maintenance, pkg:apputils

#13520 Backport PR #13500 on branch 3.6.x (Set corrections to icons and switch colors)
  packages/launcher/style/base.css
  packages/theme-dark-extension/style/variables.css
  packages/theme-light-extension/style/variables.css
  packages/ui-components/style/switch.css
Labels: bug, pkg:launcher, pkg:themes, pkg:ui-components, tag:CSS, Design System CSS

#13485 Follow-on to events service
  packages/services/README.md
  packages/services/src/event/index.ts
  packages/services/src/manager.ts
  packages/services/test/event/manager.spec.ts
Labels: enhancement, documentation, pkg:services

#13524 Automated Changelog Entry for 3.5.1 on 3.5.x
  CHANGELOG.md
Labels: documentation

#13517 RTC: Move user name to user panel
  .github/workflows/linuxjs-tests.yml
  packages/collaboration/jest.config.js
  packages/collaboration/package.json
  packages/collaboration/src/components.tsx
  packages/collaboration/src/menu.ts
  packages/collaboration/test/menu.spec.ts
  packages/collaboration/tsconfig.test.json
Labels: enhancement, tag:Real Time Collaboration, pkg:collaboration

#13532 Update `terser-webpack-plugin`
  builder/package.json
  dev_mode/package.json
  dev_mode/webpack.prod.minimize.config.js
  yarn.lock
Labels: maintenance

#13454 Fix token based completions, restore deduplication, follow up on completer refactor
  examples/cell/src/index.ts
  examples/notebook/src/index.ts
  galata/test/jupyterlab/completer.test.ts
  galata/test/jupyterlab/completer.test.ts-snapshots/token-completer-jupyterlab-linux.png
  packages/codemirror/src/editor.ts
  packages/codemirror/test/editor.spec.ts
  packages/completer-extension/src/index.ts
  packages/completer/src/connectorproxy.ts
  packages/completer/src/handler.ts
  packages/completer/src/index.ts
  packages/completer/src/manager.ts
  packages/completer/src/reconciliator.ts
  packages/completer/src/tokens.ts
  packages/completer/test/connectorproxy.spec.ts
  packages/completer/test/handler.spec.ts
  packages/completer/test/manager.spec.ts
  packages/completer/test/reconciliator.spec.ts
Labels: bug, pkg:completer, tag:Examples, pkg:codemirror, tag:Testing

#13526 Sets whether the model is collaborative or not when registering its factory
  packages/docregistry/src/default.ts
  packages/docregistry/src/registry.ts
  packages/notebook-extension/src/index.ts
  packages/notebook/src/modelfactory.ts
Labels: enhancement, pkg:notebook, pkg:docregistry, tag:Real Time Collaboration

#13538 Backport PR #13526 on branch 3.6.x (Sets whether the model is collaborative or not when registering its factory)
  packages/docregistry/src/default.ts
  packages/docregistry/src/registry.ts
  packages/notebook-extension/src/index.ts
  packages/notebook/src/modelfactory.ts
Labels: enhancement, pkg:notebook, pkg:docregistry

#13537 Backport PR #13517 on branch 3.6.x (RTC: Move user name to user panel)
  .github/workflows/linuxjs-tests.yml
  .licenserc.yaml
  packages/collaboration/jest.config.js
  packages/collaboration/package.json
  packages/collaboration/src/components.tsx
  packages/collaboration/src/menu.ts
  packages/collaboration/test/menu.spec.ts
  packages/collaboration/tsconfig.test.json
Labels: enhancement, pkg:collaboration

#13276 Link the background colors and the ui font colors in the relevant css.
  galata/test/documentation/customization.test.ts-snapshots/customized-context-menu-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/customized-menu-bar-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-context-menu-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-menu-bar-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-terminal-position-single-documentation-linux.png
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-menu-documentation-linux.png
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-slide-type-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-editor-overview-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-editor-settings-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-html-display-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-open-with-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-create-text-file-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-menu-top-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-shareable-link-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-jupyterlab-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/running-layout-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/terminal-layout-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-chinese-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-settings-documentation-linux.png
  galata/test/galata/notebook.spec.ts-snapshots/code-cell-galata-linux.png
  galata/test/galata/notebook.spec.ts-snapshots/markdown-cell-galata-linux.png
  galata/test/galata/notebook.spec.ts-snapshots/raw-cell-galata-linux.png
  galata/test/galata/notebook.spec.ts-snapshots/run-cells-galata-linux.png
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/file-jupyterlab-linux.png
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/fileeditor-jupyterlab-linux.png
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/folder-jupyterlab-linux.png
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/notebook-code-jupyterlab-linux.png
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/notebook-md-jupyterlab-linux.png
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/running-notebook-jupyterlab-linux.png
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/tab-launcher-jupyterlab-linux.png
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/tab-notebook-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/dark-theme-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/launch-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/simple-mode-jupyterlab-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-file-jupyterlab-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-tabs-jupyterlab-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-view-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/opened-menu-edit-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/opened-menu-kernel-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/opened-menu-run-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/opened-menu-view-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/filebrowser-right-jupyterlab-linux.png
  packages/application/style/menus.css
  packages/application/style/sidepanel.css
  packages/application/style/tabs.css
  packages/apputils/style/dialog.css
  packages/help-extension/style/base.css
  packages/launcher/style/base.css
  packages/settingeditor/style/base.css
  packages/ui-components/style/sidepanel.css
Labels: enhancement, pkg:launcher, pkg:application, pkg:help, pkg:apputils, pkg:settingeditor, tag:Testing, pkg:ui-components, tag:CSS, Design System CSS

#13535 Add copy and paste commands to terminal context menu
  packages/terminal-extension/schema/plugin.json
  packages/terminal-extension/src/index.ts
  packages/terminal/src/tokens.ts
  packages/terminal/src/widget.ts
Labels: enhancement, pkg:terminal, feature

#13466 Move the toggle file browser logic to the widget
  packages/filebrowser-extension/schema/browser.json
  packages/filebrowser-extension/schema/widget.json
  packages/filebrowser-extension/src/index.ts
Labels: enhancement, pkg:filebrowser, api-change

#13415 Make focus visible (mostly CSS)
  galata/test/documentation/extension_manager.test.ts
  galata/test/documentation/general.test.ts
  galata/test/documentation/internationalization.test.ts-snapshots/language-change-documentation-linux.png
  packages/application/style/buttons.css
  packages/application/style/menus.css
  packages/apputils/src/mainareawidget.ts
  packages/filebrowser/style/base.css
  packages/launcher/style/base.css
  packages/ui-components/style/base.css
Labels: bug, pkg:filebrowser, pkg:launcher, pkg:application, tag:Accessibility, pkg:apputils, tag:Testing, pkg:ui-components, tag:CSS, Design System CSS

#13541 Add lumino with support for plugin deactivation
  builder/package.json
  dev_mode/package.json
  packages/application/package.json
  yarn.lock
Labels: enhancement, pkg:application

#13544 Automated Changelog Entry for 3.6.0a5 on 3.6.x
  CHANGELOG.md
Labels: documentation

#13555 Backport PR #13535 on branch 3.6.x (Add copy and paste commands to terminal context menu)
  packages/terminal-extension/schema/plugin.json
  packages/terminal-extension/src/index.ts
  packages/terminal/src/tokens.ts
  packages/terminal/src/widget.ts
Labels: pkg:terminal, feature

#13531 Fix a wrong argument when calling 'renderMimeVariable'
  galata/src/helpers/activity.ts
  galata/src/helpers/debuggerpanel.ts
  galata/test/jupyterlab/debugger.test.ts
  galata/test/jupyterlab/debugger.test.ts-snapshots/image-debug-session-global-rich-variable-jupyterlab-linux.png
  galata/test/jupyterlab/debugger.test.ts-snapshots/image-debug-session-global-variables-jupyterlab-linux.png
  galata/test/jupyterlab/debugger.test.ts-snapshots/image-debug-session-local-rich-variable-jupyterlab-linux.png
  galata/test/jupyterlab/notebooks/image_notebook.ipynb
  packages/debugger/src/panels/variables/tree.tsx
Labels: bug, tag:Testing, pkg:debugger

#13568 fix size of toc running indicator
  packages/toc/style/base.css
Labels: bug, tag:CSS, pkg:toc, Design System CSS

#13554 Restores the appearance of the settingeditor's input focus
  packages/settingeditor/style/base.css
Labels: bug, pkg:settingeditor, tag:CSS, Design System CSS

#13571 Backport PR #13531 on branch 3.6.x (Fix a wrong argument when calling 'renderMimeVariable')
  galata/src/helpers/activity.ts
  packages/debugger/src/panels/variables/tree.tsx
Labels: bug, tag:Testing, pkg:debugger

#13572 Backport PR #13554 on branch 3.6.x (Restores the appearance of the settingeditor's input focus)
  packages/settingeditor/style/base.css
Labels: bug, pkg:settingeditor, tag:CSS, Design System CSS

#13560 Fixes backward-incompatible changes for 3.6
  packages/docprovider/src/awareness.ts
  packages/docprovider/src/index.ts
Labels: bug, pkg:docprovider

#13533 Set font families that were not specified.
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/customization.test.ts-snapshots/customized-notebook-toolbar-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-notebook-toolbar-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-terminal-position-single-documentation-linux.png
  galata/test/documentation/debugger.test.ts
  galata/test/documentation/debugger.test.ts-snapshots/debugger-activate-documentation-linux.png
  galata/test/documentation/debugger.test.ts-snapshots/debugger-kernel-documentation-linux.png
  galata/test/documentation/debugger.test.ts-snapshots/debugger-run-documentation-linux.png
  galata/test/documentation/debugger.test.ts-snapshots/debugger-variables-documentation-linux.png
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-menu-documentation-linux.png
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-slide-type-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-editor-overview-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-altair-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-html-display-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-nteract-vdom-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-jupyterlab-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-tabs-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/notebook-ui-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/running-layout-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/terminal-layout-documentation-linux.png
  galata/test/galata/notebook.spec.ts-snapshots/code-cell-galata-linux.png
  galata/test/galata/notebook.spec.ts-snapshots/example-run-galata-linux.png
  galata/test/galata/notebook.spec.ts-snapshots/markdown-cell-galata-linux.png
  galata/test/galata/notebook.spec.ts-snapshots/raw-cell-galata-linux.png
  galata/test/galata/notebook.spec.ts-snapshots/run-cells-galata-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/dark-theme-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/launch-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/simple-mode-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/filebrowser-right-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-jp-running-sessions-jupyterlab-linux.png
  packages/ui-components/style/base.css
  packages/ui-components/style/switch.css
  packages/ui-components/style/toolbar.css
Labels: enhancement, tag:Testing, pkg:ui-components, tag:CSS, Design System CSS

#13564 Use more the contextual collaborative model attribute
  packages/docmanager-extension/src/index.tsx
  packages/notebook/src/widget.ts
Labels: enhancement, pkg:notebook, pkg:docmanager

#13576 Revert change to active menu bar item
  packages/application/style/menus.css
Labels: bug, pkg:application, tag:CSS, Design System CSS

#13594 Copy edit for privacy policy docs
  docs/source/privacy_policies.rst
Labels: documentation

#13599 Backport PR #13510 on branch 3.6.x (Sanitize notification message)
  docs/source/extension/ui_helpers.rst
  docs/source/privacy_policies.rst
  galata/test/jupyterlab/announcements.test.ts
  galata/test/jupyterlab/notification.test.ts
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-accent-action-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-center-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-default-action-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-link-action-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-markdown-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-warn-action-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/text-content-notification-jupyterlab-linux.txt
  jupyterlab/handlers/announcements.py
  jupyterlab/tests/test_announcements.py
  packages/apputils-extension/package.json
  packages/apputils-extension/src/announcements.ts
  packages/apputils-extension/src/notificationplugin.tsx
  packages/apputils-extension/style/index.css
  packages/apputils-extension/style/index.js
  packages/apputils-extension/style/notification.css
  packages/apputils-extension/tsconfig.json
  packages/apputils/src/notification.ts
  packages/extensionmanager/src/widget.tsx
  yarn.lock
Labels: enhancement, documentation, pkg:apputils, pkg:extensionmanager, tag:Testing, tag:CSS, Design System CSS

#13602 Backport PR #13594 on branch 3.6.x (Copy edit for privacy policy docs)
  docs/source/privacy_policies.rst
Labels: documentation

#13591 Documentation RTC and user service (#13578)
  docs/source/extension/documents.rst
  docs/source/extension/extension_migration.rst
  docs/source/extension/identity.rst
  docs/source/index.rst
  docs/source/user/rtc.rst
Labels: documentation

#13589 use jupyter_config_dir instead of config_path[0] for workspaces, settings
  jupyterlab/commands.py
Labels: bug

#13608 Backport PR #13508 on branch 3.5.x (Fix Python test dependencies)
  conftest.py
  setup.cfg
Labels: maintenance

#13604 Backport PR #13589 on branch 3.6.x (use jupyter_config_dir instead of config_path[0] for workspaces, settings)
  jupyterlab/commands.py
Labels: bug

#13609 Automated Changelog Entry for 3.6.0b0 on 3.6.x
  CHANGELOG.md
Labels: documentation

#13612 Update to Playwright 1.29
  galata/package.json
  yarn.lock
Labels: maintenance, tag:Testing

#13615 Remove old completer API
  packages/completer/src/handler.ts
  packages/completer/src/model.ts
  packages/completer/src/widget.ts
  packages/completer/test/model.spec.ts
  packages/completer/test/widget.spec.ts
Labels: maintenance, pkg:completer, api-change

#13605 Backport PR #13589 on branch 3.5.x (use jupyter_config_dir instead of config_path[0] for workspaces, settings)
  jupyterlab/commands.py
  setup.cfg
Labels: bug

#13619 Automated Changelog Entry for 3.5.2 on 3.5.x
  CHANGELOG.md
Labels: documentation

#13305 Set font sizes with css variables
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/customization.test.ts-snapshots/customized-context-menu-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-context-menu-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-open-with-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-menu-left-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-shareable-link-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-change-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-chinese-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-settings-documentation-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/dark-theme-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/launch-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/simple-mode-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/filebrowser-right-jupyterlab-linux.png
  packages/launcher/style/base.css
Labels: enhancement, pkg:launcher, tag:Testing, tag:CSS, Design System CSS

#13622 Fix select wrapping in inputDialog
  packages/apputils/src/inputdialog.ts
Labels: bug, pkg:apputils, tag:CSS

#13625 Use git command instead of GitHub action
  .github/workflows/license-header.yml
Labels: maintenance

#13616 Does not prevent default behavior when shift-clicking
  packages/notebook/src/widget.ts
Labels: bug, pkg:notebook

#13627 Remove log file otherwise it is committed
  .github/workflows/license-header.yml
Labels: maintenance

#13626 Backport PR #13616 on branch 3.6.x (Does not prevent default behavior when shift-clicking)
  packages/notebook/src/widget.ts
Labels: bug, pkg:notebook

#13628 Update to lerna 6.2.0
  docs/source/privacy_policies.rst
  jupyterlab/tests/conftest.py
  package.json
  packages/apputils-extension/src/announcements.ts
  testutils/src/user.ts
  yarn.lock
Labels: maintenance

#13630 Remove `skipLibCheck` in the `vega5-extension` package
  packages/vega5-extension/tsconfig.json
Labels: maintenance, pkg:vega

#13610 Add the `scaleFactor` value from the embed options when creating the PNG representation for a Vega-based chart
  .github/workflows/linuxjs-tests.yml
  buildutils/template/package.json
  packages/vega5-extension/README.md
  packages/vega5-extension/babel.config.js
  packages/vega5-extension/jest.config.js
  packages/vega5-extension/package.json
  packages/vega5-extension/src/index.ts
  packages/vega5-extension/test/renderer.spec.ts
  packages/vega5-extension/test/utils.ts
  packages/vega5-extension/tsconfig.test.json
Labels: bug, documentation, pkg:vega

#13634 Write the browser open files for test
  jupyterlab/browser_check.py
Labels: bug

#13636 Backport PR #13634 on branch 3.5.x (Write the browser open files for test)
  jupyterlab/browser_check.py
Labels: bug

#13637 Backport PR #13634 on branch 3.6.x (Write the browser open files for test)
  jupyterlab/browser_check.py
Labels: bug

#13641 Revert "Automated Changelog Entry for 3.5.3 on 3.5.x"
  CHANGELOG.md
Labels: documentation

#13640 Revert "Write the browser open files for test"
  jupyterlab/browser_check.py
Labels: maintenance

#13642 Revert "Backport PR #13634 on branch 3.5.x (Write the browser open files for test)"
  jupyterlab/browser_check.py
Labels: maintenance

#13643 Revert "Backport PR #13634 on branch 3.6.x (Write the browser open files for test)"
  jupyterlab/browser_check.py
Labels: maintenance

#13632 Backport PR #13610 on branch 3.6.x (Add the `scaleFactor` value from the embed options when creating the PNG representation for a Vega-based chart)
  .github/workflows/linuxjs-tests.yml
  buildutils/template/package.json
  packages/vega5-extension/README.md
  packages/vega5-extension/babel.config.js
  packages/vega5-extension/jest.config.js
  packages/vega5-extension/package.json
  packages/vega5-extension/src/index.ts
  packages/vega5-extension/test/renderer.spec.ts
  packages/vega5-extension/test/utils.ts
  packages/vega5-extension/tsconfig.test.json
Labels: bug, pkg:vega

#13657 Fix `replaceSelection`, add unit test
  packages/codemirror/src/editor.ts
  packages/codemirror/test/editor.spec.ts
Labels: bug, pkg:codemirror

#13655 Fix `RunningTerminal` access before initialization
  packages/terminal-extension/src/index.ts
Labels: bug, pkg:terminal

#13661 Fix contrast on the plugin list, add screenshots to catch regressions
  galata/test/jupyterlab/settings.test.ts
  galata/test/jupyterlab/settings.test.ts-snapshots/settings-panel-jupyterlab-linux.png
  galata/test/jupyterlab/settings.test.ts-snapshots/settings-plugin-list-jupyterlab-linux.png
  packages/settingeditor/style/base.css
Labels: bug, pkg:settingeditor, tag:Testing, tag:CSS, Design System CSS

#13586 Remove old editor user caret widget (dead code) and selection style
  docs/source/extension/extension_migration.rst
  packages/codeeditor/src/editor.ts
  packages/codeeditor/src/widget.ts
  packages/codemirror/package.json
  packages/codemirror/src/editor.ts
  packages/codemirror/test/editor.spec.ts
  packages/codemirror/tsconfig.json
  packages/codemirror/tsconfig.test.json
Labels: documentation, status:Needs Review, pkg:codeeditor, maintenance, pkg:codemirror, api-change
