Repository jupyterlab/jupyterlab, pull requests merged in 2022-07, with the labels that each got.

#12757 Backport PR #12747 on branch 3.4.x (Bump version of marked and @types/marked)
  packages/cells/package.json
  packages/rendermime/package.json
  yarn.lock
Labels: maintenance, pkg:rendermime, pkg:cells

#12759 Backport PR #12751 on branch 3.4.x (Debugger: Make kernel source list react based)
  packages/debugger/src/panels/kernelSources/body.ts
  packages/debugger/src/panels/kernelSources/body.tsx
  packages/debugger/src/panels/kernelSources/filter.tsx
  packages/debugger/style/kernelSources.css
Labels: enhancement, tag:CSS, pkg:debugger, Design System CSS

#12735 Set focus when active cell changes only from mouse click
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/highlight-previous-element-jupyterlab-linux.png
  packages/notebook/src/widget.ts
Labels: bug, status:Needs Review, pkg:notebook

#12738 Remove unstubExtensionsSearch
  galata/test/documentation/extension_manager.test.ts
  galata/test/documentation/utils.ts
Labels: status:Needs Review, maintenance, tag:Testing

#12760 Backport PR #12715 on branch 3.4.x (Bump xtermjs to latest)
  galata/test/jupyterlab/terminal.test.ts-snapshots/dark-term-dark-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/dark-term-inherit-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/dark-term-light-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/launcher-term-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/light-term-dark-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/light-term-inherit-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/light-term-light-jupyterlab-linux.png
  packages/terminal/package.json
  yarn.lock
Labels: enhancement, pkg:terminal, tag:Testing

#12750 Fix memory leaks
  packages/application/src/shell.ts
  packages/celltags/package.json
  packages/celltags/src/tool.ts
  packages/codeeditor/src/editor.ts
  packages/codeeditor/src/lineCol.tsx
  packages/debugger/src/handler.ts
  packages/filebrowser-extension/src/index.ts
  packages/notebook/src/executionindicator.tsx
  packages/notebook/src/model.ts
  packages/notebook/src/toc.ts
  packages/shared-models/src/ymodels.ts
  packages/ui-components/src/components/menu.ts
  packages/ui-components/tsconfig.json
Labels: pkg:notebook, pkg:codeeditor, maintenance, pkg:filebrowser, pkg:application, pkg:ui-components, pkg:celltags, pkg:debugger, pkg:shared-models

#12779 Updates ydoc
  setup.cfg
Labels: bug, dependencies

#12767 Pin nbclassic below 0.4.0
  setup.cfg
Labels: bug

#12774 [memory-leaks] Fixes following cell addition analysis
  packages/cell-toolbar/src/celltoolbartracker.ts
  packages/cells/src/widget.ts
  packages/debugger/src/model.ts
  packages/debugger/src/panels/kernelSources/model.ts
  packages/debugger/src/tokens.ts
  packages/extensionmanager/src/model.ts
  packages/inspector/src/handler.ts
  packages/notebook/src/widget.ts
  packages/settingeditor/src/SettingsFormEditor.tsx
Labels: status:Needs Review, pkg:notebook, maintenance, pkg:inspector, pkg:cells, pkg:settingeditor, pkg:extensionmanager, pkg:debugger, pkg:cell-toolbar

#12783 Update base.css
  packages/settingeditor/style/base.css
Labels: bug, pkg:settingeditor, tag:CSS, Design System CSS

#12786 Backport PR #11546 on branch 3.4.x (Increase title width in simple mode)
  packages/application/style/titlepanel.css
Labels: enhancement, pkg:application, tag:CSS, Design System CSS

#12788 Backport PR #12783 on branch 3.4.x (Update base.css)
  packages/settingeditor/style/base.css
Labels: bug, pkg:settingeditor, tag:CSS, Design System CSS

#12785 Use Vega SVG renderer to drop canvas dependency
  .github/workflows/benchmark.yml
  .pre-commit-config.yaml
  galata/README.md
  galata/package.json
  galata/src/benchmarkReporter.ts
  galata/test/galata/benchmarkReporter.spec.ts
  galata/test/galata/benchmarkReporter.spec.ts-snapshots/customized-test-galata-linux.png
  galata/test/galata/benchmarkReporter.spec.ts-snapshots/customized-test-galata-linux.svg
  galata/test/galata/benchmarkReporter.spec.ts-snapshots/test-galata-linux.png
  galata/test/galata/benchmarkReporter.spec.ts-snapshots/test-galata-linux.svg
Labels: documentation, maintenance, tag:Testing

#12791 update tab name after file rename
  packages/apputils-extension/src/index.ts
Labels: bug, pkg:apputils

#12809 Backport PR #12791 on branch 3.4.x (update tab name after file rename)
  packages/apputils-extension/src/index.ts
Labels: bug, pkg:apputils

#12811 Backport PR #12785: Use Vega SVG renderer to drop canvas dependency
  galata/README.md
  galata/package.json
  galata/src/benchmarkReporter.ts
  galata/test/galata/benchmarkReporter.spec.ts
  galata/test/galata/benchmarkReporter.spec.ts-snapshots/customized-test-galata-linux.png
  galata/test/galata/benchmarkReporter.spec.ts-snapshots/customized-test-galata-linux.svg
  galata/test/galata/benchmarkReporter.spec.ts-snapshots/test-galata-linux.png
  galata/test/galata/benchmarkReporter.spec.ts-snapshots/test-galata-linux.svg
Labels: maintenance, tag:Testing

#12799 Update `verdaccio`, start registry on `0.0.0.0` instead of `localhost`
  buildutils/package.json
  buildutils/src/local-repository.ts
  scripts/ci_script.sh
  yarn.lock
Labels: maintenance

#12825 Backport #12799 on branch 3.4.x (Update verdaccio, start registry on …
  buildutils/package.json
  buildutils/src/local-repository.ts
  packages/rendermime/test/factories.spec.ts
  scripts/ci_script.sh
  yarn.lock
Labels: maintenance, pkg:rendermime

#12823 Use path to extract `tmpPath`
  galata/src/fixtures.ts
Labels: bug, tag:Testing

#12820 Update snapshots for challenger commit
  .github/workflows/benchmark.yml
Labels: maintenance

#12824 Remove drive prefix from the file path when creating the new path
  packages/filebrowser/src/listing.ts
Labels: bug, pkg:filebrowser

#12829 Adds version maintenance policy
  docs/source/developer/contributing.rst
Labels: enhancement, documentation

#12833 Backport PR #12823 on branch 3.4.x (Use path to extract `tmpPath`)
  galata/src/fixtures.ts
Labels: bug, tag:Testing

#12834 Backport PR #12824 on branch 3.4.x (Remove drive prefix from the file path when creating the new path)
  packages/filebrowser/src/listing.ts
Labels: bug, pkg:filebrowser

#12835 Backport PR #12829 on branch 3.4.x (Adds version maintenance policy)
  docs/source/developer/contributing.rst
Labels: enhancement, documentation

#12837 Automated Changelog Entry Forward Ported from v3.4.4
  CHANGELOG.md
Labels: documentation

#12838 Adjust css to not leave trace of deleted widgets
  packages/outputarea/style/base.css
Labels: bug, pkg:outputarea, tag:CSS, Design System CSS

#12839 feat: Add .webp filetype in docRegistry.
  packages/docregistry/src/registry.ts
Labels: enhancement, pkg:docregistry

#12847 Removes info about meeting notes on Binder
  README.md
Labels: enhancement, documentation

#12841 Backport PR #12839 on branch 3.4.x (feat: Add .webp filetype in docRegistry.)
  packages/docregistry/src/registry.ts
Labels: enhancement, pkg:docregistry

#12842 Backport PR #12838 on branch 3.4.x (Adjust css to not leave trace of deleted widgets)
  packages/outputarea/style/base.css
Labels: bug, pkg:outputarea, tag:CSS, Design System CSS

#12772 Move YDocWebSocketHandler to jupyter-server
  jupyterlab/handlers/ydoc_handler.py
  jupyterlab/labapp.py
  setup.cfg
Labels: maintenance

#12843 Fix CI failures
  examples/example.spec.ts
  galata/test/documentation/data/extensions-search-all.json
  galata/test/documentation/data/extensions-search-drawio.json
  galata/test/documentation/extension_manager.test.ts
  galata/test/documentation/utils.ts
  packages/services/examples/browser-require/index.html
  packages/services/examples/browser-require/static/index.js
Labels: bug, status:Needs Review, tag:Examples, pkg:services, tag:Testing

#12855 Don't suggest deprecated command
  docs/source/user/jupyterhub.rst
Labels: documentation

#12857 Backport PR #12855 on branch master (Don't suggest deprecated command)
  docs/source/user/jupyterhub.rst
Labels: documentation

#12852 Store Y updates
  docs/source/user/images/rtc_sync_editors.png
  docs/source/user/rtc.rst
  jupyterlab/labapp.py
  setup.cfg
Labels: bug, documentation

#12850 Run `yarn-deduplicate` on `build:core`
  package.json
Labels: maintenance

#12789 Run memory-leak tests on PR
  .github/workflows/benchmark-report.yml
  .github/workflows/benchmark.yml
Labels: status:Needs Review, maintenance

#12865 Fix kernel in the statusbar does not match the actual
  packages/apputils/src/kernelstatuses.tsx
Labels: bug, pkg:apputils

#12873 Backport PR #12865 on branch 3.4.x (Fix kernel in the statusbar does not match the actual)
  packages/statusbar/src/defaults/kernelStatus.tsx
Labels: bug, pkg:statusbar

#12868 Add trustbydefault param to htmlviewer-extension
  packages/htmlviewer-extension/schema/plugin.json
  packages/htmlviewer-extension/src/index.tsx
Labels: enhancement, pkg:htmlviewer

#12876 Bump jupyter_server_ydoc>=0.1.9
  setup.cfg
Labels: bug

#12880 Update `yjs-codemirror.next`
  packages/codemirror/package.json
  yarn.lock
Labels: maintenance, pkg:codemirror

#12882 Document building JupyterLab on osx-arm64 platforms
  docs/source/developer/contributing.rst
Labels: documentation

#12878 Remove reference to unmaintained nb_conda_kernels
  docs/source/developer/contributing.rst
Labels: documentation

#12885 Backport PR #12878 on branch 3.4.x (Remove reference to unmaintained nb_conda_kernels)
  docs/source/developer/contributing.rst
Labels: documentation

#12884 Backport PR #12882 on branch 3.4.x (Document building JupyterLab on osx-arm64 platforms)
  docs/source/developer/contributing.rst
Labels: documentation
