Repository jupyterlab/jupyterlab, pull requests merged in 2022-10, with the labels that each got.

#13157 Remove `width: 100%` of `jp-WindowedPanel-inner`
  packages/ui-components/style/windowedlist.css
Labels: maintenance, pkg:ui-components, tag:CSS, Design System CSS

#13159 Adjust CSS styles degrading performance in Chromium browsers
  galata/test/jupyterlab/styles.test.ts
  packages/codemirror/style/base.css
  packages/mathjax2/src/index.ts
  packages/running/style/base.css
  packages/shortcuts-extension/src/componentStyle/ShortcutTitleItemStyle.tsx
  packages/shortcuts-extension/src/components/ShortcutTitleItem.tsx
  packages/ui-components/src/icon/widgets/commandpalettesvg.ts
  packages/ui-components/style/iconshover.css
Labels: enhancement, pkg:running, tag:Performance, pkg:codemirror, pkg:shortcuts, pkg:mathjax2, tag:Testing, pkg:ui-components, tag:CSS, Design System CSS

#13147 Bump lerna
  lerna.json
  package.json
  yarn.lock
Labels: status:Needs Review, maintenance

#13161 Always show tooltip in hover box even if edges are out of view
  packages/tooltip/src/widget.ts
  packages/ui-components/src/hoverbox.ts
Labels: bug, pkg:tooltip, pkg:ui-components

#13175 Backport PR #13159 on branch 3.4.x (Adjust CSS styles degrading performance in Chromium browsers)
  galata/test/jupyterlab/styles.test.ts
  packages/codemirror/style/base.css
  packages/mathjax2/src/index.ts
  packages/shortcuts-extension/src/componentStyle/ShortcutTitleItemStyle.tsx
  packages/shortcuts-extension/src/components/ShortcutTitleItem.tsx
  packages/ui-components/src/icon/widgets/commandpalettesvg.ts
  packages/ui-components/style/iconshover.css
Labels: enhancement, tag:Performance, pkg:codemirror, pkg:shortcuts, pkg:mathjax2, tag:Testing, pkg:ui-components, tag:CSS, Design System CSS

#13169 Backport PR #13161 on branch 3.4.x (Always show tooltip in hover box even if edges are out of view)
  packages/apputils/src/hoverbox.ts
  packages/tooltip/src/widget.ts
Labels: bug, pkg:tooltip, pkg:apputils

#13177 Automated Changelog Entry for 3.4.8 on 3.4.x
  CHANGELOG.md
Labels: documentation

#13184 Update branch configuration
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/pull_request_template.md
  .github/workflows/check-release.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/linuxjs-flaky-tests.yml
  .github/workflows/linuxjs-tests.yml
  .github/workflows/linuxtests.yml
  .github/workflows/macostests.yml
  .github/workflows/windowstests.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  RELEASE.md
  buildutils/src/ensure-repo.ts
  docs/source/conf.py
  docs/source/developer/components.rst
  docs/source/developer/contributing.rst
  docs/source/developer/css.rst
  docs/source/developer/repo.rst
  docs/source/extension/extension_dev.rst
  docs/source/extension/extension_migration.rst
  docs/source/extension/extension_tutorial.rst
  docs/source/extension/internationalization.rst
  docs/source/getting_started/faq.rst
  docs/source/user/rtc.rst
  packages/extensionmanager/src/widget.tsx
  packages/help-extension/src/index.tsx
  packages/javascript-extension/README.md
  packages/json-extension/README.md
  packages/ui-components/docs/source/intro.rst
  packages/vdom-extension/README.md
  packages/vdom/README.md
  packages/vega5-extension/README.md
Labels: documentation, maintenance, pkg:help, pkg:vega, pkg:json, pkg:extensionmanager, pkg:javascript, pkg:vdom, pkg:ui-components

#13178 Backport PR #13068 on branch 3.5.x (Raise ceiling on jupyter_server dependency to < 3)
  setup.cfg
Labels: enhancement

#13187 Backport PR #13088 on branch 3.5.x (Collapse debugger panel when disabling debugger)
  packages/debugger-extension/schema/main.json
  packages/debugger-extension/src/index.ts
Labels: enhancement, pkg:debugger

#13183 Fix JSON viewer syntax highlighting
  packages/json-extension/package.json
  packages/json-extension/src/component.tsx
  packages/json-extension/src/index.tsx
  packages/json-extension/style/index.css
  packages/json-extension/style/index.js
  packages/json-extension/tsconfig.json
Labels: bug, pkg:json, tag:CSS, Design System CSS

#13185 Backport PR #12953 on branch 3.5.x (Prompt for renaming at first manual save)
  docs/source/extension/ui_helpers.rst
  packages/apputils/src/dialog.tsx
  packages/apputils/src/inputdialog.ts
  packages/apputils/style/dialog.css
  packages/apputils/test/dialog.spec.tsx
  packages/docmanager-extension/schema/plugin.json
  packages/docmanager-extension/src/index.tsx
  packages/docmanager/src/manager.ts
  packages/docmanager/src/tokens.ts
  packages/docregistry/src/registry.ts
  packages/fileeditor-extension/src/commands.ts
  packages/notebook-extension/src/index.ts
Labels: enhancement, documentation, pkg:notebook, pkg:docregistry, pkg:fileeditor, pkg:apputils, pkg:docmanager, tag:CSS, Design System CSS

#13191 Update RJSF to latest stable version
  packages/completer-extension/package.json
  packages/lsp-extension/package.json
  packages/settingeditor/package.json
  packages/ui-components/package.json
  yarn.lock
Labels: maintenance, pkg:completer, pkg:settingeditor, pkg:ui-components, pkg:lsp

#13190 Bump to latest Lumino 1.x
  packages/csvviewer-extension/package.json
  packages/csvviewer/package.json
  packages/debugger/package.json
  yarn.lock
Labels: maintenance, pkg:csvviewer, pkg:debugger

#13193 Fix broken links in RELEASE.md file
  RELEASE.md
Labels: documentation

#13195 Automated Changelog Entry for 3.5.0a0 on 3.5.x
  CHANGELOG.md
Labels: documentation

#13197 Automated Changelog Entry for 3.5.0b0 on 3.5.x
  CHANGELOG.md
Labels: documentation

#13198 Try the GitHub Playwright reporter on CI
  galata/src/playwright-config.ts
Labels: maintenance, tag:Testing

#13196 Add a title to the RTC panel
  packages/collaboration-extension/src/index.ts
Labels: bug, tag:Real Time Collaboration, pkg:collaboration

#12899 LSP follow-up
  docs/source/extension/extension_points.rst
  docs/source/user/images/lsp/settings.png
  docs/source/user/index.md
  docs/source/user/lsp.rst
  packages/fileeditor/src/fileeditorlspadapter.ts
  packages/lsp-extension/schema/plugin.json
  packages/lsp-extension/src/index.ts
  packages/lsp/src/adapters/adapter.ts
  packages/lsp/src/connection.ts
  packages/lsp/src/connection_manager.ts
  packages/lsp/src/manager.ts
  packages/lsp/src/plugin.ts
  packages/lsp/src/tokens.ts
  packages/lsp/src/virtual/document.ts
  packages/lsp/src/ws-connection/ws-connection.ts
  packages/notebook/src/notebooklspadapter.ts
  yarn.lock
Labels: enhancement, documentation, pkg:notebook, pkg:fileeditor, pkg:lsp

#13201 Fix cell deletion error message.
  packages/notebook/src/notebooklspadapter.ts
Labels: bug, pkg:notebook

#13205 Update to Playwright 1.27
  galata/package.json
  yarn.lock
Labels: maintenance, tag:Testing

#13194 Fix removing out of view cells
  docs/source/developer/performance.rst
  galata/test/jupyterlab/windowed-notebook.test.ts
  packages/cells/src/widget.ts
  packages/notebook/src/windowing.ts
Labels: bug, documentation, pkg:notebook, pkg:cells, tag:Testing

#13210 Fix typo in the "Test Minimum Version" CI step
  .github/workflows/linuxtests.yml
Labels: maintenance

#13208 Update docs to `jupyter_server_config.py`
  binder/start
  docs/source/getting_started/faq.rst
  docs/source/user/directories.rst
Labels: documentation

#13218 Backport PR #13200 on branch 3.5.x (Use keystroke format consistent with menus)
  packages/apputils-extension/src/palette.ts
  packages/apputils/src/toolbar/widget.tsx
  packages/filebrowser-extension/src/index.ts
  packages/statusbar-extension/src/index.ts
Labels: bug, pkg:filebrowser, pkg:apputils, pkg:statusbar

#13213 Remove unused modelDBFactory
  docs/source/extension/extension_migration.rst
  packages/services/package.json
  packages/services/src/contents/index.ts
  packages/services/tsconfig.json
  packages/services/tsconfig.test.json
  testutils/src/mock.ts
  testutils/test/mock.spec.ts
Labels: documentation, maintenance, pkg:services, api-change

#13220 Update branch configuration
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/pull_request_template.md
  .github/workflows/check-release.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/linuxjs-flaky-tests.yml
  .github/workflows/linuxjs-tests.yml
  .github/workflows/linuxtests.yml
  .github/workflows/macostests.yml
  .github/workflows/windowstests.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  RELEASE.md
  buildutils/src/ensure-repo.ts
  docs/source/conf.py
  docs/source/developer/components.rst
  docs/source/developer/contributing.rst
  docs/source/developer/css.rst
  docs/source/developer/repo.rst
  docs/source/extension/extension_dev.rst
  docs/source/extension/extension_migration.rst
  docs/source/extension/extension_tutorial.rst
  docs/source/extension/internationalization.rst
  docs/source/getting_started/faq.rst
  docs/source/user/rtc.rst
  packages/extensionmanager/src/widget.tsx
  packages/help-extension/src/index.tsx
  packages/javascript-extension/README.md
  packages/json-extension/README.md
  packages/ui-components/docs/source/intro.rst
  packages/vdom-extension/README.md
  packages/vdom/README.md
  packages/vega5-extension/README.md
Labels: documentation, maintenance, pkg:help, pkg:vega, pkg:json, pkg:extensionmanager, pkg:javascript, pkg:vdom, pkg:ui-components

#13219 Update `pytest` and `pytest-check-links` dependencies
  pyproject.toml
Labels: maintenance

#12701 Split the Document Manager extension into multiple plugins
  docs/source/extension/extension_migration.rst
  examples/filebrowser/src/index.ts
  examples/notebook/src/index.ts
  packages/docmanager-extension/src/index.tsx
  packages/docmanager/src/manager.ts
  packages/docmanager/src/tokens.ts
  packages/docmanager/test/dialog.spec.ts
  packages/docmanager/test/manager.spec.ts
  packages/filebrowser/test/crumbs.spec.ts
  packages/filebrowser/test/listing.spec.ts
  packages/filebrowser/test/model.spec.ts
  packages/filebrowser/test/openfiledialog.spec.ts
  testutils/src/mock.ts
Labels: bug, enhancement, documentation, pkg:filebrowser, tag:Examples, pkg:docmanager, api-change

#13223 lab -> app
  docs/source/developer/components.rst
Labels: documentation

#13214 Relax doc provider API
  docs/source/extension/extension_migration.rst
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/index.ts
  packages/docprovider-extension/tsconfig.json
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/yprovider.ts
  packages/docregistry/src/context.ts
  packages/docregistry/src/registry.ts
Labels: enhancement, documentation, pkg:docregistry, api-change, pkg:docprovider

#13226 Automated Changelog Entry for 4.0.0a30 on master
  CHANGELOG.md
Labels: documentation

#13225 Backport PR #13223 on branch 3.5.x (Update example documentation: `lab -> app`)
  docs/source/developer/components.rst
Labels: documentation

#13230 Removes triggering an event when replacing pasted text
  packages/codemirror/src/editor.ts
Labels: bug, pkg:codemirror

#13231 Bump memory-leak action
  .github/workflows/benchmark.yml
Labels: maintenance

#13222 Remove Yjs locking mechanism
  docs/source/user/images/rtc_shared_cursors.png
  docs/source/user/images/sync_editors.png
  docs/source/user/rtc.rst
  jupyterlab/handlers/yjs_echo_ws.py
  jupyterlab/labapp.py
  packages/docprovider-extension/src/index.ts
  packages/docprovider/package.json
  packages/docprovider/src/mock.ts
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/yprovider.ts
  packages/docprovider/test/yprovider.spec.ts
  packages/docregistry/src/context.ts
  setup.cfg
Labels: enhancement, documentation, pkg:docregistry, api-change, pkg:docprovider

#13232 Improve documentation
  jupyterlab/labapp.py
  packages/docprovider/src/tokens.ts
Labels: documentation, pkg:docprovider

#12959 Add notification queue and display using toast
  docs/source/extension/ui_helpers.rst
  examples/app/index.js
  examples/federated/core_package/package.json
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-terminal-position-single-documentation-linux.png
  galata/test/documentation/debugger.test.ts
  galata/test/documentation/general.test.ts
  galata/test/documentation/general.test.ts-snapshots/file-editor-overview-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-altair-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-html-display-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-nteract-vdom-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-jupyterlab-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/notebook-ui-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/terminal-layout-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-chinese-documentation-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/dark-theme-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/launch-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/simple-mode-jupyterlab-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-view-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/opened-menu-view-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-center-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-default-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-error-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-in-progress-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-info-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-markdown-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-success-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-warning-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-with-actions-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/filebrowser-right-jupyterlab-linux.png
  packages/apputils-extension/package.json
  packages/apputils-extension/schema/notification.json
  packages/apputils-extension/src/index.ts
  packages/apputils-extension/src/notificationplugin.tsx
  packages/apputils-extension/style/base.css
  packages/apputils-extension/style/index.css
  packages/apputils-extension/style/index.js
  packages/apputils-extension/style/notification.css
  packages/apputils-extension/tsconfig.json
  packages/apputils/src/index.ts
  packages/apputils/src/notification.ts
  packages/apputils/test/notification.spec.ts
  packages/logconsole-extension/schema/plugin.json
  packages/statusbar/src/components/hover.tsx
  packages/ui-components/src/icon/iconimports.ts
  packages/ui-components/style/deprecated.css
  packages/ui-components/style/icons/statusbar/bell.svg
  yarn.lock
Labels: enhancement, documentation, status:Needs Review, tag:Examples, pkg:apputils, tag:Testing, pkg:statusbar, pkg:ui-components, tag:CSS, pkg:logconsole, Design System CSS, feature

#13229 Fix memory leaks
  .github/workflows/benchmark.yml
  packages/codeeditor/src/jsoneditor.ts
  packages/notebook-extension/src/index.ts
  packages/notebook/src/notebooktools.ts
  packages/notebook/test/notebooktools.spec.ts
Labels: pkg:notebook, pkg:codeeditor, maintenance, tag:Performance

#13235 Backport PR #13229 on branch 3.5.x (Fix memory leaks)
  packages/codeeditor/src/jsoneditor.ts
  packages/notebook-extension/src/index.ts
  packages/notebook/src/notebooktools.ts
  packages/notebook/test/notebooktools.spec.ts
Labels: pkg:notebook, pkg:codeeditor, maintenance, tag:Performance

#13236 Automated Changelog Entry for 3.5.0rc0 on 3.5.x
  CHANGELOG.md
Labels: documentation

#13141 Allow empty notebook
  packages/notebook/src/actions.tsx
  packages/notebook/src/model.ts
  packages/notebook/src/truststatus.tsx
  packages/notebook/src/widget.ts
  packages/notebook/src/windowing.ts
  packages/notebook/test/model.spec.ts
  packages/notebook/test/widget.spec.ts
  packages/shared-models/package.json
  packages/shared-models/src/api.ts
  packages/shared-models/src/ymodels.ts
Labels: bug, pkg:notebook, pkg:shared-models

#13239 Enable RTC by default when starting JL in the Gitpod setup
  .gitpod.yml
Labels: maintenance

#13241 Added scroll to Running Panel
  packages/ui-components/style/sidepanel.css
Labels: bug, pkg:ui-components, tag:CSS, Design System CSS

#13237 Backport PR #13229 on branch 3.6.x (Fix memory leaks)
  packages/codeeditor/src/jsoneditor.ts
  packages/notebook-extension/src/index.ts
  packages/notebook/src/notebooktools.ts
  packages/notebook/test/notebooktools.spec.ts
Labels: pkg:notebook, pkg:codeeditor, maintenance, tag:Performance

#13238 Backport PR #13223 on branch 3.6.x (Update example documentation: `lab -> app`)
  docs/source/developer/components.rst
Labels: documentation

#13168 Improve shared-models API
  .github/workflows/linuxjs-tests.yml
  galata/package.json
  galata/src/inpage/index.ts
  galata/tsconfig.json
  packages/cells/src/model.ts
  packages/cells/src/searchprovider.ts
  packages/cells/src/widget.ts
  packages/codeeditor/src/editor.ts
  packages/codeeditor/src/jsoneditor.ts
  packages/codeeditor/src/viewer.ts
  packages/codeeditor/src/widget.ts
  packages/codeeditor/test/editor.spec.ts
  packages/completer/src/connectorproxy.ts
  packages/completer/src/default/kernelprovider.ts
  packages/completer/src/handler.ts
  packages/completer/src/tokens.ts
  packages/completer/test/handler.spec.ts
  packages/debugger/src/factory.ts
  packages/debugger/src/handlers/editor.ts
  packages/docregistry/src/default.ts
  packages/nbformat/src/index.ts
  packages/notebook/src/actions.tsx
  packages/notebook/src/celllist.ts
  packages/notebook/src/model.ts
  packages/notebook/src/widget.ts
  packages/notebook/test/actions.spec.ts
  packages/notebook/test/default-toolbar.spec.ts
  packages/notebook/test/model.spec.ts
  packages/notebook/test/widget.spec.ts
  packages/settingeditor/package.json
  packages/settingeditor/src/raweditor.ts
  packages/settingeditor/tsconfig.json
  packages/shared-models/.vscode/launch.json
  packages/shared-models/src/api.ts
  packages/shared-models/src/ymodels.ts
  packages/shared-models/test/ymodels.spec.ts
Labels: enhancement, pkg:notebook, pkg:codeeditor, pkg:completer, pkg:docregistry, tag:Real Time Collaboration, pkg:cells, pkg:settingeditor, api-change, tag:Testing, pkg:debugger, pkg:shared-models

#13202 Optimize text mimerenderer: ansi vs autolink
  packages/rendermime/src/renderers.ts
  packages/rendermime/test/factories.spec.ts
  testutils/src/jest-config.ts
Labels: enhancement, pkg:rendermime, tag:Performance

#13257 Update README.md
  README.md
Labels: documentation

#13253 Do not show side panel scrollbar when not needed
  packages/ui-components/style/sidepanel.css
Labels: bug, pkg:ui-components, tag:CSS, tag:Design System CSS, Design System CSS

#13255 Remove some unused CSS styles and fix icon alignment in plugin list
  packages/application/style/tabs.css
  packages/apputils-extension/style/base.css
  packages/apputils-extension/style/redirect.css
  packages/filebrowser/style/base.css
  packages/notebook/style/base.css
  packages/outputarea/style/base.css
  packages/rendermime/style/base.css
  packages/settingeditor/src/pluginlist.tsx
  packages/settingeditor/style/base.css
Labels: bug, pkg:notebook, pkg:filebrowser, pkg:application, pkg:rendermime, pkg:apputils, pkg:outputarea, pkg:settingeditor, tag:CSS, Design System CSS

#13259 Don't dispose the notebook metadata editor on active cell change
  packages/notebook/src/notebooktools.ts
Labels: bug, pkg:notebook

#13262 Remove `generate_changelog.py` script
  scripts/generate_changelog.py
Labels: maintenance

#13264 Backport PR #13259 on branch 3.5.x (Don't dispose the notebook metadata editor on active cell change)
  packages/notebook/src/notebooktools.ts
Labels: bug, pkg:notebook

#13265 Backport PR #13259 on branch 3.6.x (Don't dispose the notebook metadata editor on active cell change)
  packages/notebook/src/notebooktools.ts
Labels: bug, pkg:notebook

#13266 Backport PR #13202 on branch 3.5.x (Optimize text mimerenderer: ansi vs autolink )
  packages/rendermime/src/renderers.ts
  packages/rendermime/test/factories.spec.ts
  testutils/src/jest-config.ts
Labels: enhancement, pkg:rendermime, tag:Performance

#13268 Set `isUntitled` to false on document path changes
  galata/test/jupyterlab/save.test.ts
  packages/docregistry/src/default.ts
Labels: bug, pkg:docregistry, tag:Testing

#13270 Backport PR #13268 on branch 3.5.x (Set `isUntitled` to false on document path changes)
  galata/test/jupyterlab/save.test.ts
  packages/docregistry/src/default.ts
Labels: bug, pkg:docregistry, tag:Testing

#13273 Fix notebook trust in RTC
  packages/cells/src/model.ts
Labels: bug, pkg:cells

#13274 Fix notebook trust in RTC
  packages/cells/src/model.ts
Labels: bug, pkg:cells

#13286 Do not run galata in `.ipynb_checkpoints`
  galata/playwright-documentation.config.js
  galata/playwright.config.js
Labels: enhancement, tag:Testing

#13290 Automated Changelog Entry for 3.5.0 on 3.5.x
  CHANGELOG.md
Labels: documentation

#13287 Reduce CI test flake due to kernel switching to busy
  galata/test/documentation/debugger.test.ts
Labels: enhancement, tag:Testing

#13284 Use settings icons for 6 plugins
  packages/apputils-extension/schema/palette.json
  packages/csvviewer-extension/schema/csv.json
  packages/csvviewer-extension/schema/tsv.json
  packages/documentsearch-extension/schema/plugin.json
  packages/extensionmanager-extension/schema/plugin.json
  packages/htmlviewer-extension/schema/plugin.json
Labels: enhancement, pkg:csvviewer, pkg:apputils, pkg:extensionmanager, pkg:htmlviewer, pkg:documentsearch

#13037 Avoids restoring widget in dock panel when first loading in 'single-document' mode
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
  galata/test/documentation/debugger.test.ts-snapshots/debugger-kernel-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-right-documentation-linux.png
  galata/test/jupyterlab/workspace.test.ts
  packages/application-extension/src/index.tsx
  packages/application/src/layoutrestorer.ts
  packages/application/src/shell.ts
  packages/application/test/shell.spec.ts
  packages/apputils/src/widgettracker.ts
  packages/filebrowser-extension/src/index.ts
  packages/launcher-extension/src/index.ts
Labels: enhancement, pkg:filebrowser, pkg:launcher, pkg:application, pkg:apputils, tag:Testing

#13280 Backport PR #13255 on branch 3.6.x (Remove some unused CSS styles and fix icon alignment in plugin list)
  packages/application/style/tabs.css
  packages/apputils-extension/style/base.css
  packages/apputils-extension/style/redirect.css
  packages/filebrowser/style/base.css
  packages/notebook/style/base.css
  packages/outputarea/style/base.css
  packages/settingeditor/src/pluginlist.tsx
  packages/settingeditor/style/base.css
Labels: bug, pkg:notebook, pkg:filebrowser, pkg:application, pkg:apputils, pkg:outputarea, pkg:settingeditor, tag:CSS, Design System CSS

#13292 Backport PR #13202 on branch 3.6.x (Optimize text mimerenderer: ansi vs autolink )
  packages/rendermime/src/renderers.ts
  packages/rendermime/test/factories.spec.ts
  testutils/src/jest-config.ts
Labels: enhancement, pkg:rendermime, tag:Performance

#13297 Backport PR #13286: Do not run galata in `.ipynb_checkpoints`
  galata/playwright.config.js
Labels: enhancement, tag:Testing

#13298 Backport PR #13284: Use settings icons for 6 plugins
  packages/apputils-extension/schema/palette.json
  packages/csvviewer-extension/schema/csv.json
  packages/csvviewer-extension/schema/tsv.json
  packages/documentsearch-extension/schema/plugin.json
  packages/extensionmanager-extension/schema/plugin.json
  packages/htmlviewer-extension/schema/plugin.json
Labels: enhancement, pkg:csvviewer, pkg:apputils, pkg:extensionmanager, pkg:htmlviewer, pkg:documentsearch

#13293 Backport PR #13268 on branch 3.6.x (Set `isUntitled` to false on document path changes)
  galata/test/jupyterlab/save.test.ts
  packages/docregistry/src/default.ts
Labels: bug, pkg:docregistry, tag:Testing

#13295 Fix kernel snapshot in test documentation
  galata/test/documentation/debugger.test.ts-snapshots/debugger-kernel-documentation-linux.png
Labels: maintenance, tag:Testing

#13289 Fix border-radius does not follow css variable
  packages/settingeditor/style/base.css
Labels: bug, pkg:settingeditor, tag:CSS, Design System CSS

#13309 Avoids use of @deprecated to refer to a parameter
  packages/ui-components/src/icon/labicon.tsx
Labels: bug, pkg:ui-components

#13304 Automated Changelog Entry for 3.6.0a0 on 3.6.x
  CHANGELOG.md
Labels: documentation

#13300 Reduce ILayoutRestorer API surface area
  packages/application/src/layoutrestorer.ts
  packages/application/src/shell.ts
  packages/apputils/src/widgettracker.ts
Labels: maintenance, pkg:application, pkg:apputils

#13296 Backport of "Allow empty notebook" (#13141)
  packages/notebook/src/actions.tsx
  packages/notebook/src/model.ts
  packages/notebook/src/truststatus.tsx
  packages/notebook/src/widget.ts
  packages/notebook/test/model.spec.ts
  packages/notebook/test/widget.spec.ts
  packages/shared-models/src/api.ts
Labels: enhancement, pkg:notebook, pkg:shared-models

#13310 Backport PR #13309 on branch 3.6.x (Avoids use of @deprecated to refer to a parameter)
  packages/ui-components/src/icon/labicon.tsx
Labels: bug, pkg:ui-components

#13312 Remove changelog for pre-releases
  CHANGELOG.md
Labels: documentation

#13303 Backport PR #13261 on branch 3.6.x (Correct starting docs: working directory path sample code)
  docs/source/getting_started/starting.rst
Labels: documentation

#13302 Backport PR #13289 on branch 3.6.x (Fix border-radius does not follow css variable)
  packages/settingeditor/style/base.css
Labels: bug, pkg:settingeditor, tag:CSS, Design System CSS

#13256 Check for unused file browser style rules in Galata
  galata/src/helpers/index.ts
  galata/src/helpers/menu.ts
  galata/src/helpers/style.ts
  galata/src/jupyterlabpage.ts
  galata/test/jupyterlab/sidebars.test.ts
  galata/test/jupyterlab/styles.test.ts
  galata/tsconfig.json
  tsconfigdoc.json
Labels: maintenance, tag:Testing

#13249 Fix illegible white on yellow text of stacktrace in dark theme
  packages/theme-dark-extension/style/theme.css
Labels: enhancement, tag:Accessibility, pkg:themes, tag:CSS, Design System CSS

#13308 Updates JSONEditor's source only when there is an active cell or an active notebook panel
  packages/notebook/src/notebooktools.ts
Labels: bug, pkg:notebook

#13313 Backport PR #13249 on branch 3.6.x (Fix illegible white on yellow text of stacktrace in dark theme)
  packages/theme-dark-extension/style/theme.css
Labels: enhancement, tag:Accessibility, pkg:themes, tag:CSS, Design System CSS

#13315 Backport PR #13308 on branch 3.6.x (Updates JSONEditor's source only when there is an active cell or an active notebook panel)
  packages/notebook/src/notebooktools.ts
Labels: bug, pkg:notebook

#13318 Backport 3.5.0 changelog on master
  CHANGELOG.md
Labels: documentation

#13325 Remove duplicate changelog marker
  CHANGELOG.md
Labels: documentation

#13314 Backport PRs #13037 and #13300
  galata/test/jupyterlab/workspace.test.ts
  packages/application-extension/src/index.tsx
  packages/application/src/layoutrestorer.ts
  packages/application/src/shell.ts
  packages/application/test/shell.spec.ts
  packages/apputils/src/widgettracker.ts
  packages/filebrowser-extension/src/index.ts
Labels: enhancement, pkg:filebrowser, pkg:application, pkg:apputils, tag:Testing

#13322 Switch to releaser v2
  .github/workflows/check-release.yml
  .github/workflows/linuxtests.yml
  .pre-commit-config.yaml
  .prettierignore
  CHANGELOG.md
  README.md
  RELEASE.md
  design/about.md
  examples/filebrowser/sample.md
  galata/README.md
  package.json
  packages/services/examples/typescript-browser-with-output/README.md
  packages/ui-components/CONTRIBUTING.md
  pyproject.toml
  scripts/ci_script.sh
Labels: documentation, tag:Design and UX, maintenance, tag:Examples, pkg:services, tag:Testing, pkg:ui-components

#13327 Backport PR #13322 on branch 3.6.x (Switch to releaser v2)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/check-release.yml
  .github/workflows/linuxtests.yml
  .pre-commit-config.yaml
  .prettierignore
  CHANGELOG.md
  README.md
  RELEASE.md
  design/about.md
  examples/filebrowser/sample.md
  galata/README.md
  package.json
  packages/services/examples/typescript-browser-with-output/README.md
  packages/ui-components/CONTRIBUTING.md
  pyproject.toml
Labels: tag:Design and UX, maintenance, tag:Examples, pkg:services, tag:Testing, pkg:ui-components

#12926 User service
  examples/app/main.py
  examples/console/main.py
  examples/example.spec.ts
  examples/federated/main.py
  examples/filebrowser/main.py
  examples/terminal/main.py
  packages/collaboration-extension/src/index.ts
  packages/collaboration-extension/style/index.css
  packages/collaboration-extension/style/index.js
  packages/collaboration/package.json
  packages/collaboration/src/collaboratorspanel.tsx
  packages/collaboration/src/components.tsx
  packages/collaboration/src/index.ts
  packages/collaboration/src/menu.ts
  packages/collaboration/src/model.ts
  packages/collaboration/src/tokens.ts
  packages/collaboration/src/userinfopanel.tsx
  packages/collaboration/src/utils.ts
  packages/collaboration/test/menu.spec.ts
  packages/collaboration/test/model.spec.ts
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/index.ts
  packages/docprovider-extension/style/index.css
  packages/docprovider-extension/style/index.js
  packages/docprovider-extension/tsconfig.json
  packages/docprovider/package.json
  packages/docprovider/src/yprovider.ts
  packages/docprovider/tsconfig.json
  packages/docprovider/tsconfig.test.json
  packages/services/examples/browser-require/main.py
  packages/services/examples/browser/main.py
  packages/services/examples/typescript-browser-with-output/main.py
  packages/services/src/index.ts
  packages/services/src/manager.ts
  packages/services/src/user/index.ts
  packages/services/test/user/user.spec.ts
  pyproject.toml
  testutils/package.json
  testutils/src/index.ts
  testutils/src/user.ts
Labels: enhancement, tag:Examples, tag:Real Time Collaboration, pkg:services, tag:CSS, Design System CSS, pkg:docprovider, pkg:collaboration

#13246 Use file ID
  packages/docprovider/package.json
  packages/docprovider/src/mock.ts
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/yprovider.ts
  packages/docprovider/tsconfig.json
  packages/docprovider/tsconfig.test.json
  packages/docregistry/src/context.ts
  pyproject.toml
  tsconfigdoc.json
Labels: enhancement, pkg:docregistry, pkg:docprovider

#13334 Follow-up #12926
  packages/docprovider-extension/src/index.ts
Labels: maintenance, pkg:docprovider

#13317 Store document info in the state not in a separate context map out of the document interface.
  packages/docregistry/package.json
  packages/docregistry/src/context.ts
  packages/docregistry/src/default.ts
  packages/shared-models/src/api.ts
  packages/shared-models/src/ymodels.ts
Labels: enhancement, pkg:docregistry, api-change, pkg:shared-models

#13344 Fix Binder for jupyter-server v2
  .github/jupyterlab-probot.yml
  binder/README.md
  binder/jupyter_notebook_config.py
  binder/postBuild
  binder/start
Labels: documentation

#13337 Backport PR #12926 on branch 3.6.x (User service)
  examples/app/main.py
  examples/chrome-example-test.js
  examples/console/main.py
  examples/federated/main.py
  examples/filebrowser/main.py
  examples/terminal/main.py
  packages/collaboration-extension/src/index.ts
  packages/collaboration-extension/style/index.css
  packages/collaboration-extension/style/index.js
  packages/collaboration/package.json
  packages/collaboration/src/collaboratorspanel.tsx
  packages/collaboration/src/components.tsx
  packages/collaboration/src/index.ts
  packages/collaboration/src/menu.ts
  packages/collaboration/src/model.ts
  packages/collaboration/src/tokens.ts
  packages/collaboration/src/userinfopanel.tsx
  packages/collaboration/src/utils.ts
  packages/collaboration/test/menu.spec.ts
  packages/collaboration/test/model.spec.ts
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/index.ts
  packages/docprovider-extension/style/index.css
  packages/docprovider-extension/style/index.js
  packages/docprovider-extension/tsconfig.json
  packages/docprovider/package.json
  packages/docprovider/src/yprovider.ts
  packages/docprovider/tsconfig.json
  packages/docprovider/tsconfig.test.json
  packages/notebook/test/executionindicator.spec.tsx
  packages/services/examples/browser-require/main.py
  packages/services/examples/browser/main.py
  packages/services/examples/typescript-browser-with-output/main.py
  packages/services/src/index.ts
  packages/services/src/manager.ts
  packages/services/src/user/index.ts
  packages/services/test/user/user.spec.ts
  testutils/src/index.ts
  testutils/src/user.ts
Labels: enhancement, pkg:notebook, tag:Examples, tag:Real Time Collaboration, pkg:services, tag:CSS, Design System CSS, pkg:docprovider, pkg:collaboration

#13346 Check a core path is actually a package
  buildutils/src/utils.ts
Labels: maintenance

#13347 Backport PR #13344 on branch 3.6.x (Fix Binder for jupyter-server v2)
  binder/README.md
  binder/jupyter_notebook_config.py
  binder/postBuild
  binder/start
Labels: documentation, maintenance

#13348 Backport PR #13334 on branch 3.6.x (Removes empty requires list )
  packages/docprovider-extension/src/index.ts
Labels: maintenance, pkg:docprovider

#13349 Backport PR #13346 on branch 3.6.x (Check a core path is actually a package)
  buildutils/src/utils.ts
Labels: maintenance

#13350 Backport PR #13214 on branch 3.6.x (Relax doc provider API)
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/index.ts
  packages/docprovider-extension/tsconfig.json
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/yprovider.ts
  packages/docregistry/src/context.ts
  packages/docregistry/src/registry.ts
Labels: enhancement, pkg:docregistry, pkg:docprovider

#13352 Backport PR #13246 on branch 3.6.x (Use file ID)
  packages/docprovider/package.json
  packages/docprovider/src/mock.ts
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/yprovider.ts
  packages/docprovider/tsconfig.json
  packages/docprovider/tsconfig.test.json
  packages/docregistry/src/context.ts
  setup.cfg
Labels: enhancement, pkg:docregistry, pkg:docprovider

#13357 Backport PR #13317 on branch 3.6.x (Store document info in the state not in a separate context map out of the document interface.)
  packages/collaboration-extension/package.json
  packages/docregistry/package.json
  packages/docregistry/src/context.ts
  packages/docregistry/src/default.ts
  packages/shared-models/src/api.ts
  packages/shared-models/src/ymodels.ts
Labels: enhancement, api-change

#13359 Automated Changelog Entry for 3.6.0a1 on 3.6.x
  CHANGELOG.md
Labels: documentation
