Repository jupyterlab/jupyterlab, pull requests merged in 2022-08, with the labels that each got.

#12871 Fix progress bar not working after uploading multiple files finished
  packages/filebrowser/src/uploadstatus.tsx
Labels: bug, pkg:filebrowser

#12888 Backport PR #12871 on branch 3.4.x (Fix progress bar not working after uploading multiple files finished)
  packages/filebrowser/src/uploadstatus.tsx
Labels: bug, pkg:filebrowser

#12875 Set `Contents.ContentType` to string
  packages/services/src/contents/index.ts
Labels: enhancement, pkg:services

#12892 Fix JSON Settings Editor
  packages/settingeditor/src/splitpanel.ts
Labels: bug, pkg:settingeditor

#12900 Add license header fix to git-blame-ignore
  .git-blame-ignore-revs
Labels: maintenance

#12898 Split commands in two blocks in the contributing guide
  docs/source/developer/contributing.rst
Labels: documentation

#12903 Backport PR #12898 on branch 3.4.x (Split commands in two blocks in the contributing guide)
  docs/source/developer/contributing.rst
Labels: documentation

#12902 Add `dev_mode/style.js` to the licenser ignore list
  .licenserc.yaml
  dev_mode/style.js
Labels: maintenance

#12849 Fixes renaming files from title while using a custom drive
  docs/source/extension/extension_migration.rst
  packages/docmanager-extension/src/index.tsx
  packages/docmanager/src/dialogs.ts
  packages/docregistry/src/context.ts
  packages/docregistry/src/default.ts
Labels: bug, documentation, pkg:docregistry, pkg:docmanager, api-change

#12910 Remove @lumino/coreutils dependency from @jupyterlab/buildutils
  buildutils/package.json
  buildutils/src/utils.ts
Labels: tag:Build System, maintenance, dependencies

#12909 Log launcher error to console
  packages/launcher/src/widget.tsx
Labels: maintenance, pkg:launcher

#12911 Backport PR #12909 on branch 3.4.x (Log launcher error to console)
  packages/launcher/src/index.tsx
Labels: maintenance, pkg:launcher

#12844 Add an option to enable "fast checks" of the jupyter lab build.
  jupyterlab/commands.py
Labels: enhancement

#12912 Backport PR #12844 on branch 3.4.x (Add an option to enable "fast checks" of the jupyter lab build.)
  jupyterlab/commands.py
Labels: enhancement

#12861 Moved theme Map and added API to use it from other dependencies
  .gitignore
  .licenserc.yaml
  galata/test/documentation/debugger.test.ts-snapshots/debugger-breakpoint-documentation-linux.png
  galata/test/documentation/debugger.test.ts-snapshots/debugger-stop-on-breakpoint-documentation-linux.png
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-slide-type-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-editor-overview-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-editor-settings-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/jupyterlab-documentation-linux.png
  galata/test/galata/notebook.spec.ts-snapshots/markdown-cell-galata-linux.png
  galata/test/jupyterlab/collapsible-headings.test.ts-snapshots/add-header-above-01-jupyterlab-linux.png
  galata/test/jupyterlab/collapsible-headings.test.ts-snapshots/add-header-above-02-jupyterlab-linux.png
  galata/test/jupyterlab/collapsible-headings.test.ts-snapshots/add-header-above-03-jupyterlab-linux.png
  galata/test/jupyterlab/debugger.test.ts-snapshots/start-debug-session-script-sources-jupyterlab-linux.png
  galata/test/jupyterlab/debugger.test.ts-snapshots/start-debug-session-sources-jupyterlab-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-settings-text-editor-theme-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/copy-paste-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/cut-paste-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/delete-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/deselect-all-cells-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/move-cell-down-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/move-cell-up-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/paste-replace-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/select-all-cells-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/split-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/do-not-highlight-not-latex-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/do-not-highlight-standalone-dollar-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/highlight-latex-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-replace.test.ts-snapshots/replace-in-markdown-rendered-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/highlight-markdown-switch-state-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/highlight-next-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-toolbar.test.ts-snapshots/change-to-markdown-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-toolbar.test.ts-snapshots/copy-paste-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-toolbar.test.ts-snapshots/insert-cells-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-toolbar.test.ts-snapshots/run-cell-jupyterlab-linux.png
  galata/test/jupyterlab/texteditor.test.ts-snapshots/go-to-line-editor-jupyterlab-linux.png
  packages/codeeditor/src/editor.ts
  packages/codemirror-extension/schema/commands.json
  packages/codemirror-extension/src/index.ts
  packages/codemirror/package.json
  packages/codemirror/src/codemirror-ipythongfm.ts
  packages/codemirror/src/editor.ts
  packages/codemirror/src/editorconfiguration.ts
  packages/codemirror/src/editortheme.ts
  packages/codemirror/src/index.ts
  packages/codemirror/src/mode.ts
  packages/codemirror/style/base.css
  packages/codemirror/test/foo.d.ts
  packages/codemirror/test/foo.grammar
  packages/codemirror/test/foolanguage.ts
  packages/codemirror/test/mode.spec.ts
  packages/codemirror/test/onedarktheme.ts
  packages/codemirror/test/theme.spec.ts
  yarn.lock
Labels: enhancement, pkg:codeeditor, pkg:codemirror, tag:Testing, tag:CSS, Design System CSS

#12879 Add alt text to documentation
  docs/source/developer/contributing.rst
  docs/source/developer/internationalization.rst
  docs/source/getting_started/overview.rst
  docs/source/index.rst
  docs/source/user/debugger.rst
  docs/source/user/extensions.rst
  docs/source/user/files.rst
  docs/source/user/interface.rst
  docs/source/user/notebook.rst
  docs/source/user/running.rst
  docs/source/user/terminal.rst
  docs/source/user/toc.rst
Labels: documentation, tag:Accessibility

#12918 Backport PR #12879 on branch 3.4.x (Add alt text to documentation)
  docs/source/developer/contributing.rst
  docs/source/developer/internationalization.rst
  docs/source/getting_started/overview.rst
  docs/source/index.rst
  docs/source/user/debugger.rst
  docs/source/user/extensions.rst
  docs/source/user/files.rst
  docs/source/user/interface.rst
  docs/source/user/notebook.rst
  docs/source/user/running.rst
  docs/source/user/terminal.rst
  docs/source/user/toc.rst
Labels: documentation, tag:Accessibility

#12606 Switch to hatch backend
  .flake8
  .github/workflows/linuxtests.yml
  .prettierignore
  MANIFEST.in
  binder/postBuild
  buildapi.py
  buildutils/src/utils.ts
  docs/source/developer/contributing.rst
  docs/source/developer/repo.rst
  examples/app/index.js
  examples/app/package.json
  examples/example.spec.ts
  examples/federated/core_package/index.template.js
  galata/package.json
  galata/src/inpage/index.ts
  galata/test/documentation/debugger.test.ts
  galata/test/jupyterlab/debugger.test.ts
  galata/test/jupyterlab/workspace.test.ts
  jupyterlab/federated_labextensions.py
  package.json
  packages/application-extension/src/index.tsx
  packages/cell-toolbar/src/celltoolbartracker.ts
  packages/cells/src/searchprovider.ts
  packages/debugger-extension/src/index.ts
  packages/debugger/src/panels/kernelSources/body.tsx
  packages/debugger/src/panels/kernelSources/index.tsx
  packages/documentsearch/src/searchview.tsx
  packages/launcher-extension/src/index.ts
  packages/lsp/package.json
  packages/lsp/test/schema.spec.ts
  packages/markdownviewer/src/toc.ts
  packages/notebook-extension/src/index.ts
  packages/notebook/src/searchprovider.ts
  packages/notebook/src/toc.ts
  packages/settingeditor-extension/src/index.ts
  packages/settingeditor/src/SettingsFormEditor.tsx
  packages/settingeditor/src/settingseditor.tsx
  packages/shortcuts-extension/test/shortcuts.spec.ts
  packages/toc-extension/src/index.ts
  pyproject.toml
  scripts/ci_install.ps1
  scripts/ci_install.sh
  scripts/ci_script.sh
  setup.cfg
  setup.py
Labels: documentation, pkg:notebook, maintenance, tag:Examples, pkg:launcher, pkg:application, pkg:markdownviewer, pkg:cells, pkg:shortcuts, pkg:settingeditor, tag:Testing, pkg:documentsearch, pkg:toc, pkg:debugger, pkg:cell-toolbar, pkg:lsp

#12921 Automated Changelog Entry for 4.0.0a27 on master
  CHANGELOG.md
  packages/collaboration-extension/src/index.ts
Labels: documentation, pkg:collaboration

#12919 Only show "Shut Down Kernel" if kernel is running
  galata/test/documentation/customization.test.ts-snapshots/customized-context-menu-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-context-menu-documentation-linux.png
  galata/test/documentation/general.test.ts
  galata/test/documentation/general.test.ts-snapshots/file-formats-open-with-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-shareable-link-documentation-linux.png
  galata/test/documentation/utils.ts
  galata/test/jupyterlab/contextmenu.test.ts
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/file-jupyterlab-linux.png
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/running-notebook-jupyterlab-linux.png
  packages/filebrowser-extension/schema/browser.json
Labels: bug, pkg:filebrowser, tag:Testing

#12927 Backport PR #12919 on branch 3.4.x (Only show "Shut Down Kernel" if kernel is running)
  galata/test/jupyterlab/contextmenu.test.ts
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/file-jupyterlab-linux.png
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/running-notebook-jupyterlab-linux.png
  packages/filebrowser-extension/schema/browser.json
Labels: bug, pkg:filebrowser, tag:Testing

#12933 Automated Changelog Entry for 3.4.5 on 3.4.x
  CHANGELOG.md
Labels: documentation

#12934 Automated Changelog Entry Forward Ported from v3.4.5
  CHANGELOG.md
Labels: documentation

#12943 Fix resizing and selection of debugger variable explorer grid
  packages/debugger/src/panels/variables/grid.ts
Labels: bug, pkg:debugger

#12948 Backport PR #12943 on branch 3.4.x (Fix resizing and selection of debugger variable explorer grid)
  packages/debugger/src/panels/variables/grid.ts
Labels: bug, pkg:debugger

#12806 #12717 Add a new section: automation of local dev environments
  docs/source/developer/contributing.rst
Labels: documentation

#12950 Bump lerna to 5.x
  package.json
  yarn.lock
Labels: maintenance

#12957 Update documentation welcome image
  galata/test/documentation/general.test.ts-snapshots/jupyterlab-documentation-linux.png
Labels: maintenance, tag:Testing

#12967 Pin `jupyterlab_widgets==1.1.1` in `docs-screenshots`
  pyproject.toml
Labels: maintenance

#12979 Drop the pin on `jupyterlab_widgets` in the docs dependencies
  pyproject.toml
Labels: maintenance

#12970 Add `(developer)` label to the developer facing commands
  jupyterlab/labextensions.py
Labels: maintenance

#12981 Support subprotocols in kernel restart
  packages/services/src/kernel/default.ts
Labels: enhancement, pkg:services

#9031 Add default shortcuts for moving cells
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-edit-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/opened-menu-edit-jupyterlab-linux.png
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
Labels: enhancement, pkg:notebook, tag:Testing

#12985 Update to TypeScript 4.7 in the migration guide
  docs/source/extension/extension_migration.rst
Labels: documentation

#12990 Force using nbconvert v7 or higher for documentation
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-menu-documentation-linux.png
  pyproject.toml
Labels: documentation

#12984 Fix copy the reference data for final report
  .github/workflows/benchmark.yml
Labels: maintenance

#12968 Add scrolling to `debugger` variable renderer
  packages/debugger/src/panels/variables/mimerenderer.ts
  packages/debugger/style/variables.css
Labels: bug, tag:CSS, pkg:debugger, Design System CSS

#12994 Backport PR #12968 on branch 3.4.x (Add scrolling to `debugger` variable renderer)
  packages/debugger/src/panels/variables/mimerenderer.ts
  packages/debugger/style/variables.css
Labels: bug, tag:CSS, pkg:debugger, Design System CSS

#12987 Add a title to the debugger sidebar widget
  packages/debugger-extension/src/index.ts
Labels: enhancement, pkg:debugger

#13011 Conditional call to waitIsReady in reload
  galata/src/jupyterlabpage.ts
Labels: bug, tag:Testing

#13014 Use `python-version` in the macos workflow
  .github/workflows/macostests.yml
Labels: maintenance

#13010 Remove unneeded cm5 types in examples
  examples/filebrowser/package.json
  examples/notebook/package.json
  yarn.lock
Labels: maintenance, tag:Examples

#13009 Fix customize expected reference
  galata/README.md
  galata/src/benchmarkReporter.ts
Labels: documentation, tag:Testing

#12971 Increase translation coverage
  packages/application/src/shell.ts
  packages/apputils-extension/src/workspacesplugin.ts
  packages/apputils/src/dialog.tsx
  packages/cells/src/widget.ts
  packages/debugger/src/handler.ts
  packages/debugger/src/panels/breakpoints/index.ts
  packages/docmanager-extension/src/index.tsx
  packages/docmanager/src/dialogs.ts
  packages/docmanager/src/widgetmanager.ts
  packages/docregistry/src/context.ts
  packages/extensionmanager/src/companions.tsx
  packages/extensionmanager/src/dialog.tsx
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/listing.ts
  packages/filebrowser/src/opendialog.ts
  packages/notebook/src/actions.tsx
  packages/notebook/src/default-toolbar.tsx
  packages/outputarea/package.json
  packages/outputarea/src/widget.ts
  packages/outputarea/tsconfig.json
  packages/outputarea/tsconfig.test.json
  packages/running/src/index.tsx
  packages/settingeditor/src/raweditor.ts
  packages/translation-extension/src/index.ts
  packages/ui-components/src/icon/widgets/tabbarsvg.ts
Labels: enhancement, pkg:notebook, pkg:filebrowser, pkg:docregistry, pkg:application, pkg:running, pkg:apputils, pkg:cells, pkg:docmanager, pkg:outputarea, pkg:settingeditor, pkg:extensionmanager, pkg:ui-components, pkg:debugger, pkg:translation

#13013 Backport PR #13011 on branch 3.4.x (Conditional call to waitIsReady in reload)
  galata/src/jupyterlabpage.ts
Labels: bug, tag:Testing

#13022 Backport PR #13021 on branch 3.4.x (Fix lumino API documentation links)
  docs/source/extension/extension_dev.rst
  docs/source/extension/extension_points.rst
  docs/source/extension/virtualdom.rst
Labels: documentation, maintenance

#13015 Support stateStorage for API calls
  galata/README.md
  galata/src/contents.ts
  galata/src/fixtures.ts
  galata/src/galata.ts
  galata/src/jupyterlabpage.ts
  galata/test/benchmark/notebook.spec.ts
  galata/test/galata/fixture.spec.ts
  galata/test/jupyterlab/contextmenu.test.ts
  galata/test/jupyterlab/notebook-run-vega.test.ts
  galata/test/jupyterlab/notebook-run.test.ts
  galata/test/jupyterlab/toc.test.ts
  galata/test/jupyterlab/workspace.test.ts
Labels: bug, documentation, tag:Testing

#13027 Backport PR #13015 on branch 3.4.x (Support stateStorage for API calls)
  galata/README.md
  galata/src/contents.ts
  galata/src/fixtures.ts
  galata/src/galata.ts
  galata/src/jupyterlabpage.ts
  galata/test/benchmark/notebook.spec.ts
  galata/test/jupyterlab/contextmenu.test.ts
  galata/test/jupyterlab/notebook-run-vega.test.ts
  galata/test/jupyterlab/notebook-run.test.ts
  galata/test/jupyterlab/toc.test.ts
  galata/test/jupyterlab/workspace.test.ts
  packages/settingeditor-extension/src/index.ts
Labels: bug, tag:Testing

#12953 Prompt for renaming at first manual save
  docs/source/extension/ui_helpers.rst
  packages/apputils/src/dialog.tsx
  packages/apputils/src/inputdialog.ts
  packages/apputils/style/dialog.css
  packages/apputils/test/dialog.spec.tsx
  packages/docmanager-extension/schema/plugin.json
  packages/docmanager-extension/src/index.tsx
  packages/docmanager/src/manager.ts
  packages/docmanager/src/tokens.ts
  packages/docregistry/src/registry.ts
  packages/fileeditor-extension/src/commands.ts
  packages/notebook-extension/src/index.ts
Labels: enhancement, documentation, status:Needs Review, pkg:notebook, pkg:docregistry, pkg:fileeditor, pkg:apputils, pkg:docmanager, tag:CSS, Design System CSS

#12974 update xterm.js dependency
  galata/test/jupyterlab/terminal.test.ts-snapshots/dark-term-light-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/light-term-dark-jupyterlab-linux.png
  packages/terminal/package.json
  yarn.lock
Labels: bug, pkg:terminal, Still Needs Manual Backport, tag:Testing
