Repository jupyterlab/jupyterlab, pull requests merged in 2022-02, with the labels that each got.

#11979 Backport PR #11610 on branch 3.3.x (overrides.json definition takes precedence)
  packages/application-extension/src/index.tsx
  packages/apputils/src/toolbar/factory.ts
  packages/mainmenu-extension/src/index.ts
Labels: bug, pkg:application, pkg:apputils, pkg:mainmenu

#11982 Backport PR #11499 on branch 3.3.x (Update screenshots and text for user interface docs)
  docs/source/images/jupyterlab.png
  docs/source/user/commands.rst
  docs/source/user/export.rst
  docs/source/user/extensions.rst
  docs/source/user/images/exporting_menu.png
  docs/source/user/images/exporting_slide_type.png
  docs/source/user/images/file_create_text_file.png
  docs/source/user/images/file_editor_overview.png
  docs/source/user/images/file_menu_left.png
  docs/source/user/images/file_menu_top.png
  docs/source/user/images/interface_jupyterlab.png
  docs/source/user/images/interface_left.png
  docs/source/user/images/interface_right.png
  docs/source/user/images/interface_tabs.png
  docs/source/user/images/notebook/notebook_ui.png
  docs/source/user/interface.rst
Labels: documentation

#11952 Fix for kernel reconnect
  packages/apputils/src/sessioncontext.tsx
  packages/services/src/kernel/default.ts
Labels: enhancement, status:Needs Review, pkg:services, pkg:apputils

#11973 Adjust z-index of execution progress tooltip
  packages/apputils/style/toolbar.css
Labels: bug, pkg:apputils, tag:CSS, Design System CSS

#11967 Fix the debug modules model
  packages/debugger/src/service.ts
Labels: bug, pkg:debugger

#11968 [Backport to 3.3.x] Fix the debug modules model #11967
  packages/debugger/src/panels/kernelSources/body.ts
  packages/debugger/src/panels/kernelSources/filter.tsx
  packages/debugger/src/service.ts
Labels: bug, pkg:debugger

#11994 Backport PR #11973 on branch master (Adjust z-index of execution progress tooltip)
  packages/ui-components/style/toolbar.css
Labels: bug, pkg:ui-components, tag:CSS, Design System CSS

#11944 Adopt stylelint and apply initial rules
  .gitignore
  .stylelintignore
  .stylelintrc.yaml
  docs/source/_static/css/custom.css
  package.json
  packages/application/style/base.css
  packages/application/style/core.css
  packages/apputils/style/commandpalette.css
  packages/cells/style/inputarea.css
  packages/cells/style/widget.css
  packages/console/style/base.css
  packages/extensionmanager/style/base.css
  packages/filebrowser/style/base.css
  packages/fileeditor/style/base.css
  packages/help-extension/style/base.css
  packages/htmlviewer/style/base.css
  packages/inspector/style/base.css
  packages/notebook/style/base.css
  packages/outputarea/style/base.css
  packages/rendermime/style/base.css
  packages/toc/style/base.css
  packages/ui-components/style/styling.css
  scripts/ci_script.sh
  yarn.lock
Labels: documentation, pkg:notebook, maintenance, pkg:console, pkg:filebrowser, pkg:inspector, pkg:application, pkg:fileeditor, pkg:help, pkg:rendermime, pkg:apputils, pkg:cells, pkg:outputarea, pkg:extensionmanager, pkg:ui-components, pkg:htmlviewer, tag:CSS, pkg:toc, Design System CSS

#11987 Backport PR #11952 on branch 3.3.x (Fix for kernel reconnect)
  packages/apputils/src/sessioncontext.tsx
  packages/services/src/kernel/default.ts
Labels: enhancement, status:Needs Review, pkg:services, pkg:apputils

#11996 Backport PR #11595 on branch 3.2.x (Use `maintainer-tools` base setup action)
  .github/workflows/check-i18n.yml
  .github/workflows/check-release.yml
  .github/workflows/galata.yml
  .github/workflows/linuxjs-flaky-tests.yml
  .github/workflows/linuxjs-tests.yml
  .github/workflows/linuxtests.yml
  .github/workflows/macostests.yml
  .github/workflows/windowstests.yml
Labels: maintenance

#11985 Backport PR #11646 on branch 3.2.x (Drop testing Python 3.6, test on Python 3.10)
  .github/workflows/linuxtests.yml
  scripts/ci_install.sh
  setup.cfg
Labels: maintenance

#11999 Automated Changelog Entry Forward Ported from v3.3.0a3
  CHANGELOG.md
Labels: documentation

#11981 Backport PR #11499 on branch 3.2.x (Update screenshots and text for user interface docs)
  docs/source/images/jupyterlab.png
  docs/source/user/commands.rst
  docs/source/user/export.rst
  docs/source/user/extensions.rst
  docs/source/user/images/exporting_menu.png
  docs/source/user/images/exporting_slide_type.png
  docs/source/user/images/file_create_text_file.png
  docs/source/user/images/file_editor_overview.png
  docs/source/user/images/file_menu_left.png
  docs/source/user/images/file_menu_top.png
  docs/source/user/images/interface_jupyterlab.png
  docs/source/user/images/interface_left.png
  docs/source/user/images/interface_right.png
  docs/source/user/images/interface_tabs.png
  docs/source/user/images/notebook/notebook_ui.png
  docs/source/user/interface.rst
Labels: documentation

#11980 Backport PR #11610 on branch 3.2.x (overrides.json definition takes precedence)
  packages/application-extension/src/index.tsx
  packages/mainmenu-extension/src/index.ts
Labels: bug, pkg:application, pkg:mainmenu

#11975 Backport PR #11949 on branch 3.2.x (Fix autocomplete in console)
  galata/test/jupyterlab/completer.test.ts
  galata/test/jupyterlab/completer.test.ts-snapshots/completer-console-filter-jupyterlab-linux.png
  galata/test/jupyterlab/completer.test.ts-snapshots/completer-console-jupyterlab-linux.png
  packages/shared-models/src/ymodels.ts
Labels: bug, tag:Testing, pkg:shared-models

#12006 Fix a bumpversion example in release markdown
  RELEASE.md
Labels: documentation

#12007 Automated Changelog Entry for 3.2.9 on 3.2.x
  CHANGELOG.md
Labels: documentation

#11976 Fix misaligned icon and checkbox of setting editor
  packages/settingeditor/style/base.css
Labels: bug, pkg:settingeditor, tag:CSS, Design System CSS

#11795 Refactor completer and completer-extension package
  docs/source/extension/extension_migration.rst
  docs/source/extension/extension_points.rst
  examples/cell/src/index.ts
  examples/notebook/src/index.ts
  galata/test/jupyterlab/completer.test.ts
  galata/test/jupyterlab/completer.test.ts-snapshots/completer-jupyterlab-linux.png
  galata/test/jupyterlab/debugger.test.ts
  packages/apputils-extension/src/palette.ts
  packages/completer-extension/package.json
  packages/completer-extension/schema/tracker.json
  packages/completer-extension/src/index.ts
  packages/completer-extension/style/index.css
  packages/completer-extension/style/index.js
  packages/completer-extension/tsconfig.json
  packages/completer/package.json
  packages/completer/src/connector.ts
  packages/completer/src/connectorproxy.ts
  packages/completer/src/default/contextprovider.ts
  packages/completer/src/default/kernelprovider.ts
  packages/completer/src/dummyconnector.ts
  packages/completer/src/handler.ts
  packages/completer/src/index.ts
  packages/completer/src/kernelconnector.ts
  packages/completer/src/manager.ts
  packages/completer/src/model.ts
  packages/completer/src/tokens.ts
  packages/completer/src/widget.ts
  packages/completer/style/index.css
  packages/completer/style/index.js
  packages/completer/test/handler.spec.ts
  packages/completer/test/manager.spec.ts
  packages/completer/tsconfig.json
  packages/completer/tsconfig.test.json
  packages/notebook/src/notebooktools.ts
  packages/tooltip/src/tokens.ts
  yarn.lock
Labels: documentation, pkg:notebook, pkg:completer, tag:Examples, pkg:tooltip, pkg:apputils, api-change, tag:Testing, tag:CSS, Design System CSS

#12004 Fix contrast in dark theme of settings editor
  packages/settingeditor/style/base.css
  packages/ui-components/style/icons/toolbar/launch.svg
Labels: enhancement, pkg:settingeditor, pkg:ui-components, tag:CSS, Design System CSS

#12008 Automated Changelog Entry Forward Ported from v3.2.9
  CHANGELOG.md
Labels: documentation

#12011 Backport PR #12004 on branch 3.3.x (Fix contrast in dark theme of settings editor)
  packages/settingeditor/style/base.css
  packages/ui-components/style/icons/toolbar/launch.svg
Labels: enhancement, pkg:settingeditor, pkg:ui-components, tag:CSS, Design System CSS

#12009 Backport PR #11976 on branch 3.3.x (Fix misaligned icon and checkbox of setting editor)
  packages/settingeditor/style/base.css
Labels: bug, pkg:settingeditor, tag:CSS, Design System CSS

#12002 docs: fix shell command with unquoted '>'
  docs/source/user/debugger.rst
Labels: documentation

#12014 Backport PR #12002 on branch master (docs: fix shell command with unquoted '>')
  docs/source/user/debugger.rst
Labels: documentation

#11978 Add legacy editor to same palette category
  packages/settingeditor-extension/src/index.ts
Labels: bug

#12033 Mehmet employer update
  README.md
Labels: documentation, maintenance

#12005 show pause on exception button when not available and change caption …
  packages/debugger-extension/src/index.ts
Labels: enhancement, pkg:debugger

#12037 Automated Changelog Entry Forward Ported from v3.3.0b0
  CHANGELOG.md
Labels: documentation

#12035 Update snapshot following settings editor new wording
  galata/test/documentation/internationalization.test.ts-snapshots/language-settings-documentation-linux.png
Labels: bug, tag:Testing

#11993 [squash] Apply most auto-fixable stylelint rules
  .stylelintrc.yaml
  buildutils/src/ensure-package.ts
  docs/source/_static/css/custom.css
  packages/application/style/core.css
  packages/application/style/menus.css
  packages/application/style/scrollbar.css
  packages/application/style/sidepanel.css
  packages/application/style/tabs.css
  packages/apputils-extension/style/splash.css
  packages/apputils/style/commandpalette.css
  packages/apputils/style/dialog.css
  packages/apputils/style/materialcolors.css
  packages/cells/style/collapser.css
  packages/cells/style/headerfooter.css
  packages/cells/style/inputarea.css
  packages/cells/style/placeholder.css
  packages/cells/style/widget.css
  packages/celltags/style/base.css
  packages/codeeditor/style/base.css
  packages/codeeditor/style/linecol.css
  packages/codemirror/style/base.css
  packages/completer/style/base.css
  packages/console/style/base.css
  packages/csvviewer/style/base.css
  packages/debugger/style/base.css
  packages/debugger/style/kernelSources.css
  packages/debugger/style/sidebar.css
  packages/debugger/style/variables.css
  packages/documentsearch/style/base.css
  packages/extensionmanager/style/base.css
  packages/filebrowser/style/base.css
  packages/help-extension/style/base.css
  packages/htmlviewer/style/base.css
  packages/json-extension/style/base.css
  packages/launcher/style/base.css
  packages/logconsole-extension/style/base.css
  packages/notebook/style/base.css
  packages/notebook/style/toolbar.css
  packages/outputarea/style/base.css
  packages/pdf-extension/style/base.css
  packages/rendermime/style/base.css
  packages/running/style/base.css
  packages/settingeditor/style/base.css
  packages/statusbar/style/base.css
  packages/theme-dark-extension/style/variables.css
  packages/theme-light-extension/style/urls.css
  packages/theme-light-extension/style/variables.css
  packages/toc/style/base.css
  packages/ui-components/style/base.css
  packages/ui-components/style/collapse.css
  packages/ui-components/style/deprecated.css
  packages/ui-components/style/icons.css
  packages/ui-components/style/iconsalt.css
  packages/ui-components/style/iconshover.css
  packages/ui-components/style/iframe.css
  packages/ui-components/style/sidepanel.css
  packages/ui-components/style/spinner.css
  packages/ui-components/style/styling.css
  packages/ui-components/style/switch.css
  packages/ui-components/style/toolbar.css
Labels: documentation, pkg:notebook, pkg:codeeditor, maintenance, pkg:console, pkg:filebrowser, pkg:completer, pkg:launcher, pkg:application, pkg:running, pkg:help, pkg:csvviewer, pkg:rendermime, pkg:apputils, pkg:cells, pkg:codemirror, pkg:themes, pkg:outputarea, pkg:settingeditor, pkg:pdf, pkg:json, pkg:extensionmanager, pkg:statusbar, pkg:ui-components, pkg:htmlviewer, pkg:documentsearch, tag:CSS, pkg:logconsole, pkg:celltags, pkg:toc, pkg:debugger, Design System CSS

#12044 Update to `react-json-tree@^0.16.1`
  packages/json-extension/package.json
  packages/json-extension/src/component.tsx
  yarn.lock
Labels: maintenance, pkg:json

#12048 Handle shutdown error
  packages/apputils/src/sessioncontext.tsx
Labels: bug, pkg:apputils

#12051 Backport PR #12048 on branch 3.3.x (Handle shutdown error)
  packages/apputils/src/sessioncontext.tsx
Labels: bug, pkg:apputils

#12045 Polish settings editor
  packages/codemirror-extension/schema/commands.json
  packages/console-extension/schema/tracker.json
  packages/notebook-extension/schema/tracker.json
  packages/settingeditor/src/SettingsFormEditor.tsx
  packages/settingeditor/style/base.css
Labels: enhancement, pkg:notebook, pkg:console, pkg:codemirror, pkg:settingeditor, tag:CSS, Design System CSS

#12046 Parse URL parameters in user model
  packages/user/package.json
  packages/user/src/model.ts
Labels: maintenance

#12063 Fix anchors and myst configuration
  CHANGELOG.md
  docs/source/conf.py
Labels: documentation

#12030 Debounce kernel sources filter
  packages/debugger/package.json
  packages/debugger/src/panels/kernelSources/filter.tsx
  packages/debugger/src/panels/kernelSources/model.ts
  packages/debugger/src/tokens.ts
Labels: enhancement, pkg:debugger

#12064 Settings UI gives an unreadable JSON dump
  packages/settingeditor/src/SettingsFormEditor.tsx
Labels: enhancement, pkg:settingeditor

#12067 Backport PR #12063 on branch 3.3.x (Fix anchors and myst configuration)
  CHANGELOG.md
  docs/source/conf.py
Labels: documentation

#12068 Backport PR #12030 on branch 3.3.x (Debounce kernel sources filter)
  packages/debugger/package.json
  packages/debugger/src/panels/kernelSources/filter.tsx
  packages/debugger/src/panels/kernelSources/model.ts
  packages/debugger/src/tokens.ts
Labels: enhancement, pkg:debugger

#12040 Update Playwright snapshots from PR comments
  .github/workflows/galata-update.yml
  .github/workflows/galata.yml
  docs/source/developer/contributing.rst
  galata/package.json
Labels: documentation, status:Needs Review, maintenance, tag:Testing

#11963 Support dynamic toolbar definition
  packages/apputils/src/toolbar/factory.ts
  packages/apputils/test/toolbar.spec.ts
  packages/csvviewer-extension/package.json
  packages/csvviewer-extension/src/index.ts
  packages/csvviewer-extension/tsconfig.json
  packages/docregistry/src/default.ts
  packages/docregistry/src/registry.ts
  packages/fileeditor-extension/package.json
  packages/fileeditor-extension/src/index.ts
  packages/fileeditor-extension/tsconfig.json
  packages/htmlviewer-extension/package.json
  packages/htmlviewer-extension/src/index.tsx
  packages/htmlviewer-extension/tsconfig.json
  packages/notebook-extension/src/index.ts
  packages/rendermime-interfaces/src/index.ts
Labels: enhancement, status:Needs Review, pkg:notebook, pkg:docregistry, pkg:fileeditor, pkg:csvviewer, pkg:rendermime, pkg:apputils, pkg:htmlviewer

#11969 Update completer part 2
  examples/cell/src/index.ts
  packages/completer-extension/package.json
  packages/completer-extension/schema/tracker.json
  packages/completer-extension/src/index.ts
  packages/completer-extension/src/renderer.tsx
  packages/completer-extension/style/index.css
  packages/completer-extension/style/index.js
  packages/completer-extension/tsconfig.json
  packages/completer/package.json
  packages/completer/src/connectorproxy.ts
  packages/completer/src/default/contextprovider.ts
  packages/completer/src/default/kernelprovider.ts
  packages/completer/src/handler.ts
  packages/completer/src/manager.ts
  packages/completer/src/model.ts
  packages/completer/src/tokens.ts
  packages/completer/src/widget.ts
  packages/completer/style/base.css
  packages/completer/style/index.css
  packages/completer/style/index.js
  packages/completer/test/connectorproxy.spec.ts
  packages/completer/test/handler.spec.ts
  packages/completer/test/manager.spec.ts
  packages/completer/test/model.spec.ts
  packages/completer/test/widget.spec.ts
  packages/completer/tsconfig.json
  packages/completer/tsconfig.test.json
  packages/console-extension/package.json
  packages/console-extension/schema/completer.json
  packages/console-extension/src/index.ts
  packages/console-extension/style/index.css
  packages/console-extension/style/index.js
  packages/console-extension/tsconfig.json
  packages/fileeditor-extension/package.json
  packages/fileeditor-extension/schema/completer.json
  packages/fileeditor-extension/src/commands.ts
  packages/fileeditor-extension/src/index.ts
  packages/fileeditor-extension/style/index.css
  packages/fileeditor-extension/style/index.js
  packages/fileeditor-extension/tsconfig.json
  packages/notebook-extension/package.json
  packages/notebook-extension/schema/completer.json
  packages/notebook-extension/src/index.ts
  packages/notebook-extension/style/index.css
  packages/notebook-extension/style/index.js
  packages/notebook-extension/tsconfig.json
Labels: enhancement, pkg:notebook, pkg:console, pkg:completer, tag:Examples, pkg:fileeditor, tag:CSS, Design System CSS

#12085 Automated Changelog Entry for 3.3.0rc0 on 3.3.x
  CHANGELOG.md
Labels: documentation

#12086 Automated Changelog Entry Forward Ported from v3.3.0rc0
  CHANGELOG.md
Labels: documentation

#12083 update status to unkown when kernel is shutdown from running kernels tab
  packages/apputils/src/sessioncontext.tsx
  packages/apputils/test/sessioncontext.spec.ts
Labels: bug, pkg:apputils

#12088 Pull request must target master
  docs/source/developer/contributing.rst
Labels: documentation

#12080 Log error on open document widget.
  packages/docmanager/src/manager.ts
Labels: bug, pkg:docmanager

#12089 Backport PR #12083 on branch 3.3.x (update status to unkown when kernel is shutdown from running kernels tab)
  packages/apputils/src/sessioncontext.tsx
  packages/apputils/test/sessioncontext.spec.ts
Labels: bug, pkg:apputils

#12090 Backport PR #12080 on branch 3.3.x (Log error on open document widget.)
  packages/docmanager/src/manager.ts
Labels: bug, pkg:docmanager

#12043 Stabilize documentation CI tests
  .eslintrc.js
  .github/workflows/benchmark.yml
  .github/workflows/galata.yml
  galata/jupyter_server_test_config.py
  galata/playwright-documentation.config.js
  galata/playwright.config.js
  galata/src/galata.ts
  galata/src/helpers/debuggerpanel.ts
  galata/src/jupyterlabpage.ts
  galata/test/documentation/debugger.test.ts
  galata/test/documentation/export_notebook.test.ts
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-menu-documentation-linux.png
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-slide-type-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts
  galata/test/documentation/general.test.ts
  galata/test/documentation/general.test.ts-snapshots/notebook-ui-documentation-linux.png
  galata/test/documentation/internationalization.test.ts
  galata/test/documentation/internationalization.test.ts-snapshots/language-settings-documentation-linux.png
Labels: maintenance, tag:Testing

#12065 Backport PR #12046 on branch 3.3.x (Parse URL parameters in user model)
  packages/docprovider/src/yprovider.ts
Labels: maintenance, pkg:docprovider

#12096 Remove toolbar factory setting trick in the tests
  packages/apputils/test/toolbar.spec.ts
Labels: bug, pkg:apputils

#12101 Backport PR #12096 on branch 3.3.x (Remove toolbar factory setting trick in the tests)
  packages/apputils/test/toolbar.spec.ts
Labels: bug, pkg:apputils

#12107 Fix error rendering in Advanced Settings Editor
  packages/settingeditor/src/inspector.ts
Labels: bug, pkg:settingeditor

#12105 Backport PR #11451 on branch 3.3.x (Fix json schema for kernel status settings)
  packages/notebook-extension/schema/tracker.json
Labels: bug, pkg:notebook

#11894 Drop `nbclassic`, depend on `notebook_shim`
  docs/source/getting_started/starting.rst
  docs/source/user/jupyterhub.rst
  examples/notebook/main.py
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-help-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/opened-menu-help-jupyterlab-linux.png
  jupyterlab/browser_check.py
  jupyterlab/labapp.py
  packages/extensionmanager-extension/examples/listings/main.py
  packages/help-extension/schema/launch-classic.json
  packages/help-extension/src/index.tsx
  scripts/ci_install.ps1
  scripts/ci_install.sh
  scripts/ci_script.sh
  setup.cfg
Labels: documentation, status:Needs Discussion, maintenance, tag:Examples, pkg:help, pkg:extensionmanager, api-change, tag:Testing

#12108 Backport PR #12107 on branch 3.3.x (Fix error rendering in Advanced Settings Editor)
  packages/settingeditor/src/inspector.ts
Labels: bug, pkg:settingeditor

#12110 Improve toggled button styles in debugger.
  packages/debugger/style/icons.css
Labels: bug, tag:CSS, pkg:debugger, Design System CSS

#12118 Automated Changelog Entry for 4.0.0a20 on master
  CHANGELOG.md
Labels: documentation

#12112 Opening keyboard shortcuts UI result in "destruction" of shortcut settings
  packages/settingregistry/src/settingregistry.ts
Labels: bug, pkg:settingregistry

#12097 Document search debounce time via setting
  docs/source/extension/extension_migration.rst
  examples/notebook/src/commands.ts
  packages/documentsearch-extension/package.json
  packages/documentsearch-extension/schema/plugin.json
  packages/documentsearch-extension/src/index.ts
  packages/documentsearch-extension/tsconfig.json
  packages/documentsearch/src/searchinstance.ts
  packages/documentsearch/src/searchoverlay.tsx
Labels: enhancement, documentation, tag:Examples, Still Needs Manual Backport, pkg:documentsearch

#12119 Backport PR #12112 on branch 3.3.x (Opening keyboard shortcuts UI result in "destruction" of shortcut settings)
  packages/settingregistry/src/settingregistry.ts
Labels: bug, pkg:settingregistry

#12120 Backport PR #12110 on branch 3.3.x (Improve toggled button styles in debugger.)
  packages/debugger/style/icons.css
Labels: enhancement, tag:CSS, pkg:debugger, Design System CSS

#12121 Backport PR #12097 on branch 3.3.x (Document search debounce time via setting)
  packages/documentsearch-extension/package.json
  packages/documentsearch-extension/schema/plugin.json
  packages/documentsearch-extension/src/index.ts
  packages/documentsearch-extension/tsconfig.json
  packages/documentsearch/src/searchinstance.ts
  packages/documentsearch/src/searchoverlay.tsx
Labels: enhancement, pkg:documentsearch
