Repository jupyterlab/jupyterlab, pull requests merged in 2023-03, with the labels that each got.

#14095 Fix:Issue #13965 resolved. <code> block in the UI must not show now when there is an error installing any extension.
  packages/extensionmanager/src/dialog.tsx
Labels: bug, pkg:extensionmanager

#14121 Backport PR #13941 on branch 3.6.x (Use Python 3.11 for js-debugger tests)
  .github/workflows/linuxjs-tests.yml
Labels: maintenance

#14026 Using metadataform for default notebooktools
  .github/labeler.yml
  buildutils/src/ensure-repo.ts
  dev_mode/package.json
  docs/source/extension/extension_migration.rst
  examples/app/index.js
  examples/app/package.json
  examples/federated/core_package/package.json
  galata/test/documentation/export_notebook.test.ts
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-slide-type-documentation-linux.png
  galata/test/documentation/general.test.ts
  galata/test/documentation/general.test.ts-snapshots/interface-right-common-documentation-linux.png
  galata/test/jupyterlab/metadataform.test.ts-snapshots/metadata-condition-met-jupyterlab-linux.png
  galata/test/jupyterlab/metadataform.test.ts-snapshots/metadata-condition-not-met-jupyterlab-linux.png
  galata/test/jupyterlab/metadataform.test.ts-snapshots/metadata-correct-cell-type-jupyterlab-linux.png
  galata/test/jupyterlab/metadataform.test.ts-snapshots/metadata-level-jupyterlab-linux.png
  galata/test/jupyterlab/metadataform.test.ts-snapshots/metadata-required-filled-jupyterlab-linux.png
  galata/test/jupyterlab/metadataform.test.ts-snapshots/metadata-required-missing-jupyterlab-linux.png
  galata/test/jupyterlab/metadataform.test.ts-snapshots/metadata-ui-schema-jupyterlab-linux.png
  galata/test/jupyterlab/metadataform.test.ts-snapshots/metadata-wrong-cell-type-jupyterlab-linux.png
  packages/celltags-extension/README.md
  packages/celltags-extension/package.json
  packages/celltags-extension/schema/plugin.json
  packages/celltags-extension/src/celltag.tsx
  packages/celltags-extension/src/index.ts
  packages/celltags-extension/style/base.css
  packages/celltags-extension/style/index.css
  packages/celltags-extension/style/index.js
  packages/celltags-extension/tsconfig.json
  packages/celltags/README.md
  packages/celltags/package.json
  packages/celltags/src/addwidget.ts
  packages/celltags/src/index.ts
  packages/celltags/src/tool.ts
  packages/celltags/src/widget.ts
  packages/celltags/style/index.css
  packages/celltags/style/index.js
  packages/celltags/tsconfig.json
  packages/metadataform/src/metadataformProvider.ts
  packages/metapackage/package.json
  packages/metapackage/tsconfig.json
  packages/metapackage/tsconfig.test.json
  packages/notebook-extension/package.json
  packages/notebook-extension/schema/tools.json
  packages/notebook-extension/src/index.ts
  packages/notebook-extension/src/tool-widgets/activeCellToolWidget.tsx
  packages/notebook-extension/src/tool-widgets/metadataEditorFields.tsx
  packages/notebook-extension/style/index.css
  packages/notebook-extension/style/index.js
  packages/notebook-extension/tsconfig.json
  packages/notebook/package.json
  packages/notebook/src/notebooktools.ts
  packages/notebook/src/tokens.ts
  packages/notebook/style/base.css
  packages/notebook/test/notebooktools.spec.ts
  packages/ui-components/style/rjsfTemplates.css
  tsconfigdoc.json
  typedoc.js
Labels: enhancement, documentation, pkg:notebook, tag:Examples, api-change, tag:Testing, pkg:ui-components, tag:CSS, pkg:celltags, Design System CSS

#14024 Adds placeholder when TOC is empty
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-table-of-contents-jupyterlab-linux.png
  packages/toc/src/panel.ts
  packages/toc/src/tokens.ts
  packages/toc/src/treeview.tsx
  packages/toc/style/base.css
Labels: bug, tag:Testing, tag:CSS, pkg:toc, Design System CSS

#14122 Backport PR #14045 on branch 3.6.x (Increases timeout )
  buildutils/src/local-repository.ts
Labels: maintenance

#14123 Use upstream `Stream` instead of downstream stream
  packages/services/src/event/index.ts
Labels: maintenance, pkg:services

#14111 Backport PR #13866 on branch 3.6.x (Use local paths instead of driveName:path in the shared model)
  packages/docregistry/src/context.ts
Labels: bug, pkg:docregistry

#14077 Fix code/content/ui font-size change
  galata/test/jupyterlab/settings.test.ts
  packages/apputils/src/thememanager.ts
Labels: bug, pkg:apputils, tag:Testing

#13964 Hides cell toolbar when cell is collapsed
  galata/test/benchmark/notebook.spec.ts-snapshots/large-md-notebook-ipynb-benchmark-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/delete-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/do-not-highlight-not-latex-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/highlight-previous-element-jupyterlab-linux.png
  packages/cell-toolbar/package.json
  packages/cell-toolbar/src/celltoolbartracker.ts
  packages/notebook/src/toc.ts
Labels: bug, pkg:notebook, tag:Testing, pkg:cell-toolbar

#14120 Fixes contextual help attachment logic
  packages/inspector-extension/src/index.ts
Labels: bug, pkg:inspector

#14144 Switch to monthly dependabot update
  .github/dependabot.yml
Labels: maintenance

#13861 Make changes to the tooltips of the toolbar actions.
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/general.test.ts-snapshots/file-formats-html-display-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-jupyterlab-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-right-common-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-tabs-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-tabs-menu-documentation-linux.png
  packages/notebook-extension/src/index.ts
  packages/notebook/src/widget.ts
Labels: enhancement, pkg:notebook

#14138 Backport PR #14077 on branch 3.6.x (Fix code/content/ui font-size change)
  galata/test/jupyterlab/settings.test.ts
  packages/apputils/src/thememanager.ts
Labels: bug, pkg:apputils, tag:Testing

#14140 bug: Add fallback value for undefined className prop in GroupItem component
  packages/statusbar/src/components/group.tsx
Labels: bug, pkg:statusbar

#14149 Clean up events service types in preparation for release
  packages/services/src/event/index.ts
Labels: maintenance, pkg:services

#14156 Fix create-package
  buildutils/src/create-package.ts
  buildutils/src/ensure-repo.ts
  buildutils/tsconfig.json
Labels: bug

#13898 Introduce disabled states for the cell move up/move down icons
  galata/test/benchmark/notebook.spec.ts-snapshots/large-code-notebook-ipynb-benchmark-linux.png
  galata/test/documentation/debugger.test.ts-snapshots/debugger-run-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-altair-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-tabs-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/notebook-heading-anchor-link-documentation-linux.png
  galata/test/galata/notebook.spec.ts-snapshots/code-cell-galata-linux.png
  galata/test/galata/notebook.spec.ts-snapshots/example-run-galata-linux.png
  galata/test/galata/notebook.spec.ts-snapshots/markdown-cell-galata-linux.png
  galata/test/galata/notebook.spec.ts-snapshots/raw-cell-galata-linux.png
  galata/test/galata/notebook.spec.ts-snapshots/run-cells-galata-linux.png
  galata/test/jupyterlab/collapsible-headings.test.ts-snapshots/add-header-below-02-jupyterlab-linux.png
  galata/test/jupyterlab/collapsible-headings.test.ts-snapshots/collapse-previous-headers-jupyterlab-linux.png
  galata/test/jupyterlab/collapsible-headings.test.ts-snapshots/no-showHCB-collapse-heading-jupyterlab-linux.png
  galata/test/jupyterlab/collapsible-headings.test.ts-snapshots/no-showHCB-expand-heading-via-collapser-jupyterlab-linux.png
  galata/test/jupyterlab/collapsible-headings.test.ts-snapshots/no-showHCB-heading-selected-jupyterlab-linux.png
  galata/test/jupyterlab/collapsible-headings.test.ts-snapshots/reexpand-headers-03a-jupyterlab-linux.png
  galata/test/jupyterlab/collapsible-headings.test.ts-snapshots/showHCB-collapse-heading-jupyterlab-linux.png
  galata/test/jupyterlab/collapsible-headings.test.ts-snapshots/showHCB-expand-heading-via-collapser-jupyterlab-linux.png
  galata/test/jupyterlab/collapsible-headings.test.ts-snapshots/showHCB-heading-selected-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/dark-theme-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/opened-menu-edit-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/run-cells-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/deselect-all-cells-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/execute-again-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/merge-cells-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/move-cell-up-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/paste-replace-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/reedit-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/run-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/select-all-cells-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/split-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/do-not-highlight-standalone-dollar-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/highlight-latex-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run-vega.test.ts-snapshots/run-cells-dark-vega-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run-vega.test.ts-snapshots/run-cells-vega-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run.test.ts-snapshots/notebook-panel-0-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-on-deleted-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-on-new-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-typing-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-toolbar.test.ts-snapshots/change-to-markdown-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-toolbar.test.ts-snapshots/cut-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-toolbar.test.ts-snapshots/delete-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-toolbar.test.ts-snapshots/paste-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-toolbar.test.ts-snapshots/run-cell-jupyterlab-linux.png
  galata/test/jupyterlab/output-scrolling.test.ts-snapshots/prompt-overlay-hover-scroll-jupyterlab-linux.png
  galata/test/jupyterlab/outputarea-stdin.test.ts-snapshots/stdin-history-search-jupyterlab-linux.png
  packages/notebook-extension/src/index.ts
  packages/notebook/src/widget.ts
Labels: enhancement, pkg:notebook, tag:Testing

#14063 Fix non-document wide undo stack
  binder/environment.yml
  dev_mode/package.json
  examples/cell/package.json
  packages/cell-toolbar/package.json
  packages/cells/package.json
  packages/cells/src/widget.ts
  packages/codeeditor/package.json
  packages/codemirror-extension/package.json
  packages/codemirror-extension/src/services.tsx
  packages/codemirror/package.json
  packages/codemirror/src/extensions/ybinding.ts
  packages/codemirror/test/editor.spec.ts
  packages/completer/package.json
  packages/console/package.json
  packages/console/test/history.spec.ts
  packages/console/test/utils.ts
  packages/debugger/package.json
  packages/debugger/test/debugger.spec.ts
  packages/docregistry/package.json
  packages/fileeditor/test/searchprovider.spec.ts
  packages/metapackage/test/completer/handler.spec.ts
  packages/metapackage/test/completer/manager.spec.ts
  packages/metapackage/test/completer/reconciliator.spec.ts
  packages/metapackage/test/completer/widget.spec.ts
  packages/notebook-extension/package.json
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/package.json
  packages/notebook/src/actions.tsx
  packages/notebook/src/model.ts
  packages/notebook/src/modelfactory.ts
  packages/notebook/src/testutils.ts
  packages/notebook/src/widget.ts
  packages/notebook/test/actions.spec.ts
  packages/notebook/test/model.spec.ts
  packages/services/package.json
  yarn.lock
Labels: bug, status:Needs Discussion, pkg:notebook, pkg:codeeditor, pkg:console, pkg:completer, pkg:docregistry, tag:Examples, pkg:fileeditor, pkg:services, pkg:cells, pkg:codemirror, pkg:debugger, pkg:cell-toolbar

#14090 Rework search in selection in notebook
  galata/src/galata.ts
  galata/test/documentation/general.test.ts-snapshots/file-editor-overview-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-html-display-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-right-common-documentation-linux.png
  galata/test/jupyterlab/collapsible-headings.test.ts-snapshots/add-header-above-01-jupyterlab-linux.png
  galata/test/jupyterlab/collapsible-headings.test.ts-snapshots/add-header-above-02-jupyterlab-linux.png
  galata/test/jupyterlab/collapsible-headings.test.ts-snapshots/add-header-above-03-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/split-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/do-not-highlight-not-latex-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/do-not-highlight-standalone-dollar-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/highlight-latex-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-replace.test.ts
  galata/test/jupyterlab/notebook-replace.test.ts-snapshots/replace-all-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-replace.test.ts-snapshots/replace-in-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-replace.test.ts-snapshots/replace-in-markdown-rendered-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/highlight-markdown-switch-state-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/highlight-next-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/highlight-next-in-editor-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/highlight-previous-element-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/highlight-visible-under-selection-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/multi-line-search-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/regexp-parsing-failure-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-in-selected-cells-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-in-selected-text-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-on-deleted-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-on-new-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-within-outputs-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-toolbar.test.ts-snapshots/run-cell-jupyterlab-linux.png
  galata/test/jupyterlab/texteditor.test.ts-snapshots/go-to-line-editor-jupyterlab-linux.png
  galata/test/jupyterlab/texteditor.test.ts-snapshots/text-editor-jupyterlab-linux.png
  galata/test/jupyterlab/texteditor.test.ts-snapshots/text-editor-rulers-jupyterlab-linux.png
  packages/cells/src/searchprovider.ts
  packages/codemirror/src/extension.ts
  packages/codemirror/src/searchprovider.ts
  packages/codemirror/style/base.css
  packages/documentsearch/package.json
  packages/documentsearch/src/searchmodel.ts
  packages/documentsearch/src/searchprovider.ts
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
  packages/documentsearch/style/base.css
  packages/documentsearch/style/index.css
  packages/documentsearch/style/index.js
  packages/documentsearch/tsconfig.json
  packages/documentsearch/tsconfig.test.json
  packages/fileeditor/src/searchprovider.ts
  packages/fileeditor/test/searchprovider.spec.ts
  packages/notebook/src/searchprovider.ts
  packages/notebook/test/searchprovider.spec.ts
  packages/ui-components/src/icon/iconimports.ts
  packages/ui-components/style/deprecated.css
  packages/ui-components/style/icons.css
  packages/ui-components/style/icons/search/filter-dot.svg
  packages/ui-components/style/icons/search/filter.svg
Labels: enhancement, pkg:notebook, pkg:fileeditor, pkg:cells, pkg:codemirror, tag:Testing, pkg:ui-components, pkg:documentsearch, tag:CSS, Design System CSS

#14069 Property inspector styling fixes
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-slide-type-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-right-common-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-right-documentation-linux.png
  galata/test/jupyterlab/metadataform.test.ts
  galata/test/jupyterlab/metadataform.test.ts-snapshots/metadata-collapsed-form-jupyterlab-linux.png
  galata/test/jupyterlab/metadataform.test.ts-snapshots/metadata-condition-met-jupyterlab-linux.png
  galata/test/jupyterlab/metadataform.test.ts-snapshots/metadata-condition-not-met-jupyterlab-linux.png
  galata/test/jupyterlab/metadataform.test.ts-snapshots/metadata-correct-cell-type-jupyterlab-linux.png
  galata/test/jupyterlab/metadataform.test.ts-snapshots/metadata-level-jupyterlab-linux.png
  galata/test/jupyterlab/metadataform.test.ts-snapshots/metadata-required-filled-jupyterlab-linux.png
  galata/test/jupyterlab/metadataform.test.ts-snapshots/metadata-required-missing-jupyterlab-linux.png
  galata/test/jupyterlab/metadataform.test.ts-snapshots/metadata-ui-schema-jupyterlab-linux.png
  galata/test/jupyterlab/metadataform.test.ts-snapshots/metadata-wrong-cell-type-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/dark-term-inherit-jupyterlab-linux.png
  packages/ui-components/src/components/collapser.ts
  packages/ui-components/style/collapse.css
Labels: bug, tag:Testing, pkg:ui-components, tag:CSS, Design System CSS

#14160 Remove deprecated code
  docs/source/extension/extension_migration.rst
  packages/completer/src/handler.ts
  packages/console/src/panel.ts
  packages/csvviewer/src/toolbar.ts
  packages/csvviewer/test/toolbar.spec.ts
  packages/mainmenu-extension/src/index.ts
  packages/mainmenu/src/index.ts
  packages/metapackage/test/rendermime/registry.spec.ts
  packages/notebook/src/default-toolbar.tsx
  packages/notebook/src/widgetfactory.ts
  packages/notebook/test/widgetfactory.spec.ts
  packages/rendermime/src/registry.ts
  packages/ui-components/src/components/menu.ts
  packages/ui-components/src/components/windowedlist.ts
  packages/ui-components/src/style/icon.ts
Labels: documentation, pkg:notebook, maintenance, pkg:console, pkg:completer, pkg:csvviewer, pkg:rendermime, pkg:mainmenu, api-change, pkg:ui-components

#14178 Decodes URI before adding it to the tab title
  packages/apputils-extension/src/index.ts
Labels: bug, pkg:apputils

#14162 Backport PR #14063 on branch 3.6.x (Fix non-document wide undo stack)
  dev_mode/package.json
  packages/cells/package.json
  packages/cells/src/model.ts
  packages/codeeditor/package.json
  packages/codemirror/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  packages/docregistry/package.json
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/package.json
  packages/notebook/src/actions.tsx
  packages/notebook/src/model.ts
  packages/notebook/src/modelfactory.ts
  packages/notebook/src/widget.ts
  packages/notebook/test/actions.spec.ts
  packages/notebook/test/model.spec.ts
  setup.cfg
  yarn.lock
Labels: bug, pkg:notebook, pkg:codeeditor, pkg:docregistry, pkg:cells, pkg:codemirror, pkg:docprovider

#14176 Add the releaser workflows to the repo
  .github/workflows/prep-release.yml
  .github/workflows/publish-release.yml
  RELEASE.md
Labels: documentation

#14181 Remove shebang from non-executable script node-version-check.js
  jupyterlab/node-version-check.js
Labels: maintenance

#14171 Keep extension manager panel sizes when pagination changes
  packages/extensionmanager/src/widget.tsx
Labels: bug, pkg:extensionmanager

#14183 Make codemirror state and view packages singleton
  dev_mode/package.json
Labels: bug

#14068 Option to disable the autolink feature
  docs/source/extension/extension_migration.rst
  packages/apputils-extension/package.json
  packages/apputils-extension/schema/sanitizer.json
  packages/apputils-extension/src/index.ts
  packages/apputils-extension/tsconfig.json
  packages/apputils/src/sanitizer.ts
  packages/apputils/src/tokens.ts
  packages/completer/src/tokens.ts
  packages/completer/src/widget.ts
  packages/console-extension/src/index.ts
  packages/fileeditor-extension/package.json
  packages/fileeditor-extension/src/index.ts
  packages/fileeditor-extension/tsconfig.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/toc.ts
  packages/rendermime-extension/src/index.ts
  packages/rendermime-interfaces/src/index.ts
  packages/rendermime/src/registry.ts
  packages/rendermime/src/renderers.ts
  packages/rendermime/src/tokens.ts
  packages/rendermime/test/factories.spec.ts
Labels: enhancement, documentation, pkg:notebook, pkg:console, pkg:completer, pkg:fileeditor, pkg:rendermime, pkg:apputils

#14185 Add CellList as exported type
  packages/notebook/src/index.ts
Labels: enhancement, pkg:notebook

#14172 Do not update running list when hidden
  packages/running/package.json
  packages/running/src/index.tsx
  packages/running/style/index.css
  packages/running/style/index.js
Labels: bug, pkg:running, tag:Performance, tag:CSS, Design System CSS

#14189 Update `webpack` dependencies
  builder/package.json
  dev_mode/package.json
  examples/app/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/federated/core_package/package.json
  examples/filebrowser/package.json
  examples/notebook/package.json
  examples/terminal/package.json
  packages/nbconvert-css/package.json
  packages/services/examples/browser/package.json
  packages/services/examples/typescript-browser-with-output/package.json
  packages/services/package.json
  packages/terminal-extension/package.json
  packages/ui-components/examples/simple-windowed-list/package.json
  packages/vega5-extension/package.json
  yarn.lock
Labels: pkg:terminal, maintenance, tag:Examples, pkg:services, pkg:vega, pkg:ui-components

#14188 Update RELEASE.md to mention the draft GitHub release
  RELEASE.md
Labels: documentation

#14182 Fix save as in collaborative mode
  binder/environment.yml
  packages/docmanager-extension/src/index.tsx
  packages/docregistry/src/context.ts
  packages/docregistry/test/context.spec.ts
Labels: bug, pkg:docregistry, pkg:docmanager

#14207 Add note for jest configuration and JLab 3.6
  docs/source/extension/extension_migration.rst
Labels: documentation

#14198 Load Python CM parser asynchronously
  packages/codemirror/src/language.ts
Labels: enhancement, pkg:codemirror

#14210 Backport PR #14207 on branch 3.6.x (Add note for jest configuration and JLab 3.6)
  docs/source/extension/extension_migration.rst
Labels: documentation

#13877 upgrade to MathJax 3 [with git history]
  .github/labeler.yml
  buildutils/src/ensure-repo.ts
  dev_mode/package.json
  dev_mode/style.js
  examples/app/index.js
  examples/app/package.json
  examples/federated/core_package/package.json
  examples/notebook/main.py
  examples/notebook/package.json
  examples/notebook/src/index.ts
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/export_notebook.test.ts
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-menu-documentation-linux.png
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-slide-type-documentation-linux.png
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/do-not-highlight-not-latex-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/do-not-highlight-standalone-dollar-jupyterlab-linux.png
  packages/extensionmanager-extension/examples/listings/index.js
  packages/extensionmanager-extension/examples/listings/package.json
  packages/mathjax-extension/README.md
  packages/mathjax-extension/package.json
  packages/mathjax-extension/schema/plugin.json
  packages/mathjax-extension/src/index.ts
  packages/mathjax-extension/style/base.css
  packages/mathjax-extension/style/fonts.css
  packages/mathjax-extension/style/index.css
  packages/mathjax-extension/style/index.js
  packages/mathjax-extension/tsconfig.json
  packages/mathjax2-extension/package.json
  packages/mathjax2-extension/src/index.ts
  packages/mathjax2-extension/typedoc.json
  packages/mathjax2/src/index.ts
  packages/mathjax2/style/base.css
  packages/mathjax2/style/index.css
  packages/mathjax2/tsconfig.json
  packages/mathjax2/typedoc.json
  packages/metapackage/package.json
  packages/metapackage/test/rendermime/registry.spec.ts
  packages/metapackage/tsconfig.json
  packages/metapackage/tsconfig.test.json
  tsconfigdoc.json
  typedoc.js
  yarn.lock
Labels: documentation, maintenance, tag:Examples, pkg:extensionmanager, api-change, pkg:mathjax2, tag:Testing, tag:CSS, Design System CSS

#14199 CodeMirror packages has singletons
  dev_mode/package.json
Labels: bug

#12858 Run kernel on cell execution when no kernel
  docs/source/extension/extension_migration.rst
  examples/cell/src/index.ts
  examples/notebook/src/commands.ts
  galata/test/jupyterlab/kernel.test.ts
  packages/apputils-extension/src/index.ts
  packages/apputils-extension/src/statusbarplugin.ts
  packages/apputils/src/sessioncontext.tsx
  packages/apputils/src/toolbar/widget.tsx
  packages/apputils/test/sessioncontext.spec.ts
  packages/apputils/test/toolbar.spec.ts
  packages/console-extension/src/index.ts
  packages/console/src/panel.ts
  packages/debugger-extension/src/index.ts
  packages/docmanager-extension/src/index.tsx
  packages/docmanager/src/manager.ts
  packages/docregistry/src/context.ts
  packages/docregistry/src/default.ts
  packages/docregistry/src/registry.ts
  packages/fileeditor-extension/src/commands.ts
  packages/fileeditor-extension/src/index.ts
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/actions.tsx
  packages/notebook/src/default-toolbar.tsx
  packages/notebook/src/panel.ts
  packages/notebook/src/testutils.ts
  packages/notebook/src/widgetfactory.ts
  packages/notebook/test/actions.spec.ts
Labels: enhancement, documentation, status:Needs Review, pkg:notebook, pkg:console, pkg:docregistry, tag:Examples, pkg:fileeditor, pkg:apputils, pkg:docmanager, api-change, tag:Testing, pkg:debugger

#14214 Fix 'completer with doc panel' UI test
  galata/test/jupyterlab/completer.test.ts-snapshots/completer-with-doc-panel-jupyterlab-linux.png
Labels: maintenance, tag:Testing

#14208 Update jupyter-lsp and associated schema
  packages/lsp/src/schema.ts
  pyproject.toml
Labels: bug, pkg:lsp

#14216 Update ESLint dependencies
  package.json
  packages/application/test/shell.spec.ts
  packages/apputils/test/semanticCommand.spec.ts
  packages/apputils/test/toolbar.spec.ts
  packages/codemirror/test/factory.spec.ts
  packages/docregistry/test/context.spec.ts
  packages/docregistry/test/registry.spec.ts
  packages/lsp/test/connection_manager.spec.ts
  packages/lsp/test/document.spec.ts
  packages/metapackage/test/completer/reconciliator.spec.ts
  packages/metapackage/test/completer/widget.spec.ts
  packages/metapackage/test/rendermime/registry.spec.ts
  packages/notebook/test/widget.spec.ts
  packages/services/test/contents/validate.spec.ts
  packages/services/test/kernel/comm.spec.ts
  packages/services/test/kernel/ikernel.spec.ts
  packages/services/test/kernel/validate.spec.ts
  packages/services/test/kernelspec/validate.spec.ts
  packages/services/test/session/validate.spec.ts
  packages/statusbar/test/statusbar.spec.ts
  packages/ui-components/test/menu.spec.ts
  packages/ui-components/test/toolbar.spec.ts
  yarn.lock
Labels: pkg:notebook, maintenance, pkg:docregistry, pkg:application, pkg:services, pkg:apputils, pkg:codemirror, pkg:statusbar, pkg:ui-components, pkg:lsp

#14212 Fix save as without changing the file name
  packages/docmanager-extension/src/index.tsx
  packages/docregistry/src/context.ts
  packages/docregistry/test/context.spec.ts
Labels: bug, pkg:docregistry, pkg:docmanager

#14226 Fix integrity
  packages/shared-models/package.json
Labels: maintenance

#14227 Automated Changelog Entry for 3.6.2 on 3.6.x
  CHANGELOG.md
Labels: documentation

#14203 Suppresses header check inside frontmatter
  packages/toc/src/utils/markdown.ts
  packages/toc/test/markdown.spec.ts
Labels: bug, pkg:toc

#14229 Provide @jupyterlab/shared-models as singleton
  .gitignore
  dev_mode/package.json
  docs/source/extension/extension_migration.rst
Labels: documentation, maintenance

#14242 Exclude .yarn cache from the dist
  pyproject.toml
Labels: bug

#14243 Fix failing `check_links` job
  docs/source/extension/documents.rst
Labels: documentation, maintenance, tag:Documentation

#14259 Remove archived repos from the post release checklist
  RELEASE.md
Labels: documentation

#13944 Split standard input line history per session (notebook)
  packages/cells/src/widget.ts
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/widget.ts
  packages/outputarea/src/widget.ts
Labels: enhancement, pkg:notebook, pkg:cells, pkg:outputarea

#14205 Align Extension manager buttonbar right
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-allowed-list-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-blocked-list-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-default-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-enabled-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-search-documentation-linux.png
  packages/extensionmanager/style/base.css
Labels: enhancement, pkg:extensionmanager, tag:Testing, tag:CSS, Design System CSS

#14225 Fix cursor placement in stdin history search and navigation
  galata/test/jupyterlab/outputarea-stdin.test.ts
  packages/outputarea/src/widget.ts
Labels: bug, pkg:outputarea, tag:Testing

#14159 Fix link colors #14084 (Previous PR #14129)
  packages/application/style/buttons.css
  packages/help-extension/style/base.css
  packages/theme-light-extension/style/variables.css
  packages/ui-components/style/base.css
Labels: bug, pkg:application, pkg:help, tag:Accessibility, pkg:themes, pkg:ui-components, tag:CSS, Design System CSS

#13886 Add copy option for directories
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/folder-jupyterlab-linux.png
  packages/filebrowser-extension/schema/browser.json
  pyproject.toml
Labels: enhancement, pkg:filebrowser, tag:Testing

#14273 Add `--skip-dev-build`, use with `yarn` invocation to fix binder
  binder/environment.yml
  binder/jupyter_config.py
  binder/postBuild
  jupyterlab/labapp.py
Labels: maintenance

#14287 Add missing lumino package as singleton
  dev_mode/package.json
Labels: maintenance

#14297 Add context for translatable strings to avoid clash with 3.x
  packages/fileeditor-extension/src/commands.ts
  packages/fileeditor-extension/src/index.ts
Labels: maintenance, pkg:fileeditor

#14275 Load `::-webkit-scrollbar` styles on-demand
  builder/src/webpack.config.base.ts
  buildutils/src/ensure-package.ts
  packages/application/style/scrollbar.css
  packages/apputils-extension/src/themesplugins.ts
  packages/apputils-extension/src/typings.d.ts
  packages/apputils-extension/style/scrollbar.raw.css
Labels: enhancement, pkg:application, tag:Performance, pkg:apputils, tag:CSS, Design System CSS

#14293 Fix examples further to CodeMirror API change
  examples/cell/src/index.ts
  examples/console/package.json
  examples/console/src/index.ts
  examples/notebook/package.json
  examples/notebook/src/index.ts
  packages/codemirror-extension/src/services.tsx
  yarn.lock
Labels: bug, tag:Examples, pkg:codemirror

#14302 Be tolerant on map changes in UI test
  galata/test/documentation/general.test.ts
Labels: maintenance, tag:Testing

#14238 Enforce a minimal set of CSS selector complexity rules
  .stylelintrc.yaml
  docs/source/_static/css/custom.css
  galata/src/galata.ts
  packages/application/style/menus.css
  packages/application/style/sidepanel.css
  packages/application/style/tabs.css
  packages/debugger/src/panels/sources/sourcepath.tsx
  packages/debugger/style/callstack.css
  packages/debugger/style/kernelSources.css
  packages/debugger/style/sources.css
  packages/extensionmanager/src/widget.tsx
  packages/extensionmanager/style/base.css
  packages/help-extension/src/licenses.tsx
  packages/help-extension/style/base.css
  packages/logconsole-extension/style/base.css
  packages/notebook/style/base.css
  packages/rendermime/style/base.css
  packages/settingeditor/style/base.css
  packages/toc/style/base.css
  packages/ui-components/src/style/icon.ts
  packages/ui-components/style/base.css
  packages/ui-components/style/icons.css
  packages/ui-components/style/rjsfTemplates.css
  packages/ui-components/style/toolbar.css
Labels: documentation, pkg:notebook, maintenance, pkg:application, pkg:help, pkg:rendermime, tag:Performance, pkg:settingeditor, pkg:extensionmanager, tag:Testing, pkg:ui-components, tag:CSS, pkg:logconsole, pkg:toc, pkg:debugger, Design System CSS

#14303 Fix typo
  jupyterlab/commands.py
Labels: documentation

#14211 Adds ids_only argument to the fetch settings request
  .eslintrc.js
  packages/apputils-extension/src/settingconnector.ts
  packages/apputils-extension/src/settingsplugin.ts
  packages/services/src/setting/index.ts
Labels: enhancement, tag:Performance, pkg:services, pkg:apputils
