Repository jupyterlab/jupyterlab, pull requests merged in 2023-12, with the labels that each got.

#15408 Don't play with the focus when handling focus event
  packages/notebook/src/widget.ts
  packages/notebook/test/widget.spec.ts
Labels: bug, pkg:notebook

#15469 Bump rjsf to 5.13.4
  packages/celltags-extension/package.json
  packages/codemirror-extension/package.json
  packages/completer-extension/package.json
  packages/lsp-extension/package.json
  packages/metadataform/package.json
  packages/notebook-extension/package.json
  packages/settingeditor/package.json
  packages/settingregistry/package.json
  packages/ui-components/package.json
  yarn.lock
Labels: pkg:notebook, maintenance, pkg:completer, pkg:codemirror, pkg:settingeditor, pkg:ui-components, pkg:celltags, pkg:settingregistry, pkg:lsp

#15489 Backport PR #15462 on branch 4.0.x (Fix URLs in debugger-extension)
  packages/debugger-extension/package.json
Labels: maintenance, pkg:debugger

#15490 Backport PR #15462 on branch 3.6.x (Fix URLs in debugger-extension)
  packages/debugger-extension/package.json
Labels: maintenance, pkg:debugger

#15493 Add npm provenance issue to the list of release postmortems
  RELEASE.md
Labels: documentation

#15496 Pin `actions/labeler` to v4 to fix failing CI action
  .github/workflows/labeler.yml
Labels: maintenance

#15504 Clean up eslint scripts in the translation packages
  packages/translation-extension/package.json
  packages/translation/package.json
Labels: maintenance, pkg:translation

#15506 Update "jlpm config set registry" command in documentation
  docs/source/getting_started/installation.rst
Labels: documentation

#15502 Bump ESLint dependencies
  dev_mode/webpack.config.js
  galata/test/jupyterlab/sidebars.test.ts
  package.json
  packages/completer/src/manager.ts
  packages/docmanager-extension/src/index.tsx
  packages/filebrowser/test/model.spec.ts
  yarn.lock
Labels: maintenance, pkg:filebrowser, pkg:completer, pkg:docmanager, tag:Testing

#15463 Fix file dialog contents loading with `defaultPath`, and model disposal
  packages/filebrowser/src/opendialog.ts
  packages/filebrowser/test/openfiledialog.spec.ts
Labels: bug, pkg:filebrowser

#15487 Fix display of float variables with value of infinity in the debugger tree
  packages/debugger/src/panels/variables/tree.tsx
Labels: bug, pkg:debugger

#15424 Fix docs deployment failing on 3.6 branch
  .readthedocs.yml
  docs/environment.yml
  scripts/ci_script.sh
  setup.cfg
Labels: maintenance

#15515 Backport PR #15496 on branch 4.0.x (Pin `actions/labeler` to v4 to fix failing CI action)
  .github/workflows/labeler.yml
Labels: maintenance

#15516 Backport PR #15496 on branch 3.6.x (Pin `actions/labeler` to v4 to fix failing CI action)
  .github/workflows/labeler.yml
Labels: maintenance

#15459 Fix search CM set up
  galata/test/benchmark/notebook.spec.ts-snapshots/large-code-notebook-ipynb-benchmark-linux.png
  galata/test/benchmark/notebook.spec.ts-snapshots/large-md-notebook-ipynb-benchmark-linux.png
  galata/test/jupyterlab/file-search.test.ts
  galata/test/jupyterlab/file-search.test.ts-snapshots/text-editor-search-from-selection-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts
  galata/test/jupyterlab/search.test.ts-snapshots/text-editor-search-from-selection-jupyterlab-linux.png
  packages/cells/src/widget.ts
  packages/codemirror/src/extension.ts
  packages/codemirror/src/factory.ts
Labels: bug, pkg:cells, pkg:codemirror, tag:Testing

#15522 Backport PR #15464 on branch 4.0.x (Fix `FormComponent` showing error indicators in all fields when using a `customValidate` function)
  packages/ui-components/src/components/form.tsx
Labels: bug, pkg:ui-components

#15512 Implement `level` trait for plugin/extension managers
  docs/source/user/extensions.rst
  jupyterlab/extensions/manager.py
  jupyterlab/labapp.py
  jupyterlab/tests/test_extensions.py
  pyproject.toml
Labels: bug, documentation

#15501 Update migration guide about the Toolbar selector
  docs/source/extension/extension_migration.rst
Labels: documentation

#15254 Custom kernel message serializer
  packages/services/src/kernel/default.ts
  packages/services/src/serverconnection.ts
  packages/services/test/serverconnection.spec.ts
Labels: enhancement, pkg:services

#15443 Fix search coming back in notebook and editor
  galata/test/jupyterlab/notebook-search-highlight.test.ts
  galata/test/jupyterlab/notebooks/search_highlight_notebook.ipynb
  packages/cells/src/searchprovider.ts
  packages/documentsearch-extension/src/index.ts
  packages/documentsearch/src/searchmodel.ts
  packages/fileeditor/package.json
  packages/fileeditor/src/searchprovider.ts
  packages/notebook/src/searchprovider.ts
  yarn.lock
Labels: bug, pkg:notebook, pkg:fileeditor, pkg:cells, tag:Testing, pkg:documentsearch

#15524 Fix visual tests, allow to disable termianal cursor blinking
  .licenserc.yaml
  galata/src/galata.ts
  galata/src/helpers/performance.ts
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/customization.test.ts
  galata/test/documentation/data/tree_fixture.txt
  galata/test/documentation/general.test.ts
  galata/test/documentation/general.test.ts-snapshots/file-formats-open-with-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/terminal-layout-documentation-linux.png
  galata/test/documentation/internationalization.test.ts
  galata/test/documentation/internationalization.test.ts-snapshots/language-chinese-documentation-linux.png
  galata/test/documentation/overview.test.ts
  galata/test/documentation/overview.test.ts-snapshots/interface-jupyterlab-documentation-linux.png
  galata/test/documentation/overview.test.ts-snapshots/interface-tabs-documentation-linux.png
  galata/test/documentation/overview.test.ts-snapshots/interface-tabs-menu-documentation-linux.png
  galata/test/jupyterlab/completer.test.ts
  galata/test/jupyterlab/readonly.test.ts
  galata/test/jupyterlab/terminal.test.ts-snapshots/launcher-term-jupyterlab-linux.png
  galata/test/jupyterlab/terminal.test.ts-snapshots/web-links-term-jupyterlab-linux.png
  package.json
  packages/terminal-extension/schema/plugin.json
  packages/terminal/src/tokens.ts
Labels: pkg:terminal, maintenance, tag:Accessibility, tag:Testing

#14597 Fix skiplink and add placeholder for additional skiplinks
  packages/application/src/shell.ts
  packages/application/style/skiplink.css
  packages/application/test/shell.spec.ts
Labels: enhancement, pkg:application, tag:Accessibility, tag:CSS, Design System CSS

#15479 Workaround/input box focus
  galata/test/jupyterlab/outputarea-stdin.test.ts
  packages/outputarea/src/widget.ts
  packages/outputarea/style/base.css
Labels: bug, pkg:outputarea, tag:Testing, tag:CSS, Design System CSS

#15526 Revert "Bump yarn to 3.6.4"
  docs/source/extension/extension_migration.rst
  jupyterlab/staging/yarn.js
  jupyterlab/staging/yarn.lock
  yarn.lock
Labels: maintenance

#14799 Add global keyboard shortcuts for all tab bar widgets
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-view-appearance-jupyterlab-linux.png
  packages/application-extension/schema/commands.json
  packages/application-extension/src/index.tsx
Labels: enhancement, status:Needs Review, pkg:application, tag:Accessibility, tag:Testing

#15528 Ignore `ipython` in dependabot updates
  .github/dependabot.yml
Labels: maintenance

#15530 Restore some CSS rules for backward compatibility
  docs/source/extension/extension_migration.rst
  packages/ui-components/style/toolbar.css
Labels: documentation, maintenance, pkg:ui-components, tag:CSS, Design System CSS, deprecation

#15386 Improve scrolling to heading
  galata/test/jupyterlab/toc-scrolling.test.ts
  galata/test/jupyterlab/toc-scrolling.test.ts-snapshots/scrolled-to-bottom-heading-jupyterlab-linux.png
  packages/codemirror/src/editor.ts
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/toc.ts
  packages/toc/src/model.ts
Labels: bug, pkg:notebook, pkg:codemirror, tag:Testing, pkg:toc

#15222 Clarify labels for user inputs and link dangling labels
  galata/test/documentation/extension_manager.test.ts
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-default-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-disabled-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-enabled-documentation-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-extensionmanager-main-view-jupyterlab-linux.png
  packages/codeeditor/package.json
  packages/codeeditor/src/lineCol.tsx
  packages/codeeditor/style/index.css
  packages/codeeditor/style/index.js
  packages/codeeditor/tsconfig.json
  packages/codeeditor/tsconfig.test.json
  packages/extensionmanager/src/widget.tsx
  packages/json-extension/src/component.tsx
  packages/lsp-extension/package.json
  packages/lsp-extension/src/renderer.tsx
  packages/lsp-extension/style/index.css
  packages/lsp-extension/style/index.js
  packages/lsp-extension/tsconfig.json
  packages/settingeditor/src/pluginlist.tsx
  packages/shortcuts-extension/src/components/TopNav.tsx
  yarn.lock
Labels: enhancement, pkg:codeeditor, tag:Accessibility, pkg:shortcuts, pkg:settingeditor, pkg:json, pkg:extensionmanager, tag:Testing, tag:CSS, Design System CSS, pkg:lsp

#15536 Update to `actions/upload-artifact@v4` and `action/download-artifact@v4`
  .github/workflows/benchmark.yml
  .github/workflows/check-release.yml
  .github/workflows/galata.yml
  .github/workflows/linuxtests.yml
Labels: maintenance

#15523 Manually trigger benchmark tests instead of running them on `pull_request_review`
  .github/workflows/benchmark.yml
Labels: maintenance

#15542 Fix `jupyter labextension watch --help`
  jupyterlab/labextensions.py
Labels: bug

#15543 Backport PR #15542 on branch 4.0.x (Fix `jupyter labextension watch --help`)
  jupyterlab/labextensions.py
Labels: bug

#11801 Fix `OSTYPE` check in `ci_install.sh`
  buildutils/src/local-repository.ts
  scripts/ci_install.sh
Labels: status:Needs Review, maintenance

#15533 Add virtual scrollbar component to windowed lists.
  docs/source/developer/performance.rst
  docs/source/extension/extension_migration.rst
  examples/notebook/src/index.ts
  galata/src/helpers/notebook.ts
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/jupyterlab/notebook-run-mermaid.test.ts-snapshots/run-cells-dark-mermaid-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run-mermaid.test.ts-snapshots/run-cells-mermaid-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-scroll.test.ts
  galata/test/jupyterlab/windowed-notebook.test.ts
  packages/lsp/src/adapters/tracker.ts
  packages/notebook-extension/schema/panel.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/searchprovider.ts
  packages/notebook/src/widget.ts
  packages/notebook/src/windowing.ts
  packages/notebook/style/base.css
  packages/pluginmanager-extension/package.json
  packages/ui-components/src/components/toolbar.tsx
  packages/ui-components/src/components/windowedlist.ts
  packages/ui-components/style/windowedlist.css
Labels: documentation, pkg:notebook, tag:Examples, tag:Testing, pkg:ui-components, tag:CSS, Design System CSS, feature, pkg:lsp, pkg:pluginmanager

#14854 Make status bar accessible at 400% zoom by hiding items with priority of zero (default)
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/render-mermaid-flowchart-jupyterlab-linux.png
  packages/application-extension/src/index.tsx
  packages/apputils-extension/src/statusbarplugin.ts
  packages/codemirror-extension/src/index.ts
  packages/notebook-extension/src/index.ts
  packages/statusbar/src/statusbar.ts
  packages/statusbar/src/tokens.ts
Labels: enhancement, pkg:notebook, pkg:application, pkg:apputils, pkg:codemirror, tag:Testing, pkg:statusbar

#15552 Add a title to the Plugin Manager widget
  packages/pluginmanager-extension/src/index.ts
Labels: bug, pkg:pluginmanager

#15548 Link to paths starting at Unix-style root in the tracebacks
  packages/coreutils/src/url.ts
  packages/coreutils/test/url.spec.ts
  packages/rendermime-interfaces/src/index.ts
  packages/rendermime/src/registry.ts
  packages/rendermime/src/renderers.ts
Labels: bug, pkg:rendermime, pkg:coreutils

#15563 Backport PR #15479 on branch 4.0.x (Workaround/input box focus)
  galata/test/jupyterlab/outputarea-stdin.test.ts
  packages/outputarea/src/widget.ts
  packages/outputarea/style/base.css
Labels: bug, pkg:outputarea, tag:Testing, tag:CSS, Design System CSS

#15562 Backport PR #15443 on branch 4.0.x (Fix search coming back in notebook and editor)
  galata/test/jupyterlab/notebook-search-highlight.test.ts
  galata/test/jupyterlab/notebooks/search_highlight_notebook.ipynb
  packages/cells/src/searchprovider.ts
  packages/documentsearch-extension/src/index.ts
  packages/documentsearch/src/searchmodel.ts
  packages/fileeditor/package.json
  packages/fileeditor/src/searchprovider.ts
  packages/notebook/src/searchprovider.ts
  yarn.lock
Labels: bug, pkg:notebook, pkg:fileeditor, pkg:cells, tag:Testing, pkg:documentsearch

#15564 Backport PR #15499: Adopt ruff format
  .pre-commit-config.yaml
  binder/environment.yml
  clean.py
  docs/source/conf.py
  docs/source/developer/contributing.rst
  examples/example_check.py
  jupyterlab/commands.py
  jupyterlab/federated_labextensions.py
  jupyterlab/handlers/announcements.py
  jupyterlab/tests/test_extensions.py
  jupyterlab/upgrade_extension.py
  pyproject.toml
  scripts/ci_script.sh
Labels: documentation, maintenance, tag:Examples

#15568 Show the notification center if the status bar is disabled
  packages/apputils-extension/src/notificationplugin.tsx
Labels: bug, pkg:apputils

#15565 Backport PR #15386: Improve scrolling to heading
  galata/test/jupyterlab/toc-scrolling.test.ts
  galata/test/jupyterlab/toc-scrolling.test.ts-snapshots/scrolled-to-bottom-heading-jupyterlab-linux.png
  packages/codemirror/src/editor.ts
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/toc.ts
  packages/toc/src/model.ts
Labels: bug, pkg:notebook, pkg:codemirror, tag:Testing, pkg:toc
