Repository jupyterlab/jupyterlab, pull requests merged in 2023-08, with the labels that each got.

#14887 Backport PR #14882 on branch 4.0.x (Improve upgrade extension script)
  jupyterlab/upgrade_extension.py
Labels: enhancement

#14858 Fix CodeMirror tooltip positioning and tooltip background
  packages/codemirror/src/extension.ts
  packages/codemirror/src/theme.ts
Labels: bug, pkg:codemirror

#14899 Align copier version with the extension template
  docs/source/extension/extension_tutorial.rst
Labels: documentation

#14865 In defer mode render enough cells to fill the viewport
  packages/notebook/src/widget.ts
Labels: bug, pkg:notebook

#14902 Update yarn link documentation
  docs/source/developer/contributing.rst
Labels: documentation

#14903 Backport PR #14858 on branch 4.0.x (Fix CodeMirror tooltip positioning and tooltip background)
  packages/codemirror/src/extension.ts
  packages/codemirror/src/theme.ts
Labels: bug, pkg:codemirror

#14905 Backport PR #14865 on branch 4.0.x (In defer mode render enough cells to fill the viewport)
  packages/notebook/src/widget.ts
Labels: bug, pkg:notebook

#14906 Backport PR #14856 on branch 4.0.x (Create JupyterLab 3.4.4 accessibility statement)
  docs/source/getting_started/accessibility.rst
  docs/source/getting_started/overview.rst
Labels: documentation, tag:Accessibility, tag:Documentation

#14907 Backport PR #14902 on branch 4.0.x (Update yarn link documentation)
  docs/source/developer/contributing.rst
Labels: documentation

#14904 Backport PR #14899 on branch 4.0.x (Align copier version with the extension template)
  docs/source/extension/extension_tutorial.rst
Labels: documentation

#14908 Recommend major versions for Lab 3/Lab 4 compatible extensions
  docs/source/extension/extension_migration.rst
Labels: enhancement, documentation

#14886 Fix integration tests
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-allowed-list-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-blocked-list-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-default-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-enabled-documentation-linux.png
  galata/test/documentation/plugins.test.ts-snapshots/plugins-documentation-linux.json
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/do-not-highlight-standalone-dollar-jupyterlab-linux.png
  lerna.json
  packages/help-extension/src/index.tsx
Labels: maintenance, pkg:help, tag:Testing

#14910 Backport PR #14908 on branch 4.0.x (Recommend major versions for Lab 3/Lab 4 compatible extensions)
  docs/source/extension/extension_migration.rst
Labels: enhancement, documentation

#14913 Backport PR #14886 on branch 4.0.x (Fix integration tests)
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-allowed-list-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-blocked-list-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-default-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-enabled-documentation-linux.png
  galata/test/documentation/plugins.test.ts-snapshots/plugins-documentation-linux.json
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/do-not-highlight-standalone-dollar-jupyterlab-linux.png
  lerna.json
Labels: maintenance, tag:Testing

#14915 Backport PR #14664 on branch 4.0.x (Fix semantic commands enabled status)
  galata/test/documentation/debugger.test.ts
  galata/test/documentation/general.test.ts-snapshots/file-formats-html-display-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-jupyterlab-documentation-linux.png
  packages/application-extension/schema/top-bar.json
  packages/apputils-extension/src/index.ts
  packages/apputils/src/toolbar/registry.ts
  packages/cell-toolbar-extension/schema/plugin.json
  packages/csvviewer-extension/schema/csv.json
  packages/csvviewer-extension/schema/tsv.json
  packages/filebrowser-extension/schema/widget.json
  packages/fileeditor-extension/schema/plugin.json
  packages/fileeditor-extension/src/commands.ts
  packages/htmlviewer-extension/schema/plugin.json
  packages/notebook-extension/schema/panel.json
  packages/notebook-extension/src/index.ts
  packages/settingregistry/src/plugin-schema.json
  packages/ui-components/src/components/toolbar.tsx
Labels: bug, status:Needs Review, pkg:notebook, pkg:filebrowser, pkg:application, pkg:fileeditor, pkg:csvviewer, pkg:apputils, tag:Testing, pkg:ui-components, pkg:htmlviewer, pkg:settingregistry, pkg:cell-toolbar

#14921 Fix incorrect indentation browser_check.py
  jupyterlab/browser_check.py
Labels: bug

#14923 Backport PR #14921 on branch 4.0.x (Fix incorrect indentation browser_check.py)
  jupyterlab/browser_check.py
Labels: bug

#14927 Rename readthedoc config
  .readthedocs.yml
Labels: maintenance

#14926 Custom script to upgrade `staging/yarn.lock`
  buildutils/package.json
  buildutils/src/dependency-graph.ts
  buildutils/src/ensure-repo.ts
  buildutils/src/update-core-mode.ts
  buildutils/src/update-staging-lock.ts
  buildutils/src/utils.ts
  buildutils/src/yarnlock.d.ts
  docs/scripts/graph-dependencies.js
  yarn.lock
Labels: bug, documentation

#14930 Backport PR #14927 on branch 4.0.x (Rename readthedoc config)
  .readthedocs.yml
Labels: maintenance

#14936 Remove docker ignore file
  .dockerignore
Labels: maintenance

#14937 Fix broken link
  design/about.md
Labels: documentation, tag:Design and UX, maintenance

#14941 Backport PR #14911 on branch 4.0.x (Make the DOM structure of linked output views more similar to outputs)
  packages/outputarea/src/widget.ts
Labels: bug, pkg:outputarea

#14940 Backport PR #14937 on branch 4.0.x (Fix broken link)
  design/about.md
Labels: documentation, tag:Design and UX, maintenance

#14938 Backport PR #14936 on branch 4.0.x (Remove docker ignore file)
  .dockerignore
Labels: maintenance

#14933 Allow opening links in new tabs when HTML is trusted
  galata/test/jupyterlab/html-viewer.test.ts
  packages/htmlviewer/src/widget.tsx
Labels: bug, tag:Testing, pkg:htmlviewer

#14943 Backport PR #14933 on branch 4.0.x (Allow opening links in new tabs when HTML is trusted)
  galata/test/jupyterlab/html-viewer.test.ts
  packages/htmlviewer/src/widget.tsx
Labels: bug, tag:Testing, pkg:htmlviewer

#14944 Make the browser check `default_url` configurable
  jupyterlab/browser_check.py
Labels: maintenance

#14939 Backport PR #14937 on branch 3.6.x (Fix broken link)
  design/about.md
Labels: tag:Design and UX, maintenance

#14740 Fix View Menu "Show line number" does not show its corresponding shortcut
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-view-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/opened-menu-view-jupyterlab-linux.png
  packages/notebook-extension/schema/tracker.json
Labels: bug, pkg:notebook, tag:Testing

#14949 Backport PR #14944 on branch 4.0.x (Make the browser check `default_url` configurable)
  jupyterlab/browser_check.py
Labels: maintenance

#14950 Backport PR #14740 on branch 4.0.x (Fix View Menu "Show line number" does not show its corresponding shortcut )
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-view-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/opened-menu-view-jupyterlab-linux.png
  packages/notebook-extension/schema/tracker.json
Labels: bug, pkg:notebook, tag:Testing

#14952 Backport PR #14699 on branch 4.0.x (Ensure not breaking backward compatibility)
  buildutils/src/ensure-package.ts
  buildutils/src/ensure-repo.ts
Labels: maintenance

#14953 Check backward dep
  buildutils/src/ensure-package.ts
  packages/rendermime-interfaces/package.json
  yarn.lock
Labels: maintenance, pkg:rendermime

#14956 Backport PR #14953 on branch 4.0.x (Check backward dep)
  buildutils/src/ensure-package.ts
Labels: maintenance

#14957 Backport PR #13208 on branch 3.6.x (Update docs to jupyter_server_config.py)
  binder/start
  docs/source/getting_started/faq.rst
  docs/source/user/directories.rst
Labels: documentation

#14958 Backport PR #14856 on branch 3.6.x (Create JupyterLab 3.4.4 accessibility statement)
  docs/source/getting_started/accessibility.rst
  docs/source/getting_started/overview.rst
  docs/source/index.rst
Labels: documentation

#14959 Backport PR #14893 on branch 4.0.x (Bump black[jupyter] from 23.3.0 to 23.7.0)
  .pre-commit-config.yaml
  jupyterlab/extensions/pypi.py
  jupyterlab/semver.py
  pyproject.toml
Labels: maintenance

#14946 Restore welcome test
  galata/test/documentation/general.test.ts
  galata/test/documentation/general.test.ts-snapshots/jupyterlab-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/terminal-layout-documentation-linux.png
  galata/test/documentation/plugins.test.ts-snapshots/plugins-documentation-linux.json
Labels: maintenance, tag:Testing

#14971 simplify binder python baseline
  binder/environment.yml
Labels: maintenance

#14978 Use config compatible with notebook 7
  jupyterlab/galata/__init__.py
Labels: enhancement, tag:Testing

#14967 Backport PR #14946 on branch 4.0.x (Restore welcome test)
  galata/test/documentation/general.test.ts
  galata/test/documentation/general.test.ts-snapshots/jupyterlab-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/terminal-layout-documentation-linux.png
  galata/test/documentation/plugins.test.ts-snapshots/plugins-documentation-linux.json
  jupyterlab/staging/yarn.lock
Labels: maintenance, tag:Testing

#14610 Activate the deferred plugins after shell restore
  packages/application/src/lab.ts
  packages/application/test/lab.spec.ts
  packages/apputils-extension/src/settingconnector.ts
Labels: enhancement, pkg:application, tag:Performance, pkg:apputils

#14982 Fix pepy.tech links
  README.md
Labels: documentation, maintenance

#14973 added title to Close tab icon
  packages/ui-components/src/icon/widgets/tabbarsvg.ts
Labels: bug, tag:Accessibility, pkg:ui-components

#14983 Fix `filebrowser.open` and add ability to provide a factory
  galata/src/helpers/activity.ts
  galata/src/helpers/filebrowser.ts
  galata/test/galata/filebrowser.spec.ts
Labels: enhancement, tag:Testing

#14991 Backport PR #14982 on branch 3.6.x (Fix pepy.tech links)
  README.md
Labels: documentation, maintenance

#14997 Backport PR #14973 on branch 4.0.x (added title to Close tab icon)
  packages/ui-components/src/icon/widgets/tabbarsvg.ts
Labels: bug, tag:Accessibility, pkg:ui-components

#14999 Backport PR #14983 on branch 4.0.x (Fix `filebrowser.open` and add ability to provide a factory)
  galata/src/helpers/activity.ts
  galata/src/helpers/filebrowser.ts
  galata/test/galata/filebrowser.spec.ts
Labels: enhancement, tag:Testing

#14901 Save and restore sidebar subpanels sizes and expansion states
  packages/application/src/layoutrestorer.ts
  packages/application/src/shell.ts
  packages/application/test/layoutrestorer.spec.ts
Labels: enhancement, pkg:application

#14808 feat: sync theme with system settings
  galata/test/jupyterlab/general.test.ts
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-settings-theme-jupyterlab-linux.png
  packages/apputils-extension/schema/themes.json
  packages/apputils-extension/src/themesplugins.ts
  packages/apputils/src/thememanager.ts
  packages/apputils/src/tokens.ts
Labels: enhancement, pkg:apputils, tag:Testing

#15003 Add `| null` to the mermaid plugin activate parameter
  packages/mermaid-extension/src/index.ts
Labels: maintenance

#14989 Fix more links
  .github/workflows/linuxtests.yml
  .gitignore
  docs/Makefile
  docs/source/conf.py
  docs/source/extension/documents.rst
  docs/source/extension/extension_dev.rst
  docs/source/extension/extension_migration.rst
  docs/source/extension/extension_points.rst
  docs/source/extension/notebook.rst
  pyproject.toml
  typedoc.js
Labels: documentation

#14979 Fix translation syntax to extract it by the parser
  packages/htmlviewer/src/widget.tsx
Labels: bug, pkg:htmlviewer

#14981 Backport PR #14978 on branch 4.0.x (Use config compatible with notebook 7)
  jupyterlab/galata/__init__.py
Labels: enhancement

#15007 Remove `--UNSAFE` flag in the extension tutorial docs
  docs/source/extension/extension_tutorial.rst
Labels: documentation

#15006 Backport PR #14989 on branch 4.0.x (Fix more links)
  .github/workflows/linuxtests.yml
  .gitignore
  docs/Makefile
  docs/source/conf.py
  docs/source/extension/documents.rst
  docs/source/extension/extension_dev.rst
  docs/source/extension/extension_migration.rst
  docs/source/extension/extension_points.rst
  docs/source/extension/notebook.rst
  pyproject.toml
  typedoc.js
Labels: documentation

#15010 Backport PR #15007 on branch 4.0.x (Remove `--UNSAFE` flag in the extension tutorial docs)
  docs/source/extension/extension_tutorial.rst
Labels: documentation

#15028 Deprecate LSP adapter `getIndexAt()` method
  packages/fileeditor/src/fileeditorlspadapter.ts
  packages/lsp/src/adapters/adapter.ts
  packages/notebook/src/notebooklspadapter.ts
Labels: pkg:notebook, maintenance, pkg:fileeditor, pkg:lsp

#15024 Do not shrink completer's documentation panel
  galata/test/jupyterlab/completer.test.ts-snapshots/completer-with-doc-panel-jupyterlab-linux.png
  packages/completer/style/base.css
Labels: bug, pkg:completer, tag:Testing, tag:CSS, Design System CSS

#15015 Pass completion context to `shouldShowContinuousHint()`
  packages/completer/src/handler.ts
  packages/completer/src/reconciliator.ts
  packages/metapackage/test/completer/handler.spec.ts
  packages/metapackage/test/completer/reconciliator.spec.ts
Labels: bug, pkg:completer

#15033 Backport PR #15015 on branch 4.0.x (Pass completion context to `shouldShowContinuousHint()`)
  packages/completer/src/handler.ts
  packages/completer/src/reconciliator.ts
  packages/metapackage/test/completer/handler.spec.ts
  packages/metapackage/test/completer/reconciliator.spec.ts
Labels: bug, pkg:completer

#15030 Backport PR #15028 on branch 4.0.x (Deprecate LSP adapter `getIndexAt()` method)
  packages/fileeditor/src/fileeditorlspadapter.ts
  packages/lsp/src/adapters/adapter.ts
  packages/notebook/src/notebooklspadapter.ts
Labels: pkg:notebook, maintenance, pkg:fileeditor, pkg:lsp

#15031 Backport PR #15025 on branch 4.0.x (Expose `processedItemsCache` as a protected in `CompleterModel`)
  packages/completer/src/model.ts
Labels: enhancement, pkg:completer

#15005 Backport PR #14979 on branch 4.0.x (Fix translation syntax to extract it by the parser)
  packages/htmlviewer/src/widget.tsx
Labels: bug, pkg:htmlviewer

#15039 Fix Binder link in `README.md`
  README.md
Labels: documentation

#15045 Backport PR #15009 on branch 4.0.x (fixes codemirror settings)
  galata/test/jupyterlab/settings.test.ts
  packages/codemirror-extension/src/services.tsx
Labels: bug, pkg:codemirror, tag:Testing

#15041 Fix docs build on Gitpod
  .gitpod.yml
Labels: maintenance

#14600 Add readonly indicator
  packages/docmanager-extension/src/index.tsx
  packages/docregistry/package.json
  packages/docregistry/src/components.tsx
  packages/docregistry/src/default.ts
  packages/docregistry/src/index.ts
  packages/notebook/src/panel.ts
  packages/ui-components/style/toolbar.css
  yarn.lock
Labels: enhancement, pkg:notebook, pkg:docregistry, pkg:docmanager, pkg:ui-components, tag:CSS, Design System CSS
