Repository jupyterlab/jupyterlab, pull requests merged in 2023-06, with the labels that each got.

#14624 Backport PR #14621 on branch 3.6.x (Fix integration test looking for jupyter heading)
  galata/test/jupyterlab/help.test.ts
Labels: maintenance, tag:Testing

#14636 Update documentation snapshots
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/customization.test.ts-snapshots/customized-menu-bar-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-menu-bar-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-terminal-position-single-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-open-with-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/terminal-layout-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-chinese-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-settings-documentation-linux.png
Labels: bug, tag:Testing

#14618 Allow Lumino 1.x version for rendermime-interfaces
  buildutils/src/ensure-package.ts
  packages/rendermime-interfaces/package.json
  yarn.lock
Labels: bug, pkg:rendermime

#14644 Add support for copier 8.0.0
  jupyterlab/upgrade_extension.py
Labels: bug

#14671 Fix copier command in documentation
  RELEASE.md
  docs/source/extension/extension_migration.rst
  docs/source/extension/extension_tutorial.rst
  docs/source/extension/notebook.rst
Labels: documentation

#14677 Document more features for JupyterLab on Binder
  docs/source/developer/contributing.rst
  docs/source/user/announcements.rst
  docs/source/user/binder.rst
  docs/source/user/index.md
Labels: documentation

#14681 Add a title to the Markdown Preview widget
  packages/markdownviewer/src/widget.ts
Labels: bug, pkg:markdownviewer

#14674 Backport PR #14579 on branch 3.6.x (Avoid clearing the host node while rendering Markdown)
  packages/rendermime/src/widgets.ts
Labels: bug, pkg:rendermime

#14690 Simplify Gitpod command to start JupyterLab
  .gitpod.yml
Labels: maintenance

#14694 Update branch configuration
  .github/pull_request_template.md
  .github/workflows/check-release.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/linuxjs-tests.yml
  .github/workflows/linuxtests.yml
  .github/workflows/macostests.yml
  .github/workflows/windowstests.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  RELEASE.md
  buildutils/src/ensure-repo.ts
  docs/source/conf.py
  docs/source/developer/components.rst
  docs/source/developer/contributing.rst
  docs/source/developer/css.rst
  docs/source/developer/repo.rst
  docs/source/extension/extension_dev.rst
  docs/source/extension/extension_migration.rst
  docs/source/extension/extension_tutorial.rst
  docs/source/extension/internationalization.rst
  docs/source/getting_started/faq.rst
  docs/source/getting_started/overview.rst
  docs/source/index.rst
  docs/source/user/index.md
  galata/README.md
  packages/apputils-extension/src/announcements.ts
  packages/extensionmanager/src/widget.tsx
  packages/help-extension/src/index.tsx
  packages/javascript-extension/README.md
  packages/json-extension/README.md
  packages/services/README.md
  packages/ui-components/docs/source/intro.rst
  packages/ui-components/docs/source/labicon.rst
  packages/vega5-extension/README.md
Labels: documentation, maintenance, pkg:help, pkg:services, pkg:apputils, pkg:vega, pkg:json, pkg:extensionmanager, pkg:javascript, tag:Testing, pkg:ui-components

#14700 Don't list log file as changes when checking license header
  .github/workflows/license-header.yml
Labels: maintenance

#14699 Ensure not breaking backward compatibility
  buildutils/src/ensure-package.ts
  buildutils/src/ensure-repo.ts
Labels: maintenance

#14707 Backport PR #14700 on branch 4.0.x (Don't list log file as changes when checking license header)
  .github/workflows/license-header.yml
Labels: maintenance

#14686 Set out expectations for `good first issue` label
  docs/source/developer/contributing.rst
Labels: documentation

#14698 Ensure documentation switcher data always points to the latest JSON.
  docs/source/conf.py
Labels: documentation

#14719 Backport PR #14686 on branch 4.0.x (Set out expectations for `good first issue` label)
  docs/source/developer/contributing.rst
Labels: documentation

#14709 Update requirements: conda != Python, jupyter-server over notebook
  packages/services/README.md
Labels: documentation, maintenance, pkg:services

#14718 Fix docs for semantic commands registration
  docs/source/extension/extension_points.rst
Labels: documentation

#14667 Document UX implications of windowed notebooks on search
  docs/source/user/interface.rst
Labels: documentation

#14727 fix: typo in common extension points page
  docs/source/extension/extension_points.rst
Labels: documentation

#14722 Backport PR #14709 on branch 4.0.x (Update requirements: conda != Python, jupyter-server over notebook)
  packages/services/README.md
Labels: documentation, maintenance, pkg:services

#14723 Backport PR #14709 on branch 3.6.x (Update requirements: conda != Python, jupyter-server over notebook)
  packages/services/README.md
Labels: maintenance, pkg:services

#14724 Backport PR #14698 on branch 4.0.x (Ensure documentation switcher data always points to the latest JSON.)
  docs/source/conf.py
Labels: documentation

#14725 Backport PR #14718 on branch 4.0.x (Fix docs for semantic commands registration)
  docs/source/extension/extension_points.rst
Labels: documentation

#14721 Fix kernel message deserialization
  packages/services/src/kernel/serialize.ts
Labels: bug, pkg:services

#14705 Fix HTML lang being set to 'default' resulting in blind users with screenreader reading everything in German
  packages/translation-extension/src/index.ts
Labels: bug, tag:Accessibility, pkg:translation

#14712 Expose `serverCapabilities`, `provides`, and `updateLogging`
  packages/lsp/src/connection.ts
  packages/lsp/src/connection_manager.ts
  packages/lsp/src/tokens.ts
  packages/lsp/src/ws-connection/ws-connection.ts
Labels: bug, pkg:lsp

#14713 Drop `StatusMessage` which is dead code
  packages/lsp/src/adapters/statusmessage.ts
Labels: maintenance, pkg:lsp

#14714 Port LSP connection manager fixes/enhancements
  packages/lsp-extension/src/index.ts
  packages/lsp/src/connection_manager.ts
  packages/lsp/src/manager.ts
  packages/lsp/src/tokens.ts
Labels: maintenance, pkg:lsp

#14701 Backport PR #14693 on branch 3.6.x (Ensure the kernel selector show the default kernel if notebook does not have a valid assigned kernel)
  packages/apputils/src/sessioncontext.tsx
Labels: bug, pkg:apputils

#14706 Backport PR #14693 on branch 4.0.x (Ensure the kernel selector show the default kernel if notebook does not have a valid assigned kernel)
  packages/apputils/src/sessioncontext.tsx
Labels: bug, pkg:apputils

#14731 Backport PR #14721 on branch 4.0.x (Fix kernel message deserialization)
  packages/services/src/kernel/serialize.ts
Labels: bug, pkg:services

#14732 Backport PR #14712 on branch 4.0.x (Expose `serverCapabilities`, `provides`, and `updateLogging`)
  packages/lsp/src/connection.ts
  packages/lsp/src/connection_manager.ts
  packages/lsp/src/tokens.ts
  packages/lsp/src/ws-connection/ws-connection.ts
Labels: bug, pkg:lsp

#14735 Backport PR #14713 on branch 4.0.x (Drop `StatusMessage` which is dead code)
  packages/lsp/src/adapters/statusmessage.ts
Labels: maintenance, pkg:lsp

#14736 Backport PR #14714 on branch 4.0.x (Port LSP connection manager fixes/enhancements)
  packages/lsp-extension/src/index.ts
  packages/lsp/src/connection_manager.ts
  packages/lsp/src/manager.ts
  packages/lsp/src/tokens.ts
Labels: maintenance, pkg:lsp

#14729 Clean up obsolete docker
  Dockerfile
  release/Dockerfile
  scripts/build_docker.sh
  scripts/docs_push.sh
Labels: maintenance

#14733 Backport PR #14705 on branch 4.0.x (Fix HTML lang being set to 'default' resulting in blind users with screenreader reading everything in German)
  packages/translation-extension/src/index.ts
Labels: bug, tag:Accessibility, pkg:translation

#14640 output_area: Add expand/collapse icon in overlay prompt.
  packages/cells/src/widget.ts
  packages/outputarea/src/widget.ts
  packages/outputarea/style/base.css
  packages/ui-components/src/icon/iconimports.ts
  packages/ui-components/style/deprecated.css
  packages/ui-components/style/icons/output/collapse.svg
  packages/ui-components/style/icons/output/expand.svg
Labels: enhancement, pkg:cells, pkg:outputarea, pkg:ui-components, tag:CSS, Design System CSS

#14745 fix: typo in param annotation
  buildutils/src/utils.ts
  packages/observables/src/observablelist.ts
Labels: documentation, pkg:observables

#14751 Backport PR #14745 on branch 4.0.x (fix: typo in param annotation)
  buildutils/src/utils.ts
  packages/observables/src/observablelist.ts
Labels: documentation, pkg:observables

#14744 Backport PR #14729 on branch 4.0.x (Clean up obsolete docker)
  Dockerfile
  release/Dockerfile
  scripts/build_docker.sh
  scripts/docs_push.sh
Labels: maintenance

#14747 fix: typo in notifications settings documentation
  packages/apputils-extension/schema/notification.json
Labels: documentation, pkg:apputils
