Repository jupyterlab/jupyterlab, pull requests merged in 2023-04, with the labels that each got.

#14318 Backport PR #14225 on branch 3.6.x (Fix cursor placement in stdin history search and navigation)
  packages/outputarea/src/widget.ts
Labels: bug, pkg:outputarea

#14053 Display shortcuts
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/general.test.ts
  galata/test/documentation/general.test.ts-snapshots/command-palette-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/notebook-ui-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/shortcuts-help-documentation-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-help-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/opened-menu-help-jupyterlab-linux.png
  packages/apputils-extension/package.json
  packages/apputils-extension/schema/utilityCommands.json
  packages/apputils-extension/src/index.ts
  packages/apputils-extension/src/shortcuts.tsx
  packages/apputils-extension/style/base.css
  packages/apputils-extension/style/contextualhelp.css
  yarn.lock
Labels: enhancement, tag:Feature Parity, pkg:apputils, tag:Testing, tag:CSS, Design System CSS

#14141 Show first line of cell when collapsed
  packages/cells/src/placeholder.ts
  packages/cells/src/widget.ts
  packages/cells/style/placeholder.css
Labels: enhancement, tag:Examples, pkg:cells, tag:CSS, Design System CSS

#14323 Update to Playwright 1.32
  galata/package.json
  galata/playwright.config.js
  yarn.lock
Labels: maintenance, tag:Testing

#14334 Upgrade @jupyter/ydoc
  examples/cell/package.json
  examples/console/package.json
  examples/notebook/package.json
  packages/cell-toolbar/package.json
  packages/cells/package.json
  packages/codeeditor/package.json
  packages/codemirror-extension/package.json
  packages/codemirror/package.json
  packages/completer/package.json
  packages/console/package.json
  packages/debugger/package.json
  packages/docregistry/package.json
  packages/notebook-extension/package.json
  packages/notebook/package.json
  packages/services/package.json
  yarn.lock
Labels: pkg:notebook, pkg:codeeditor, maintenance, pkg:console, pkg:completer, pkg:docregistry, tag:Examples, pkg:services, pkg:cells, pkg:codemirror, pkg:debugger, pkg:cell-toolbar

#14321 Fix failure when setting debugger variables filter
  packages/debugger/src/panels/variables/grid.ts
  packages/debugger/src/panels/variables/gridpanel.ts
Labels: bug, pkg:debugger

#14279 Update extension upgrade script
  docs/source/extension/extension_migration.rst
  jupyterlab/upgrade_extension.py
Labels: enhancement, documentation, status:Needs Review

#13577 Make file browser respond to focussed elements
  packages/filebrowser-extension/schema/browser.json
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/browser.ts
  packages/filebrowser/src/listing.ts
  packages/filebrowser/src/opendialog.ts
  packages/filebrowser/style/base.css
  packages/filebrowser/test/browser.spec.ts
  packages/filebrowser/test/listing.spec.ts
Labels: enhancement, pkg:filebrowser, tag:CSS, Design System CSS

#14269 Fix color contrast of gutter line numbers in code mirror
  galata/test/documentation/debugger.test.ts-snapshots/debugger-breakpoint-documentation-linux.png
  galata/test/documentation/debugger.test.ts-snapshots/debugger-stop-on-breakpoint-documentation-linux.png
  galata/test/documentation/debugger.test.ts-snapshots/debugger-stop-on-raised-exception-documentation-linux.png
  galata/test/documentation/debugger.test.ts-snapshots/debugger-stop-on-unhandled-exception-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-editor-overview-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-editor-settings-documentation-linux.png
  galata/test/jupyterlab/collapsible-headings.test.ts-snapshots/reexpand-headers-01-jupyterlab-linux.png
  galata/test/jupyterlab/debugger.test.ts-snapshots/start-debug-session-script-sources-jupyterlab-linux.png
  galata/test/jupyterlab/debugger.test.ts-snapshots/start-debug-session-sources-jupyterlab-linux.png
  galata/test/jupyterlab/texteditor.test.ts-snapshots/go-to-line-editor-jupyterlab-linux.png
  galata/test/jupyterlab/texteditor.test.ts-snapshots/text-editor-jupyterlab-linux.png
  galata/test/jupyterlab/texteditor.test.ts-snapshots/text-editor-rulers-jupyterlab-linux.png
  packages/codemirror/src/theme.ts
Labels: bug, tag:Accessibility, pkg:codemirror, tag:Testing, tag:Design System CSS

#14355 Document Backwards Compatibility, SemVer and Breaking Changes
  docs/source/developer/contributing.rst
  docs/source/extension/extension_dev.rst
  docs/source/getting_started/installation.rst
Labels: documentation

#14362 Improve jlpm migration guide
  docs/source/extension/extension_migration.rst
Labels: documentation

#14328 Pass traceback to ServerConnection.ResponseError
  packages/services/src/serverconnection.ts
  packages/services/test/serverconnection.spec.ts
Labels: enhancement, pkg:services

#14368 Backport PR #14328 on branch 3.6.x (Pass traceback to ServerConnection.ResponseError)
  packages/services/src/serverconnection.ts
  packages/services/test/serverconnection.spec.ts
Labels: enhancement, pkg:services

#14109 Add bottom area to add cells
  packages/notebook-extension/src/index.ts
  packages/notebook/src/actions.tsx
  packages/notebook/src/notebookfooter.ts
  packages/notebook/src/widget.ts
  packages/notebook/src/windowing.ts
  packages/notebook/style/base.css
  packages/notebook/style/notebookfooter.css
  packages/notebook/test/widget.spec.ts
Labels: enhancement, tag:Feature Parity, pkg:notebook, tag:Testing, tag:CSS, Design System CSS

#14353 Ensure that initial text is updated on subsequent searches
  galata/test/jupyterlab/notebook-search.test.ts
  packages/documentsearch-extension/src/index.ts
  packages/documentsearch/src/searchmodel.ts
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/test/searchmodel.spec.ts
Labels: bug, tag:Search and Replace, tag:Testing, pkg:documentsearch

#14369 Fix cursor when hovering a kernel in the Running tab
  packages/running/style/base.css
Labels: bug, pkg:running, tag:CSS, Design System CSS

#14376 Add signal when an item factory is added to the toolbar
  packages/apputils/src/tokens.ts
  packages/apputils/src/toolbar/factory.ts
  packages/apputils/src/toolbar/registry.ts
  packages/apputils/test/toolbar.spec.ts
Labels: bug, pkg:apputils

#14345 Align notebook trust behaviour with trust in classic Notebook
  docs/source/user/notebook.rst
  galata/test/documentation/general.test.ts
  galata/test/documentation/general.test.ts-snapshots/notebook-not-trusted-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/notebook-trusted-documentation-linux.png
  galata/test/jupyterlab/notebook-create.test.ts
  galata/test/jupyterlab/notebook-trust.test.ts
  packages/cells/src/model.ts
  packages/notebook/src/actions.tsx
  packages/notebook/src/truststatus.tsx
  packages/notebook/src/widget.ts
  packages/notebook/test/actions.spec.ts
Labels: bug, documentation, tag:Feature Parity, pkg:notebook, pkg:cells, tag:Testing

#13476 Copy variable in kernel from debugger panel
  buildutils/src/ensure-repo.ts
  galata/extension/package.json
  galata/extension/src/tokens.ts
  galata/extension/tsconfig.json
  galata/package.json
  galata/playwright.config.js
  galata/src/extension.ts
  galata/test/documentation/debugger.test.ts
  galata/test/jupyterlab/debugger.test.ts
  galata/tsconfig.json
  packages/debugger-extension/schema/main.json
  packages/debugger-extension/src/index.ts
  packages/debugger/src/debugger.ts
  packages/debugger/src/model.ts
  packages/debugger/src/panels/variables/grid.ts
  packages/debugger/src/panels/variables/tree.tsx
  packages/debugger/src/service.ts
  packages/debugger/src/tokens.ts
  yarn.lock
Labels: enhancement, tag:Testing, pkg:debugger

#14388 Fix run-cells snapshot
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/run-cells-jupyterlab-linux.png
Labels: maintenance, tag:Testing

#14384 Restore rectangular selection (CodeMirror 6 migration follow-up)
  packages/codemirror/src/extension.ts
Labels: bug, pkg:codemirror

#14374 Update jupyter ydoc
  dev_mode/package.json
  packages/cells/package.json
  packages/codeeditor/package.json
  packages/codemirror/package.json
  packages/docprovider-extension/package.json
  packages/docprovider/package.json
  packages/docregistry/package.json
  packages/notebook/package.json
  packages/shared-models/package.json
  setup.cfg
  yarn.lock
Labels: bug, pkg:notebook, pkg:codeeditor, pkg:docregistry, pkg:cells, pkg:codemirror, pkg:docprovider

#14382 Make cell toolbar background transparent
  packages/cell-toolbar/style/base.css
Labels: bug, tag:CSS, Design System CSS, pkg:cell-toolbar

#14074 Styling fixes for rjsm Settings Editor: remove accordions, rework "Restore to defaults" button, add placeholder
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/jupyterlab/settings.test.ts-snapshots/settings-panel-jupyterlab-linux.png
  packages/settingeditor/src/InstructionsPlaceholder.tsx
  packages/settingeditor/src/SettingsFormEditor.tsx
  packages/settingeditor/src/jsonsettingeditor.tsx
  packages/settingeditor/src/pluginlist.tsx
  packages/settingeditor/src/settingseditor.tsx
  packages/settingeditor/src/settingspanel.tsx
  packages/settingeditor/style/base.css
Labels: bug, pkg:settingeditor, tag:Testing, tag:CSS, tag:Design System CSS, Design System CSS

#14356 Fix search highlight in selection anchor of cell selection
  galata/test/jupyterlab/notebook-search.test.ts
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-in-two-selected-cells-jupyterlab-linux.png
  packages/notebook/src/searchprovider.ts
Labels: bug, pkg:notebook, tag:Search and Replace, tag:Testing

#14395 Upgrade ydoc
  dev_mode/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/notebook/package.json
  packages/cell-toolbar/package.json
  packages/cells/package.json
  packages/codeeditor/package.json
  packages/codemirror-extension/package.json
  packages/codemirror/package.json
  packages/completer/package.json
  packages/console/package.json
  packages/debugger/package.json
  packages/docregistry/package.json
  packages/notebook-extension/package.json
  packages/notebook/package.json
  packages/services/package.json
  yarn.lock
Labels: enhancement, pkg:notebook, pkg:codeeditor, pkg:console, pkg:completer, pkg:docregistry, tag:Examples, pkg:services, pkg:cells, pkg:codemirror, dependencies, pkg:debugger, pkg:cell-toolbar

#14408 Only apply margin on `<select>` instead of using universal CSS selector
  packages/lsp-extension/style/base.css
Labels: bug, tag:CSS, Design System CSS, pkg:lsp

#14411 Change default indent unit to 4
  galata/test/documentation/debugger.test.ts-snapshots/debugger-breakpoint-documentation-linux.png
  galata/test/documentation/debugger.test.ts-snapshots/debugger-stop-on-breakpoint-documentation-linux.png
  galata/test/documentation/debugger.test.ts-snapshots/debugger-stop-on-raised-exception-documentation-linux.png
  galata/test/documentation/debugger.test.ts-snapshots/debugger-stop-on-unhandled-exception-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-editor-overview-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-editor-settings-documentation-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-settings-text-editor-indentation-jupyterlab-linux.png
  packages/codemirror/src/extension.ts
  packages/console/src/widget.ts
Labels: bug, pkg:console, pkg:codemirror, tag:Testing

#14414 Fix CI: remove/update broken docs links
  README.md
  RELEASE.md
  packages/services/README.md
Labels: documentation, maintenance, pkg:services

#14413 Upgrade all `@codemirror` and `@lezer` packages to latest
  dev_mode/package.json
  packages/cells/package.json
  packages/codemirror/package.json
  packages/console/package.json
  packages/debugger/package.json
  packages/fileeditor-extension/package.json
  packages/json-extension/package.json
  yarn.lock
Labels: maintenance, pkg:console, pkg:fileeditor, pkg:cells, pkg:codemirror, pkg:json, pkg:debugger

#14423 Fix documentation build on CI
  docs/source/conf.py
Labels: documentation, maintenance

#14432 Add new release postmortem
  RELEASE.md
Labels: documentation

#14430 Update jupyter-lsp schema
  packages/lsp/src/schema.ts
Labels: maintenance, pkg:lsp

#14433 initialize _replaceText to ''
  packages/documentsearch/src/searchmodel.ts
  packages/documentsearch/test/searchmodel.spec.ts
Labels: bug, pkg:documentsearch

#14407 Improve scrolling for insert cell and run and advance
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-on-deleted-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-on-new-cell-jupyterlab-linux.png
  galata/test/jupyterlab/windowed-notebook.test.ts
  packages/notebook/src/actions.tsx
  packages/ui-components/src/components/windowedlist.ts
Labels: bug, pkg:notebook, tag:Testing, pkg:ui-components

#14346 Fix "additional properties" settings editor validation error
  .github/workflows/linuxjs-tests.yml
  packages/settingeditor/.vscode/launch.json
  packages/settingeditor/babel.config.js
  packages/settingeditor/jest.config.js
  packages/settingeditor/package.json
  packages/settingeditor/src/SettingsFormEditor.tsx
  packages/settingeditor/test/settingsformeditor.spec.tsx
  packages/settingeditor/tsconfig.test.json
  yarn.lock
Labels: bug, pkg:settingeditor

#14441 Improve header space use, restore description, remove unused styles
  galata/test/jupyterlab/settings.test.ts-snapshots/settings-panel-jupyterlab-linux.png
  packages/settingeditor/src/SettingsFormEditor.tsx
  packages/settingeditor/style/base.css
Labels: enhancement, pkg:settingeditor, tag:Testing, tag:CSS, Design System CSS

#14437 Add user facing changelog
  CHANGELOG.md
Labels: documentation

#14391 Switch to new extension template
  RELEASE.md
  docs/source/developer/internationalization.rst
  docs/source/extension/extension_dev.rst
  docs/source/extension/extension_migration.rst
  docs/source/extension/extension_tutorial.rst
  docs/source/extension/notebook.rst
  jupyterlab/upgrade_extension.py
  scripts/ci_script.sh
Labels: documentation, status:Needs Review

#14406 Remove Brainf... parser
  packages/fileeditor-extension/src/index.ts
Labels: bug, pkg:fileeditor, pkg:codemirror

#14456 Wait for `.lm-hidden` class to disappear before taking snapshot
  galata/test/documentation/general.test.ts
Labels: maintenance, tag:Testing

#14451 Fix broken links in galata/README.md
  .github/workflows/linuxtests.yml
  galata/README.md
Labels: documentation, tag:Testing
