Repository jupyterlab/jupyterlab, pull requests merged in 2023-05, with the labels that each got.

#14462 Update contributing.rst
  docs/source/developer/contributing.rst
Labels: documentation

#14465 Fix documentation formatting
  docs/source/getting_started/starting.rst
Labels: documentation

#14468 Update Darian's affiliation
  README.md
Labels: documentation, maintenance

#14412 Right-align notification buttons, reduce outer padding, add space between buttons and message
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/run-cells-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-accent-action-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-center-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-default-action-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-default-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-error-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-in-progress-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-info-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-link-action-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-success-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-warn-action-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-warning-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-with-actions-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/text-content-notification-jupyterlab-linux.txt
  packages/apputils-extension/src/notificationplugin.tsx
  packages/apputils-extension/style/notification.css
Labels: bug, pkg:apputils, tag:Testing, tag:CSS, Design System CSS

#14483 Remove a noisy console warn in the metadata form
  packages/metadataform/src/metadataform.ts
Labels: maintenance

#14477 Fix TableOfContentsFactory typing
  packages/fileeditor/src/toc/factory.ts
  packages/toc/src/factory.ts
  packages/toc/src/tokens.ts
Labels: bug, pkg:fileeditor, pkg:toc

#14479 Fix side-by-side cell input/output rendering in Firefox
  packages/cells/src/resizeHandle.ts
  packages/ui-components/style/windowedlist.css
Labels: bug, pkg:cells, pkg:ui-components, tag:CSS, Design System CSS

#14484 Fix initial load of contextual help
  packages/inspector-extension/package.json
  packages/inspector-extension/src/index.ts
  packages/inspector-extension/style/index.css
  packages/inspector-extension/style/index.js
  yarn.lock
Labels: bug, pkg:inspector, tag:CSS, Design System CSS

#14459 Force rerendering if changes happen during an update.
  packages/ui-components/src/components/windowedlist.ts
Labels: bug, pkg:ui-components

#14387 Improve focus behaviour in search
  galata/test/jupyterlab/notebook-search.test.ts
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/highlight-previous-element-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-in-two-selected-cells-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-on-deleted-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-on-new-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-typing-jupyterlab-linux.png
  galata/test/jupyterlab/search.test.ts
  galata/test/jupyterlab/search.test.ts-snapshots/text-editor-search-from-selection-jupyterlab-linux.png
  packages/cells/src/searchprovider.ts
  packages/codemirror/src/searchprovider.ts
  packages/codemirror/style/base.css
  packages/fileeditor/src/searchprovider.ts
  packages/notebook/src/searchprovider.ts
  packages/notebook/test/searchprovider.spec.ts
Labels: bug, pkg:notebook, pkg:fileeditor, pkg:cells, pkg:codemirror, tag:Testing, pkg:documentsearch, tag:CSS, Design System CSS

#14486 Initialize PluginList ._query to '' instead of undefined if query parameter is not passed
  packages/settingeditor/src/pluginlist.tsx
Labels: bug, pkg:settingeditor

#14491 Don't listen for cell resizing when notebooks is hiding
  galata/test/jupyterlab/windowed-notebook.test.ts
  packages/notebook/src/panel.ts
  packages/ui-components/src/components/windowedlist.ts
Labels: bug, pkg:notebook, tag:Testing, pkg:ui-components

#14480 Updates announcements to better conform to RFC atom standard.
  docs/source/user/announcements.rst
  jupyterlab/handlers/announcements.py
  jupyterlab/tests/test_announcements.py
  packages/apputils-extension/src/announcements.ts
Labels: bug, documentation, pkg:apputils

#14498 Fix yarn deduplication and check
  RELEASE.md
  buildutils/src/update-core-mode.ts
  dev_mode/package.json
  docs/source/extension/extension_migration.rst
  jupyterlab/commands.py
  package.json
  scripts/ci_script.ps1
  scripts/ci_script.sh
  yarn.lock
Labels: bug, documentation

#14444 Fix custom CSS in Virtual notebook rendering
  docs/source/developer/performance.rst
  docs/source/getting_started/faq.rst
  galata/src/helpers/notebook.ts
  galata/test/jupyterlab/notebooks/css_js_injection.ipynb
  galata/test/jupyterlab/windowed-notebook.test.ts
  packages/notebook/src/widget.ts
  pyproject.toml
Labels: bug, documentation, pkg:notebook, tag:Testing

#14490 Switch default notebook windowing mode to 'defer'
  galata/extension/src/global.ts
  galata/test/documentation/general.test.ts
  galata/test/jupyterlab/notebook-edit.test.ts
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/move-cell-up-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/do-not-highlight-standalone-dollar-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run.test.ts
  galata/test/jupyterlab/notebook-run.test.ts-snapshots/notebook-panel-0-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run.test.ts-snapshots/notebook-panel-1-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run.test.ts-snapshots/notebook-panel-2-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run.test.ts-snapshots/notebook-panel-3-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run.test.ts-snapshots/notebook-panel-4-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run.test.ts-snapshots/notebook-panel-5-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run.test.ts-snapshots/notebook-panel-6-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run.test.ts-snapshots/notebook-panel-7-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-scroll.test.ts
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-on-deleted-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-typing-jupyterlab-linux.png
  galata/test/jupyterlab/windowed-notebook.test.ts
  packages/notebook-extension/schema/tracker.json
  packages/notebook/src/actions.tsx
  packages/notebook/test/actions.spec.ts
  packages/ui-components/src/components/windowedlist.ts
Labels: bug, pkg:notebook, tag:Testing, pkg:ui-components

#14502 Improve documentation
  CHANGELOG.md
  buildutils/src/ensure-repo.ts
  docs/source/_static/switcher.json
  docs/source/conf.py
  docs/source/developer/contributing.rst
Labels: documentation

#14505 Fix kernel completion provider assumptions
  .eslintrc.js
  packages/completer/src/default/kernelprovider.ts
  packages/completer/test/kernelprovider.spec.ts
Labels: bug, pkg:completer, tag:Regression

#14515 Fix yarn argument
  jupyterlab/commands.py
Labels: bug

#14512 Backport PR #14412 on branch 3.6.x (Right-align notification buttons, reduce outer padding, add space between buttons and message)
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-accent-action-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-center-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-default-action-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-default-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-error-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-in-progress-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-info-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-link-action-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-success-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-warn-action-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-warning-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-with-actions-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/text-content-notification-jupyterlab-linux.txt
  packages/apputils-extension/src/notificationplugin.tsx
  packages/apputils-extension/style/notification.css
Labels: enhancement, pkg:apputils, tag:Testing, tag:CSS, Design System CSS

#14520 Backport PR #14423 on branch 3.6.x (Fix documentation build on CI)
  docs/source/conf.py
Labels: documentation, maintenance

#14521 Backport PR #14451 on branch 3.6.x (Fix broken links in galata/README.md)
  .github/workflows/linuxtests.yml
  galata/README.md
Labels: documentation, tag:Testing

#14517 Log console can be linked to any document widget
  packages/application/src/shell.ts
  packages/logconsole-extension/package.json
  packages/logconsole-extension/src/index.tsx
  packages/logconsole-extension/style/index.css
  packages/logconsole-extension/style/index.js
  packages/logconsole-extension/tsconfig.json
  yarn.lock
Labels: bug, pkg:application, tag:CSS, pkg:logconsole, Design System CSS

#14492 Update references to `main`
  .github/pull_request_template.md
  .github/workflows/benchmark.yml
  .github/workflows/check-i18n.yml
  .github/workflows/check-release.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/galata.yml
  .github/workflows/linuxjs-tests.yml
  .github/workflows/linuxtests.yml
  .github/workflows/macostests.yml
  .github/workflows/windowstests.yml
  README.md
  RELEASE.md
  buildutils/src/ensure-repo.ts
  docs/scripts/graph-dependencies.js
  docs/source/conf.py
  docs/source/developer/components.rst
  docs/source/developer/contributing.rst
  docs/source/developer/css.rst
  docs/source/developer/repo.rst
  docs/source/extension/extension_dev.rst
  docs/source/extension/extension_migration.rst
  docs/source/extension/extension_tutorial.rst
  docs/source/getting_started/faq.rst
  galata/README.md
  jupyterlab/tests/test_extensions.py
  packages/javascript-extension/README.md
  packages/json-extension/README.md
  packages/ui-components/docs/source/labicon.rst
  packages/vega5-extension/README.md
  scripts/docs_push.sh
  scripts/milestone_check.py
Labels: documentation, maintenance, pkg:vega, pkg:json, pkg:javascript, tag:Testing, pkg:ui-components

#14546 Fix typo in CHANGELOG.md
  CHANGELOG.md
Labels: documentation

#14551 Remove `@jupyterlab/celltags` from the `resolutions`
  dev_mode/package.json
Labels: maintenance

#14538 Backport PR #14414 on branch 3.6.x (Fix CI: remove/update broken docs links)
  README.md
  RELEASE.md
  packages/services/README.md
Labels: maintenance, pkg:services

#14561 added dynamic functionality to the text spacing
  packages/launcher/style/base.css
Labels: enhancement, pkg:launcher, tag:Accessibility, tag:Testing, tag:CSS, Design System CSS

#14533 Allow `maxHeight` being equal to `minHeight` for HoverBox's visibility
  packages/ui-components/src/hoverbox.ts
Labels: enhancement, pkg:ui-components

#14497 FileBrowser: Added the `sortNotebooksFirst` option
  packages/filebrowser-extension/schema/browser.json
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/browser.ts
  packages/filebrowser/src/listing.ts
  packages/filebrowser/test/listing.spec.ts
Labels: enhancement, tag:Feature Parity, pkg:filebrowser

#14572 Update interface_customization.rst
  docs/source/user/interface_customization.rst
Labels: documentation

#14588 Highlight booleans using the same style as keywords
  galata/test/jupyterlab/notebook-replace.test.ts-snapshots/replace-all-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-replace.test.ts-snapshots/replace-in-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run-vega.test.ts-snapshots/run-cells-dark-vega-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-run-vega.test.ts-snapshots/run-cells-vega-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-in-selected-cells-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-in-selected-text-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-in-two-selected-cells-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-on-deleted-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-typing-jupyterlab-linux.png
  packages/codemirror/src/theme.ts
  packages/codemirror/test/language.spec.ts
Labels: bug, pkg:codemirror, tag:Testing

#14593 Make `IStatusBar` optional for the notification plugin
  packages/apputils-extension/src/notificationplugin.tsx
Labels: maintenance, pkg:apputils

#14601 Inherit font family from `.cm-editor`
  packages/codemirror/src/theme.ts
Labels: bug, pkg:codemirror

#14579 Avoid clearing the host node while rendering Markdown
  packages/rendermime/src/widgets.ts
Labels: bug, pkg:rendermime

#14586 Enable base numbering option
  docs/source/user/toc.rst
  packages/toc-extension/schema/registry.json
Labels: enhancement, documentation, tag:Feature Parity, pkg:toc

#14605 Fix flaky search tests
  galata/test/jupyterlab/notebook-search.test.ts
Labels: maintenance, tag:Testing

#14596 Fix: Toolbar doesn't update on paste.
  galata/test/jupyterlab/notebook-run.test.ts-snapshots/notebook-panel-1-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-toolbar.test.ts-snapshots/paste-cell-jupyterlab-linux.png
  packages/cell-toolbar/src/celltoolbartracker.ts
Labels: bug, tag:Testing, pkg:cell-toolbar

#14609 Skip checking for updates in UI tests
  galata/src/galata.ts
  galata/test/jupyterlab/announcements.test.ts
Labels: maintenance, tag:Testing

#14580 Backport PR #12875 on branch 3.6.x (Set `Contents.ContentType` to string)
  packages/services/src/contents/index.ts
Labels: enhancement, pkg:services

#14612 Backport PR #14609 on branch 3.6.x (Skip checking for updates in UI tests)
  galata/src/galata.ts
  galata/test/jupyterlab/announcements.test.ts
Labels: maintenance, tag:Testing

#14499 Backport on branch 3.6.x (Updates announcements to better conform to RFC atom standard. (#14480))
  docs/source/user/announcements.rst
  jupyterlab/handlers/announcements.py
  jupyterlab/tests/__init__.py
  jupyterlab/tests/test_announcements.py
  packages/apputils-extension/src/announcements.ts
Labels: bug, documentation, pkg:apputils

#14583 Use @jupyterlab/shared-models
  packages/cells/package.json
  packages/cells/src/model.ts
  packages/cells/test/model.spec.ts
  packages/cells/tsconfig.json
  packages/cells/tsconfig.test.json
  packages/codeeditor/package.json
  packages/codeeditor/src/editor.ts
  packages/codeeditor/tsconfig.json
  packages/codeeditor/tsconfig.test.json
  packages/codemirror/package.json
  packages/codemirror/src/editor.ts
  packages/codemirror/tsconfig.json
  packages/codemirror/tsconfig.test.json
  packages/docprovider-extension/package.json
  packages/docprovider-extension/src/index.ts
  packages/docprovider-extension/tsconfig.json
  packages/docprovider/package.json
  packages/docprovider/src/tokens.ts
  packages/docprovider/src/yprovider.ts
  packages/docprovider/tsconfig.json
  packages/docprovider/tsconfig.test.json
  packages/docregistry/package.json
  packages/docregistry/src/context.ts
  packages/docregistry/src/default.ts
  packages/docregistry/src/registry.ts
  packages/docregistry/tsconfig.json
  packages/docregistry/tsconfig.test.json
  packages/notebook/package.json
  packages/notebook/src/celllist.ts
  packages/notebook/src/model.ts
  packages/notebook/tsconfig.json
  packages/notebook/tsconfig.test.json
Labels: bug, pkg:notebook, pkg:codeeditor, pkg:docregistry, pkg:cells, pkg:codemirror, pkg:docprovider

#14568 JupyterLab ecosystem docs improvements
  docs/source/getting_started/overview.rst
  docs/source/index.rst
  docs/source/user/index.md
Labels: documentation

#14621 Fix integration test looking for jupyter heading
  galata/test/jupyterlab/help.test.ts
Labels: maintenance, tag:Testing
