Repository jupyterlab/jupyterlab, pull requests merged in 2024-01, with the labels that each got.

#15593 Revert "Bump actions/labeler from 4 to 5"
  .github/workflows/labeler.yml
Labels: maintenance

#15553 Fixes the order of items in notebook toolbar
  packages/ui-components/src/components/toolbar.tsx
Labels: bug, pkg:ui-components

#15597 Fix ctrl+s notification incorrectly showing up in RTC mode
  packages/docmanager-extension/src/index.tsx
Labels: bug, pkg:docmanager

#15630 Fix syntax error in benchmark workflow
  .github/workflows/benchmark.yml
Labels: maintenance

#15421 Show toast notification for running code cell while kernel initializing
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/actions.tsx
  packages/notebook/src/widget.ts
Labels: enhancement, pkg:notebook

#15634 Fix markdown getting un-rendered when focusing on a different cell
  packages/notebook/src/widget.ts
  packages/notebook/test/widget.spec.ts
Labels: bug, pkg:notebook

#15556 Note changes to statusbar items behaviour in extension migration guide
  docs/source/extension/extension_migration.rst
Labels: documentation

#15607 Restore previous Galata `page.filebrowser.refresh()` timeout logic
  galata/src/helpers/filebrowser.ts
Labels: maintenance, tag:Testing

#15641 Use `jlpm` as npm client for snapshot updates
  .github/workflows/galata-update.yml
Labels: maintenance

#15640 Fix link to yarn docs in extension migration guide
  docs/source/extension/extension_migration.rst
Labels: documentation

#15644 Backport PR #15640 on branch 4.0.x (Fix link to yarn docs in extension migration guide)
  docs/source/extension/extension_migration.rst
Labels: documentation

#15646 Use jlpm for docs snapshots too
  .github/workflows/galata-update.yml
Labels: maintenance

#15638 Fix new line getting inserted when running cells with `Ctrl` + `Enter`
  galata/src/helpers/notebook.ts
  galata/test/galata/notebook.spec.ts
  galata/test/jupyterlab/cells.test.ts
  packages/codemirror/src/commands.ts
  packages/codemirror/src/extension.ts
Labels: bug, pkg:codemirror, tag:Testing

#15639 Fix kernel shortcuts, add migration, fix defaults population
  docs/source/extension/extension_migration.rst
  examples/notebook/src/commands.ts
  galata/test/jupyterlab/settings.test.ts
  packages/mainmenu-extension/schema/plugin.json
  packages/settingeditor/src/SettingsFormEditor.tsx
  packages/settingregistry/src/settingregistry.ts
  packages/settingregistry/test/settingregistry.spec.ts
Labels: bug, documentation, tag:Examples, pkg:settingeditor, pkg:mainmenu, tag:Testing, pkg:settingregistry

#15642 Fix outputarea package from not detecting updates
  packages/outputarea/src/widget.ts
  packages/outputarea/test/widget.spec.ts
Labels: bug, pkg:outputarea

#15612 Fixes focus indicator on input checkbox for Firefox
  packages/apputils/style/dialog.css
  packages/ui-components/style/styling.css
Labels: bug, pkg:apputils, pkg:ui-components, tag:CSS, Design System CSS

#15653 Backport PR #15612 on branch 4.0.x (Fixes focus indicator on input checkbox for Firefox)
  packages/apputils/style/dialog.css
  packages/ui-components/style/styling.css
Labels: bug, pkg:apputils, pkg:ui-components, tag:CSS, Design System CSS

#15648 User-facing changelog for 4.1
  CHANGELOG.md
  docs/source/getting_started/changelog_assets/4.1-inline-completer.png
  docs/source/getting_started/changelog_assets/4.1-merimad-diagram.png
  docs/source/getting_started/changelog_assets/4.1-toc-error-indicator.png
  docs/source/getting_started/changelog_assets/4.1-traceback-links.png
  docs/source/getting_started/changelog_assets/4.1-virtual-scrollbar.png
  docs/source/user/custom_css.rst
Labels: documentation

#15669 Mention jupyter-ai pre-release in inline completer changelog section
  CHANGELOG.md
Labels: documentation

#15662 Switch from `pytest-tornasync` to `pytest-jupyter`
  pyproject.toml
Labels: maintenance

#15679 Remove the add cell button from the tabbable item
  packages/notebook/src/notebookfooter.ts
Labels: bug, pkg:notebook, tag:Accessibility

#15678 Migrate to `user` level or to none (as fallback)
  jupyterlab/commands.py
Labels: bug

#15600 Upgrade jupyter-ui-toolkit
  dev_mode/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/filebrowser/package.json
  examples/notebook/package.json
  examples/terminal/package.json
  packages/ui-components/package.json
  packages/ui-components/src/components/toolbar.tsx
  yarn.lock
Labels: bug, tag:Examples, pkg:ui-components

#14853 Enable keyboard navigation in the statusbar
  packages/apputils-extension/src/statusbarplugin.ts
  packages/apputils/src/kernelstatuses.tsx
  packages/apputils/src/runningSessions.tsx
  packages/codeeditor/src/lineCol.tsx
Labels: bug, pkg:codeeditor, tag:Accessibility, pkg:apputils

#15695 Fix shortcut UI failing on filtering when empty command is given
  packages/shortcuts-extension/src/components/ShortcutUI.tsx
Labels: bug, pkg:shortcuts

#15701 Backport PR #15695 on branch 4.0.x (Fix shortcut UI failing on filtering when empty command is given)
  packages/shortcuts-extension/src/components/ShortcutUI.tsx
Labels: bug, pkg:shortcuts

#15694 Bump hatchling
  pyproject.toml
Labels: maintenance

#15577 Fix spurious "File Changed" dialogs using `hash` from `jupyter-server` v2.11.1+
  .eslintrc.js
  packages/docregistry/src/context.ts
  packages/docregistry/test/context.spec.ts
  packages/services/src/contents/index.ts
  packages/services/src/testutils.ts
Labels: bug, pkg:notebook, pkg:docregistry, pkg:services, pkg:ui-components

#15691 Backport PR #15262 on branch 4.0.x (Fix connection loop issue with standalone foreign document in LSP)
  packages/lsp/src/virtual/document.ts
  packages/lsp/test/document.spec.ts
Labels: bug, pkg:lsp

#15703 Add scroll margin to headings for better alignment
  galata/test/benchmark/notebook.spec.ts-snapshots/large-md-notebook-ipynb-benchmark-linux.png
  galata/test/jupyterlab/notebook-toolbar.test.ts-snapshots/paste-cell-jupyterlab-linux.png
  galata/test/jupyterlab/toc-scrolling.test.ts-snapshots/scrolled-to-bottom-heading-jupyterlab-linux.png
  packages/rendermime/style/base.css
Labels: bug, pkg:rendermime, tag:Testing, tag:CSS, Design System CSS

#15690 Fix search highlights removal on clearing input box
  galata/test/jupyterlab/notebook-search.test.ts
  packages/documentsearch/src/searchmodel.ts
  packages/documentsearch/test/searchmodel.spec.ts
Labels: bug, tag:Testing, pkg:documentsearch

#15711 Backport PR #15703 on branch 4.0.x (Add scroll margin to headings for better alignment)
  galata/test/jupyterlab/toc-scrolling.test.ts-snapshots/scrolled-to-bottom-heading-jupyterlab-linux.png
  packages/rendermime/style/base.css
Labels: bug, pkg:rendermime, tag:Testing, tag:CSS, Design System CSS

#15712 Backport PR #15690 on branch 4.0.x (Fix search highlights removal on clearing input box)
  galata/test/jupyterlab/notebook-search.test.ts
  packages/documentsearch/src/searchmodel.ts
  packages/documentsearch/test/searchmodel.spec.ts
Labels: bug, tag:Testing, pkg:documentsearch

#15650 Fix jupyterlab downgrade issue on extension installation
  jupyterlab/extensions/pypi.py
Labels: bug

#15714 Backport PR #15650 on branch 4.0.x (Fix jupyterlab downgrade issue on extension installation)
  jupyterlab/extensions/pypi.py
Labels: bug

#15578 Backport PR #15524: Fix visual tests
  .licenserc.yaml
  galata/test/benchmark/notebook.spec.ts-snapshots/large-md-notebook-ipynb-benchmark-linux.png
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/customization.test.ts
  galata/test/documentation/data/tree_fixture.txt
  galata/test/documentation/general.test.ts
  galata/test/documentation/general.test.ts-snapshots/file-formats-open-with-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/terminal-layout-documentation-linux.png
  galata/test/documentation/internationalization.test.ts
  galata/test/documentation/internationalization.test.ts-snapshots/language-chinese-documentation-linux.png
  galata/test/documentation/overview.test.ts
  galata/test/documentation/overview.test.ts-snapshots/interface-jupyterlab-documentation-linux.png
  galata/test/documentation/overview.test.ts-snapshots/interface-tabs-documentation-linux.png
  galata/test/documentation/overview.test.ts-snapshots/interface-tabs-menu-documentation-linux.png
  galata/test/documentation/plugins.test.ts-snapshots/plugins-documentation-linux.json
  package.json
  packages/terminal/src/tokens.ts
Labels: pkg:terminal, maintenance, tag:Testing

#15710 Removes Python 3.0, Notebook 5 mentions from contributor docs
  docs/source/developer/contributing.rst
Labels: documentation

#15715 Backport PR #15710 on branch 4.0.x (Removes Python 3.0, Notebook 5 mentions from contributor docs)
  docs/source/developer/contributing.rst
Labels: documentation

#15718 Fix kernels sidepanel scrollbar
  packages/running/style/base.css
Labels: bug, pkg:running, tag:CSS, Design System CSS

#15716 Fix `overrides.json` not working for shortcuts
  .github/workflows/linuxjs-tests.yml
  packages/shortcuts-extension/package.json
  packages/shortcuts-extension/src/index.ts
  packages/shortcuts-extension/test/shortcuts.spec.ts
  yarn.lock
Labels: bug, pkg:shortcuts

#15717 Run Mermaid tests on CI
  .github/labeler.yml
  .github/workflows/linuxjs-tests.yml
  packages/mermaid/package.json
Labels: maintenance
