Repository jupyterlab/jupyterlab, pull requests merged in 2024-12, with the labels that each got.

#17000 Fix disappearing cells (heal offsets after updating estimated sizes)
  galata/test/jupyterlab/windowed-notebook.test.ts
  packages/notebook/src/windowing.ts
  packages/ui-components/src/components/windowedlist.ts
Labels: bug, pkg:notebook, tag:Testing, pkg:ui-components, tag:Release Blocker

#17025 Backport PR #17000 on branch 4.3.x (Fix disappearing cells (heal offsets after updating estimated sizes))
  galata/test/jupyterlab/windowed-notebook.test.ts
  packages/notebook/src/windowing.ts
  packages/ui-components/src/components/windowedlist.ts
Labels: bug, pkg:notebook, tag:Testing, pkg:ui-components, tag:Release Blocker

#17005 Fixing missed first keystroke on Ctrl+F
  galata/test/jupyterlab/notebook-search.test.ts
  packages/documentsearch/src/searchmodel.ts
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/test/searchmodel.spec.ts
Labels: bug, tag:Testing, pkg:documentsearch

#17029 Backport PR #17005 on branch 4.3.x (Fixing missed first keystroke on Ctrl+F )
  galata/test/jupyterlab/notebook-search.test.ts
  packages/documentsearch/src/searchmodel.ts
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/test/searchmodel.spec.ts
Labels: bug, tag:Testing, pkg:documentsearch

#17022 Improve performance of rendering stdout/stderr
  packages/rendermime/src/renderers.ts
  packages/rendermime/test/factories.spec.ts
Labels: bug, pkg:rendermime, tag:Performance

#17032 Bump required setuptools to `40.8.0`
  pyproject.toml
Labels: maintenance

#17033 Backport PR #17032 on branch 4.2.x (Bump required setuptools to `40.8.0`)
  pyproject.toml
Labels: maintenance

#17036 Drop Python 3.8
  docs/source/conf.py
  jupyterlab/commands.py
  jupyterlab/extensions/manager.py
  jupyterlab/extensions/pypi.py
  jupyterlab/extensions/readonly.py
  jupyterlab/handlers/announcements.py
  pyproject.toml
Labels: documentation, maintenance

#16900 Abort saving if a file cannot be saved
  packages/docregistry/src/context.ts
Labels: bug, pkg:docregistry

#17046 Backport PR #16900 on branch 4.3.x (Abort saving if a file cannot be saved)
  packages/docregistry/src/context.ts
Labels: bug, pkg:docregistry

#17047 Reset resizeData after column adjustment to allow file dragging
  packages/filebrowser/src/listing.ts
Labels: bug, pkg:filebrowser

#17043 Fix newline handling in stream outputs
  packages/outputarea/src/model.ts
  packages/outputarea/test/model.spec.ts
Labels: bug, pkg:outputarea

#17048 Backport PR #17047 on branch 4.3.x (Reset resizeData after column adjustment to allow file dragging)
  packages/filebrowser/src/listing.ts
Labels: bug, pkg:filebrowser

#17049 Backport PR #17043 on branch 4.3.x (Fix newline handling in stream outputs)
  packages/outputarea/src/model.ts
  packages/outputarea/test/model.spec.ts
Labels: bug, pkg:outputarea

#16745 Move `@jupyterlab/debugger` icons to `@jupyterlab/ui-components`
  docs/source/extension/extension_migration.rst
  packages/debugger/package.json
  packages/debugger/src/debugger.ts
  packages/debugger/src/icons.ts
  packages/debugger/src/panels/breakpoints/index.ts
  packages/debugger/src/panels/kernelSources/body.tsx
  packages/debugger/src/panels/sources/index.tsx
  packages/debugger/style/base.css
  packages/debugger/style/icons/close-all.svg
  packages/debugger/style/icons/exceptions.svg
  packages/debugger/style/icons/open-kernel-source.svg
  packages/debugger/style/icons/pause.svg
  packages/debugger/style/icons/step-into.svg
  packages/debugger/style/icons/step-out.svg
  packages/debugger/style/icons/step-over.svg
  packages/debugger/style/icons/variable.svg
  packages/debugger/style/icons/view-breakpoint.svg
  packages/debugger/style/variables.css
  packages/ui-components/src/icon/iconimports.ts
  packages/ui-components/style/deprecated.css
  packages/ui-components/style/icons/debugger/close-all.svg
  packages/ui-components/style/icons/debugger/exceptions.svg
  packages/ui-components/style/icons/debugger/open-kernel-source.svg
  packages/ui-components/style/icons/debugger/pause.svg
  packages/ui-components/style/icons/debugger/step-into.svg
  packages/ui-components/style/icons/debugger/step-out.svg
  packages/ui-components/style/icons/debugger/step-over.svg
  packages/ui-components/style/icons/debugger/variable.svg
  packages/ui-components/style/icons/debugger/view-breakpoint.svg
  packages/ui-components/style/unused/activate-breakpoints.svg
  packages/ui-components/style/unused/arrow-collapse.svg
  packages/ui-components/style/unused/arrow-expand.svg
  packages/ui-components/style/unused/class.svg
  packages/ui-components/style/unused/enumerator.svg
Labels: enhancement, documentation, pkg:ui-components, tag:CSS, pkg:debugger, Design System CSS

#16968 Remove unused CSS
  packages/mathjax-extension/style/base.css
Labels: bug, tag:CSS, Design System CSS, pkg:mathjax

#17051 Backport PR #16936 on branch 4.3.x (Improve drag image styling)
  packages/notebook/style/base.css
Labels: bug, pkg:notebook, tag:CSS, Design System CSS

#17052 Backport PR #16968 on branch 4.3.x (Remove unused CSS)
  packages/mathjax-extension/style/base.css
Labels: bug, tag:CSS, Design System CSS, pkg:mathjax

#17038 Fix filebrowser name order
  packages/filebrowser/src/listing.ts
Labels: bug, pkg:filebrowser

#17053 Backport PR #17038 on branch 4.3.x (Fix filebrowser name order)
  packages/filebrowser/src/listing.ts
Labels: bug, pkg:filebrowser

#17059 Backport PR #17041 on branch 4.2.x (Restore bottom `httpx` version window)
  jupyterlab/extensions/pypi.py
  pyproject.toml
Labels: maintenance

#17057 Bump `nanoid` from 3.3.6 to to 3.3.8
  yarn.lock
Labels: maintenance

#17058 Use `AsyncHTTPTransport` over `HTTPTransport` for `httpx`
  jupyterlab/extensions/pypi.py
Labels: bug

#17063 Backport PR #17058 on branch 4.3.x (Use `AsyncHTTPTransport` over `HTTPTransport` for `httpx`)
  jupyterlab/extensions/pypi.py
Labels: bug

#17061 Backport PR #17057 on branch 4.3.x (Bump `nanoid` from 3.3.6 to to 3.3.8)
  yarn.lock
Labels: maintenance

#17062 Backport PR #17058 on branch 4.2.x (Use `AsyncHTTPTransport` over `HTTPTransport` for `httpx`)
  jupyterlab/extensions/pypi.py
Labels: bug

#17065 Fix contrast for unselected search matches in Dark High Contrast theme
  packages/theme-dark-high-contrast-extension/style/variables.css
Labels: bug, tag:Accessibility, tag:CSS, Design System CSS

#17069 Backport PR #17065 on branch 4.3.x (Fix contrast for unselected search matches in Dark High Contrast theme)
  packages/theme-dark-high-contrast-extension/style/variables.css
Labels: bug, tag:Accessibility, tag:CSS, Design System CSS

#17070 Update to `typedoc` 0.27.4
  .eslintignore
  .prettierignore
  .stylelintignore
  docs/source/conf.py
  package.json
  scripts/ensure_typedoc_links.py
  yarn.lock
Labels: documentation, maintenance

#17078 Copy edits in `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: enhancement, documentation

#17064 Bump `@codemirror` packages
  packages/cells/package.json
  packages/codeeditor/package.json
  packages/codemirror-extension/package.json
  packages/codemirror/package.json
  packages/completer/package.json
  packages/debugger/package.json
  packages/fileeditor-extension/package.json
  packages/testing/src/jest-config.ts
  yarn.lock
Labels: bug, pkg:codeeditor, pkg:completer, pkg:fileeditor, pkg:cells, pkg:codemirror, pkg:debugger

#17067 Add option for automatic Fill-in-the-Middle inline completion
  galata/test/jupyterlab/inline-completer.test.ts
  galata/test/jupyterlab/inline-completer.test.ts-snapshots/editor-with-ghost-text-jupyterlab-linux.png
  packages/completer-extension/src/index.ts
  packages/completer/src/default/inlinehistoryprovider.ts
  packages/completer/src/handler.ts
  packages/completer/src/reconciliator.ts
  packages/completer/src/tokens.ts
  packages/metapackage/test/completer/manager.spec.ts
Labels: enhancement, pkg:completer, tag:Testing

#16994 Add Settings Import Feature from a JSON File
  galata/test/jupyterlab/settings.test.ts
  packages/settingeditor-extension/package.json
  packages/settingeditor-extension/src/importSettingsWidget.tsx
  packages/settingeditor-extension/src/index.ts
  packages/settingeditor/style/base.css
  yarn.lock
Labels: pkg:settingeditor, tag:Testing, tag:CSS, Design System CSS, feature

#17093 Backport PR #17082 on branch 4.3.x (Fix continuous inline completion)
  packages/codemirror/test/editor.spec.ts
  packages/completer/src/handler.ts
  packages/completer/src/inline.ts
  packages/completer/src/testutils.ts
  packages/completer/test/inline.spec.ts
  packages/console/test/utils.ts
  packages/debugger/test/debugger.spec.ts
  packages/fileeditor/test/searchprovider.spec.ts
  packages/notebook/src/testutils.ts
Labels: bug, pkg:notebook, pkg:console, pkg:completer, pkg:fileeditor, pkg:codemirror, pkg:debugger

#17098 Fix background of the popup toolbar
  packages/ui-components/style/toolbar.css
Labels: bug, pkg:ui-components, tag:CSS, Design System CSS

#17094 Workaround the Chromium bug with `navigator.language`
  packages/filebrowser/src/listing.ts
Labels: maintenance, pkg:filebrowser

#17097 Focus terminal after copy and paste operations
  packages/terminal-extension/src/index.ts
Labels: bug, pkg:terminal

#17091 Sync Settings Editor with Updated Settings
  galata/test/jupyterlab/settings.test.ts
  packages/settingeditor/src/SettingsFormEditor.tsx
Labels: bug, pkg:settingeditor, tag:Testing

#17099 Backport PR #17098 on branch 4.3.x (Fix background of the popup toolbar)
  packages/ui-components/style/toolbar.css
Labels: bug, pkg:ui-components, tag:CSS, Design System CSS

#17101 Backport PR #17097 on branch 4.3.x (Focus terminal after copy and paste operations)
  packages/terminal-extension/src/index.ts
Labels: bug, pkg:terminal

#17102 Backport PR #17091 on branch 4.3.x (Sync Settings Editor with Updated Settings)
  galata/test/jupyterlab/settings.test.ts
  packages/settingeditor/src/SettingsFormEditor.tsx
Labels: bug, pkg:settingeditor, tag:Testing

#17031 Use Zulip for instant messaging
  CORPORATE.md
  README.md
  RELEASE.md
  docs/source/conf.py
  docs/source/developer/contributing.rst
  pyproject.toml
Labels: documentation

#17105 Backport PR #17031 on branch 4.3.x (Use Zulip for instant messaging)
  CORPORATE.md
  README.md
  RELEASE.md
  docs/source/conf.py
  docs/source/developer/contributing.rst
  pyproject.toml
Labels: documentation

#17112 Backport PR #17109 on branch 4.3.x (Add missing bind(this) to NotebookAdapter's isReady function)
  packages/notebook/src/notebooklspadapter.ts
Labels: bug, pkg:notebook

#17113 Use bare string `proxies` parameter for `httpx`<0.28
  jupyterlab/extensions/pypi.py
Labels: bug

#17118 Backport PR #17113 on branch 4.3.x (Use bare string `proxies` parameter for `httpx`<0.28)
  jupyterlab/extensions/pypi.py
Labels: bug

#17119 Backport PR #17113 on branch 4.2.x (Use bare string `proxies` parameter for `httpx`<0.28)
  jupyterlab/extensions/pypi.py
Labels: bug

#17104 Update docs to include export and import functionality for overrides.json
  docs/source/user/directories.rst
Labels: documentation

#17122 Fix exposing `ISignal` instead of `Signal`
  packages/application/src/shell.ts
Labels: maintenance, pkg:application

#17076 Add option to render markdown cells upon exit
  packages/notebook-extension/schema/tracker.json
  packages/notebook-extension/src/index.ts
  packages/notebook/src/widget.ts
  packages/notebook/test/widget.spec.ts
Labels: enhancement, pkg:notebook

#17120 Add pixi files to various ignore files
  .eslintignore
  .gitattributes
  .gitignore
  .prettierignore
Labels: maintenance

#17092 Add Content Provider API
  docs/source/extension/documents.rst
  docs/source/extension/extension_points.rst
  packages/docmanager/src/manager.ts
  packages/docregistry/src/context.ts
  packages/docregistry/src/default.ts
  packages/docregistry/src/registry.ts
  packages/docregistry/test/default.spec.ts
  packages/fileeditor-extension/src/index.ts
  packages/fileeditor/src/tokens.ts
  packages/fileeditor/src/widget.ts
  packages/services/src/contents/index.ts
  packages/services/test/contents/index.spec.ts
Labels: enhancement, documentation, pkg:docregistry, pkg:fileeditor, pkg:services, pkg:docmanager
