Repository jupyterlab/jupyterlab, pull requests merged in 2024-07, with the labels that each got.

#16547 Fix license table CSS selector to apply the selected row styles
  packages/help-extension/style/base.css
Labels: bug, pkg:help, tag:CSS, Design System CSS

#16523 Fix settings editor missing plugins with transform step or registered late
  packages/settingeditor/src/pluginlist.tsx
  packages/settingeditor/src/settingseditor.tsx
  packages/settingeditor/test/pluginlist.spec.tsx
  packages/settingregistry/src/settingregistry.ts
Labels: bug, pkg:settingeditor, pkg:settingregistry

#16446 Filebrowser filter below breadcrumbs
  examples/app/example.spec.ts-snapshots/example-linux.png
  examples/federated/example.spec.ts-snapshots/example-linux.png
  examples/filebrowser/example.spec.ts-snapshots/example-linux.png
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/custom_css.test.ts-snapshots/custom-css-main-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/customized-context-menu-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/customized-menu-bar-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-context-menu-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-menu-bar-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-terminal-position-single-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-editor-settings-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-open-with-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-shareable-link-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-left-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/jupyterlab-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/notebook-ui-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/terminal-layout-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-chinese-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-settings-documentation-linux.png
  galata/test/documentation/overview.test.ts-snapshots/interface-jupyterlab-documentation-linux.png
  galata/test/documentation/overview.test.ts-snapshots/interface-tabs-menu-documentation-linux.png
  galata/test/documentation/plugin_manager.test.ts-snapshots/plugin-manager-plugin-required-warning-documentation-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/dark-theme-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/launch-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/simple-mode-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/filebrowser-right-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-filebrowser-jupyterlab-linux.png
  packages/filebrowser-extension/schema/widget.json
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/browser.ts
  packages/filebrowser/style/base.css
  packages/ui-components/src/components/search.tsx
  packages/workspaces-extension/src/commands.ts
Labels: enhancement, pkg:filebrowser, tag:Examples, tag:Testing, pkg:ui-components, tag:CSS, Design System CSS, pkg:workspaces

#16550 Backport PR #16547 on branch 4.2.x (Fix license table CSS selector to apply the selected row styles)
  packages/help-extension/style/base.css
Labels: bug, pkg:help, tag:CSS, Design System CSS

#16548 Adopt theme CSS variables for generic input fields
  packages/ui-components/style/rjsfTemplates.css
  packages/ui-components/style/styling.css
Labels: enhancement, pkg:ui-components, tag:CSS, Design System CSS

#16546 Update the CSS variable used for notebook cell shadows
  packages/notebook/style/base.css
Labels: enhancement, pkg:notebook, tag:CSS, Design System CSS

#16496 Improve focus styling
  dev_mode/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/filebrowser/package.json
  examples/notebook/example.spec.ts-snapshots/example-linux.png
  examples/notebook/package.json
  examples/terminal/package.json
  galata/test/documentation/customization.test.ts-snapshots/customized-notebook-toolbar-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-notebook-toolbar-documentation-linux.png
  galata/test/documentation/debugger.test.ts-snapshots/debugger-run-documentation-linux.png
  galata/test/documentation/debugger.test.ts-snapshots/debugger-sidebar-documentation-linux.png
  galata/test/documentation/debugger.test.ts-snapshots/debugger-variables-documentation-linux.png
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-menu-documentation-linux.png
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-slide-type-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-allowed-list-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-blocked-list-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-default-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-disabled-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-enabled-documentation-linux.png
  galata/test/documentation/extension_manager.test.ts-snapshots/extensions-search-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/command-palette-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-altair-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-html-display-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/jupyterlab-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/running-layout-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/running-modal-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-change-documentation-linux.png
  galata/test/documentation/overview.test.ts-snapshots/interface-jupyterlab-documentation-linux.png
  galata/test/documentation/overview.test.ts-snapshots/interface-tabs-documentation-linux.png
  galata/test/documentation/plugin_manager.test.ts-snapshots/plugin-manager-search-notebook-documentation-linux.png
  galata/test/documentation/plugins.test.ts-snapshots/plugins-documentation-linux.json
  galata/test/documentation/workspaces.test.ts-snapshots/workspaces-sidebar-documentation-linux.png
  galata/test/galata/notebook.spec.ts-snapshots/example-run-galata-linux.png
  galata/test/jupyterlab/inline-completer.test.ts-snapshots/inline-completer-shortcuts-off-jupyterlab-linux.png
  galata/test/jupyterlab/inline-completer.test.ts-snapshots/inline-completer-shortcuts-on-jupyterlab-linux.png
  galata/test/jupyterlab/notification.test.ts-snapshots/notification-center-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-extensionmanager-main-view-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-jp-debugger-sidebar-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-jp-running-sessions-jupyterlab-linux.png
  packages/application/style/sidepanel.css
  packages/application/style/tabs.css
  packages/debugger/package.json
  packages/notebook/style/base.css
  packages/notebook/style/toolbar.css
  packages/running/src/index.tsx
  packages/running/style/base.css
  packages/ui-components/package.json
  packages/ui-components/src/components/htmlselect.tsx
  packages/ui-components/src/components/search.tsx
  packages/ui-components/src/components/toolbar.tsx
  packages/ui-components/style/base.css
  packages/ui-components/style/sidepanel.css
  packages/ui-components/style/toolbar.css
  yarn.lock
Labels: bug, pkg:notebook, tag:Examples, pkg:application, pkg:running, tag:Accessibility, tag:Testing, pkg:ui-components, tag:CSS, pkg:debugger, Design System CSS

#16551 Set the background color for the hover state of the New Launcher button
  packages/launcher-extension/style/base.css
Labels: enhancement, pkg:launcher, tag:CSS, Design System CSS

#16519 Scope CSS rules to a new `.jp-ThemedContainer` class
  dev_mode/templates/template.html
  docs/source/extension/extension_migration.rst
  examples/cell/index.css
  examples/cell/src/index.ts
  examples/console/src/index.ts
  examples/filebrowser/src/index.ts
  examples/notebook/src/index.ts
  examples/terminal/src/index.ts
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/regexp-parsing-failure-jupyterlab-linux.png
  packages/application/src/frontend.ts
  packages/application/style/buttons.css
  packages/application/style/core.css
  packages/application/style/menus.css
  packages/apputils-extension/src/notificationplugin.tsx
  packages/apputils/src/commandpalette.ts
  packages/apputils/src/dialog.tsx
  packages/apputils/style/commandpalette.css
  packages/apputils/style/dialog.css
  packages/completer/src/inline.ts
  packages/completer/src/widget.ts
  packages/inspector/style/base.css
  packages/outputarea/style/base.css
  packages/rendermime/style/base.css
  packages/statusbar/src/components/hover.tsx
  packages/theme-dark-extension/style/theme.css
  packages/theme-dark-high-contrast-extension/style/theme.css
  packages/theme-light-extension/style/theme.css
  packages/theme-light-extension/style/urls.css
  packages/tooltip/src/widget.ts
  packages/ui-components/examples/simple-windowed-list/src/index.ts
  packages/ui-components/src/components/menu.ts
  packages/ui-components/src/components/toolbar.tsx
  packages/ui-components/src/icon/widgets/menusvg.ts
  packages/ui-components/style/base.css
Labels: enhancement, documentation, pkg:completer, tag:Examples, pkg:inspector, pkg:application, pkg:rendermime, pkg:tooltip, pkg:apputils, pkg:themes, pkg:outputarea, tag:Testing, pkg:statusbar, pkg:ui-components, tag:CSS, tag:Design System CSS, Design System CSS

#16560 Fix galata update action
  .github/workflows/galata-update.yml
Labels: maintenance

#16559 Restore previous benchmark run conditions
  .github/workflows/benchmark-report.yml
Labels: maintenance

#16567 Update JupyterLab wordmark color
  packages/ui-components/style/icons/jupyter/jupyterlab-wordmark.svg
Labels: bug, pkg:ui-components

#16570 Backport PR #16567 on branch 4.2.x (Update JupyterLab wordmark color)
  packages/ui-components/style/icons/jupyter/jupyterlab-wordmark.svg
Labels: bug, pkg:ui-components

#16568 Adopt the `--jp-border-radius` CSS variable in missing input fields
  packages/ui-components/style/base.css
  packages/ui-components/style/styling.css
Labels: enhancement, pkg:ui-components, tag:CSS, Design System CSS

#16012 Adopt open source security foundation best practices
  .github/openssf-scorecard.yml
  README.md
  docs/source/developer/contributing.rst
  docs/source/developer/security.rst
Labels: documentation, maintenance

#16572 Standardize Contextual Help placeholder according to TOC
  docs/source/extension/extension_migration.rst
  packages/inspector/src/inspector.ts
  packages/inspector/style/base.css
Labels: enhancement, documentation, pkg:inspector, tag:CSS, Design System CSS

#16587 Fix galata docs on overriding `tmpPath`
  galata/README.md
Labels: documentation, tag:Testing

#16584 Fix the identifier to download licenses in JSON format
  galata/test/jupyterlab/help.test.ts
  galata/test/jupyterlab/utils.ts
  packages/help-extension/src/licenses.tsx
Labels: bug, pkg:help, tag:Testing

#16591 Backport PR #16587 on branch 4.2.x (Fix galata docs on overriding `tmpPath`)
  galata/README.md
Labels: documentation, tag:Testing

#16592 Backport PR #16584 on branch 4.2.x (Fix the identifier to download licenses in JSON format)
  galata/test/jupyterlab/help.test.ts
  galata/test/jupyterlab/utils.ts
  packages/help-extension/src/licenses.tsx
Labels: bug, pkg:help, tag:Testing

#14375 Settings Editor: remove pluginslist grey background
  packages/settingeditor/style/base.css
Labels: bug, pkg:settingeditor, tag:CSS, Design System CSS

#16588 Backport PR #16495 on branch 4.2.x (Bump ws from 8.12.0 to 8.17.1)
  package.json
  packages/testing/src/jest-config.ts
  packages/testing/src/jest-resolver.ts
  yarn.lock
Labels: maintenance, dependencies, javascript

#16552 Backport PR #16507 on branch 4.2.x (Add customisation options to prevent inline completer resizing aggressively)
  packages/completer-extension/schema/inline-completer.json
  packages/completer/src/ghost.ts
  packages/completer/src/inline.ts
  packages/completer/src/tokens.ts
  packages/completer/style/base.css
  packages/completer/test/inline.spec.ts
Labels: bug, pkg:completer, tag:CSS, Design System CSS

#16503 Backport PR #16450 on branch 4.2.x (Align extension migration docs with the latest extension template)
  docs/source/extension/extension_migration.rst
  docs/source/extension/notebook.rst
  jupyterlab/upgrade_extension.py
  pyproject.toml
Labels: documentation

#16600 Add a command and instructions to serve documentation files locally
  docs/Makefile
  docs/make.bat
  docs/source/developer/contributing.rst
Labels: documentation

#16288 coreutils: add required TS intl libraries
  packages/coreutils/src/time.ts
  packages/coreutils/tsconfig.json
  tsconfigbase.json
Labels: bug, pkg:coreutils

#16595 Add untitled files to `.gitignore`
  .gitignore
Labels: maintenance

#16488 [GSoC 2024] Use toolkit tree view for all tree view: table of content, debugger variables and running tabs
  dev_mode/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/filebrowser/package.json
  examples/notebook/package.json
  examples/terminal/package.json
  galata/README.md
  galata/src/fixtures.ts
  galata/src/galata.ts
  galata/src/helpers/debuggerpanel.ts
  galata/test/documentation/debugger.test.ts-snapshots/debugger-variables-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/running-layout-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/running-modal-documentation-linux.png
  galata/test/documentation/overview.test.ts-snapshots/interface-tabs-documentation-linux.png
  galata/test/documentation/workspaces.test.ts
  galata/test/documentation/workspaces.test.ts-snapshots/workspaces-sidebar-documentation-linux.png
  galata/test/galata/fixture.spec.ts
  galata/test/jupyterlab/debugger.test.ts
  galata/test/jupyterlab/debugger.test.ts-snapshots/image-debug-session-global-variables-jupyterlab-linux.png
  galata/test/jupyterlab/debugger.test.ts-snapshots/start-debug-session-script-variables-jupyterlab-linux.png
  galata/test/jupyterlab/debugger.test.ts-snapshots/start-debug-session-variables-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-jp-running-sessions-jupyterlab-linux.png
  galata/test/jupyterlab/toc-running.test.ts
  galata/test/jupyterlab/toc-running.test.ts-snapshots/toc-running-indicator-error-jupyterlab-linux.png
  galata/test/jupyterlab/toc-running.test.ts-snapshots/toc-running-indicator-top-level-jupyterlab-linux.png
  galata/test/jupyterlab/toc-running.test.ts-snapshots/toc-running-indicators-jupyterlab-linux.png
  galata/test/jupyterlab/toc.test.ts
  galata/test/jupyterlab/toc.test.ts-snapshots/notebook-output-headings-jupyterlab-linux.png
  galata/test/jupyterlab/toc.test.ts-snapshots/toc-panel-jupyterlab-linux.png
  galata/test/jupyterlab/toc.test.ts-snapshots/toggle-numbered-list-jupyterlab-linux.png
  packages/debugger/package.json
  packages/debugger/src/panels/variables/index.ts
  packages/debugger/src/panels/variables/tree.tsx
  packages/debugger/style/variables.css
  packages/lsp-extension/src/index.ts
  packages/running-extension/src/kernels.tsx
  packages/running-extension/src/opentabs.ts
  packages/running-extension/src/recents.ts
  packages/running-extension/tsconfig.json
  packages/running/package.json
  packages/running/src/index.tsx
  packages/running/style/base.css
  packages/terminal-extension/src/index.ts
  packages/toc/package.json
  packages/toc/src/tocitem.tsx
  packages/toc/src/toctree.tsx
  packages/toc/style/base.css
  packages/ui-components/package.json
  packages/ui-components/src/components/toolbar.tsx
  packages/ui-components/src/utils.ts
  packages/ui-components/style/base.css
  packages/ui-components/style/toolkit.css
  packages/workspaces-extension/src/sidebar.ts
  yarn.lock
Labels: enhancement, documentation, pkg:terminal, tag:Examples, pkg:running, tag:Testing, pkg:ui-components, tag:CSS, pkg:toc, pkg:debugger, Design System CSS, pkg:lsp, pkg:workspaces

#16604 Standardize the "go-to-line" input field using theme CSS variables
  packages/codeeditor/style/linecol.css
Labels: enhancement, pkg:codeeditor, tag:CSS, Design System CSS

#16475 Update notebook kernel selector
  examples/cell/src/index.ts
  packages/apputils/src/sessioncontext.tsx
  packages/apputils/src/testutils.ts
  packages/apputils/test/sessioncontext.spec.ts
  packages/console/src/panel.ts
  packages/docregistry/src/context.ts
Labels: enhancement, pkg:console, pkg:docregistry, tag:Examples, pkg:apputils

#16206 Update Accessibility Statement
  docs/source/getting_started/accessibility.rst
Labels: documentation

#10596 Add functionality to upload folder by dragging to file browser
  packages/filebrowser/src/listing.ts
  packages/filebrowser/src/model.ts
  packages/filebrowser/test/listing.spec.ts
  packages/testing/src/index.ts
  packages/testing/src/jest-data-transfer-mock.ts
  packages/testing/src/jest-shim.ts
Labels: enhancement, status:Needs Review, pkg:filebrowser

#16582 Fix lack of color contrast for the project version and license selected on the Licenses page
  packages/help-extension/style/base.css
Labels: bug, pkg:help, tag:CSS, Design System CSS

#16618 Removes title from the entire File Browser
  packages/filebrowser-extension/src/index.ts
Labels: bug, pkg:filebrowser
