Repository jupyterlab/jupyterlab, pull requests merged in 2024-03, with the labels that each got.

#15867 Adds description for disabled search filter
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/src/tokens.ts
  packages/notebook/src/searchprovider.ts
Labels: enhancement, pkg:notebook, pkg:documentsearch

#15860 Show outline on the full item in file browser, only when needed
  galata/test/documentation/internationalization.test.ts-snapshots/language-chinese-documentation-linux.png
  packages/filebrowser/style/base.css
Labels: bug, pkg:filebrowser, tag:Testing, tag:CSS, Design System CSS

#15875 Copy edits in dialog
  packages/notebook/src/searchprovider.ts
Labels: enhancement, documentation, pkg:notebook

#15697 Enable default file browsers with different properties (aria label, title...)
  packages/filebrowser-extension/src/index.ts
Labels: enhancement, pkg:filebrowser

#15896 Add `metadataform` to the labeler
  .github/labeler.yml
Labels: maintenance

#15790 Prevent command shortcuts from preventing user input
  packages/application/src/lab.ts
Labels: bug, pkg:application

#15887 Backport PR #15873 on branch 4.0.x (Fix missing signals in file editor adapter)
  packages/fileeditor/src/fileeditorlspadapter.ts
Labels: bug, pkg:fileeditor

#15888 Remove `child_process` dependency
  buildutils/package.json
  buildutils/src/ensure-repo.ts
  packages/testing/package.json
  yarn.lock
Labels: maintenance

#15877 Bump `sanitize-html` to latest v2.12.1
  packages/apputils/package.json
  yarn.lock
Labels: maintenance, pkg:apputils

#15843 Fix saving of item positions in reactive toolbar
  galata/src/helpers/sidebar.ts
  galata/test/documentation/customization.test.ts
  galata/test/documentation/debugger.test.ts
  galata/test/documentation/export_notebook.test.ts
  galata/test/documentation/extension_manager.test.ts
  galata/test/documentation/general.test.ts
  galata/test/documentation/internationalization.test.ts
  galata/test/documentation/overview.test.ts
  galata/test/documentation/utils.ts
  galata/test/jupyterlab/notebook-toolbar.test.ts
  packages/ui-components/src/components/toolbar.tsx
Labels: bug, tag:Testing, pkg:ui-components

#15906 Backport PR #15843 on branch 4.1.x (Fix saving of item positions in reactive toolbar)
  galata/test/jupyterlab/notebook-toolbar.test.ts
  galata/test/jupyterlab/utils.ts
  packages/ui-components/src/components/toolbar.tsx
Labels: bug, tag:Testing, pkg:ui-components

#15904 Backport PR #15790 on branch 4.1.x (Prevent command shortcuts from preventing user input)
  packages/application/src/lab.ts
Labels: bug, pkg:application

#15869 Fix Pressing enter in console with console run keystroke set to enter creates a newline and runs
  packages/cells/src/widget.ts
  packages/console/src/widget.ts
Labels: bug, pkg:console, pkg:cells

#15910 Backport PR #15869 on branch 4.1.x (Fix Pressing enter in console with console run keystroke set to enter creates a newline and runs)
  packages/cells/src/widget.ts
  packages/console/src/widget.ts
Labels: bug, pkg:console, pkg:cells

#14838 Lab/NB7 extension compatibility docs
  docs/source/extension/extension_dev.rst
  docs/source/extension/extension_multiple_ui.rst
Labels: documentation

#15898 Fix spurious dedent when opening inspector tooltip
  packages/codemirror/src/commands.ts
  packages/codemirror/src/extension.ts
Labels: bug, pkg:codemirror

#15914 Backport PR #15899 on branch 4.1.x (Add an explicit default for inline completer providers)
  packages/completer-extension/schema/inline-completer.json
Labels: bug, pkg:completer

#15917 Backport PR #15898 on branch 4.1.x (Fix spurious dedent when opening inspector tooltip)
  packages/codemirror/src/commands.ts
  packages/codemirror/src/extension.ts
Labels: bug, pkg:codemirror

#15938 Revert "Prevent command shortcuts from preventing user input"
  packages/application/src/lab.ts
Labels: bug, pkg:application

#15940 Backport PR #15938 on branch 4.1.x (Revert "Prevent command shortcuts from preventing user input")
  packages/application/src/lab.ts
Labels: bug, pkg:application

#15941 Backport PR #15924 on branch 4.1.x (Fix Theme color is not applied to SwitchKernel ToolbarButton)
  galata/test/jupyterlab/toolbars.test.ts
  packages/ui-components/style/toolbar.css
Labels: bug, tag:Testing, pkg:ui-components, tag:CSS, Design System CSS

#15291 Fix creating files in custom drives, fix `ContentsManagerMock`
  packages/filebrowser/src/browser.ts
  packages/filebrowser/test/browser.spec.ts
  packages/notebook-extension/src/index.ts
  packages/services/src/testutils.ts
Labels: bug, pkg:notebook, pkg:filebrowser, pkg:services

#15935 Fixes filter for Chinese, other non-ASCII filenames
  packages/ui-components/src/components/search.tsx
  packages/ui-components/test/search.spec.tsx
Labels: bug, pkg:ui-components

#15950 Backport PR #15935 on branch 4.1.x (Fixes filter for Chinese, other non-ASCII filenames)
  packages/ui-components/src/components/search.tsx
  packages/ui-components/test/search.spec.tsx
Labels: bug, pkg:ui-components

#15954 Avoid concurrency when computing the items in notebook toolbar
  packages/ui-components/src/components/toolbar.tsx
Labels: bug, pkg:ui-components

#15857 Disable next/previous match buttons when no text is in Find box
  packages/documentsearch/src/searchview.tsx
  packages/documentsearch/style/base.css
Labels: bug, pkg:documentsearch, tag:CSS, Design System CSS

#15959 Ignore links to GitHub user and organisation profiles
  .github/workflows/linuxtests.yml
Labels: maintenance

#15961 Backport PR #15954 on branch 4.1.x (Avoid concurrency when computing the items in notebook toolbar)
  packages/ui-components/src/components/toolbar.tsx
Labels: bug, pkg:ui-components

#15963 Backport PR #15959 on branch 4.1.x (Ignore links to GitHub user and organisation profiles)
  .github/workflows/linuxtests.yml
Labels: maintenance

#15920 Add end of maintenance date to README
  README.md
Labels: documentation

#15828 Allow to customise directory and notebook icon
  packages/docregistry/src/registry.ts
  packages/docregistry/test/registry.spec.ts
Labels: enhancement, pkg:docregistry

#15892 Fix browser-test.js
  jupyterlab/browser-test.js
Labels: bug

#15973 Update Release Scripts
  .github/workflows/prep-release.yml
  .github/workflows/publish-changelog.yml
  .github/workflows/publish-release.yml
Labels: maintenance

#15970 Short-circuit `selectItemByName()` if already selected
  packages/filebrowser/src/listing.ts
  packages/filebrowser/test/listing.spec.ts
Labels: bug, pkg:filebrowser

#15975 Backport PR #15892 on branch 4.1.x (Fix browser-test.js)
  jupyterlab/browser-test.js
Labels: bug

#15983 Backport PR #15970 on branch 4.1.x (Short-circuit `selectItemByName()` if already selected)
  packages/filebrowser/src/listing.ts
  packages/filebrowser/test/listing.spec.ts
Labels: bug, pkg:filebrowser

#15976 Backport PR #15892 on branch 4.0.x (Fix browser-test.js)
  jupyterlab/browser-test.js
Labels: bug

#15974 Handle drives for checkpoints in `ContentsManagerMock`
  packages/services/src/testutils.ts
Labels: maintenance, pkg:services

#15984 Backport PR #15860 on branch 4.1.x (Show outline on the full item in file browser, only when needed)
  galata/test/documentation/internationalization.test.ts-snapshots/language-chinese-documentation-linux.png
  packages/filebrowser/style/base.css
Labels: bug, pkg:filebrowser, tag:Testing, tag:CSS, Design System CSS

#15982 Update to `@jupyter/ydoc` v2.0.1
  examples/cell/package.json
  examples/console/package.json
  examples/notebook/package.json
  packages/cell-toolbar/package.json
  packages/cells/package.json
  packages/codeeditor/package.json
  packages/codemirror-extension/package.json
  packages/codemirror/package.json
  packages/completer/package.json
  packages/console/package.json
  packages/debugger/package.json
  packages/docregistry/package.json
  packages/fileeditor/package.json
  packages/notebook-extension/package.json
  packages/notebook/package.json
  packages/services/package.json
  yarn.lock
Labels: pkg:notebook, pkg:codeeditor, maintenance, pkg:console, pkg:completer, pkg:docregistry, tag:Examples, pkg:fileeditor, pkg:services, pkg:cells, pkg:codemirror, pkg:debugger, pkg:cell-toolbar

#15969 Remove `node-fetch` dependency
  .gitpod.yml
  buildutils/src/ensure-repo.ts
  docs/source/developer/contributing.rst
  docs/source/extension/extension_tutorial.rst
  packages/docregistry/test/context.spec.ts
  packages/services/test/config/config.spec.ts
  packages/services/test/contents/index.spec.ts
  packages/services/test/kernel/ikernel.spec.ts
  packages/services/test/kernel/kernel.spec.ts
  packages/services/test/kernelspec/kernelspec.spec.ts
  packages/services/test/serverconnection.spec.ts
  packages/services/test/utils.ts
  packages/testing/package.json
  packages/testing/src/jest-config.ts
  packages/testing/src/jest-env.ts
  packages/testing/src/jest-shim.ts
  packages/testing/test/start_jupyter_server.spec.ts
  yarn.lock
Labels: documentation, maintenance, pkg:docregistry, pkg:services

#15834 Uses the browser window's selection as the default search query
  packages/notebook/src/searchprovider.ts
Labels: bug, pkg:notebook

#15957 Fix Theme color is not applied to Toolbar Button
  galata/test/jupyterlab/toolbars.test.ts
  packages/ui-components/style/toolbar.css
Labels: bug, tag:Testing, pkg:ui-components, tag:CSS, Design System CSS

#15995 Backport PR #15957 on branch 4.1.x (Fix Theme color is not applied to Toolbar Button)
  galata/test/jupyterlab/toolbars.test.ts
  packages/ui-components/style/toolbar.css
Labels: bug, tag:Testing, pkg:ui-components, tag:CSS, Design System CSS

#15998 Update links to the Jupyter Frontends team compass
  README.md
  docs/source/developer/contributing.rst
  docs/source/extension/extension_migration.rst
Labels: documentation

#16000 Remove `whatwg-fetch` polyfill
  dev_mode/package.json
  dev_mode/webpack.config.js
  examples/app/package.json
  examples/app/webpack.config.js
  examples/cell/package.json
  examples/cell/webpack.config.js
  examples/console/package.json
  examples/console/webpack.config.js
  examples/federated/core_package/package.json
  examples/filebrowser/package.json
  examples/filebrowser/webpack.config.js
  examples/notebook/package.json
  examples/notebook/webpack.config.js
  examples/terminal/package.json
  examples/terminal/webpack.config.js
  packages/extensionmanager-extension/examples/listings/package.json
  packages/extensionmanager-extension/examples/listings/webpack.config.js
  packages/services/README.md
  yarn.lock
Labels: documentation, maintenance, tag:Examples, pkg:services, pkg:extensionmanager

#15987 Update CodeMirror and lezer packages
  docs/source/extension/extension_migration.rst
  galata/test/jupyterlab/texteditor.test.ts-snapshots/text-editor-active-line-with-selection-jupyterlab-linux.png
  packages/cells/package.json
  packages/codeeditor/package.json
  packages/codeeditor/src/editor.ts
  packages/codeeditor/src/widget.ts
  packages/codemirror-extension/package.json
  packages/codemirror/package.json
  packages/codemirror/src/editor.ts
  packages/codemirror/style/base.css
  packages/codemirror/test/editor.spec.ts
  packages/completer/package.json
  packages/completer/src/testutils.ts
  packages/completer/src/widget.ts
  packages/console/package.json
  packages/debugger/package.json
  packages/fileeditor-extension/package.json
  packages/json-extension/package.json
  packages/metapackage/test/completer/widget.spec.ts
  packages/tooltip/src/widget.ts
  packages/ui-components/src/hoverbox.ts
  yarn.lock
Labels: enhancement, documentation, pkg:codeeditor, pkg:console, pkg:completer, pkg:fileeditor, pkg:tooltip, pkg:cells, pkg:codemirror, pkg:json, tag:Testing, pkg:ui-components, tag:CSS, pkg:debugger, Design System CSS

#16011 Fix `ServerApp.token` deprecation warnings
  binder/jupyter_config.py
  jupyterlab/galata/__init__.py
  jupyterlab/labapp.py
Labels: maintenance

#15997 Fix manager isDisposed is not set
  packages/services/src/basemanager.ts
  packages/services/test/kernelspec/manager.spec.ts
Labels: bug, pkg:services

#16024 Adjust search test assertion to allow both Node 18 and 20+
  packages/documentsearch/test/searchmodel.spec.ts
Labels: maintenance, pkg:documentsearch

#16016 Backport PR #15997 on branch 4.1.x (Fix manager isDisposed is not set)
  packages/services/src/basemanager.ts
  packages/services/test/kernelspec/manager.spec.ts
Labels: bug, pkg:services

#16017 Backport PR #15997 on branch 4.0.x (Fix manager isDisposed is not set)
  packages/services/src/basemanager.ts
  packages/services/test/kernelspec/manager.spec.ts
Labels: bug, pkg:services

#16027 Backport PR #16024 on branch 4.1.x (Adjust search test assertion to allow both Node 18 and 20+)
  packages/documentsearch/test/searchmodel.spec.ts
Labels: maintenance, pkg:documentsearch

#16028 Backport PR #16024 on branch 4.0.x (Adjust search test assertion to allow both Node 18 and 20+)
  packages/documentsearch/test/searchmodel.spec.ts
Labels: maintenance, pkg:documentsearch

#16018 Bump ydoc in dev-mode
  dev_mode/package.json
Labels: maintenance

#16033 Backport PR #15959 on branch 4.0.x (Ignore links to GitHub user and organisation profiles)
  .github/workflows/linuxtests.yml
Labels: maintenance

#15845 Re-organise the kernel tree in sidebar
  galata/test/documentation/general.test.ts
  galata/test/documentation/general.test.ts-snapshots/running-layout-documentation-linux.png
  galata/test/documentation/overview.test.ts
  galata/test/documentation/overview.test.ts-snapshots/interface-tabs-documentation-linux.png
  packages/running-extension/package.json
  packages/running-extension/src/index.ts
  packages/running-extension/src/kernels.tsx
  packages/running-extension/tsconfig.json
  packages/running/package.json
  packages/running/src/index.tsx
  packages/running/style/base.css
  packages/running/tsconfig.json
  yarn.lock
Labels: enhancement, status:Needs Review, pkg:running, tag:Testing, tag:CSS, Design System CSS

#16031 Backport PR #15851 on branch 4.0.x (Fix broken link)
  CHANGELOG.md
Labels: documentation

#16032 Preventing changing cell type when input is pending to avoid kernel deadlock
  packages/apputils/src/sessioncontext.tsx
  packages/notebook-extension/src/index.ts
  packages/notebook/src/actions.tsx
  packages/notebook/test/actions.spec.ts
  packages/outputarea/src/widget.ts
  packages/outputarea/test/widget.spec.ts
  packages/services/src/kernel/future.ts
Labels: bug, pkg:notebook, pkg:services, pkg:apputils, pkg:cells, pkg:outputarea

#15996 Update to Node 20
  .readthedocs.yml
  binder/environment.yml
  builder/package.json
  buildutils/package.json
  dev_mode/package.json
  docs/source/developer/contributing.rst
  packages/testing/package.json
  yarn.lock
Labels: documentation, maintenance

#16022 Allow setting `ServerConnection.appendToken` via `PageConfig`
  packages/services/src/serverconnection.ts
Labels: enhancement, pkg:services

#15844 Long items should not wrap
  packages/completer/style/base.css
Labels: bug, pkg:completer, tag:CSS, Design System CSS

#15483 Reopen recently opened/closed files and modal navigation
  docs/source/user/running.rst
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-menu-documentation-linux.png
  galata/test/documentation/general.test.ts
  galata/test/documentation/general.test.ts-snapshots/files-create-text-file-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-menu-top-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/running-layout-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/running-modal-documentation-linux.png
  galata/test/documentation/overview.test.ts
  galata/test/documentation/overview.test.ts-snapshots/interface-tabs-documentation-linux.png
  galata/test/documentation/plugins.test.ts-snapshots/plugins-documentation-linux.json
  galata/test/documentation/plugins.test.ts-snapshots/tokens-documentation-linux.json
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-file-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/opened-menu-file-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-jp-running-sessions-jupyterlab-linux.png
  packages/docmanager-extension/package.json
  packages/docmanager-extension/schema/plugin.json
  packages/docmanager-extension/src/index.tsx
  packages/docmanager-extension/src/recents.ts
  packages/docmanager-extension/tsconfig.json
  packages/docmanager/package.json
  packages/docmanager/src/index.ts
  packages/docmanager/src/manager.ts
  packages/docmanager/src/recents.ts
  packages/docmanager/src/tokens.ts
  packages/docmanager/src/widgetmanager.ts
  packages/docmanager/test/recents.spec.ts
  packages/docmanager/tsconfig.json
  packages/docmanager/tsconfig.test.json
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/tokens.ts
  packages/mainmenu-extension/package.json
  packages/mainmenu-extension/schema/plugin.json
  packages/mainmenu-extension/src/index.ts
  packages/mainmenu-extension/src/recents.ts
  packages/mainmenu-extension/style/index.css
  packages/mainmenu-extension/style/index.js
  packages/mainmenu-extension/tsconfig.json
  packages/running-extension/package.json
  packages/running-extension/schema/plugin.json
  packages/running-extension/src/index.ts
  packages/running-extension/src/recents.ts
  packages/running-extension/style/index.css
  packages/running-extension/style/index.js
  packages/running-extension/tsconfig.json
  packages/running/package.json
  packages/running/src/index.tsx
  packages/running/style/base.css
  packages/ui-components/src/components/toolbar.tsx
  yarn.lock
Labels: documentation, pkg:filebrowser, pkg:running, pkg:docmanager, pkg:mainmenu, tag:Testing, pkg:ui-components, tag:CSS, Design System CSS, feature

#16036 Backport PR #15844 on branch 4.1.x (Long items should not wrap)
  packages/completer/style/base.css
Labels: bug, pkg:completer, tag:CSS, Design System CSS

#16006 Fix scrolling on editor interactions when active cell is out of view in windowed mode
  galata/test/jupyterlab/windowed-notebook.test.ts
  packages/cells/src/widget.ts
  packages/notebook/src/widget.ts
Labels: bug, pkg:notebook, pkg:cells, tag:Testing

#16013 Fix windowed notebook and ToC getting broken on reloading from disk
  packages/notebook/src/toc.ts
  packages/notebook/src/windowing.ts
  packages/notebook/test/toc.spec.ts
  packages/toc/src/model.ts
Labels: bug, status:Needs Review, pkg:notebook, pkg:toc

#16041 Update mock package dependencies
  .gitignore
  jupyterlab/tests/mock_packages/test-hyphens-underscore/package.json
  jupyterlab/tests/mock_packages/test-hyphens-underscore/pyproject.toml
  jupyterlab/tests/mock_packages/test-hyphens-underscore/yarn.lock
  jupyterlab/tests/mock_packages/test_no_hyphens/package.json
  jupyterlab/tests/mock_packages/test_no_hyphens/pyproject.toml
  jupyterlab/tests/mock_packages/test_no_hyphens/yarn.lock
Labels: maintenance

#16026 Fix inconsistent header state by specifying header node
  packages/filebrowser/src/listing.ts
  packages/filebrowser/test/listing.spec.ts
Labels: bug, pkg:filebrowser, tag:Testing

#15371 Set fallback for material css properties
  packages/application/style/buttons.css
  packages/apputils-extension/style/splash.css
  packages/apputils/style/dialog.css
  packages/codeeditor/style/linecol.css
  packages/debugger/style/editor.css
  packages/notebook/style/base.css
  packages/rendermime/style/base.css
  packages/theme-dark-extension/style/variables.css
  packages/theme-light-extension/style/variables.css
  packages/ui-components/style/icons.css
  packages/ui-components/style/rjsfTemplates.css
  packages/ui-components/style/styling.css
Labels: enhancement, pkg:notebook, pkg:codeeditor, pkg:application, pkg:rendermime, pkg:apputils, pkg:themes, pkg:ui-components, tag:CSS, pkg:debugger, Design System CSS

#15905 Print out incompatibility errors for "outdated" extensions on `--verbose`
  jupyterlab/commands.py
  jupyterlab/labextensions.py
Labels: maintenance, tag:DevOps

#15909 Add devcontainer
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  docker/Dockerfile
  docker/environment.yml
  docs/source/developer/contributing.rst
Labels: documentation, maintenance

#16048 Backport PR #15973 on branch 4.1.x (Update Release Scripts)
  .github/workflows/prep-release.yml
  .github/workflows/publish-changelog.yml
  .github/workflows/publish-release.yml
Labels: maintenance

#16049 Backport PR #15973 on branch 4.0.x (Update Release Scripts)
  .github/workflows/prep-release.yml
  .github/workflows/publish-changelog.yml
  .github/workflows/publish-release.yml
Labels: maintenance

#16052 Backport PR #15909 on branch 4.0.x (Add devcontainer)
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  docker/Dockerfile
  docs/source/developer/contributing.rst
Labels: documentation, maintenance

#15401 Measure cells out of viewport in windowing mode
  galata/test/jupyterlab/windowed-notebook.test.ts
  packages/notebook/package.json
  packages/notebook/src/widget.ts
  packages/notebook/src/windowing.ts
  packages/ui-components/src/components/windowedlist.ts
  yarn.lock
Labels: bug, pkg:notebook, tag:Testing, pkg:ui-components

#15830 Add token `ICellExecutor` providing an entry to customize cell execution
  galata/test/documentation/plugin_manager.test.ts-snapshots/plugin-manager-search-notebook-documentation-linux.png
  galata/test/documentation/plugins.test.ts-snapshots/plugins-documentation-linux.json
  galata/test/documentation/plugins.test.ts-snapshots/tokens-documentation-linux.json
  packages/console-extension/src/cellexecutor.ts
  packages/console-extension/src/index.ts
  packages/console/src/cellexecutor.ts
  packages/console/src/index.ts
  packages/console/src/panel.ts
  packages/console/src/tokens.ts
  packages/console/src/widget.ts
  packages/notebook-extension/src/cellexecutor.ts
  packages/notebook-extension/src/index.ts
  packages/notebook/src/actions.tsx
  packages/notebook/src/cellexecutor.ts
  packages/notebook/src/index.ts
  packages/notebook/src/tokens.ts
Labels: enhancement, pkg:notebook, pkg:console, tag:Testing

#16043 Refactor shortcuts UI to fix most of the known issues
  .eslintrc.js
  dev_mode/package.json
  docs/source/extension/extension_migration.rst
  examples/app/package.json
  examples/federated/core_package/package.json
  packages/metapackage/package.json
  packages/settingregistry/src/tokens.ts
  packages/shortcuts-extension/package.json
  packages/shortcuts-extension/schema/shortcuts.json
  packages/shortcuts-extension/src/components/ShortcutInput.tsx
  packages/shortcuts-extension/src/components/ShortcutItem.tsx
  packages/shortcuts-extension/src/components/ShortcutList.tsx
  packages/shortcuts-extension/src/components/ShortcutTitleItem.tsx
  packages/shortcuts-extension/src/components/ShortcutUI.tsx
  packages/shortcuts-extension/src/components/TopNav.tsx
  packages/shortcuts-extension/src/components/index.ts
  packages/shortcuts-extension/src/index.ts
  packages/shortcuts-extension/src/registry.ts
  packages/shortcuts-extension/src/renderer.tsx
  packages/shortcuts-extension/src/types.ts
  packages/shortcuts-extension/style/base.css
  packages/shortcuts-extension/style/index.css
  packages/shortcuts-extension/style/index.js
  packages/shortcuts-extension/test/components/ShortcutUI.spec.ts
  packages/shortcuts-extension/test/registry.spec.ts
  packages/shortcuts-extension/test/shortcuts.spec.ts
  yarn.lock
Labels: enhancement, documentation, pkg:notebook, pkg:console, tag:Examples, pkg:shortcuts, tag:Testing, pkg:ui-components, tag:CSS, pkg:settingregistry, Design System CSS

#15449 Add `IShell.currentChanged` and notify commands based on it
  packages/application-extension/src/index.tsx
  packages/application/src/frontend.ts
  packages/apputils-extension/src/index.ts
  packages/docmanager-extension/src/index.tsx
  packages/documentsearch-extension/src/index.ts
Labels: enhancement, status:Needs Review, pkg:application, pkg:apputils, pkg:docmanager, pkg:documentsearch

#16075 Backport PR #16070 on branch 4.1.x (Removes dotted outline from active code cell)
  examples/cell/example.spec.ts-snapshots/example-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-html-display-documentation-linux.png
  galata/test/jupyterlab/completer.test.ts-snapshots/completer-filter-jupyterlab-linux.png
  galata/test/jupyterlab/completer.test.ts-snapshots/completer-jupyterlab-linux.png
  galata/test/jupyterlab/history.test.ts-snapshots/history-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/split-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-toolbar.test.ts-snapshots/run-cell-jupyterlab-linux.png
  packages/codemirror/style/base.css
Labels: bug, tag:Examples, pkg:codemirror, tag:Testing, tag:CSS, Design System CSS

#14683 Propagate command changed signal in semantic commands.
  packages/application-extension/src/index.tsx
  packages/application/src/utils.ts
  packages/application/test/utils.spec.ts
  packages/apputils/src/semanticCommand.ts
  packages/apputils/test/semanticCommand.spec.ts
  packages/console-extension/src/foreign.ts
  packages/console-extension/src/index.ts
  packages/csvviewer-extension/src/index.ts
  packages/fileeditor-extension/src/commands.ts
  packages/fileeditor-extension/src/index.ts
  packages/htmlviewer-extension/src/index.tsx
  packages/imageviewer-extension/src/index.ts
  packages/mainmenu-extension/src/index.ts
  packages/notebook-extension/src/index.ts
  packages/terminal-extension/src/index.ts
Labels: enhancement, pkg:terminal, pkg:notebook, pkg:console, pkg:application, pkg:fileeditor, pkg:csvviewer, pkg:imageviewer, pkg:apputils, pkg:docmanager, pkg:mainmenu, pkg:htmlviewer, pkg:documentsearch
