Repository jupyterlab/jupyterlab, pull requests merged in 2024-05, with the labels that each got.

#16190 Add documentation on using jupyverse
  docs/source/getting_started/installation.rst
Labels: documentation

#16262 Set aria-label to title if no label for
  packages/ui-components/src/components/toolbar.tsx
Labels: bug, pkg:ui-components

#16250 Add reopen closed command to tab context menu
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/tab-launcher-jupyterlab-linux.png
  galata/test/jupyterlab/contextmenu.test.ts-snapshots/tab-notebook-jupyterlab-linux.png
  packages/mainmenu-extension/schema/plugin.json
Labels: enhancement, pkg:mainmenu, tag:Testing

#16274 Backport PR #16262 on branch 4.1.x (Set aria-label to title if no label for)
  packages/ui-components/src/components/toolbar.tsx
Labels: bug, pkg:ui-components

#16273 Check the command is registered before calling `notifyCommandChanged()`
  packages/notebook-extension/src/index.ts
Labels: bug, pkg:notebook

#16258 Fix replace when replacement text matches source text multiple times
  galata/test/jupyterlab/notebook-replace.test.ts
  packages/codemirror/src/searchprovider.ts
  packages/notebook/src/searchprovider.ts
Labels: bug, pkg:notebook, pkg:codemirror, tag:Testing

#16261 Fix changing font size in text editor
  galata/test/jupyterlab/texteditor.test.ts
  packages/codemirror/src/editor.ts
  packages/fileeditor-extension/src/commands.ts
Labels: bug, pkg:fileeditor, pkg:codemirror, tag:Testing

#16285 Backport PR #16261 on branch 4.1.x (Fix changing font size in text editor)
  galata/test/jupyterlab/texteditor.test.ts
  packages/codemirror/src/editor.ts
  packages/fileeditor-extension/src/commands.ts
Labels: bug, pkg:fileeditor, pkg:codemirror, tag:Testing

#16293 Search and replace with substring in markdown and raw cells
  galata/test/jupyterlab/notebook-replace.test.ts
  packages/cells/src/searchprovider.ts
Labels: bug, pkg:cells, tag:Testing

#16298 Allow to invoke inline completer anywhere (not only at the end of line)
  packages/completer/src/handler.ts
Labels: bug, pkg:completer

#16307 Backport PR #16298 on branch 4.1.x (Allow to invoke inline completer anywhere (not only at the end of line))
  packages/completer/src/handler.ts
Labels: bug, pkg:completer

#16305 Fix typo in workspace format documentation (4.1.x)
  docs/source/user/urls.rst
Labels: documentation

#16291 Wait for the cell toolbar items to be rendered the first time before looking for overlap
  galata/test/benchmark/notebook.spec.ts-snapshots/large-md-notebook-ipynb-benchmark-linux.png
  packages/cell-toolbar/src/celltoolbartracker.ts
Labels: bug, maintenance, tag:Testing, pkg:cell-toolbar

#16304 Resetting a shortcut does not restore and enable the default if it was modified
  packages/shortcuts-extension/src/components/ShortcutUI.tsx
  packages/shortcuts-extension/test/components/ShortcutUI.spec.ts
Labels: bug, pkg:shortcuts

#16287 Add lowercase proxy vars and make priority consistent with other tools
  jupyterlab/extensions/pypi.py
Labels: bug

#16302 Allow RegExp in galata helper when looking for a tab
  galata/src/helpers/activity.ts
Labels: maintenance, tag:Testing

#16324 Update 4.2.x branch config and links
  .github/pull_request_template.md
  .github/workflows/check-release.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker-test.yml
  .github/workflows/linuxjs-tests.yml
  .github/workflows/linuxtests.yml
  .github/workflows/macostests.yml
  .github/workflows/windowstests.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  RELEASE.md
  buildutils/src/ensure-repo.ts
  docs/source/conf.py
  docs/source/developer/accessibility.rst
  docs/source/developer/components.rst
  docs/source/developer/contributing.rst
  docs/source/developer/css.rst
  docs/source/developer/repo.rst
  docs/source/extension/extension_dev.rst
  docs/source/extension/extension_migration.rst
  docs/source/extension/extension_multiple_ui.rst
  docs/source/extension/extension_tutorial.rst
  docs/source/extension/internationalization.rst
  docs/source/getting_started/faq.rst
  docs/source/getting_started/overview.rst
  docs/source/user/index.md
  galata/README.md
  packages/apputils-extension/src/announcements.ts
  packages/extensionmanager/src/widget.tsx
  packages/help-extension/src/index.tsx
  packages/javascript-extension/README.md
  packages/json-extension/README.md
  packages/services/README.md
  packages/ui-components/docs/source/intro.rst
  packages/ui-components/docs/source/labicon.rst
  packages/vega5-extension/README.md
Labels: documentation, maintenance, pkg:help, pkg:services, pkg:apputils, pkg:vega, pkg:json, pkg:extensionmanager, pkg:javascript, tag:Testing, pkg:ui-components

#16325 Reconfigure 4.1.x branch (4.2.x is new stable)
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  buildutils/src/ensure-repo.ts
  docs/source/extension/extension_migration.rst
  docs/source/extension/internationalization.rst
  docs/source/getting_started/overview.rst
  docs/source/user/index.md
  packages/apputils-extension/src/announcements.ts
  packages/extensionmanager/src/widget.tsx
  packages/help-extension/src/index.tsx
  packages/services/README.md
  packages/ui-components/docs/source/intro.rst
Labels: documentation, maintenance, pkg:help, pkg:services, pkg:apputils, pkg:extensionmanager, pkg:ui-components

#16246 Allow to select the path in debugger source component
  packages/debugger/src/panels/sources/index.tsx
  packages/debugger/src/panels/sources/sourcepath.tsx
  packages/debugger/style/sources.css
Labels: enhancement, tag:CSS, pkg:debugger, Design System CSS

#15344 Add error field and animation in inline completion
  packages/completer/src/ghost.ts
  packages/completer/src/inline.ts
  packages/completer/src/reconciliator.ts
  packages/completer/src/tokens.ts
  packages/completer/style/base.css
  packages/completer/test/inline.spec.ts
Labels: enhancement, pkg:completer, tag:CSS, Design System CSS

#16300 Update to Playwright 1.44.0
  galata/package.json
  yarn.lock
Labels: maintenance, tag:Testing

#16301 Advertise the color scheme based on the theme
  packages/apputils-extension/src/themesplugins.ts
Labels: enhancement, pkg:apputils

#16306 Upgrade CodeMirror dependencies
  packages/cells/package.json
  packages/codemirror-extension/package.json
  packages/codemirror/package.json
  packages/codemirror/src/language.ts
  packages/completer/package.json
  packages/console/package.json
  packages/debugger/package.json
  packages/fileeditor-extension/package.json
  yarn.lock
Labels: bug, pkg:console, pkg:completer, pkg:fileeditor, pkg:cells, pkg:codemirror, pkg:debugger

#16314 Run Python tests on MacOS with Python 12, replace `canvas` with `jest-canvas-mock`
  .github/workflows/macostests.yml
  docs/source/developer/contributing.rst
  galata/test/galata/benchmarkReporter.spec.ts-snapshots/customized-test-galata-linux.svg
  galata/test/galata/benchmarkReporter.spec.ts-snapshots/test-galata-linux.svg
  packages/csvviewer/jest.config.js
  packages/csvviewer/package.json
  packages/debugger/jest.config.js
  packages/debugger/package.json
  packages/terminal/jest.config.js
  packages/terminal/package.json
  packages/vega5-extension/jest.config.js
  packages/vega5-extension/package.json
  packages/vega5-extension/test/renderer.spec.ts
  yarn.lock
Labels: documentation, pkg:terminal, maintenance, pkg:csvviewer, pkg:vega, tag:Testing, pkg:debugger

#16333 Update .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: maintenance

#16312 Add Signal to proxy all Completer selected Signals
  packages/completer/src/manager.ts
  packages/completer/src/tokens.ts
  packages/metapackage/test/completer/manager.spec.ts
Labels: enhancement, pkg:completer

#16335 Reactive toolbar: avoid simultaneous calls to _onResize()
  packages/ui-components/src/components/toolbar.tsx
Labels: bug, pkg:ui-components

#16338 Backport PR #16335 on branch 4.2.x (Reactive toolbar: avoid simultaneous calls to _onResize())
  packages/ui-components/src/components/toolbar.tsx
Labels: bug, pkg:ui-components

#16348 Fix execution in console in terminal interaction mode
  galata/test/jupyterlab/console.test.ts
  packages/codemirror/src/commands.ts
  packages/console/package.json
  packages/console/src/widget.ts
  yarn.lock
Labels: bug, pkg:console, pkg:codemirror, tag:Testing

#16356 Backport PR #16348 on branch 4.2.x (Fix execution in console in terminal interaction mode)
  galata/test/jupyterlab/console.test.ts
  packages/codemirror/src/commands.ts
  packages/console/package.json
  packages/console/src/widget.ts
  yarn.lock
Labels: bug, pkg:console, pkg:codemirror, tag:Testing

#16346 Fix workspace context menu incorrectly showing up in other sidebar sections
  packages/workspaces-extension/schema/sidebar.json
Labels: bug, pkg:workspaces

#16357 Backport PR #16346 on branch 4.2.x (Fix workspace context menu incorrectly showing up in other sidebar sections)
  packages/workspaces-extension/schema/sidebar.json
Labels: bug, pkg:workspaces

#16322 Add the command to toggle the virtual scrollbar to the palette
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  packages/notebook-extension/src/index.ts
Labels: enhancement, pkg:notebook, tag:Testing

#16343 Fix `Shift + Tab` contextual help inspector tooltip regression
  galata/test/jupyterlab/inspector-tooltip.test.ts
  packages/codemirror/src/commands.ts
Labels: bug, pkg:codemirror, tag:Testing

#16360 Backport PR #16343 on branch 4.2.x (Fix `Shift + Tab` contextual help inspector tooltip regression)
  galata/test/jupyterlab/inspector-tooltip.test.ts
  packages/codemirror/src/commands.ts
Labels: bug, pkg:codemirror, tag:Testing

#16351 Do not check links to Jupyter blog on Medium
  .github/workflows/linuxtests.yml
Labels: maintenance

#16362 Backport PR #16351 on branch 4.1.x (Do not check links to Jupyter blog on Medium)
  .github/workflows/linuxtests.yml
Labels: maintenance

#16363 Backport PR #16351 on branch 4.2.x (Do not check links to Jupyter blog on Medium)
  .github/workflows/linuxtests.yml
Labels: maintenance

#16368 Fix runtime console error in debugger extension
  packages/debugger/src/handler.ts
Labels: bug, pkg:debugger

#16372 Backport PR #16368 on branch 4.2.x (Fix runtime console error in debugger extension)
  packages/debugger/src/handler.ts
Labels: bug, pkg:debugger

#16365 Fix failing link check (point to JAWS on Wikipedia)
  docs/source/getting_started/accessibility.rst
Labels: documentation, maintenance

#16385 Backport PR #16365 on branch 4.2.x (Fix failing link check (point to JAWS on Wikipedia))
  docs/source/getting_started/accessibility.rst
Labels: documentation, maintenance

#16384 Backport PR #16365 on branch 4.1.x (Fix failing link check (point to JAWS on Wikipedia))
  docs/source/getting_started/accessibility.rst
Labels: documentation, maintenance

#16394 Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

#16397 Align token usage for events
  packages/services/src/event/index.ts
Labels: bug, pkg:services

#16390 Add the toolbar again when updating the title of PanelWithToolbar
  packages/ui-components/src/components/accordiontoolbar.ts
  packages/ui-components/test/sidepanel.spec.ts
Labels: bug, pkg:ui-components

#16405 Backport PR #16397 on branch 4.0.x (Align token usage for events)
  packages/services/src/event/index.ts
Labels: bug, pkg:services

#16406 Backport PR #16397 on branch 4.1.x (Align token usage for events)
  packages/services/src/event/index.ts
Labels: bug, pkg:services

#16407 Backport PR #16397 on branch 4.2.x (Align token usage for events)
  packages/services/src/event/index.ts
Labels: bug, pkg:services
