Repository jupyterlab/jupyterlab, pull requests merged in 2024-09, with the labels that each got.

#16771 Remove Python 2 from documentation
  README.md
  docs/source/getting_started/installation.rst
Labels: enhancement, documentation

#16763 Fix compatibility with `jupyterlab-unfold`
  packages/filebrowser/src/listing.ts
Labels: bug, pkg:filebrowser

#16761 Document mandatory steps before running JupyterLab in dev mode
  docs/source/developer/contributing.rst
  jupyterlab/commands.py
Labels: documentation

#16764 Fix compatibility with server-side execution extensions
  docs/source/extension/extension_migration.rst
  packages/cells/src/model.ts
Labels: bug, documentation, pkg:cells

#16748 Adjust the alignment and cursor of the running session icons in the status bar
  galata/test/documentation/custom_css.test.ts-snapshots/custom-css-main-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-terminal-position-single-documentation-linux.png
  galata/test/documentation/export_notebook.test.ts-snapshots/exporting-menu-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-editor-overview-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/jupyterlab-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/terminal-layout-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-chinese-documentation-linux.png
  galata/test/documentation/overview.test.ts-snapshots/interface-jupyterlab-documentation-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/dark-theme-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/launch-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/simple-mode-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/filebrowser-right-jupyterlab-linux.png
  packages/apputils/src/runningSessions.tsx
Labels: bug, pkg:apputils, tag:Testing

#16775 Fix shutdown kernel button in running panel
  packages/running/src/index.tsx
  packages/running/style/base.css
Labels: bug, pkg:running, tag:CSS, Design System CSS

#16780 Correct file size sorting in file browser
  packages/filebrowser/src/listing.ts
Labels: bug, pkg:filebrowser

#16787 Replace link to accessiblity project with a link to accessiblity issues
  docs/source/getting_started/accessibility.rst
Labels: documentation

#16797 Fix typo in the `IPropertyInspectorProvider` plugin description
  galata/test/documentation/plugins.test.ts-snapshots/tokens-documentation-linux.json
  packages/property-inspector/src/token.ts
Labels: documentation, tag:Testing, pkg:property-inspector

#16814 Improve notebook output stream processing
  packages/outputarea/src/model.ts
Labels: enhancement, pkg:outputarea

#16811 Prevent text cursor on clickable items in settings
  packages/settingeditor/style/base.css
  packages/shortcuts-extension/style/base.css
Labels: bug, pkg:shortcuts, pkg:settingeditor, tag:CSS, Design System CSS

#16810 Allow running the `browser_check` in headed mode
  jupyterlab/browser-test.js
Labels: status:Needs Review, maintenance

#16776 Update `Show Virtual Scrollbar` -> `Show Minimap`
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  packages/notebook-extension/src/index.ts
Labels: enhancement, pkg:notebook, tag:Testing

#16817 Bump jupyter-ydoc to 3.0.0a8
  examples/cell/package.json
  examples/console/package.json
  examples/notebook/package.json
  packages/cell-toolbar/package.json
  packages/cells/package.json
  packages/codeeditor/package.json
  packages/codemirror-extension/package.json
  packages/codemirror/package.json
  packages/completer/package.json
  packages/console/package.json
  packages/debugger/package.json
  packages/docregistry/package.json
  packages/fileeditor/package.json
  packages/notebook-extension/package.json
  packages/notebook/package.json
  packages/services/package.json
  yarn.lock
Labels: pkg:notebook, pkg:codeeditor, maintenance, pkg:console, pkg:completer, pkg:docregistry, tag:Examples, pkg:fileeditor, pkg:services, pkg:cells, pkg:codemirror, pkg:debugger, pkg:cell-toolbar

#16821 Support `||` in the `update:dependency` script
  buildutils/src/update-dependency.ts
Labels: maintenance, tag:DevOps
