Repository jupyterlab/jupyterlab, pull requests merged in 2024-08, with the labels that each got.

#16470 Trigger the toolbar button action on click instead of on mousedown
  packages/apputils-extension/src/notificationplugin.tsx
  packages/apputils/src/mainareawidget.ts
  packages/apputils/src/toolbar/registry.ts
  packages/notebook/test/default-toolbar.spec.ts
  packages/toc-extension/src/index.ts
  packages/ui-components/src/components/toolbar.tsx
  packages/ui-components/test/toolbar.spec.ts
Labels: bug, pkg:notebook, pkg:apputils, pkg:ui-components, pkg:toc

#16628 Fix Error Rendering .ipynb with Array in 'text/plain' Output
  packages/notebook/src/windowing.ts
  packages/notebook/test/modelfactory.spec.ts
Labels: bug, pkg:notebook

#16632 Update pending input message for clarification
  packages/notebook/src/cellexecutor.ts
Labels: enhancement, documentation, pkg:notebook

#16590 [GSoC 2024] PoC Async plugin providing a widget factory
  dev_mode/index.js
  examples/filebrowser/src/index.ts
  examples/notebook/src/index.ts
  packages/application/src/frontend.ts
  packages/coreutils/src/plugins.ts
  packages/csvviewer-extension/package.json
  packages/docmanager-extension/src/index.tsx
  packages/docmanager/src/manager.ts
  packages/docmanager/src/tokens.ts
  packages/docmanager/src/widgetmanager.ts
  packages/docmanager/test/manager.spec.ts
  packages/docmanager/test/widgetmanager.spec.ts
  packages/docregistry/src/registry.ts
  packages/filebrowser/src/listing.ts
  packages/rendermime-extension/src/index.ts
Labels: pkg:filebrowser, pkg:docregistry, tag:Examples, pkg:application, pkg:csvviewer, pkg:rendermime, pkg:coreutils, pkg:docmanager, feature

#16613 Suppress the inline/tab completer if the other is already active
  packages/completer-extension/package.json
  packages/completer-extension/schema/inline-completer.json
  packages/completer-extension/schema/manager.json
  packages/completer-extension/src/index.ts
  packages/completer-extension/style/index.css
  packages/completer-extension/style/index.js
  packages/completer-extension/tsconfig.json
  packages/completer/src/handler.ts
  packages/completer/src/inline.ts
  packages/completer/src/manager.ts
  packages/completer/src/tokens.ts
  packages/completer/src/widget.ts
  yarn.lock
Labels: enhancement, pkg:completer, tag:CSS, Design System CSS

#16598 Add setting to enable single-click navigation in file browser
  docs/source/user/files.rst
  packages/filebrowser-extension/schema/browser.json
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/browser.ts
  packages/filebrowser/src/listing.ts
Labels: enhancement, documentation, pkg:filebrowser

#16629 Standardize dialogs to shut down all kernels
  packages/mainmenu-extension/src/index.ts
  packages/running-extension/src/kernels.tsx
  packages/running/src/index.tsx
  packages/services/src/kernel/kernel.ts
  packages/services/src/kernel/manager.ts
Labels: enhancement, pkg:running, pkg:services, pkg:mainmenu

#16498 Improve stream output handling
  dev_mode/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/notebook/package.json
  packages/cell-toolbar/package.json
  packages/cells/package.json
  packages/cells/src/model.ts
  packages/cells/src/widget.ts
  packages/cells/test/model.spec.ts
  packages/codeeditor/package.json
  packages/codemirror-extension/package.json
  packages/codemirror/package.json
  packages/completer/package.json
  packages/console/package.json
  packages/debugger/package.json
  packages/docregistry/package.json
  packages/fileeditor/package.json
  packages/notebook-extension/package.json
  packages/notebook/package.json
  packages/outputarea/src/model.ts
  packages/outputarea/src/widget.ts
  packages/outputarea/test/widget.spec.ts
  packages/rendermime/src/outputmodel.ts
  packages/services/package.json
  yarn.lock
Labels: enhancement, pkg:notebook, pkg:codeeditor, pkg:console, pkg:completer, pkg:docregistry, tag:Examples, pkg:fileeditor, pkg:rendermime, tag:Performance, pkg:services, pkg:cells, pkg:codemirror, pkg:outputarea, pkg:debugger, pkg:cell-toolbar

#16653 Adopt a theme CSS variable for the "expand a collapsed cell" button shadow
  packages/cells/style/placeholder.css
Labels: enhancement, pkg:cells, tag:CSS, Design System CSS

#16637 Option to disable cell toolbar
  packages/cell-toolbar-extension/schema/plugin.json
  packages/cell-toolbar-extension/src/index.ts
  packages/cell-toolbar/src/celltoolbartracker.ts
Labels: enhancement, pkg:cell-toolbar

#16643 Update the copyright year in About JupyterLab and LICENSE
  LICENSE
  packages/help-extension/src/index.tsx
Labels: bug, pkg:help

#16639 Add kernel selection to Galata notebook creation
  galata/src/helpers/notebook.ts
  galata/test/galata/notebook.spec.ts
Labels: enhancement, tag:Testing

#16656 Convert `@jupyterlab/completer` type colors to theme CSS variables
  packages/completer/style/base.css
  packages/theme-dark-extension/style/variables.css
  packages/theme-dark-high-contrast-extension/style/variables.css
  packages/theme-light-extension/style/variables.css
Labels: enhancement, pkg:completer, pkg:themes, tag:CSS, Design System CSS

#16647 Do not block shift-click mouse up handler on active cell
  packages/notebook/src/widget.ts
  packages/notebook/test/widget.spec.ts
Labels: bug, pkg:notebook

#16658 Update docs to mention "show cell toolbar" option
  docs/source/user/notebook.rst
Labels: enhancement, documentation

#16663 Backport PR #16647 on branch 4.2.x (Do not block shift-click mouse up handler on active cell)
  packages/notebook/src/widget.ts
  packages/notebook/test/widget.spec.ts
Labels: bug, pkg:notebook

#16651 Store/retrieve execution state from the shared model
  dev_mode/package.json
  examples/cell/package.json
  examples/console/package.json
  examples/notebook/package.json
  packages/cell-toolbar/package.json
  packages/cells/package.json
  packages/cells/src/model.ts
  packages/codeeditor/package.json
  packages/codemirror-extension/package.json
  packages/codemirror/package.json
  packages/completer/package.json
  packages/console/package.json
  packages/debugger/package.json
  packages/docregistry/package.json
  packages/fileeditor/package.json
  packages/notebook-extension/package.json
  packages/notebook/package.json
  packages/services/package.json
  yarn.lock
Labels: bug, pkg:notebook, pkg:codeeditor, pkg:console, pkg:completer, pkg:docregistry, tag:Examples, pkg:fileeditor, pkg:services, pkg:cells, pkg:codemirror, pkg:debugger, pkg:cell-toolbar

#16646 Implement resizing for the file browser
  .eslintrc.js
  examples/app/example.spec.ts-snapshots/example-linux.png
  examples/federated/example.spec.ts-snapshots/example-linux.png
  examples/filebrowser/example.spec.ts-snapshots/example-linux.png
  galata/test/documentation/custom_css.test.ts
  galata/test/documentation/custom_css.test.ts-snapshots/custom-css-main-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/customized-context-menu-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/customized-menu-bar-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-context-menu-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-menu-bar-documentation-linux.png
  galata/test/documentation/customization.test.ts-snapshots/default-terminal-position-single-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-editor-settings-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-formats-open-with-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/files-shareable-link-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-left-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/jupyterlab-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/terminal-layout-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-chinese-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-settings-documentation-linux.png
  galata/test/documentation/overview.test.ts-snapshots/interface-jupyterlab-documentation-linux.png
  galata/test/documentation/overview.test.ts-snapshots/interface-tabs-menu-documentation-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/dark-theme-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/launch-jupyterlab-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/simple-mode-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/filebrowser-right-jupyterlab-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-filebrowser-jupyterlab-linux.png
  packages/apputils/src/domutils.ts
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/browser.ts
  packages/filebrowser/src/listing.ts
  packages/filebrowser/style/base.css
Labels: enhancement, pkg:filebrowser, tag:Examples, pkg:apputils, tag:Testing, tag:CSS, Design System CSS

#16341 Shut down unused kernels
  galata/test/documentation/general.test.ts-snapshots/running-layout-documentation-linux.png
  galata/test/documentation/workspaces.test.ts-snapshots/workspaces-sidebar-documentation-linux.png
  galata/test/jupyterlab/sidebars.test.ts-snapshots/opened-sidebar-jp-running-sessions-jupyterlab-linux.png
  packages/running-extension/src/index.ts
  packages/running-extension/src/kernels.tsx
  packages/running-extension/tsconfig.json
  packages/running/src/index.tsx
  packages/ui-components/src/components/toolbar.tsx
  packages/ui-components/src/icon/iconimports.ts
  packages/ui-components/style/deprecated.css
  packages/ui-components/style/icons/toolbar/cleaning.svg
Labels: enhancement, pkg:running, tag:Testing, pkg:ui-components, tag:CSS, Design System CSS

#16228 Show kernel ID for notebooks and consoles in list view
  galata/test/documentation/general.test.ts
  galata/test/documentation/general.test.ts-snapshots/running-modal-documentation-linux.png
  galata/test/documentation/utils.ts
  packages/running-extension/src/kernels.tsx
Labels: enhancement, pkg:running, tag:Testing

#16308 Add fullscreen mode menu entry and shortcut
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-view-appearance-jupyterlab-linux.png
  packages/application-extension/schema/commands.json
  packages/application-extension/src/index.tsx
  packages/debugger-extension/package.json
  packages/debugger-extension/schema/main.json
  packages/debugger-extension/src/index.ts
  yarn.lock
Labels: enhancement, pkg:application, tag:Testing, pkg:debugger

#16683 Fix JupyterLab install instructions in the debugger docs
  docs/source/user/debugger.rst
Labels: documentation

#16686 Backport PR #16683 on branch 4.2.x (Fix JupyterLab install instructions in the debugger docs)
  docs/source/user/debugger.rst
Labels: documentation

#16679 Avoid changing type of read-only cells
  packages/notebook/src/actions.tsx
  packages/notebook/test/actions.spec.ts
Labels: bug, pkg:notebook

#16696 Backport PR #16682 on branch 4.2.x (Prevent replacing code with find and replace in read-only cells)
  packages/cells/src/searchprovider.ts
  packages/notebook/test/searchprovider.spec.ts
Labels: bug, pkg:notebook, pkg:cells

#16699 Backport PR #16486 on branch 4.2.x (Bump braces from 3.0.2 to 3.0.3)
  yarn.lock
Labels: maintenance, dependencies, javascript

#16704 Null checks to guard against cell toolbar errors on startup
  packages/cell-toolbar/src/celltoolbartracker.ts
Labels: bug, pkg:cell-toolbar

#16705 Add null checks for "input" variable
  packages/extensionmanager/src/widget.tsx
Labels: bug, pkg:extensionmanager

#16695 Update contents model on file change due to save from RTC
  packages/docregistry/src/context.ts
Labels: bug, pkg:docregistry

#16693 Add a guard on uninitialized nodes when resizing, remove log
  packages/filebrowser/src/listing.ts
Labels: bug, pkg:filebrowser

#16692 Fix stream output
  examples/cell/package.json
  examples/console/package.json
  examples/notebook/package.json
  jupyterlab/staging/package.json
  jupyterlab/staging/yarn.lock
  packages/cell-toolbar/package.json
  packages/cells/package.json
  packages/cells/src/model.ts
  packages/codeeditor/package.json
  packages/codemirror-extension/package.json
  packages/codemirror/package.json
  packages/completer/package.json
  packages/console/package.json
  packages/debugger/package.json
  packages/docregistry/package.json
  packages/fileeditor/package.json
  packages/notebook-extension/package.json
  packages/notebook/package.json
  packages/observables/src/observablestring.ts
  packages/outputarea/src/model.ts
  packages/services/package.json
  yarn.lock
Labels: bug, pkg:notebook, pkg:codeeditor, pkg:console, pkg:completer, pkg:docregistry, tag:Examples, pkg:fileeditor, pkg:services, pkg:cells, pkg:codemirror, pkg:outputarea, pkg:observables, pkg:debugger, pkg:cell-toolbar

#16710 Use locale name instead of display/native name to toggle language
  packages/translation-extension/src/index.ts
Labels: bug, pkg:translation

#16714 Backport PR #16710 on branch 4.2.x (Use locale name instead of display/native name to toggle language)
  packages/translation-extension/src/index.ts
Labels: bug, pkg:translation

#16709 User-facing changelog for JupyterLab 4.3
  CHANGELOG.md
  docs/source/extension/extension_migration.rst
  docs/source/getting_started/changelog_assets/4.3-dialogs.png
  docs/source/getting_started/changelog_assets/4.3-filebrowser.png
  docs/source/getting_started/changelog_assets/4.3-kernels-sidebar.png
  docs/source/getting_started/changelog_assets/4.3-minimap.png
Labels: documentation

#16723 Use `class` instead of `id` in the log console test
  packages/logconsole/test/widget.spec.ts
Labels: bug, pkg:logconsole

#16727 Backport PR #16723 on branch 3.6.x (Use `class` instead of `id` in the log console test)
  packages/logconsole/test/widget.spec.ts
Labels: bug, pkg:logconsole

#16565 Add `Tab` as an alternative shortcut for accepting inline completion
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/jupyterlab/inline-completer.test.ts-snapshots/inline-completer-shortcuts-on-jupyterlab-linux.png
  packages/completer-extension/schema/inline-completer.json
Labels: enhancement, pkg:completer, tag:Testing

#16726 Backport PR #16723 on branch 4.2.x (Use `class` instead of `id` in the log console test)
  packages/logconsole/test/widget.spec.ts
Labels: bug, pkg:logconsole
