Repository jupyterlab/jupyterlab, pull requests merged in 2024-06, with the labels that each got.

#16408 Backport PR #16390 on branch 4.2.x (Add the toolbar again when updating the title of PanelWithToolbar)
  packages/ui-components/src/components/accordiontoolbar.ts
  packages/ui-components/test/sidepanel.spec.ts
Labels: bug, pkg:ui-components

#16414 Align tutorial with extension template
  docs/source/extension/extension_tutorial.rst
Labels: documentation

#16417 Backport PR #16414 on branch 4.2.x (Align tutorial with extension template)
  docs/source/extension/extension_tutorial.rst
Labels: documentation

#16420 Comments in nested markdown code blocks incorrectly being identified as TOC headings
  packages/toc/src/utils/markdown.ts
  packages/toc/test/markdown.spec.ts
Labels: bug, pkg:toc

#16421 Add typings to the inline completer example
  docs/source/extension/extension_points.rst
Labels: documentation

#16428 Backport PR #16423 on branch 4.2.x (Fix usage check job on CI (add `setuptools` dependency))
  pyproject.toml
Labels: maintenance

#16429 Backport PR #16423 on branch 4.1.x (Fix usage check job on CI (add `setuptools` dependency))
  pyproject.toml
Labels: maintenance

#16427 Backport PR #16421 on branch 4.2.x (Add typings to the inline completer example)
  docs/source/extension/extension_points.rst
Labels: documentation

#16435 Backport PR #16409 on branch 4.2.x (Reactive toolbar computation, again...)
  packages/ui-components/src/components/toolbar.tsx
Labels: bug, pkg:ui-components

#16418 Backport PR #16314 on branch 4.2.x (Run Python tests on MacOS with Python 12, replace `canvas` with `jest-canvas-mock`)
  .github/workflows/macostests.yml
  docs/source/developer/contributing.rst
  galata/test/galata/benchmarkReporter.spec.ts-snapshots/customized-test-galata-linux.svg
  galata/test/galata/benchmarkReporter.spec.ts-snapshots/test-galata-linux.svg
  packages/csvviewer/jest.config.js
  packages/csvviewer/package.json
  packages/debugger/jest.config.js
  packages/debugger/package.json
  packages/terminal/jest.config.js
  packages/terminal/package.json
  packages/vega5-extension/jest.config.js
  packages/vega5-extension/package.json
  packages/vega5-extension/test/renderer.spec.ts
  yarn.lock
Labels: documentation, pkg:terminal, maintenance, pkg:csvviewer, pkg:vega, tag:Testing, pkg:debugger

#16434 Do not install cairo/pango on Mac in CI
  .github/workflows/macostests.yml
Labels: maintenance

#16436 Fix typos in `jupyter-collaboration`-missing error message
  jupyterlab/labapp.py
Labels: bug

#16439 Backport PR #16434 on branch 4.2.x (Do not install cairo/pango on Mac in CI)
  .github/workflows/macostests.yml
Labels: maintenance

#16437 Fix code comments in tilde (~) fences incorrectly shown as headings in TOC
  packages/toc/src/utils/markdown.ts
  packages/toc/test/markdown.spec.ts
Labels: bug, pkg:toc

#16440 Backport PR #16436 on branch 4.2.x (Fix typos in `jupyter-collaboration`-missing error message)
  jupyterlab/labapp.py
Labels: bug

#16387 Use lazy loading for HTML/PDF files, and help tabs
  packages/help-extension/src/index.tsx
  packages/htmlviewer/src/widget.tsx
  packages/pdf-extension/src/index.ts
  packages/ui-components/src/components/iframe.ts
Labels: enhancement, pkg:help, pkg:pdf, pkg:ui-components, pkg:htmlviewer

#16443 Fix async function display
  packages/fileeditor/src/toc/python.ts
  packages/fileeditor/test/python.spec.ts
Labels: bug, pkg:fileeditor

#16430 Fix some flaky ui tests
  galata/src/helpers/notebook.ts
  galata/test/documentation/extension_manager.test.ts
  galata/test/jupyterlab/console.test.ts
  galata/test/jupyterlab/notebook-max-outputs.test.ts
  galata/test/jupyterlab/notebook-search.test.ts
  galata/test/jupyterlab/settings.test.ts
  galata/test/jupyterlab/texteditor.test.ts
  packages/docmanager-extension/src/index.tsx
Labels: maintenance, pkg:docmanager, tag:Testing

#16449 Backport PR #16430 on branch 4.2.x (Fix some flaky ui tests )
  galata/src/helpers/notebook.ts
  galata/test/documentation/extension_manager.test.ts
  galata/test/jupyterlab/console.test.ts
  galata/test/jupyterlab/notebook-max-outputs.test.ts
  galata/test/jupyterlab/notebook-search.test.ts
  galata/test/jupyterlab/settings.test.ts
  galata/test/jupyterlab/texteditor.test.ts
  packages/docmanager-extension/src/index.tsx
Labels: maintenance, pkg:docmanager, tag:Testing

#16383 Fix width and margins of the notebook footer.
  packages/notebook/style/notebookfooter.css
  packages/ui-components/src/components/windowedlist.ts
Labels: bug, pkg:notebook, pkg:ui-components, tag:CSS, Design System CSS

#16453 Backport PR #16383 on branch 4.2.x (Fix width and margins of the notebook footer.)
  packages/notebook/style/notebookfooter.css
  packages/ui-components/src/components/windowedlist.ts
Labels: bug, pkg:notebook, pkg:ui-components, tag:CSS, Design System CSS

#16450 Align extension migration docs with the latest extension template
  docs/source/extension/extension_migration.rst
  docs/source/extension/notebook.rst
  jupyterlab/upgrade_extension.py
  pyproject.toml
Labels: documentation

#16459 Ignore empty stdout data when logging in verdaccio
  buildutils/src/local-repository.ts
Labels: maintenance

#16462 Backport PR #16459 on branch 4.2.x (Ignore empty stdout data when logging in verdaccio)
  buildutils/src/local-repository.ts
Labels: maintenance

#16461 Backport PR #16459 on branch 4.1.x (Ignore empty stdout data when logging in verdaccio)
  buildutils/src/local-repository.ts
Labels: maintenance

#16460 Backport PR #16459 on branch 4.0.x (Ignore empty stdout data when logging in verdaccio)
  buildutils/src/local-repository.ts
Labels: maintenance

#16467 Ensure api Directory is Present to Build Documentation
  docs/make.bat
Labels: documentation

#16469 Backport PR #16467 on branch 4.2.x (Ensure `api` directory is present to build documentation)
  docs/make.bat
Labels: documentation

#16465 Add a notice for Windows users to activate symbolic links in contributing section
  docs/source/developer/contributing.rst
  docs/source/extension/extension_tutorial.rst
Labels: documentation

#16476 Fix typo in documentation - spurious single quote prefix
  docs/source/getting_started/faq.rst
Labels: documentation

#16477 Backport PR #16476 on branch 4.2.x (Fix typo in documentation - spurious single quote prefix)
  docs/source/getting_started/faq.rst
Labels: documentation

#16431 Define `ICodeCellModel.executionState`, deprecate `setPrompt()`
  packages/cells/src/model.ts
  packages/cells/src/widget.ts
  packages/console/src/widget.ts
  packages/notebook/src/actions.tsx
Labels: enhancement, pkg:notebook, pkg:console, pkg:cells

#16482 Fix check link CI failure in README (time zone converter site)
  README.md
Labels: bug, documentation

#16484 Backport PR #16482 on branch 4.2.x (Fix check link CI failure in README (time zone converter site))
  README.md
Labels: bug, documentation

#16471 Use correct hub restart URL
  .github/workflows/linuxjs-tests.yml
  packages/hub-extension/babel.config.js
  packages/hub-extension/jest.config.js
  packages/hub-extension/package.json
  packages/hub-extension/src/index.ts
  packages/hub-extension/test/hub.spec.ts
  packages/hub-extension/tsconfig.test.json
  yarn.lock
Labels: bug, pkg:hub

#16502 Backport PR #16471 on branch 4.2.x (Use correct hub restart URL)
  .github/workflows/linuxjs-tests.yml
  packages/hub-extension/babel.config.js
  packages/hub-extension/jest.config.js
  packages/hub-extension/package.json
  packages/hub-extension/src/index.ts
  packages/hub-extension/test/hub.spec.ts
  packages/hub-extension/tsconfig.test.json
  yarn.lock
Labels: bug, pkg:hub

#16463 Backport PR #16459 on branch 3.6.x (Ignore empty stdout data when logging in verdaccio)
  buildutils/src/local-repository.ts
Labels: maintenance

#16504 Backport PR #16151 on branch 3.6.x (Removed broken gif links in README.md files)
  packages/json-extension/README.md
  packages/statusbar-extension/README.md
  packages/vega5-extension/README.md
Labels: pkg:vega, pkg:json, pkg:statusbar

#16249 Backport PR #16245 on branch 3.6.x (Install Firefox from brew on Mac on CI)
  .github/workflows/macostests.yml
Labels: maintenance

#16493 Fix the lines placeholder taking up too much space
  galata/test/jupyterlab/inline-completer.test.ts
  galata/test/jupyterlab/inline-completer.test.ts-snapshots/editor-with-ghost-text-jupyterlab-linux.png
  galata/test/jupyterlab/inline-completer.test.ts-snapshots/inline-completer-shortcuts-on-jupyterlab-linux.png
  packages/completer/src/ghost.ts
  packages/completer/style/base.css
Labels: bug, pkg:completer, tag:Testing, tag:CSS, Design System CSS

#16506 Update JupyterLab 3.x maintenance announcement
  README.md
Labels: documentation

#16509 Backport PR #16493 on branch 4.2.x (Fix the lines placeholder taking up too much space)
  galata/test/jupyterlab/inline-completer.test.ts
  galata/test/jupyterlab/inline-completer.test.ts-snapshots/editor-with-ghost-text-jupyterlab-linux.png
  galata/test/jupyterlab/inline-completer.test.ts-snapshots/inline-completer-shortcuts-on-jupyterlab-linux.png
  packages/completer/src/ghost.ts
  packages/completer/style/base.css
Labels: bug, pkg:completer, tag:Testing, tag:CSS, Design System CSS

#16512 Backport PR #16506 on branch 4.2.x (Update JupyterLab 3.x maintenance announcement)
  README.md
Labels: documentation

#16508 Fix inline completer `configure` calls not being propagated correctly
  packages/completer/src/manager.ts
  packages/metapackage/test/completer/manager.spec.ts
Labels: bug, status:Needs Review, pkg:completer

#16392 Implement viewport tracking and reactive rendering in scrollbar
  packages/notebook/src/widget.ts
  packages/notebook/style/base.css
  packages/ui-components/src/components/windowedlist.ts
  packages/ui-components/style/windowedlist.css
Labels: enhancement, status:Needs Review, pkg:notebook, pkg:ui-components, tag:CSS, Design System CSS

#16521 Backport PR #16508 on branch 4.2.x (Fix inline completer configure calls not being propagated correctly)
  packages/completer/src/manager.ts
  packages/metapackage/test/completer/manager.spec.ts
Labels: bug, pkg:completer

#16526 Fix the description for the main inline completer plugin
  packages/completer-extension/src/index.ts
Labels: documentation, pkg:completer

#16529 Backport PR #16526 on branch 4.2.x (Fix the description for the main inline completer plugin)
  packages/completer-extension/src/index.ts
Labels: documentation, pkg:completer

#16432 Notebook minimap in the virtual scrollbar
  packages/notebook/src/widget.ts
  packages/notebook/style/base.css
Labels: pkg:notebook, tag:CSS, Design System CSS, feature

#16269 Add option to dismiss "Server Connection Error" dialog for the duration of the session
  packages/application/src/connectionlost.ts
Labels: enhancement, pkg:application

#16530 Update to Playwright 1.45.0
  galata/package.json
  yarn.lock
Labels: maintenance, tag:Testing

#16265 Add checkbox to skip showing the kernel restart dialog
  packages/apputils-extension/schema/sessionDialogs.json
  packages/apputils-extension/src/index.ts
  packages/apputils/src/sessioncontext.tsx
Labels: enhancement, pkg:apputils

#16538 Update github workflows
  .github/workflows/check-release.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/galata.yml
  .github/workflows/linuxtests.yml
  .github/workflows/macostests.yml
  .github/workflows/windowstests.yml
Labels: maintenance
