Repository jupyterlab/jupyterlab, pull requests merged in 2025-03, with the labels that each got.

#17350 Add widget ID arg to semantic command invocations
  galata/test/jupyterlab/completer.test.ts-snapshots/completer-with-doc-panel-jupyterlab-linux.png
  galata/test/jupyterlab/outputarea-stdin.test.ts-snapshots/stdin-history-search-jupyterlab-linux.png
  packages/application/src/utils.ts
  packages/apputils/src/semanticCommand.ts
  packages/console-extension/src/index.ts
  packages/notebook-extension/src/index.ts
Labels: bug, pkg:notebook, pkg:console, pkg:application, pkg:apputils, tag:Testing

#17343 Fix checkbox alignment in dialog using `display: flex`
  packages/apputils/style/dialog.css
Labels: enhancement, pkg:apputils, tag:CSS, Design System CSS

#17298 Updated enabling logic for run-all-below button on Notebook Panel
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/opened-menu-run-jupyterlab-linux.png
  packages/notebook-extension/src/index.ts
Labels: bug, pkg:notebook, tag:Testing

#17327 Provide `ISettingsConnector` via a separate plugin
  galata/test/documentation/plugins.test.ts-snapshots/tokens-documentation-linux.json
  packages/apputils-extension/src/index.ts
  packages/apputils-extension/src/settingconnector.ts
  packages/apputils-extension/src/settingsplugin.ts
  packages/settingregistry/src/tokens.ts
Labels: maintenance, pkg:apputils, tag:Testing, pkg:settingregistry

#17338 Enforce plugin name convention and rename noncompliant plugins
  dev_mode/index.js
  docs/source/extension/extension_migration.rst
  galata/test/documentation/plugins.test.ts
  galata/test/documentation/plugins.test.ts-snapshots/plugins-documentation-linux.json
  packages/application/src/mimerenderers.ts
  packages/lsp-extension/src/index.ts
  packages/workspaces-extension/src/commands.ts
Labels: documentation, maintenance, pkg:application, tag:Testing, pkg:lsp, pkg:workspaces

#17337 Fix HTML lang attribute
  .eslintrc.js
  .github/workflows/galata.yml
  examples/console/src/index.ts
  examples/filebrowser/src/index.ts
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/general.test.ts-snapshots/command-palette-documentation-linux.png
  galata/test/documentation/internationalization.test.ts
  galata/test/documentation/internationalization.test.ts-snapshots/language-change-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-settings-documentation-linux.png
  galata/test/documentation/plugins.test.ts-snapshots/tokens-documentation-linux.json
  packages/apputils/test/toolbar.spec.ts
  packages/translation-extension/src/index.ts
  packages/translation/src/base.ts
  packages/translation/src/gettext.ts
  packages/translation/src/manager.ts
  packages/translation/src/tokens.ts
Labels: bug, tag:Examples, pkg:apputils, tag:Testing, pkg:translation

#17352 Add a setting to disable the context menu
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/customization.test.ts-snapshots/default-terminal-position-single-documentation-linux.png
  galata/test/documentation/debugger.test.ts-snapshots/debugger-stop-on-breakpoint-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/file-editor-settings-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-right-common-documentation-linux.png
  galata/test/documentation/plugin_manager.test.ts-snapshots/plugin-manager-plugin-in-use-warning-documentation-linux.png
  galata/test/documentation/plugins.test.ts-snapshots/plugins-documentation-linux.json
  galata/test/documentation/plugins.test.ts-snapshots/tokens-documentation-linux.json
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-settings-console-run-keystroke-jupyterlab-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-settings-jupyterlab-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-settings-terminal-theme-jupyterlab-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-settings-text-editor-indentation-jupyterlab-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-settings-text-editor-theme-jupyterlab-linux.png
  galata/test/jupyterlab/menus.test.ts-snapshots/opened-menu-settings-theme-jupyterlab-linux.png
  galata/test/jupyterlab/outputarea-stdin.test.ts-snapshots/stdin-history-search-jupyterlab-linux.png
  packages/application-extension/schema/context-menu.json
  packages/application-extension/src/index.tsx
Labels: enhancement, pkg:application, tag:Testing

#17364 Sort the list of plugins and tokens in the documentation
  galata/test/documentation/plugins.test.ts
  galata/test/documentation/plugins.test.ts-snapshots/tokens-documentation-linux.json
Labels: documentation, tag:Testing

#17383 [4.3.x] Update reference snapshots
  galata/test/jupyterlab/completer.test.ts-snapshots/completer-with-doc-panel-jupyterlab-linux.png
  galata/test/jupyterlab/outputarea-stdin.test.ts-snapshots/stdin-history-search-jupyterlab-linux.png
Labels: maintenance, tag:Testing

#17357 Backport PR #17298 on branch 4.3.x (Updated enabling logic for run-all-below button on Notebook Panel)
  galata/test/jupyterlab/notebook-create.test.ts-snapshots/opened-menu-run-jupyterlab-linux.png
  packages/notebook-extension/src/index.ts
Labels: bug, pkg:notebook, tag:Testing

#17379 Update the copyright year to 2025
  LICENSE
  packages/help-extension/src/index.tsx
Labels: maintenance, pkg:help

#17372 Update to Playwright 1.51.0
  galata/package.json
  galata/test/documentation/customization.test.ts-snapshots/customized-terminal-position-single-documentation-linux.png
  galata/test/documentation/plugin_manager.test.ts-snapshots/plugin-manager-search-notebook-documentation-linux.png
  galata/test/jupyterlab/general.test.ts-snapshots/simple-mode-jupyterlab-linux.png
  galata/test/jupyterlab/output-scrolling.test.ts-snapshots/prompt-overlay-hover-scroll-jupyterlab-linux.png
  yarn.lock
Labels: maintenance, tag:Testing

#17345 Expose `ConfigSectionManager` via a plugin
  docs/source/extension/extension_migration.rst
  galata/test/documentation/plugins.test.ts-snapshots/plugins-documentation-linux.json
  galata/test/documentation/plugins.test.ts-snapshots/tokens-documentation-linux.json
  packages/apputils-extension/src/announcements.ts
  packages/services-extension/src/index.ts
  packages/services/examples/browser/src/config.ts
  packages/services/src/config/index.ts
  packages/services/src/tokens.ts
  packages/services/test/config/config.spec.ts
Labels: documentation, maintenance, pkg:services, pkg:apputils, tag:Testing

#17369 Fix cell output stream if previous chunk did not end in new line
  packages/outputarea/src/model.ts
  packages/outputarea/test/model.spec.ts
Labels: bug, pkg:outputarea

#17368 User-facing changelog for 4.4
  CHANGELOG.md
  docs/source/getting_started/changelog_assets/4.4-console.png
  docs/source/getting_started/changelog_assets/4.4-settings-import-export.png
  docs/source/getting_started/changelog_assets/4.4-subshells.png
  docs/source/getting_started/changelog_assets/4.4-workspace-indicator.png
Labels: documentation, status:Needs Review

#17391 Backport PR #17369 on branch 4.3.x (Fix cell output stream if previous chunk did not end in new line)
  packages/outputarea/src/model.ts
  packages/outputarea/test/model.spec.ts
Labels: bug, pkg:outputarea

#17392 Update changelog links, add new code console screenshot
  CHANGELOG.md
  docs/source/getting_started/changelog_assets/4.4-console-singlecell.png
Labels: documentation

#17361 Move the licenses plugin to `apputils-extension`
  dev_mode/index.js
  docs/source/extension/extension_migration.rst
  galata/test/documentation/plugin_manager.test.ts-snapshots/plugin-manager-plugin-in-use-warning-documentation-linux.png
  galata/test/documentation/plugins.test.ts-snapshots/plugins-documentation-linux.json
  galata/test/documentation/plugins.test.ts-snapshots/tokens-documentation-linux.json
  packages/apputils-extension/src/index.ts
  packages/apputils-extension/src/licensesplugin.ts
  packages/apputils/src/index.ts
  packages/apputils/src/licenses.tsx
  packages/apputils/src/tokens.ts
  packages/apputils/style/base.css
  packages/apputils/style/licenses.css
  packages/help-extension/package.json
  packages/help-extension/src/index.tsx
  packages/help-extension/style/base.css
  yarn.lock
Labels: documentation, maintenance, pkg:help, pkg:apputils, tag:Testing, tag:CSS, Design System CSS

#17348 Add `IKernelAPIClient` and `ISessionAPIClient` as options for `Kernel.IManager` and `Session.IManager`
  packages/services/src/kernel/default.ts
  packages/services/src/kernel/kernel.ts
  packages/services/src/kernel/manager.ts
  packages/services/src/kernel/restapi.ts
  packages/services/src/session/default.ts
  packages/services/src/session/manager.ts
  packages/services/src/session/restapi.ts
  packages/services/src/session/session.ts
  packages/services/test/session/isession.spec.ts
Labels: enhancement, pkg:services

#17402 Remove workflow using `tj-actions/changed-files`
  .github/workflows/reject-staging-changes.yml
Labels: maintenance

#17401 Remove workflow using `tj-actions/changed-files`
  .github/workflows/reject-staging-changes.yml
Labels: maintenance

#17400 Remove workflow using `tj-actions/changed-files`
  .github/workflows/reject-staging-changes.yml
Labels: maintenance

#17399 Remove workflow using `tj-actions/changed-files`
  .github/workflows/reject-staging-changes.yml
Labels: maintenance

#17398 Remove workflow using `tj-actions/changed-files`
  .github/workflows/reject-staging-changes.yml
Labels: maintenance, Still Needs Manual Backport

#17397 Fix definition of the `ILicensesClient` interface
  packages/apputils/src/licenses.tsx
  packages/apputils/src/tokens.ts
Labels: maintenance, pkg:apputils

#17371 Fix rendering URLs as linked in errors
  packages/rendermime/src/renderers.ts
  packages/rendermime/test/factories.spec.ts
Labels: bug, pkg:rendermime

#17404 Backport PR #17371 on branch 4.3.x (Fix rendering URLs as linked in errors)
  packages/rendermime/src/renderers.ts
  packages/rendermime/test/factories.spec.ts
Labels: bug, pkg:rendermime

#17363 If subshells are supported by the kernel, send comm messages to subshells
  CHANGELOG.md
  packages/apputils-extension/schema/running-sessions-status.json
  packages/apputils-extension/schema/sessions-settings.json
  packages/apputils-extension/src/index.ts
  packages/apputils-extension/src/statusbarplugin.ts
  packages/apputils-extension/src/subshell-settings.ts
  packages/services/src/kernel/comm.ts
  packages/services/src/kernel/default.ts
  packages/services/src/kernel/index.ts
  packages/services/src/kernel/kernel.ts
  packages/services/src/kernel/manager.ts
  packages/services/test/kernel/comm.spec.ts
Labels: enhancement, documentation, pkg:services, pkg:apputils

#17413 More specific selector for "Copy Output to Clipboard"
  packages/notebook-extension/src/index.ts
Labels: bug, pkg:notebook

#17414 Fix types in translation package, remove usages of `any`
  packages/translation-extension/src/index.ts
  packages/translation/src/manager.ts
  packages/translation/src/tokens.ts
Labels: maintenance, pkg:translation

#17418 Backport PR #17413 on branch 4.3.x (More specific selector for "Copy Output to Clipboard")
  packages/notebook-extension/src/index.ts
Labels: bug, pkg:notebook

#17217 Improve UX for "Rename on First Save" Dialog
  packages/apputils/src/dialog.tsx
  packages/apputils/style/dialog.css
  packages/docmanager-extension/src/index.tsx
Labels: enhancement, pkg:apputils, pkg:docmanager, tag:CSS, Design System CSS

#17415 Create "Kernels" section, split statusbar settings
  packages/apputils-extension/schema/kernels-settings.json
  packages/apputils-extension/src/index.ts
  packages/apputils-extension/src/statusbarplugin.ts
  packages/apputils-extension/src/subshell-settings.ts
  packages/apputils/src/runningSessions.tsx
  packages/terminal-extension/schema/plugin.json
Labels: enhancement, pkg:terminal, pkg:apputils

#17396 Update to mermaid 11.6.0, marked 15.0.7
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-04-er-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-06-gantt-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-09-requirement-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-10-c4-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-11-mindmap-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-12-timeline-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-13-sankey-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-15-block-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-dark-17-flowchart-elk-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-04-er-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-06-gantt-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-09-requirement-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-10-c4-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-11-mindmap-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-12-timeline-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-13-sankey-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-15-block-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-mermaid-diagrams.test.ts-snapshots/mermaid-diagram-default-17-flowchart-elk-jupyterlab-linux.png
  package.json
  packages/markedparser-extension/package.json
  packages/mermaid/package.json
  yarn.lock
Labels: maintenance, tag:Testing, pkg:mermaid

#17430 Make `ILabShell` optional in the logconsole extension
  packages/logconsole-extension/package.json
  packages/logconsole-extension/src/index.tsx
  packages/logconsole-extension/style/index.css
  packages/logconsole-extension/style/index.js
  packages/logconsole-extension/tsconfig.json
  yarn.lock
Labels: maintenance, tag:CSS, pkg:logconsole, Design System CSS

#17437 Fix usage of `ITerminalAPIClient` in `TerminalConnection`
  packages/services/src/terminal/default.ts
  packages/services/src/terminal/manager.ts
  packages/services/src/terminal/terminal.ts
Labels: bug, pkg:services

#17438 Fix visual indication for drag and drop in editor
  packages/codemirror/src/extension.ts
Labels: bug, pkg:codemirror
