Repository jupyterlab/jupyterlab, pull requests merged in 2025-10, with the labels that each got.

#17932 Make filebrowser breadcrumbs configurable
  packages/filebrowser-extension/schema/browser.json
  packages/filebrowser-extension/src/index.ts
  packages/filebrowser/src/browser.ts
  packages/filebrowser/src/crumbs.ts
  packages/filebrowser/test/crumbs.spec.ts
Labels: enhancement, pkg:filebrowser

#17957 Temporarily pin `ipykernel` to avoid CI breakage with 7.0 pre-release
  .github/workflows/galata.yml
Labels: maintenance

#17963 Fix examples on `4.4.x`
  examples/example.spec.ts
  examples/filebrowser/example.spec.ts-snapshots/example-linux.png
Labels: maintenance, tag:Examples

#17964 Backport PR #17953 on branch 4.4.x (Add cross-references to API reference, fix missing packages in API)
  docs/source/_ext/typedoc_links.py
  docs/source/conf.py
  docs/source/extension/extension_dev.rst
  docs/source/extension/extension_multiple_ui.rst
  docs/source/extension/extension_points.rst
  docs/source/extension/extension_tutorial.rst
  docs/source/extension/identity.rst
  docs/source/extension/internationalization.rst
  docs/source/extension/notebook.rst
  docs/source/extension/ui_components.rst
  docs/source/extension/ui_helpers.rst
  docs/source/extension/virtualdom.rst
  typedoc.js
Labels: documentation
