Repository jupyterlab/jupyterlab, pull requests merged in 2025-07, with the labels that each got.

#17670 Dockerfile: Install less, vim, and nano
  docker/Dockerfile
Labels: enhancement

#17667 Fix `threadId` being passed to the debugger
  packages/debugger/src/service.ts
  packages/debugger/test/service.spec.ts
Labels: bug, pkg:debugger

#17678 Backport PR #17667 on branch 4.4.x (Fix `threadId` being passed to the debugger)
  packages/debugger/src/service.ts
  packages/debugger/test/service.spec.ts
Labels: bug, pkg:debugger

#17636 Add `audio-extension` and `video-extension`
  .github/labeler.yml
  .gitignore
  buildutils/src/ensure-repo.ts
  dev_mode/package.json
  dev_mode/style.js
  galata/test/documentation/general.test.ts-snapshots/file-formats-open-with-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-left-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-chinese-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-settings-documentation-linux.png
  galata/test/documentation/media_files.test.ts
  galata/test/documentation/overview.test.ts-snapshots/interface-jupyterlab-documentation-linux.png
  galata/test/documentation/overview.test.ts-snapshots/interface-tabs-menu-documentation-linux.png
  galata/test/documentation/plugins.test.ts-snapshots/plugins-documentation-linux.json
  packages/audio-extension/README.md
  packages/audio-extension/package.json
  packages/audio-extension/src/index.ts
  packages/audio-extension/style/base.css
  packages/audio-extension/style/index.css
  packages/audio-extension/style/index.js
  packages/audio-extension/tsconfig.json
  packages/audio-extension/typedoc.json
  packages/docregistry/src/registry.ts
  packages/metapackage/package.json
  packages/metapackage/tsconfig.json
  packages/metapackage/tsconfig.test.json
  packages/services/src/contents/index.ts
  packages/ui-components/src/icon/iconimports.ts
  packages/ui-components/style/deprecated.css
  packages/ui-components/style/icons/filetype/audio.svg
  packages/ui-components/style/icons/filetype/video.svg
  packages/video-extension/README.md
  packages/video-extension/package.json
  packages/video-extension/src/index.ts
  packages/video-extension/style/base.css
  packages/video-extension/style/index.css
  packages/video-extension/style/index.js
  packages/video-extension/tsconfig.json
  packages/video-extension/typedoc.json
  yarn.lock
Labels: enhancement, documentation, pkg:docregistry, pkg:services, tag:Testing, pkg:ui-components, tag:CSS, Design System CSS, pkg:audio, pkg:video

#17583 Enhancing the TOC logic
  buildutils/src/ensure-repo.ts
  galata/test/galata/notebook.spec.ts-snapshots/markdown-cell-galata-linux.png
  galata/test/jupyterlab/collapsible-headings.test.ts
  galata/test/jupyterlab/notebook-edit.test.ts
  galata/test/jupyterlab/notebook-edit.test.ts-snapshots/delete-cell-jupyterlab-linux.png
  galata/test/jupyterlab/windowed-notebook.test.ts
  packages/cells/src/widget.ts
  packages/fileeditor-extension/package.json
  packages/fileeditor-extension/src/index.ts
  packages/fileeditor-extension/style/index.css
  packages/fileeditor-extension/style/index.js
  packages/fileeditor-extension/tsconfig.json
  packages/fileeditor/package.json
  packages/fileeditor/src/toc/markdown.ts
  packages/fileeditor/style/index.css
  packages/fileeditor/style/index.js
  packages/fileeditor/tsconfig.json
  packages/fileeditor/tsconfig.test.json
  packages/markdownviewer/src/toc.ts
  packages/notebook-extension/src/index.ts
  packages/notebook/package.json
  packages/notebook/src/actions.tsx
  packages/notebook/src/testutils.ts
  packages/notebook/src/toc.ts
  packages/notebook/src/widget.ts
  packages/notebook/tsconfig.json
  packages/notebook/tsconfig.test.json
  packages/toc/src/factory.ts
  packages/toc/src/utils/markdown.ts
  packages/toc/test/markdown.spec.ts
  yarn.lock
Labels: bug, pkg:notebook, pkg:fileeditor, pkg:markdownviewer, pkg:cells, tag:Testing, tag:CSS, pkg:toc, Design System CSS

#17708 Backport PR #17703 on branch 4.4.x (Normalize `ToolbarButtonComponent` dataset attributes with the `data-` prefix)
  packages/ui-components/src/components/toolbar.tsx
Labels: bug, pkg:ui-components

#17710 Backport PR #17701 on branch 4.4.x (Do not change silently when executing an empty cell)
  galata/test/jupyterlab/cells.test.ts
  packages/cells/src/widget.ts
Labels: bug, pkg:cells, tag:Testing

#17693 Fix auto completion on irrelevant cell types
  packages/completer/src/default/kernelprovider.ts
  packages/completer/src/reconciliator.ts
  packages/completer/src/utils.ts
  packages/metapackage/test/completer/handler.spec.ts
Labels: bug, pkg:completer

#17711 Backport PR #17693 on branch 4.4.x (Fix auto completion on irrelevant cell types)
  packages/completer/src/default/kernelprovider.ts
  packages/completer/src/reconciliator.ts
  packages/completer/src/utils.ts
  packages/metapackage/test/completer/handler.spec.ts
Labels: bug, pkg:completer

#17698 Update `@codemirror/view` to `v6.38.1`, fixing `lineWrap` in `defer` mode
  packages/cells/package.json
  packages/codemirror-extension/package.json
  packages/codemirror/package.json
  packages/completer/package.json
  packages/debugger/package.json
  yarn.lock
Labels: bug, pkg:completer, pkg:cells, pkg:codemirror, pkg:debugger

#17705 Fix scrollbar behaviour when scrolling past long cell in full windowing mode
  galata/test/jupyterlab/notebook-scroll.test.ts
  galata/test/jupyterlab/notebooks/single_long_output.ipynb
  packages/ui-components/src/components/windowedlist.ts
Labels: bug, tag:Testing, pkg:ui-components

#17713 Backport PR #17698 on branch 4.4.x (Update `@codemirror/view` to `v6.38.1`, fixing `lineWrap` in `defer` mode)
  packages/cells/package.json
  packages/codemirror-extension/package.json
  packages/codemirror/package.json
  packages/completer/package.json
  packages/debugger/package.json
  yarn.lock
Labels: bug, pkg:completer, pkg:cells, pkg:codemirror, pkg:debugger

#17714 Backport PR #17705 on branch 4.4.x (Fix scrollbar behaviour when scrolling past long cell in full windowing mode)
  galata/test/jupyterlab/notebook-scroll.test.ts
  galata/test/jupyterlab/notebooks/single_long_output.ipynb
  packages/ui-components/src/components/windowedlist.ts
Labels: bug, tag:Testing, pkg:ui-components
