Repository jupyterlab/jupyterlab, pull requests merged in 2025-04, with the labels that each got.

#17444 Do not try to prettier `.mypy_cache`
  .prettierignore
Labels: maintenance

#17339 Improve scrolling edge cases
  galata/test/documentation/general.test.ts-snapshots/jupyterlab-documentation-linux.png
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/render-mermaid-error-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-markdown.test.ts-snapshots/render-mermaid-flowchart-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/highlight-previous-element-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-new-outputs-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-on-deleted-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-on-new-cell-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-typing-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/search-within-outputs-jupyterlab-linux.png
  galata/test/jupyterlab/toc-scrolling.test.ts-snapshots/scrolled-to-bottom-heading-jupyterlab-linux.png
  galata/test/jupyterlab/windowed-notebook.test.ts
  packages/notebook/src/widget.ts
  packages/notebook/src/windowing.ts
  packages/testing/src/jest-shim.ts
  packages/ui-components/src/components/windowedlist.ts
  packages/ui-components/style/windowedlist.css
Labels: bug, pkg:notebook, tag:Testing, pkg:ui-components, tag:CSS, Design System CSS

#17405 Fix handling of the CSV viewer theme
  galata/test/jupyterlab/csvviewer.test.ts
  galata/test/jupyterlab/csvviewer.test.ts-snapshots/csv-dark-theme-jupyterlab-linux.png
  packages/csvviewer-extension/src/index.ts
Labels: bug, pkg:csvviewer, tag:Testing

#17453 Remove dependencies for Python < 3.9
  jupyterlab/tests/test_app.py
  jupyterlab/upgrade_extension.py
  packages/lsp/schema.js
  pyproject.toml
Labels: maintenance, pkg:lsp

#17457 Fix `@jupyterlab/services` import
  packages/notebook/src/executionindicator.tsx
Labels: pkg:notebook, maintenance

#17466 Fix incorrect modifications in collaborative save events
  packages/docregistry/src/context.ts
Labels: bug, pkg:docregistry

#17468 Backport PR #17466 on branch 4.3.x (Fix incorrect modifications in collaborative save events)
  packages/docregistry/src/context.ts
Labels: bug, pkg:docregistry

#17475 Fix handling of the single click navigation
  packages/filebrowser/src/listing.ts
Labels: bug, pkg:filebrowser

#17469 Follow changes to stream outputs
  packages/outputarea/src/widget.ts
  packages/outputarea/test/widget.spec.ts
Labels: bug, pkg:outputarea

#17486 Fix undo/redo in cells created in `none` windowing mode
  examples/cell/package.json
  examples/console/package.json
  examples/notebook/package.json
  packages/cell-toolbar/package.json
  packages/cells/package.json
  packages/codeeditor/package.json
  packages/codemirror-extension/package.json
  packages/codemirror/package.json
  packages/completer/package.json
  packages/console/package.json
  packages/debugger/package.json
  packages/docregistry/package.json
  packages/fileeditor/package.json
  packages/notebook-extension/package.json
  packages/notebook/package.json
  packages/notebook/test/widget.spec.ts
  packages/services/package.json
  yarn.lock
Labels: bug, pkg:notebook, pkg:codeeditor, pkg:console, pkg:completer, pkg:docregistry, tag:Examples, pkg:fileeditor, pkg:services, pkg:cells, pkg:codemirror, pkg:debugger, pkg:cell-toolbar

#17210 Fix browser tab name updates when started in single-document mode
  galata/test/jupyterlab/general.test.ts
  packages/application/src/layoutrestorer.ts
Labels: bug, pkg:application, tag:Testing

#17482 Add an optional `exportAs` method to `NbConvert.IManager`
  docs/source/extension/extension_migration.rst
  packages/notebook-extension/src/index.ts
  packages/services/src/nbconvert/index.ts
Labels: enhancement, documentation, pkg:notebook, pkg:services

#17503 Backport PR #17502 on branch 4.4.x (Bump tough-cookie from 4.1.2 to 4.1.4)
  yarn.lock
Labels: maintenance, dependencies, javascript

#17505 Add new entry to Postmortems in `RELEASE.md`
  RELEASE.md
Labels: documentation

#17476 Reorder `extra_labextensions_path` to favor defaults
  docs/source/extension/extension_migration.rst
  jupyterlab/labextensions.py
Labels: enhancement, documentation

#17511 Fix editing shortcuts on Safari (allow shortcut edit button to receive focus)
  packages/shortcuts-extension/src/components/ShortcutInput.tsx
Labels: bug, pkg:shortcuts

#17513 Backport PR #17511 on branch 4.4.x (Fix editing shortcuts on Safari (allow shortcut edit button to receive focus))
  packages/shortcuts-extension/src/components/ShortcutInput.tsx
Labels: bug, pkg:shortcuts

#17520 Backport PR #17219 on branch 4.3.x (Updated mock packages to use hatch-jupyter-builder)
  .gitignore
  jupyterlab/tests/mock_packages/test-hyphens-underscore/pyproject.toml
  jupyterlab/tests/mock_packages/test-hyphens-underscore/setup.py
  jupyterlab/tests/mock_packages/test-hyphens/pyproject.toml
  jupyterlab/tests/mock_packages/test-hyphens/setup.py
  jupyterlab/tests/mock_packages/test_no_hyphens/pyproject.toml
  jupyterlab/tests/mock_packages/test_no_hyphens/setup.py
Labels: maintenance

#17472 Add `aria-hidden` to icons (`<svg>` elements) which do not have a `title`
  packages/ui-components/src/icon/labicon.tsx
  packages/ui-components/src/utils.ts
Labels: bug, tag:Accessibility, pkg:ui-components

#17512 Backport PR #17511 on branch 4.3.x (Fix editing shortcuts on Safari (allow shortcut edit button to receive focus))
  packages/shortcuts-extension/src/components/ShortcutInput.tsx
Labels: bug, pkg:shortcuts
