Repository jupyterlab/jupyterlab, pull requests merged in 2025-06, with the labels that each got.

#17605 Added --yes to conda environment creation command
  docs/source/extension/extension_tutorial.rst
Labels: documentation

#17618 Fix selection visibility in terminal while using Dark High Contrast theme
  packages/theme-dark-high-contrast-extension/style/variables.css
Labels: bug, tag:CSS, Design System CSS

#17620 Add layout containment on viewport in windowed mode
  packages/ui-components/src/components/windowedlist.ts
Labels: bug, pkg:ui-components

#17631 Drop manual Firefox install, add playwright cache
  .github/workflows/linuxtests.yml
Labels: maintenance

#17602 Fix setting allowed schemes on runtime using `Sanitizer.setAllowedSchemes`
  packages/apputils/src/sanitizer.ts
  packages/apputils/test/sanitizer.spec.ts
Labels: bug, pkg:apputils

#17622 Update to Playwright 1.53
  galata/package.json
  galata/test/jupyterlab/general.test.ts-snapshots/simple-mode-jupyterlab-linux.png
  galata/test/jupyterlab/notebook-search.test.ts-snapshots/highlight-previous-element-jupyterlab-linux.png
  yarn.lock
Labels: maintenance, tag:Testing

#17647 Backport PR #17639 on branch 4.4.x (Fix link to zulip and icon in docs)
  docs/source/conf.py
Labels: documentation

#17656 Fix terminal visual regression snapshots test failures
  examples/example_check.py
  jupyterlab/galata/__init__.py
Labels: maintenance, tag:Examples

#17654 Update UI Tests Documentation snapshots
  galata/test/documentation/commands.test.ts-snapshots/commandsList-documentation-linux.json
  galata/test/documentation/general.test.ts-snapshots/file-formats-open-with-documentation-linux.png
  galata/test/documentation/general.test.ts-snapshots/interface-left-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-chinese-documentation-linux.png
  galata/test/documentation/internationalization.test.ts-snapshots/language-settings-documentation-linux.png
  galata/test/documentation/overview.test.ts-snapshots/interface-jupyterlab-documentation-linux.png
  galata/test/documentation/overview.test.ts-snapshots/interface-tabs-menu-documentation-linux.png
  galata/test/documentation/plugins.test.ts-snapshots/plugins-documentation-linux.json
Labels: maintenance, tag:Testing

#17657 Backport PR #17656 on branch 4.4.x (Fix terminal visual regression snapshots test failures)
  examples/example_check.py
  jupyterlab/galata/__init__.py
Labels: maintenance, tag:Examples

#17651 Backport PR #17640 on branch 4.4.x (Backport PR #17602 on branch 4.3.x (Fix setting allowed schemes on runtime using `Sanitizer.setAllowedSchemes`))
  packages/apputils/src/sanitizer.ts
  packages/apputils/test/sanitizer.spec.ts
Labels: bug, pkg:apputils

#17628 Prevent memory leak when rendering text stream
  packages/outputarea/src/model.ts
Labels: bug, status:Needs Review, pkg:outputarea

#17659 Backport PR #17628 on branch 4.4.x (Prevent memory leak when rendering text stream)
  packages/outputarea/src/model.ts
Labels: bug, status:Needs Review, pkg:outputarea

#17625 Fix cell toolbar enabled status with multiple notebooks
  buildutils/src/ensure-repo.ts
  packages/cell-toolbar/src/celltoolbartracker.ts
  packages/cell-toolbar/test/celltoolbartracker.spec.ts
  packages/notebook-extension/package.json
  packages/notebook-extension/src/index.ts
  packages/notebook-extension/style/index.css
  packages/notebook-extension/style/index.js
  packages/notebook-extension/tsconfig.json
  yarn.lock
Labels: bug, pkg:notebook, tag:CSS, Design System CSS, pkg:cell-toolbar

#17666 Fix colors for CodeMirror panels
  packages/codemirror/src/theme.ts
Labels: bug, pkg:codemirror

#17669 Backport PR #17666 on branch 4.4.x (Fix colors for CodeMirror panels)
  packages/codemirror/src/theme.ts
Labels: bug, pkg:codemirror

#17671 Update library name, minor edit
  packages/ui-components/src/components/toolbar.tsx
  packages/ui-components/src/components/vdom.ts
Labels: maintenance, pkg:ui-components
